@model IEnumerable<AsteriskBrowserAL.Models.FundsTransferViewModel>
@{
    int sno = 1;
}



@if (null != Model && Model.Count() > 0)
{
    <div class="table-header">
        Records Found (@Model.Count())
    </div>
                

    <div class="overflowscroll">
        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                        S.No.
                    </th>
                    <th>
                        @Html.DisplayName("HeadName")
                    </th>
                    <th class="rightAlign">
                        @Html.DisplayName("Cash At Bank")
                    </th>
                    <th class="rightAlign">
                        @Html.DisplayName("Cash In Hand")
                    </th>

                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(sno++)
                        </td>
                        <td>
                            @item.HeadName
                        </td>
                        <td class="rightAlign" cu>
                            @item.DisplayCashInBank
                        </td>
                        <td class="rightAlign">
                            @item.DisplayCashInHand
                        </td>


                    </tr>
                }

            </tbody>
        </table>



    </div>
}
else
{
    <div style="color:red;font-weight:bold">Data not available to display</div>
}

@Html.Action("DataTableScripts", "Base")


