
@model AsteriskBrowserAL.Models.MoneySpentViewModel
@{
    ViewBag.Title = "Money Spent Request Details";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Money Spent Request Details</li>
    </ul><!-- /.breadcrumb -->
}









<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h3>@Html.ActionLink("<< Money Spent Request", "MoneySpentRequest", new { dtDatetime = Model.TransactionDate })</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">

            @if (Model != null)
            {
                <div class="box">
                    <div class="box-header">
                        <span style="color:red;font-weight:bold" id="Validation"></span>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <h3 class="box-title">Transaction Details</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        @*<div class="box-body table-responsive no-padding">*@
                        <table class="table table-hover">

                            <tr>
                                <td>@Html.DisplayName("Transaction Date")</td>
                                <td><b>@Model.TransactionDate</b></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayName("Voucher No")</td>
                                <td><b>@Model.DisplayVoucherNo</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Request Type")</td>
                                <td><b>@Model.RequestType</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Head Name")</td>
                                <td><b>@Model.HeadName</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Old Sub Head Name")</td>
                                <td><b>@Model.SubHeadName</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("New Sub Head Name")</td>
                                <td><b>@Model.NewSubHeadName</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Old Amount")</td>
                                <td><b>@Model.Amount</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("New Amount")</td>
                                <td><b>@Model.NewAmount</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Old Paid To")</td>
                                <td><b>@Model.PaidTo</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("New Paid To")</td>
                                <td><b>@Model.NewPaidTo</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Description")</td>
                                <td><b>@Model.Description</b></td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayName("Remarks")</td>
                                <td><b>@Model.NewDescription</b></td>
                            </tr>


                            <tr>
                                <td>@Html.DisplayName("Status")</td>
                                <td><b>@Model.ActionStatusDisplay</b></td>
                            </tr>
                        </table>
                        @*</div>*@
                    </div>
                </div>
            }

        </div>
    </div>
</section>
