@model IEnumerable<AsteriskBrowserAL.Models.FundsTransferViewModel>
@{
    int sno = 1;
}



@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Petty Cash
        </li>
        <li class="active">Money Spent</li>
    </ul><!-- /.breadcrumb -->
}







<section class="content">
    <br />
    <div class="row">

        <div class="widget-header widget-header-flat widget-header-small">

            <h5 class="widget-title">
                Petty Cash Money Spent
            </h5>

        </div>

        @if (null != Model && Model.Count() > 0)
        {


            <div class="table-header">
                Records Found (@Model.Count())
            </div>

            <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14Px">
                <thead>
                    <tr>
                        <th>
                           S.No.
                        </th>
                        <th>
                            @Html.DisplayName("HeadName")
                        </th>
                        <th class="rightAlign">
                            @Html.DisplayName("Cash In-Bank")
                        </th>
                        <th class="rightAlign">
                            @Html.DisplayName("Cash In-Hand")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @(sno++)
                                    </td>
                                    <td>
                                        @item.HeadName
                                    </td>
                                    <td class="rightAlign">
                                        @item.DisplayCashInBank
                                    </td>
                                    <td class="rightAlign">
                                        @item.DisplayCashInHand
                                    </td>

                                    <td>
                                        @if (item.CashInHand > 0)
                                            {
                                            @Html.ActionLink("Spend Money", "MoneySpentT", new { id = item.PettyCashHeadId },new { @Class = "P2"})
                                            }
                                    </td>
                                </tr>
                                }

                </tbody>
            </table>



        }
        else
        {
            <div style="color:red;font-weight:bold">Data is not available</div>
        }
    </div>


                  
</section>
@Html.Action("DataTableScripts", "Base")

























@*@model IEnumerable<AsteriskBrowserAL.Models.FundsTransferViewModel>
@{
    int sno = 1;
}


<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Petty Cash
        </li>
        <li class="active">Money Spent</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h3>Money Spent</h3>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-xs-12">
            @if (null != Model && Model.Count() > 0)
            {
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Petty Cash</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow:auto; height:430px;">
                            <table class="table table-striped table-bordered table-hover" style="font-size:14Px">
                                <tbody>
                                    <tr>
                                        <th>
                                           S.No.
                                        </th>
                                        <th>
                                            @Html.DisplayName("HeadName")
                                        </th>
                                        <th class="rightAlign">
                                            @Html.DisplayName("Cash In-Bank")
                                        </th>
                                        <th class="rightAlign">
                                            @Html.DisplayName("Cash In-Hand")
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(sno++)
                                            </td>
                                            <td>
                                                @item.HeadName
                                            </td>
                                            <td class="rightAlign">
                                                @item.DisplayCashInBank
                                            </td>
                                            <td class="rightAlign">
                                                @item.DisplayCashInHand
                                            </td>

                                            <td>
                                                @if (item.CashInHand > 0)
                                                {
                                                    @Html.ActionLink("Spend Money", "MoneySpentT", new { id = item.PettyCashHeadId })
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="color:red;font-weight:bold">Data is not available</div>
            }

        </div>
    </div>

</section>*@
