@model List<AsteriskBrowserAL.Models.EventsDetails>

@if (Model != null && Model.Count >= 1)
{
    <div class="row">
        <div class=col-xs-12>
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5 class="widget-title">
                        @ViewBag.EventName
                    </h5>
                </div>
                <!-- form start -->
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">
                                @foreach (var i in Model)
                                {
                                    string color = "lightcoral";
                                    if (i.SlotStatus == 1)
                                    {
                                        color = "lightgreen";
                                    }
                                    else if (i.SlotStatus == 2 && i.StudentId == @ViewBag.StudentId)
                                    {
                                        color = "";
                                    }

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="min-height:75px;border-style: solid;border-width: thin;text-align:center;background-color:@color">

                                        @if (i.SlotStatus == 1 && @ViewBag.BookedStatus == false && @ViewBag.DateStatus==true)
                                        {
                                            <strong>
                                                @i.Slottimings <br />
                                                <a href='~/Events/SaveSlot?SlotId=@i.SlotId&&Type=1'>
                                                    Book Slot
                                                </a>
                                            </strong>
                                        }
                                        else if (i.SlotStatus == 2 && i.StudentId == @ViewBag.StudentId && @ViewBag.DateStatus == true && i.EventStatus == 0)
                                        {
                                            <strong>
                                                @i.Slottimings<br />
                                                @i.Student<span>( @i.AdmissionNo )</span><br />
                                                <a href='~/Events/SaveSlot?SlotId=@i.SlotId&&Type=2'>
                                                    <b style="color:red">Cancel Slot</b>
                                                </a>
                                            </strong>
                                        }
                                        else if (i.SlotStatus == 2 && i.StudentId == @ViewBag.StudentId && @ViewBag.DateStatus == true && i.EventStatus > 0)
                                        {
                                            <strong>
                                                @i.Slottimings<br />
                                                @i.Student<span>( @i.AdmissionNo )</span><br />
                                                <a onclick="ShowRemark(@i.SlotId)">
                                                    <b style="color:navy">View Remarks</b>
                                                </a>
                                            </strong>
                                        }
                                        else if (i.SlotStatus == 2 && i.StudentId == @ViewBag.StudentId && @ViewBag.DateStatus == false)
                                        {
                                            <strong>
                                                @i.Slottimings<br />
                                                @i.Student<span>( @i.AdmissionNo )</span><br />                                               
                                            </strong>
                                        }
                                        else
                                        {
                                            <strong>@i.Slottimings</strong>
                                        }
                                    </div>
                                }
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" style="color:red"><strong>No Data Available</strong></div>
}

