@model IEnumerable<AsteriskBrowserAL.Models.EventsDetails>

@{
    int sno = 1;
}


@if (null != Model)
{
    <div class="table-header">
        Records Found (@Model.Count())
        <div style="float:right">
            <button class="btncustom P2" id="btnExport">
             Download
            </button>
        </div>
    </div>
    <div class="overflowscroll">
        <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
            <thead>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Admission No")
                    </th>
                    <th>
                        @Html.DisplayName("Student Name")
                    </th>
                    <th>
                        @Html.DisplayName("Class")
                    </th>
                    <th>
                        @Html.DisplayName("Subject")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Time")
                    </th>
                    <th>
                        @Html.DisplayName("Remark")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(sno++)
                        </td>
                        <td>
                            @item.AdmissionNo
                        </td>
                        <td>
                            @item.Student
                        </td>
                        <td>
                            @item.ClassName
                        </td>
                        <td>
                            @item.Subject
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.StartTime
                        </td>
                        <td>
                            @item.Remark
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

}
else
{
    <div style="color:red;font-weight:bold">Data not available to display</div>
}
@Html.Action("DataTableScripts", "Base", new { IsPaging = false })

