
@using AsteriskBrowserAL.Helpers
@{
    AsteriskBrowserAL.sp_GetUserInformation_Result Userinfo = new AsteriskBrowserAL.sp_GetUserInformation_Result();
    Userinfo = Utility.GetUserDetails();
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/images/campuswhizlogo.png">
    <title>
        CampusWhiz | Demo
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />
    <script src="~/assets/js/bootstrap.min.js"></script>

    <link href="~/assets/BTS Styles/ParentLoginStyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/assets/BTS Styles/ParentLoginRightNav.css" rel="stylesheet" />
</head>
<body style="font-family: sans-serif;">
    <header style="background-image:url(/Content/ParentLoginIcons/header_bg.jpg);border-bottom:solid 2px grey;background-size:85%;background-repeat:no-repeat;background-position:left;background-color:#fff;">
        <table border="0" style="width:100%;height:100%">
            <tr>
                <th width="80%"></th>
                <th width="30%" style="border-left:1px solid #CCC;border-right:1px solid #CCC">
                    <div class="dropdown">
                        <button class="dropbtn">
                            <table>
                                <tr>
                                    <th style="width:30px">
                                        <img src="@Utility.GetLoggedUserPhoto()" style="width:45px;" class="img-circle" />
                                    </th>
                                    <th style="width:70px;">
                                        <div style="margin-left:1em">
                                            <strong>Welcome</strong> </br>
                                            <span style="font-size:18px;font-weight:bold;color:#069;">
                                                <strong style="white-space:nowrap">
                                                    @Userinfo.UserName &nbsp; <img src="~/Content/ParentLoginIcons/icondrop.png" width="10" height="10" class="drpic" />
                                                </strong>
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </button>
                        <div class="dropdown-content">
                            <a href="/Parent/ParentView"><span class="fa fa-user">&nbsp;&nbsp;<span class="font">Profile</span></span></a>
                            <a href="/Account/ResetPassword"><span class="fa fa-gear">&nbsp;&nbsp;<span class="font">Change Password</span></span></a>
                            <a href="/Account/Logout2"><span class="fa fa-power-off">&nbsp;&nbsp;<span class="font">Logout</span></span></a>
                        </div>
                    </div>
                </th>
        </table>
    </header>
    <!--menu for Mobile view -->
    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <small style="font-size:15px;">
                        @AsteriskBrowserAL.Helpers.Utility.GetInstituteNameOfUser()
                        <span>&nbsp;</span>
                        (@AsteriskBrowserAL.Helpers.Utility.GetAcademicYear())
                    </small>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" style="background-color:white;height:100%;border-right:solid 1px #00AB62">
                @*<ul class="nav navbar-nav">*@
                <ul class="nav nav-pills nav-stacked">
                    <li class="text1 @Html.ActivePage("Parent","StudentView")">
                        <a href="/Parent/StudentView">
                            <span class="fa fa-user "></span>&nbsp;Student Profile
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","ParentView")">
                        <a href="/Parent/ParentView">
                            <span class="fa fa-user"></span>&nbsp;Parent Profile
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","PaymentHistoryView")">
                        <a href="/Parent/PaymentHistoryView">
                            <span class="fa fa-history">
                            </span>&nbsp;Payment History
                        </a>
                    </li>
                    @*<li class="text1 @Html.ActivePage("Parent","OnlinePayment")">
            <a href="/Parent/OnlinePayment/">
                <span class="fa fa-money"></span>&nbsp;Fee Payment
            </a>
        </li>*@
                    <li class="text1 @Html.ActivePage("Parent","Holidays")">
                        <a href="/Parent/Holidays/">
                            <span class="fa fa-briefcase"></span>&nbsp;Holidays
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","ExamSchedules")">
                        <a href="/Parent/ExamSchedules/">
                            <span class="fa fa-table"></span>&nbsp;Exam Schedules
                        </a>
                    </li>
                    @*<li class="text1 @Html.ActivePage("Parent","StudentProgressCard")">
            <a href="/Parent/StudentProgressCard/" target="_blank">
                <span class="glyphicon glyphicon-pencil" style=" word-spacing: -12px;"> </span>Academic Perfomances
            </a>
        </li>*@
                    <li class="text1 @Html.ActivePage("Parent","AttendanceView")">
                        <a href="/Parent/AttendanceView">
                            <span class="fa fa-users"></span>&nbsp;Attendance
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Events","ParentCalendar")">
                        <a href="/Events/ParentCalendar/">
                            <span class=" glyphicon glyphicon-bell" style=" word-spacing: -12px;"> </span>Parent Teacher Meeting
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","InboxMail")">
                        <a href="/Parent/InboxMail/">
                            <span class="fa fa-envelope"></span>&nbsp;Inbox
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("AStudent","DisciplineViolation")">
                        <a href="/AStudent/DisciplineViolation/">
                            <span class="fas fa-exclamation"></span>&nbsp;Discipline Violation
                        </a>
                    </li>
                    <li class="@Html.ActivePage("AOnlineExamination","StudentLogin")">
                        <a href="/AOnlineExamination/StudentLogin/">
                            <span class="glyphicon glyphicon-pencil" style=" word-spacing: -12px;"> </span>Online Exam
                        </a>

                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentAssignmentUpload")">
                        <a href="/Parent/StudentAssignmentUpload/">
                            <span class="fas fa-upload"></span>&nbsp;Assignment Upload
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentContentManagement")">
                        <a href="/Parent/StudentContentManagement/">
                            <span class="fas fa-book-open"></span>&nbsp;Content Management
                        </a>
                    </li>
                    @*<li class="text1 @Html.ActivePage("Parent","StudentCirculars")">
            <a href="/Parent/StudentCirculars/">
                <span class="fas fa-book-reader"></span>&nbsp;Circulars
            </a>
        </li>*@
                    <li class="text1 @Html.ActivePage("Parent","LiveClasses")">
                        <a href="/Parent/LiveClasses/">
                            <span class="fa fa-video-camera"></span>&nbsp;Live Classes
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","OpenTicket")">
                        <a href="/Parent/OpenTicket/">
                            <span class="fa fa-ticket"></span>&nbsp;Complaint Box
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","Feedback")">
                        <a href="/Parent/Feedback/">
                            <span class="a fa-comments-o"></span>&nbsp;Feedback
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentAttendanceRequest")">
                        <a href="/Parent/StudentAttendanceRequest/">
                            <span class="fa fa-clock-o"></span>&nbsp;Student Attendance Request
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--menu for Desktop view -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 hidden-xs" style="background-color:white;height:100%;border-right:solid 1px #00AB62">
                <h3 style="text-align:center;font-weight:bold;">
                    <small style="font-size:16px;color:#00AB62;font-weight:bold;">
                        @AsteriskBrowserAL.Helpers.Utility.GetInstituteNameOfUser()
                        <span style="font-weight:bold;">
                            &nbsp;
                            (@AsteriskBrowserAL.Helpers.Utility.GetAcademicYear())
                        </span>
                    </small>
                </h3>

                <ul class="nav nav-pills nav-stacked">
                    <li class="text1 @Html.ActivePage("Parent","StudentView")">
                        <a href="/Parent/StudentView">
                            <span class="fa fa-user "></span>&nbsp;Student Profile
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","ParentView")">
                        <a href="/Parent/ParentView">
                            <span class="fa fa-user"></span>&nbsp;Parent Profile
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","PaymentHistoryView")">
                        <a href="/Parent/PaymentHistoryView">
                            <span class="fa fa-history">
                            </span>&nbsp;Payment History
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","OnlinePayment")">
                        <a href="/Parent/OnlinePayment/">
                            <span class="fa fa-money"></span>&nbsp;Fee Payment
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","Holidays")">
                        <a href="/Parent/Holidays/">
                            <span class="fa fa-briefcase"></span>&nbsp;Holidays
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","ExamSchedules")">
                        <a href="/Parent/ExamSchedules/">
                            <span class="fa fa-table"></span>&nbsp;Exam Schedules
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentProgressCard")">
                        <a href="/Parent/StudentProgressCard/" target="_blank">
                            <span class="glyphicon glyphicon-pencil" style="word-spacing: -12px;"> </span>&nbsp;Academic Perfomance
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","AttendanceView")">
                        <a href="/Parent/AttendanceView">
                            <span class="fa fa-users"></span>&nbsp;Attendance
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Events","ParentCalendar")">
                        <a href="/Events/ParentCalendar/">
                            <span class=" glyphicon glyphicon-bell" style="word-spacing: -12px;"> </span> &nbsp;Parent Teacher Meeting
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","InboxMail")">
                        <a href="/Parent/InboxMail/">
                            <span class="fa fa-envelope"></span>&nbsp;Inbox
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("AStudent","DisciplineViolation")">
                        <a href="/AStudent/DisciplineViolation/">
                            <span class="fas fa-exclamation"></span>&nbsp;Discipline Violation
                        </a>
                    </li>
                    <li class="@Html.ActivePage("AOnlineExamination","StudentLogin")">
                        <a href="/AOnlineExamination/StudentLogin/">
                            <span class="glyphicon glyphicon-pencil" style=" word-spacing: -12px;"> </span>Online Exam
                        </a>

                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentAssignmentUpload")">
                        <a href="/Parent/StudentAssignmentUpload/">
                            <span class="fas fa-upload"></span>&nbsp;Assignment Upload
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentContentManagement")">
                        <a href="/Parent/StudentContentManagement/">
                            <span class="fas fa-book-open"></span>&nbsp;Content Management
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentCirculars")">
                        <a href="/Parent/StudentCirculars/">
                            <span class="fas fa-book-reader"></span>&nbsp;Circulars
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","LiveClasses")">
                        <a href="/Parent/LiveClasses/">
                            <span class="fa fa-video-camera"></span>&nbsp;Live Classes
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","OpenTicket")">
                        <a href="/Parent/OpenTicket/">
                            <span class="fa fa-ticket"></span>&nbsp;Complaint Box
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","Feedback")">
                        <a href="/Parent/Feedback/">
                            <span class="a fa-comments-o"></span>&nbsp;Feedback
                        </a>
                    </li>
                    <li class="text1 @Html.ActivePage("Parent","StudentAttendanceRequest")">
                        <a href="/Parent/StudentAttendanceRequest/">
                            <span class="fa fa-clock-o"></span>&nbsp;Student Attendance Request
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 well" style="background-color:white">
                <!-- Quick Menu  -->
                <table border="0" style="width:100%;">
                    <tr>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Home">
                                <a href="/Home/Index">
                                    <img src="~/Content/ParentLoginIcons/Home_Icon.png" class="img-responsive icon @Html.ParentIconActive("Home","Index")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Attendance">
                                <a href="/Parent/StudentAttendance/">
                                    <img src="~/Content/ParentLoginIcons/Attendance_Icon.png" class="img-responsive icon @Html.ParentIconActive("Parent","StudentAttendance")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Notice Board">
                                <a href="/Parent/Notice/">
                                    <img src="~/Content/ParentLoginIcons/Notice_Icon.png" class="img-responsive icon @Html.ParentIconActive("Parent","Notice")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" data-placement="bottom" title="Home Work">
                                <a href="/Parent/HomeWorkDetails/">
                                    <img src="~/Content/ParentLoginIcons/homework.png" class="img-responsive icon @Html.ParentIconActive("Parent","HomeWorkDetails")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Events">
                                <a href="/Parent/SchoolEvents">
                                    <img src="~/Content/ParentLoginIcons/EventsIco.jpg" class="img-responsive icon @Html.ParentIconActive("Parent","SchoolEvents")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Academic Performance">
                                <a href="/Parent/StudentProgressCard/" target="_blank">
                                    <img src="~/Content/ParentLoginIcons/AcademicPerformance_Icon.png" class="img-responsive icon @Html.ParentIconActive("Parent","StudentProgressCard")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Health Records">
                                <a href="/Parent/HealthReport/">
                                    <img src="~/Content/ParentLoginIcons/HealthIcon.png" class="img-responsive icon @Html.ParentIconActive("Parent","HealthReport")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Fee Payments">
                                <a href="/Parent/OnlinePayment/">
                                    <img src="~/Content/ParentLoginIcons/fee.png" class="img-responsive icon @Html.ParentIconActive("Parent","OnlinePayment")" />
                                </a>
                            </div>
                        </th>
                        <th class="iconcontent" align="center">
                            <div data-toggle="tooltip" title="Logout">
                                <a href="/Account/Logout2">
                                    <img src="~/Content/ParentLoginIcons/Logout_Icon.png" class="img-responsive icon @Html.ParentIconActive("Parent","Logout2")" />
                                </a>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="row well">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 Animate" style="text-align:center;">
                <table style="width:100%">
                    <tr>
                        <td align="center">
                            Copyright © 2017-2018 <span style="color:#069;"><b>BuckleUp Technology Solutions (BTS)</b></span>. All rights reserved.
                        </td>
                        <td align="right">
                            Best viewed in <b>Google Chrome </b>
                        </td>
                    </tr>
                </table>
                <span style="float:right;">
                </span>
            </div>
        </div>
    </div>
</body>

</html>


<script>
    $(document).ready(function () {
        
        $('[data-toggle="tooltip"]').tooltip({ placement: 'auto' });
        $('[data-toggle="tooltip"]').hover(function () {
            $('.tooltip-inner').css('color', 'White');
            $('.tooltip-inner').css('background-color', '#069');
            $('.tooltip-inner').css('font-weight', 'bolder');
            $('.tooltip-inner').css('line-height', '2');
        });
    });

</script>

