
@model AsteriskBrowserAL.StudentHealthEntry
@{
    Layout = "~/Views/Shared/Parent_Layout.cshtml";
}
@{
    ViewBag.Title = "Holidays";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
    <br />
    @if (Model != null)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">

                <div class="table-header">
                    <div class="txtTableHeader">
                        Health Report
                    </div>
                </div>

                <table class="table tbhover table-striped table-bordered dynamic-table">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayName("Height")
                            </th>
                            <th>
                                @Html.DisplayName("Height Remarks")
                            </th>
                            <th>
                                @Html.DisplayName("Weight")
                            </th>
                            <th>
                                @Html.DisplayName("Weight Remarks")
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>
                               @Model.Height
                            </td>
                            <td>
                                @Model.HeightRemarks
                            </td>
                            <td>
                                @Model.Weight
                            </td>
                            <td>
                                @Model.WeightRemarks
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    }
    else
    {
        <span style="color: red;"><b>Health Entry Not Recorded</b></span>
    }
</section>

@Html.Action("DataTableScripts", "Base")