@{
    Layout = "~/Views/Shared/Parent_Layout.cshtml";
}
@model AsteriskBrowserAL.Models.HomeWorkData


<div class="page-header">
    <h1>
        <small style="float:right;">
            @if (Model.IsBackToMail == true)
            {
                @Html.ActionLink("Back to details", "InboxMail")
            }
            else
            {
                @Html.ActionLink("Back to details", "HomeWorkDetails", new { StartDate = @ViewBag.StartDate })
            }
        </small>
    </h1>
</div>

@if (Model != null)
{
    bool isparent = true;
    <table style="width:100%;border-collapse:collapse;margin-top:3em;font-family:'Segoe UI'" border="1">
        <tr style="width:100%">
            <td style="width:100%">
                <div class="table-header">
                    <b>Home Work Details</b>
                </div>
                <table style="width:100%;margin-left:3em;margin-top:3em;margin-bottom:3em; border-collapse:collapse" align="center">
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td style="margin-right:4em">
                                        <b>Class Name</b>
                                    </td>
                                    <td style="margin-right:4em">
                                        <b> : </b>
                                    </td>
                                    <td style="margin-left:4em">
                                        @Model.ClassName
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-right:4em">
                                        <b>Home Work Title</b>
                                    </td>
                                    <td style="margin-right:4em">
                                        <b> : </b>
                                    </td>
                                    <td style="margin-left:4em">
                                        @Model.Title
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-right:2em">
                                        <b>From Date</b>
                                    </td>
                                    <td style="margin-right:2em">
                                        <b> : </b>
                                    </td>
                                    <td style="margin-left:2em">
                                        @Model.FromDate.ToString("dd - MMM - yyyy")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-right:2em">
                                        <b>To Date </b>
                                    </td>
                                    <td style="margin-right:2em">
                                        <b> : </b>
                                    </td>
                                    <td>
                                        @Model.ToDate.ToString("dd - MMM - yyyy")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-right:2em">
                                        <b>Description</b>
                                    </td>
                                    <td style="margin-right:2em">
                                        <b> : </b>
                                    </td>
                                    <td>
                                        @Html.Raw(Model.Discription)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-right:2em">
                                        <b>Uploded By</b>
                                    </td>
                                    <td style="margin-right:2em">
                                        <b> : </b>
                                    </td>
                                    <td>
                                        @Model.StaffName
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
else
{
    <div>
        <span style="color:red;font-weight:bold">
            Data not available to display
        </span>
    </div>
}

<script>

    $('#downloadbtn').click(function () {
        debugger
        var filename = $('#attachmentFile').val()
        window.location.href = "/Common/DownloadFile?file=" + filename;
    })

</script>
