@model AsteriskBrowserAL.Models.StudentAdmissionData
@{
    ViewBag.Title = "ParentView";
    Layout = "~/Views/Shared/Parent_Layout.cshtml";
    int Sno = 1;
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-6">

                <div class="widget-box">
                    @*<div class="widget-box widget-box-primary widget-box-solid">*@
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Father's Information
                        </h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-3">
                                        <span class="profile-picture">
                                            <img id="Fimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                                        </span>

                                    </div>

                                    <div class="col-sm-9">
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Name </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.FatherName</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">  Mobile # </div>

                                                <div class="profile-info-value">
                                                    <span id="FatherMobileNumber" name="FatherMobileNumber">@Model.FatherMobileNumber</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">  Email </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@ id="FatherEmail" name="FatherEmail">@Model.FatherEmail</span>
                                                </div>
                                            </div>





                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Qualification </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.FatherQualification</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Occupation</div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.FatherOccupation</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">  Designation </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.FDesignation</span>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>



            @*<div class="row">
                <div class="col-xs-12">*@
            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Mother's Information
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-3">
                                        <span class="profile-picture">
                                            <img id="Mimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                                        </span>
                                    </div>
                                    <div class="col-sm-9">

                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Name </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.MotherName</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Mobile # </div>

                                                <div class="profile-info-value">
                                                    <span id="MotherMobileNumber" name="MotherMobileNumber">@Model.MotherMobileNumber</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> E-Mail </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@ id="MotherEmail" name="MotherEmail">@Model.MotherEmail</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Qualification </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.MotherQualification</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Occupation </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.MotherOccupation</span>
                                                </div>
                                            </div>




                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Designation </div>

                                                <div class="profile-info-value">
                                                    <span @*class="editable"*@>@Model.MDesignation</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Guardian Information
                        </h5>
                    </div>


                    <div class="box-body">
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-sm-3">
                                            <span class="profile-picture">
                                                <img id="Gimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />


                                            </span>

                                        </div>


                                        <div class="col-sm-9">
                                            <div class="profile-user-info profile-user-info-striped">
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Mobile # </div>

                                                    <div class="profile-info-value">
                                                        <span id="GardianMobile" name="GardianMobile">@Model.GardianMobile</span>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> Occupation </div>

                                                    <div class="profile-info-value">
                                                        <span @*class="editable"*@>@Model.GardianOccupation</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (null != Model.SiblingList && Model.SiblingList.Count() >= 1)
    {
    <div class="col-xs-6">
        <div class="box">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Siblings Information</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped table-hover nowrap" style="font-size:14px;">
                            <thead>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Name")
                                    </th>
                                    @if (Model.SiblingList.FirstOrDefault().IsGms == true)
                                    {
                                        <th>
                                            @Html.DisplayName("Admission Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Class")
                                        </th>
                                    }
                                    <th>
                                        @Html.DisplayName("School")
                                    </th>

                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model.SiblingList)
                                {
                                    <tr>
                                        <td>
                                            @Sno
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SiblingName)
                                        </td>
                                        @if (item.IsGms == true)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdmissionNo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClassName)
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SchoolName)
                                        </td>
                                    </tr>
                                    Sno++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</section>
