@model AsteriskBrowserAL.Models.PrintFeePayments
@using AsteriskBrowserAL.Helpers
@{
    ViewBag.Title = "SaveFeePaymentPrintPartial";
}

<html>
<body>
    @if (Model != null)
    {
        double tDebit = Model.lstFeePayments.Sum(s => s.AmountPaid);
        string totaldebit = Utility.ConvertToStringCommas(tDebit.ToString());
        string deditAmountInWords = Utility.ConvertCurrencyToWords(tDebit.ToString());

        // template code

        <div style="border:1px solid black;font-family:'Segoe UI';position: relative; width: 770px; max-width: 770px; height: 542px; max-height: 542px; display: inline-block;">

            <div style="position: absolute;text-align: center;width: 100%;top:1%;font-weight:bold;font-size:x-small">PARENT'S COPY</div>
            <div style="position: absolute;text-align:center;width: 100%;top:5%;font-weight:bold;font-size:large">@Model.InstituteDetails.InstituteName</div>
            @*<div style="position: absolute;text-align:center;width: 100%;top:8.7%;font-weight:bold;font-size:x-small">
                    (Sponsered by Sri Demo Academy of general & Technical Education)
                </div>
                <div style="position: absolute;text-align:center;width: 100%;top:11.5%;font-size:x-small">
                    H.NO. 10-2-249/250, GVRS Lakshmi Nivas,
                </div>*@
            <div style="position: absolute;text-align:center;width: 100%;top:13.5%;font-size:x-small">
                @Model.InstituteDetails.InstituteAddress
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.QRCodeForParent))
            {
                <div style="position: absolute;top:1%;margin-left:640px">
                    <img width="120" height="120" src="@Model.QRCodeForParent" /><br />
                </div>
                <div style="position: absolute;top:22%;margin-left:655px">
                    <span style="font-size:11px;">@Model.TimeStamp</span>
                </div>
            }

            <div style="margin-left:20px;font-weight:bold;font-size:13px">
                <p style="position: absolute;top:18.5%">Receipt No</p>
                <p style="position: absolute;top:22%">Name of the Student</p>
                <p style="position: absolute;top:25.5%">Name of the Parent</p>
                <p style="position: absolute;top:29%">Class / Section</p>
            </div>
            <div style="margin-left:155px;font-weight:bold;font-size:13px">
                <p style="position: absolute;top:18.5%">:</p>
                <p style="position: absolute;top:22%">:</p>
                <p style="position: absolute;top:25.5%">:</p>
                <p style="position: absolute;top:29%">:</p>
            </div>

            <div style="margin-left:170px;font-size:13px">
                <p style="position: absolute;top:18.5%">@Model.DisplayReceiptNumber</p>
                <p style="position: absolute;top:22%">@Model.StudentName</p>
                <p style="position: absolute;top:25.5%">@Model.ParentName</p>
                <p style="position: absolute;top:29%">@Model.Section</p>
            </div>

            <div style="margin-left:450px;font-weight:bold;font-size:13px">
                <p style="position: absolute;top:18.5%">
                    @if (Model.IsManual == true)
                    {
                        <b>Manual Receipt No :</b> <span style="font-size:14px;">@Model.DisplayManualReceiptNumber</span>
                    }
                </p>
                <p style="position: absolute;top:22%">Branch</p>
                <p style="position: absolute;top:25.5%">Enrollment No</p>
                <p style="position: absolute;top:29%">Date</p>
            </div>

            <div style="margin-left:545px;font-weight:bold;font-size:13px">
                <p style="position: absolute;top:22%">:</p>
                <p style="position: absolute;top:25.5%">:</p>
                <p style="position: absolute;top:29%">:</p>
            </div>

            <div style="margin-left:560px;font-size:13px">
                <p style="position: absolute;top:22%">@Model.BranchName</p>
                <p style="position: absolute;top:25.5%">@Model.AdmissionNumber</p>
                <p style="position: absolute;top:29%">@Model.dtPaymentDate.ToString("dd-MMM-yyyy")</p>
            </div>

            <div style="margin-left:20px;position: absolute;top:40%;font-weight:bold;">

                <table style="border: 1px solid black;border-collapse: collapse;width: 100%">
                    <tr style="color:white;background-color:#C0C0C0;font-size:x-small">
                        <th style="border: 1px solid black;width:550px;border-collapse: collapse;">
                            <p style="text-align:center;">PARTICULARS</p>
                        </th>
                        <th style="border: 1px solid black;width:100px;border-collapse: collapse;">
                            <p style="text-align:center;">Amount<br />Rs.</p>
                        </th>
                        <th style="border: 1px solid black;width:70px;border-collapse: collapse;">
                            <p style="text-align:center;">Ps.</p>
                        </th>
                    </tr>
                    <tr height="200px">
                        <td style="border: 1px solid black;border-collapse: collapse;" rowspan=2></td>
                        <td style="border: 1px solid black;border-collapse: collapse;"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;"></td>
                    </tr>
                    <tr height="25px">
                        <td style="border: 1px solid black;border-collapse: collapse;"></td>
                        <td style="border: 1px solid black;border-collapse: collapse;"></td>
                    </tr>
                </table>


            </div>


            <div style="height:240px;margin-left:50px;position:absolute;top:45%">

                <table class="fixed" style="margin-left:20px;">
                    <tbody>
                        <tr>
                            <td style="font-family:'Segoe UI';font-size:13px;font-weight:bold">
                                Regular Payment Details :- <br>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="fixed" style="margin-left: 20px; margin-top: 0px; width: 647px;">
                    <tbody>
                        @foreach (var fp in Model.lstFeePayments)
                        {
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width:470px;">
                                    @fp.Particular
                                </td>
                                <td style="font-family:'Segoe UI';font-size:14px;width:100px;">@fp.AmountPaid</td>
                            </tr>
                        }

                    </tbody>
                </table>


                @if (Model.PaymentsReceivedTillDate != "")
                {
                    <table class="fixed" style="margin-left:20px;">
                        <tbody>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:13px;font-weight:bold">
                                    Payments Received Till Date:-
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="fixed" style="margin-left: 20px; width: 450px;">
                        <tbody>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:12px;width:350px;">@Model.PaymentsReceivedTillDate</td>
                            </tr>
                        </tbody>
                    </table>
                }


                @if (Model.PaymentsDueTillDate != "" && Model.DueOnReceipt == true)
                {
                    <table class="fixed" style="margin-left:20px;">
                        <tbody>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;font-weight:bold">Payments Due Till Date :- <br></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="fixed" style="margin-left:20px;">
                        <tbody>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width:450px;">@Model.PaymentsDueTillDate</td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>

            <p style="margin-left:40px;font-weight:bold;font-size:13px;position: absolute;top:81%">
                Rupees In Words :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>@deditAmountInWords</b>
            </p>

            <p style="margin-left:500px;font-weight:bold;font-size:13px;position: absolute;top:81%">Total</p>

            <p style="margin-left:600px;font-size:13px;position: absolute;top:81%;font-weight:bold">   @string.Format("{0:n0}", (tDebit))</p>

            <div style="margin-left:20px;font-size:13px">

                <p style="position: absolute;top:90%">
                    <span style="font-weight:bold;">Cheque No.</span>   &nbsp;&nbsp; @if (Model.PaymentMode > 1)
                    {@Model.ChequeNo}
                </p>
                <p style="position: absolute;top:93%;font-weight:bold;">(Cheques are subject to realisation)</p>
            </div>

            <p style="margin-left:165px;font-weight:bold;font-size:13px;position: absolute;top:90%">Drawn on.</p>

            @if (Model.PaymentMode > 1)
            {
                <p style="margin-left:260px;font-size:13px;position: absolute;top:90%">@Model.BankName</p>
            }
            <p style="margin-left:650px;font-weight:bold;font-size:13px;position: absolute;top:93%">Accountant</p>
        </div>

      

        <hr style="background-color: #fff;border-top: 2px dashed #8c8b8b;" />
        //
    }
</body>
</html>

