@model AsteriskBrowserAL.Models.StudentAdmissionData
@{
    Layout = "~/Views/Shared/Parent_Layout.cshtml";
}


<section class="content">
    <div class="widget-box" id="widget-box-1">
        <div class="widget-header">
            <h5 class="widget-title">Student Profile</h5>
        </div>
        <div class="widget-body">
            <br />
            <input type="hidden" id="StudentId" value="@Model.StudentId" />
            @if (null != Model)
            {
                <input type="hidden" id="StateId" value="@Model.State" />
                <div class="row">
                    <div id="user-profile-1" class="user-profile row">
                        <div class="col-xs-12 col-sm-3 center">
                            <div>
                                <span class="profile-picture">

                                    @if (Model.Photo != null)
                                    {
                                        <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="@Model.Photo" width="150" height="150" />
                                    }
                                    else
                                    {
                                        <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="~/Content/images/NoPhoto.jpg" width="150" height="150" />
                                    }
                                </span>
                                <div class="space-4"></div>
                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                            <i class="ace-icon fa fa-circle light-green"></i>
                                            &nbsp;
                                            <span class="white">@Model.FirstName @Model.LastName</span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Admission #  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@>@Model.AdmissionNumber</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Admission Date  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@>@Model.AdmissionDate.Value.ToString("dd - MMM - yyyy")</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Class </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@>@Model.ClassName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">@Html.Label("Date of Birth") </div>
                                    <div class="profile-info-value">
                                        <span class="editable">
                                            @if (Model.DateofBirth.HasValue)
                                            {
                                                @Model.DateofBirth.Value.ToString("dd - MMM - yyyy")
                                            }
                                        </span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Roll Number  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@>@Model.RollNumber.Value</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Adhar Card </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@ id="AadharCardNo" name="AadharCardNo">@Model.AadharCardNo</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Address Line 1  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@ id="AddressLineOne" name="AddressLineOne">@Model.AddressLineOne</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> City  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@ id="City" name="City">@Model.City</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> State  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@>@Model.StateName</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> PIN Code  </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@ id="PINCode" name="PINCode">@Model.PINCode</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Annual Income </div>

                                    <div class="profile-info-value">
                                        <span @*class="editable"*@>@Model.AnnualIncome</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-20"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
