@model AsteriskBrowserAL.Models.StudentAdmissionData
@{
    Layout = "~/Views/Shared/Parent_Layout.cshtml";
}
@{
    ViewBag.Title = "Student Profile";
    int Sno = 1;

}

<input type="hidden" value="@Model.TabId" id="ModelTabId" />
<section class="content">
    @if (null != Model)
    {
        if (Model.TabId == 1)
        {
            <div class="widget-box" id="widget-box-1">
                <div class="widget-header">
                    <h5 class="widget-title">Student Profile</h5>
                </div>
                <div class="widget-body">
                    <br />
                    <input type="hidden" id="StudentId" value="@Model.StudentId" />
                    @if (null != Model)
                    {
                        <input type="hidden" id="StateId" value="@Model.State" />
                        <div class="row">
                            <div id="user-profile-1" class="user-profile row">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div>
                                        <span class="profile-picture">

                                            @if (Model.Photo != null)
                                            {
                                                <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="@Model.Photo" width="150" height="150" />
                                            }
                                            else
                                            {
                                                <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="~/Content/images/NoPhoto.jpg" width="150" height="150" />
                                            }
                                        </span>
                                        <div class="space-4"></div>
                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                                    <i class="ace-icon fa fa-circle light-green"></i>
                                                    &nbsp;
                                                    <span class="white">@Model.FirstName @Model.LastName</span>
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Admission #  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@>@Model.AdmissionNumber</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Admission Date  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@>@Model.AdmissionDate.Value.ToString("dd - MMM - yyyy")</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Class </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@>@Model.ClassName</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">@Html.Label("Date of Birth") </div>
                                            <div class="profile-info-value">
                                                <span class="editable">
                                                    @if (Model.DateofBirth.HasValue)
                                                    {
                                                        @Model.DateofBirth.Value.ToString("dd - MMM - yyyy")
                                                    }
                                                </span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Roll Number  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@>@Model.RollNumber.Value</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Adhar Card </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@ id="AadharCardNo" name="AadharCardNo">@Model.AadharCardNo</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Address Line 1  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@ id="AddressLineOne" name="AddressLineOne">@Model.AddressLineOne</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> City  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@ id="City" name="City">@Model.City</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> State  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@>@Model.StateName</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> PIN Code  </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@ id="PINCode" name="PINCode">@Model.PINCode</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Annual Income </div>

                                            <div class="profile-info-value">
                                                <span @*class="editable"*@>@Model.AnnualIncome</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-20"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }


        if (Model.TabId == 2)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">

                        <div class="widget-box">
                            @*<div class="widget-box widget-box-primary widget-box-solid">*@
                            <div class="widget-header widget-header-flat widget-header-small">
                                <h5 class="widget-title">
                                    Father Information
                                </h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-3">
                                                <span class="profile-picture">
                                                    <img id="Fimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                                                </span>

                                            </div>

                                            <div class="col-xs-9">
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Father Name </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.FatherName</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name">  Mobile # </div>

                                                        <div class="profile-info-value">
                                                            <span id="FatherMobileNumber" name="FatherMobileNumber">@Model.FatherMobileNumber</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name">  Email </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@ id="FatherEmail" name="FatherEmail">@Model.FatherEmail</span>
                                                        </div>
                                                    </div>





                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Qualification </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.FatherQualification</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Occupation</div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.FatherOccupation</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name">  Designation </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.FDesignation</span>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>



                    @*<div class="row">
                        <div class="col-xs-12">*@
                    <div class="col-xs-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat widget-header-small">
                                <h5 class="widget-title">
                                    Mother Information
                                </h5>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-3">
                                                <span class="profile-picture">
                                                    <img id="Mimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                                                </span>
                                            </div>
                                            <div class="col-xs-9">

                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Name </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.MotherName</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Mobile # </div>

                                                        <div class="profile-info-value">
                                                            <span id="MotherMobileNumber" name="MotherMobileNumber">@Model.MotherMobileNumber</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> E-Mail </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@ id="MotherEmail" name="MotherEmail">@Model.MotherEmail</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Qualification </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.MotherQualification</span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Occupation </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.MotherOccupation</span>
                                                        </div>
                                                    </div>




                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> Designation </div>

                                                        <div class="profile-info-value">
                                                            <span @*class="editable"*@>@Model.MDesignation</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat widget-header-small">
                                <h5 class="widget-title">
                                    Guardian Information
                                </h5>
                            </div>


                            <div class="box-body">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-3">
                                                    <span class="profile-picture">
                                                        <img id="Gimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />


                                                    </span>

                                                </div>


                                                <div class="col-xs-9">
                                                    <div class="profile-user-info profile-user-info-striped">
                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> Mobile # </div>

                                                            <div class="profile-info-value">
                                                                <span id="GardianMobile" name="GardianMobile">@Model.GardianMobile</span>
                                                            </div>
                                                        </div>

                                                        <div class="profile-info-row">
                                                            <div class="profile-info-name"> Occupation </div>

                                                            <div class="profile-info-value">
                                                                <span @*class="editable"*@>@Model.GardianOccupation</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            if (null != Model.SiblingList && Model.SiblingList.Count() >= 1)
            {
                <div class="col-xs-6">
                    <div class="box">
                        <div class="box box-primary box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Siblings Information</h3>

                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered table-striped table-hover nowrap" style="font-size:14px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                   S.No.
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Name")
                                                </th>
                                                @if (Model.SiblingList.FirstOrDefault().IsGms == true)
                                                {
                                                    <th>
                                                        @Html.DisplayName("Admission Number")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Class")
                                                    </th>
                                                }
                                                <th>
                                                    @Html.DisplayName("School")
                                                </th>

                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.SiblingList)
                                            {
                                                <tr>
                                                    <td>
                                                        @Sno
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SiblingName)
                                                    </td>
                                                    @if (item.IsGms == true)
                                                    {
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AdmissionNo)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ClassName)
                                                        </td>
                                                    }
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SchoolName)
                                                    </td>
                                                </tr>
                                                Sno++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        if (Model.TabId == 3)
        {
            <div class="widget-box" id="widget-box-1">
                <div class="widget-header">
                    <h5 class="widget-title">Payment History</h5>
                </div>
                <div class="widget-body">
                    <br />
                    @if (null != Model.FeepaymentHistory && Model.FeepaymentHistory.Count() >= 1)
                    {
                        Sno = 1;
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding" style="overflow:auto; height:500px;">
                                <table class="table table-bordered table-striped table-hover nowrap" style="font-size:14px;">
                                    <thead>
                                        <tr>
                                            <th>
                                               S.No.
                                            </th>
                                            <th>
                                                @Html.DisplayName("Particular")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Transaction Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Receipt Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Template Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Amount")
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.FeepaymentHistory)
                                        {
                                            <tr>
                                                <td>
                                                    @Sno
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FeeParticularName)
                                                </td>

                                                <td>
                                                    @item.TransactionDate.Value.ToString("dd - MMM - yyyy")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReceiptNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TemplateNumner)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DebitAmount)
                                                </td>
                                            </tr>
                                            Sno++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        if (Model.TabId == 4)
        {
            <div class="box-body">
                <div class="box-body table-responsive no-padding">
                    <div class="col-xs-12">
                        <div class="scrollable-horizontal" style="margin-top:1em">
                            <div id="GraphDiv" style="height: 200px; ">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top:5em">
                        <div id="PartialAttendanceView"> </div>
                    </div>
                </div>
            </div>
        }
    }


</section>
<script src="~/Scripts/canvasjs.min.js"></script>
<input type="hidden" value="@DateTime.Today" id="TodayDate" />

<script>
    // Complete Graph Script
    function StudentAttendanceReport() {
        debugger
        var TodayDate = $('#TodayDate').val()

        var split_1 = TodayDate.split(' ')
        var split_2 = split_1[0].split('/')

        var Month = split_2[2] + "-" + split_2[0]

        var SectionId = 0;
        if (TodayDate != null || TodayDate != "") {
            $.ajax({
                url: '/Parent/StudentAttendanceReport',
                data: { Date: Month, SectionId: SectionId, Status: 1 },
                async: false,
                success: function (data) {
                    $("#PartialAttendanceView").html(data)
                }
            })
        }
    }
    function StudentAttendanceGraph() {
        debugger
        var Absent = [];
        var Present = [];
        var Working = [];
        var Percentage = [];

        CanvasJS.addColorSet("Colors", ["firebrick", "dodgerblue", "olivedrab"]);
        $.getJSON("/Parent/StudentAttendanceGraph/", function (data) {
            debugger
            for (var i = 0; i <= data.AbsentList.length - 1; i++) {
                Absent.push({ label: data.AbsentList[i].MonthName, y: parseInt(data.AbsentList[i].AbsentDays), toolTipContent: "AbsentDays: {y}<br/>Month:{label}" });
            }
            for (var i = 0; i <= data.presentList.length - 1; i++) {
                Present.push({ label: data.presentList[i].MonthName, y: parseInt(data.presentList[i].PresentDays), toolTipContent: "PresentDays: {y}<br/>Month:{label}" });
            }
            for (var i = 0; i <= data.WorkingDayList.length - 1; i++) {
                Working.push({ label: data.WorkingDayList[i].MonthName, y: parseInt(data.WorkingDayList[i].WorkingDays), toolTipContent: "WorkingDays: {y}<br/>Month:{label}" });
            }
            //for (var i = 0; i <= data.PercentageList.length - 1; i++) {
            //    Percentage.push({ label: data.PercentageList[i].MonthName, y: parseInt(data.PercentageList[i].Percentage), toolTipContent: "Percentage: {y}<br/>Month:{label}" });
            //}
            var chart = new CanvasJS.Chart("GraphDiv", {
                colorSet: "Colors",
                width: 980,
                axisX: {
                    labelFontColor: "black",
                    labelFontWeight: "bold",

                }, axisY: {
                    labelFontColor: "black",
                    labelFontWeight: "bold",
                },
                data: [{
                    type: "column",
                    dataPoints: Absent
                }, {
                    type: "column",
                    dataPoints: Present
                }, {
                    type: "column",
                    dataPoints: Working
                }]
            });
            chart.render();
        });
    }
</script>

<script>
    $(document).ready(function () {
        var ModelTabId = $('#ModelTabId').val();
        if (parseInt(ModelTabId) == 4) {
            StudentAttendanceReport()
            StudentAttendanceGraph()
        }
    });

    function GeFatherPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetFatherPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Fimage').attr("src", data);

                }
            }
        })
    }


    function GetStudentPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetStudentPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Simage').attr("src", data);

                }
            }
        })
    }


    function GetMotherPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetMotherPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Mimage').attr("src", data);

                }
            }
        })
    }

    function GetGaurdianPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetGaurdianPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Gimage').attr("src", data);

                }
            }
        })
    }


    function GetStateName() {
        var StateId = $("#StateId").val();
        $.ajax({
            url: '/MStudent/GetStateName',
            data: { StateId: StateId },
            success: function (data) {
                document.getElementById("statename").innerHtml = data
            }
        })
    }


    function PayMoney() {
        debugger
        var PayAmount = parseInt($("#PayAmount").val());
        var DueAmount = parseInt($("#DueAmount").val());
        var StudentId = $("#nStudentId").val();
        document.getElementById("Validation").innerHTML = ""
        var FatherEmail = $("#FatherEmail").html();

        if (FatherEmail != "" && FatherEmail != "Empty") {
            if (PayAmount > 0) {
                if (DueAmount > PayAmount) {

                    window.location.href = '/PayMoney/Pay?nUserId=0&nStudentId=' + StudentId + '&dPayingAmount=' + PayAmount;

                    //$.ajax({
                    //    url: '/PayMoney/Pay/',
                    //    data: { nUserId : 0,nStudentId: StudentId, dPayingAmount: PayAmount },
                    //    Success: function (data) {

                    //    }
                    //})
                }
                else {
                    document.getElementById("Validation").innerHTML = "Amount is greator than due amount"

                }
            }
            else {
                document.getElementById("Validation").innerHTML = "Please enter amount"
            }
        }
        else {
            document.getElementById("Validation").innerHTML = "Please update the email"

        }

    }
    //window.onload = onloadData();

    $("#PayAmount").click(function () {
        document.getElementById("Validations").innerHTML = " "
        document.getElementById("Validation").innerHTML = ""


    })



</script>
<script>
    $("#Save").click(function () {
        debugger
        var StudentId = $("#StudentId").val()
        var PINCode = $("#PINCode").html;
        var City = $("#City").html();
        var AddressLineOne = $("#AddressLineOne").html();
        var AadharCardNo = $("#AadharCardNo").html();
        var FatherEmail = $("#FatherEmail").html();
        var FatherMobileNumber = $("#FatherMobileNumber").html();
        var MotherMobileNumber = $("#MotherMobileNumber").html();
        var MotherEmail = $("#MotherEmail").html();
        var GardianMobile = $("#GardianMobile").html();
        var Validation = "";


        if (StudentId > 0) {
            if (PINCode == "" && PINCode != "Empty" && PINCode != "0") {
                Validation += "Pincode,"
            }
            if (City == "" && City != "Empty") {
                Validation += "City,"

            }
            if (AddressLineOne == "" && AddressLineOne != "Empty") {
                Validation += "Address Line One,"

            }

            if (AadharCardNo == "" && AddressLineOne != "Empty") {
                Validation += "AadharCard Number,"

            }

            if (FatherEmail == "" && FatherEmail != "Empty") {
                Validation += "Father Email,"

            }

            if (FatherMobileNumber == "" && FatherMobileNumber != "Empty") {
                Validation += "Father Mobile Number,"

            }

            if (Validation != "") {
                document.getElementById("Validations").innerHTML = " Following fields must not be empty : " + Validation
            }
            else {
                $.ajax({

                    url: '/Parent/SaveStudentDetails',
                    data: { StudentId: StudentId, PINCode: PINCode, City: City, AddressLineOne: AddressLineOne, AadharCardNo: AadharCardNo, FatherEmail: FatherEmail, FatherMobileNumber: FatherMobileNumber, MotherMobileNumber: MotherMobileNumber, MotherEmail: MotherEmail, GardianMobile: GardianMobile },
                    success: function (Result) {
                        document.getElementById("SaveVal").innerHTML = "Data Saved"
                    }

                })
            }

        }
    })
</script>





