@model IEnumerable<AsteriskBrowserAL.Models.StudentAttendanceViewModel>
@{
    ViewBag.Title = "OpenTicket";
    Layout = "~/Views/Shared/Parent_Layout.cshtml";
}


<div class="overflowscroll" style="height:450px;font-size:11px;">
    <div class="table-header">

        <small style="float:right;" class="textheader">
            @Html.ActionLink("New Request", "StudentAttendanceRequestC", new { })
        </small>


        @if (null != Model)
        {
            if (Model.Count() > 0)
            {
                int nSno = 1;
                <div class="txtTableHeader">
                    Absents Count (@Model.Count())
                </div>
                <table class="table dynamic-table">
                    <thead>
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Start Date")
                            </th>
                            <th>
                                @Html.DisplayName("Reason")
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(nSno++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span style="font-weight:bold;color:red">Data Not Available</span>
            }
        }
        else
        {
            <span style="font-weight:bold;color:red">Data Not Available</span>
        }
    </div>
</div>

@Html.Action("DataTableScripts", "Base")

