

@model IEnumerable<AsteriskBrowserAL.Models.StudentAttendanceViewModel>

@{
    Layout = null;
    int i = 1;
}


@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="table-header">
                <div class="txtTableHeader">
                    Records Found (@Model.Count())
                </div>
            </div>
            <div style="overflow:auto;">
                <table id="tblData" class="table tbhover table-striped table-bordered">
                    <tbody>
                        <tr style="background-color:#F0F8FF">
                            <th>S.No.</th>
                            <th>Admission Number</th>
                            <th>Name</th>
                            @foreach (var item in Model.FirstOrDefault().lstOfDays)
                            {
                                <th> @item.DayName</th>
                            }
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.AdmissionNo</td>
                                <td>@item.StudentName</td>
                                @foreach (var Status in item.ListStudentAttendanceData)
                                {
                                    if (@Status.AbsentStatus == "A")
                                    {
                                        <td style="width:30px;" class="">
                                            <span class="badge badge-danger">@Status.AbsentStatus</span>
                                        </td>
                                    }
                                    else if (@Status.AbsentStatus == "L")
                                    {
                                        <td style="width:30px;" class="">
                                            <span class="badge badge-danger">@Status.AbsentStatus</span>
                                        </td>
                                    }
                                    else if (@Status.AbsentStatus == "LT")
                                    {
                                        <td style="width:30px;" class="">
                                            <span class="badge badge-warning">@Status.AbsentStatus</span>
                                        </td>
                                    }
                                    else if (@Status.AbsentStatus == "P")
                                    {
                                        <td style="width:30px;" class="">
                                            <span class="badge badge-info">@Status.AbsentStatus</span>
                                        </td>
                                    }
                                    else if (@Status.AbsentStatus == "H")
                                    {
                                        <td style="width:30px;" class="">
                                            <span class="badge badge-purple">@Status.AbsentStatus</span>
                                        </td>
                                    }
                                    if (@Status.AbsentStatus == "S")
                                    {
                                        <td style="width:30px;" class="">
                                            <span class="badge badge-success">@Status.AbsentStatus</span>
                                        </td>
                                    }
                                    else if (@Status.AbsentStatus == "D")
                                    {
                                        <td style="width:30px;background-color:#F0F8FF" class=""> </td>
                                    }
                                }
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
else
{
    <span style="color:red;font-weight:bold">No Data Found</span>
}


