

@model IEnumerable<AsteriskBrowserAL.Models.ContentManagementData>
@{
    ViewBag.Title = "StudentContentManagementPartialView";

    int nSNo = 1;

}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">
    @*<div id="message" class="alert alert-info bigger-110">
        </div>*@

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->

@if (null != Model && Model.Count() > 0)
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <div class="table-header">
            Records Found (@Model.Count())
        </div>
        <!-- /.box-header -->
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Sno")
                    </th>

                    <th>
                        @Html.DisplayName("Content Name")
                    </th>
                    <th>
                        @Html.DisplayName("Download Content")
                    </th>
                    <th>
                        @Html.DisplayName("Video Link")
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nSNo++)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ContentManagementName)
                        </td>
                        <td>
                            <a href="@item.ContentManagementUploadUrl" target="_blank">Download</a>
                        </td>
                        <td>
                            <a href="@item.ContentManagementVideoUrl" target="_blank">@item.ContentManagementVideoUrl</a>
                        </td>
                       

                    </tr>

                }
            </tbody>

        </table>

    </div>
}
else
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <span style="font-weight:bold;color:red">No records found</span>
    </div>
}
@Html.Action("DataTableScripts", "Base")






