@model List<AsteriskBrowserAL.Models.PlayersData>
@{
    int sno = 1;
}

<div class="col-sm-6">
    <div class="form-group">
        <div class="box">
            <div class="box-header">
                <input type="button" id="Assign" class="btn btn-primary pull-right" value="Assign" />

                <h3 class="box-title">UnAssigned Descendants</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body" style="overflow: auto;  height:300px ">
                <div>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>
                                    <input type="checkbox" id="SelectAssignall" />   @Html.DisplayName("Select")
                                </th>
                                <th>
                                   S.No.
                                </th>
                                <th>
                                    @Html.DisplayName("Staff")
                                </th>
                                <th>
                                    @Html.DisplayName("Branch Name")
                                </th>
                            </tr>
                            @if (null != Model)
                            {
                                if (Model.Count() > 0)
                                {
                                    for (int i = 0; i < Model.Count(); i++)
                                    {

                                        <tr>
                                            <td>
                                                <input type="checkbox" id="CheckA" name="CheckA" value=@Model.ElementAt(i).PlayerId />
                                            </td>
                                            <td>
                                                @sno
                                            </td>

                                            <td>
                                                @Model.ElementAt(i).EmployeeName
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).BranchName
                                            </td>

                                        </tr>
                                        sno++;
                                    }
                                }
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $('#SelectAssignall').change(function () {
        if ($(this).prop('checked')) {
            $('tbody tr td #CheckA').each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $('tbody tr td #CheckA').each(function () {
                $(this).prop('checked', false);
            });
        }
    });



</script>

