@model AsteriskBrowserAL.HDExecutiveGroup
@{
    ViewBag.Title = "AddActorRole";




}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Settings
        </li>
        <li>
            <i class=""></i>
          Help Desk
        </li>
        <li class="active">Executive Group</li>
    </ul><!-- /.breadcrumb -->
}



<section class="content">

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("ExecutiveGroupC", "SeHelpDesk", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <span style="color:red;font-weight:bold;" id="errorEve">@Html.ValidationMessage("Roles")</span>


                <div class="table-header">
               Executive Group
                    <small style="float:right;" class="textheader">
                        @Html.ActionLink("Back to details", "ExecutiveGroup")
                    </small>

                </div>
             
                <div class="widget-box" style="padding:10px;">




               
                    <!-- form start -->
                    <form class="form-horizontal" role="form">

              


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Group Name")</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="GroupName" id="ActorName" />
                                </div>

                                <div class="col-sm-3" style="display:none;" id="vActorName">
                                    <label style="color:red;font-weight:bold;"> Please enter group </label>
                                </div>

                                <div class="col-md-9">
                                    <div class="hr hr-18 dotted hr-double"></div>
                                    <button class="btn btn-success btn-sm" onclick="return Validation();" type="submit" value="Create">
                                        <i class="ace-icon fa fa-check bigger-50"></i>
                                        Save
                                    </button>
                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn btn-sm" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-50"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>

               
       
                        
                    </form>

                </div>
            }
        </div>
        <input type="hidden" id="count" name="count" value="0" />
    </div>
</section>

<script type="text/javascript">



    function isEmptyOrSpaces(str) {
        return str === null || str.match(/^ *$/) !== null;
    }

    function Validation() {
        var ValidationPass = true;

        var ActorName = $('#ActorName').val();

        if (isEmptyOrSpaces(ActorName)) {
            ValidationPass = false;
            $('#vActorName').show();
        }



        return ValidationPass;
    }

    $('#ActorName').click(function () {
        $('#vActorName').hide();
    })


</script>