@model IEnumerable<AsteriskBrowserAL.Models.HDActorRoleData>
@{
    int sno = 1;
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Actors</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class=" box-body table-responsive no-padding">
            <div style="overflow:auto; height:240px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Actor Role Name")
                            </th>
                            <th>
                                @Html.DisplayName("Actor Desendants")
                            </th>
                            <th>

                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var element in Model)
                        {
                            <tr>
                                <td>@(sno++)</td>
                                <td>@element.ActorName</td>
                                <td>@element.ActorDesendants</td>
                                <td>
                                    @Html.ActionLink("Edit", "ActorRoleE", new { id = element.HDActorRoleId }) |
                                    @Html.ActionLink("Delete", "ActorRoleD", new { id = element.HDActorRoleId })
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
