@model IEnumerable<AsteriskBrowserAL.Models.LoggedUsersData>

@{
    ViewBag.Title = "Logged Users";
}


<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Account
        </li>
        <li>
            <i class=""></i>
            Account
        </li>
        <li class="active">Logged Users</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>


<section class="content">
    
    <br />

    @if (null != Model && Model.Count() > 0)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Logged Users</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("User Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Database")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Last Logged Date")
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataBasePath)
                                        </td>
                                        <td>
                                            @if(item.LoggedDate.HasValue)
                                            {
                                                @item.LoggedDate.Value.ToString("dd-MMM-yyy HH:mm:ss tt")
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>Data is not available </b></span>
    }
</section>
