
@using AsteriskBrowserAL.Helpers

@{
    string Userdata = Utility.GetUserRole();

    if (Userdata.ToUpper() == "PT")
   {
        Layout = "~/Views/Shared/Parent_Layout.cshtml";
    }
}



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-sm-12">
        <div class="row">

            @if (null != TempData["Message"])
            {
                <span class="col-lg-offset-2 col-sm-9" style="color:red;">  @TempData["Message"]</span>
            }

            <div class="col-lg-offset-3 col-sm-5">

                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="box">
                    <div class="box-header">
                        <h4 style="text-align:center">Change Password</h4>
                    </div>

                    <div class="space"></div>


                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Password")</label>

                            <div class="col-sm-6">
                                <input class="form-control" type="password" name="Password" required title="Please enter  Password" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Confirm Password")</label>

                            <div class="col-sm-6">
                                <input class="form-control" type="password" name="ConfirmPassword" required title="Please enter Confirm Password" autocomplete="off" />
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <!-- /.col -->
        </div>



        <div class="hr hr-18 dotted hr-double"></div>

        <div class="col-md-offset-4 col-md-9">
            <button class="btn btn-success btn-sm" type="submit">
                <i class="ace-icon fa fa-check bigger-50"></i>
                Change Password
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn btn-sm" type="reset">
                <i class="ace-icon fa fa-undo bigger-50"></i>
                Reset
            </button>
        </div>

    </div>

}

