
@model IEnumerable<AsteriskBrowserAL.Models.FundsTransferViewModel>
@{
    int sno = 1;
}



@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Budgets
        </li>
        <li class="active">Request</li>
    </ul><!-- /.breadcrumb -->
}







<section class="content">
    <br />
    <div class="row">

        <div class="widget-header widget-header-flat widget-header-small">

            <h5 class="widget-title">
                Budget Request
            </h5>

        </div>

        @if (null != Model && Model.Count() > 0)
        {


            <div class="table-header">
                Records Found (@Model.Count())
            </div>

            <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14Px">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("SNo")
                        </th>
                        <th>
                            @Html.DisplayName("HeadName")
                        </th>
                      
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(sno++)
                            </td>
                            <td>
                                @item.HeadName
                            </td>
                           
                            <td>
                                @Html.ActionLink("Request", "RequestBudget", new { id = item.PettyCashHeadId }, new { @Class = "P2" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>



        }
        else
        {
            <div style="color:red;font-weight:bold">Data is not available</div>
        }
    </div>



</section>
@Html.Action("DataTableScripts", "Base")
