@model AsteriskBrowserAL.Module

<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Settings
        </li>
        <li>
            <i class=""></i>
            CUserManagment
        </li>
        <li class="active">Module</li>
    </ol>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h3>@Html.ActionLink("<<Module Details","Module")</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.ValidationMessage("module")
            <div class="box">
                @using (Html.BeginForm("ModuleE", "CUserManagement", FormMethod.Post, new { @class = "form.horizontal" }))
                   {

                    <div class="box-header">
                        <h3 class="box-title">Edit Module</h3>
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;float:right" onclick="return ValidateForm();">Save</button>
                    </div>
                    @Html.HiddenFor(model=>model.ModuleId)
    <div class="box-body">

      
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right">@Html.Label("Module Name")</label>
                <div class="col-sm-3">
                    @Html.TextAreaFor(model=>model.ModuleName,new{@class="form-control col-sm-5 textlength",placeholder="Module Name",@id="ModuleName",@onchange="removeerror();"})
                </div>
                <div class="col-sm-3" style="display:none;" id="VModelName">
                    <label style="color:red;font-weight:bold;">Please Enter Module Name</label>
                </div>
            </div>

       </div>
        <div class="form-group">
            <div class="row">
            <label class="col-sm-3 control-label no-padding-right">@Html.Label("MIcon")</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(model => model.MIcon, new { @class = "form-control col-sm-5 textlength", placeholder = "MIcon", @id = "MIcon", @onchange = "removeerror();" })
            </div>
            <div class="col-sm-3" style="display:none;" id="VMIcon">
                <label style="color:red;font-weight:bold">Please Enter MIcon</label>
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="row">

            <label class="col-sm-3 control-label no-padding-right">@Html.Label("OrderId")</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(model => model.MOrderId, new { @class = "form-control col-sm-5 textlenght", placeholder = "OrderId", @id = "OrderId", @onchange = "removeerror();" })
            </div>
            <div class="col-sm-3" style="display:none" id="VOrderId">
                <label style="color:red;font-weight:bold">Please Enter Order Id</label>
            </div>
        </div>
            </div>
    </div>
                   }

               
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    function ValidateForm() {

        var bValidateForm = true;
        var strModuleName = $('#ModuleName').val();
        var strMIcon = $('#MIcon').val();
        var strOrderId = $('#OrderId').val();

        if (strModuleName == "" || strModuleName == null || strModuleName == undefined)
        {
            bValidateForm = false;
            $('#VModelName').show();
        }
        if (strMIcon == "" || strMIcon == null || strMIcon == undefined)
        {
            bValidateForm = false;
            $('#VMIcon').show();
        }
        if (strOrderId == "" || strOrderId == null || strOrderId == undefined)
        {
            bValidateForm = false;
            $('#VOrderId').show();
        }
        return bValidateForm;
    }

        $('#ModuleName').focus(function () {
            $('#VModelName').hide();
        })


        $('#MIcon').focus(function () {
            $('#VMIcon').hide();
        })
        $('#OrderId').focus(function () {
            $('#VOrderId').hide();
        })

    </script>