@model AsteriskBrowserAL.Models.ModuleData
@{
    ViewBag.Title = "ModuleC";
}
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Settings
            </li>
        <li>
            <li class=""></i>
                CUserManagement
                </li>
        <li class="active">Module</li>
        </ol>
    </section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
        <h3>@Html.ActionLink("<<module","Module")</h3>
        </div>
        </div>
    <br/>
    <div class="row">
        @Html.ValidationMessage("Module")
        <div class="col-xs-12">
            @using (Html.BeginForm("ModuleC", "CUserManagement", FormMethod.Post, new { @class = "form-horizontal" }))
            { 
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Module</h3>
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;" onclick="return ValidationForm();">
                          Save
                            </button>
                        </div>
                    
                     <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Module Name")</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.ModuleName, new { @class = "form-control col-sm-5 textlength", placeholder="Module Name",@id="ModuleName", @onchange="removeerror" })
                                </div>
                            <div class="col-sm-3" style="display:none;"id="Vmodulename">
                                <label style="color:red;font-weight:bold">required</label>
                                </div>
                            </div>
                        
                     <div class="form-group">
                         
                             <label class="col-sm-3 control-label no-padding-right" for="form-field-2">MIcon</label>
                             <div class="col-sm-3">
                                 @Html.TextBoxFor(model => model.MIcon, new { @class="form-control col-sm-5 textlength",placeholder="MIcon",@id="MIcon",@onchange="removeerror"})
                                 </div>
                             <div class="col-sm-3" style="display:none;" id="VmoduleIcon">
                                 <label style="color:red;font-weight:bold">required</label>
                                 </div>
                            
                         </div>
                         <div class="form-group">
                             <label class="col-sm-3 control-label no-padding-right" for="form-field-3">
                                 @Html.Label("OrderId")
                         </label>

                             <div class="col-sm-3">
                            @Html.TextBoxFor(model=>model.OrderId,new{@class="form-control col-sm-5 textlength",placeholder="OrderId",@Id="OrderId",@onchange="removeerror"})
                                 </div>
                             <div class="col-sm-3" style="display:none;"id="Vorderid">
                                 <label style="color:red;font-weight:bold">required</label>
                                 </div>
                     </div>

                </div>    
              </div>
            }
          
       </div>
        </div>
</section>

<script type="text/javascript">
    function ValidationForm()
    {
        var bValidatePass = true;
        var strModelName = $('#ModuleName').val();
        var strMIcon = $('#MIcon').val();
        var strOrderId = $('#OrderId').val();
        if (strModelName == "" || strModelName == null || strModelName == undefined)
        {
            bValidatePass = false;
            $('#Vmodulename').show();
        }
        if (strMIcon == "" || strMIcon == null || strModelName == undefined)
        {
            bValidatePass = false;
            $('#VmoduleIcon').show();
        }
        if (strOrderId == "" || strOrderId == null || strOrderId == undefined)
        {
            bValidatePass = false;
            $('#Vorderid').show();
        }
        return bValidatePass;
    }
    $('#MIcon').focus(function () {
        $('#VmoduleIcon').hide();
    })

    $('#ModuleName').focus(function () {
        $('#Vmodulename').hide();

     
        $('#OrderId').focus(function () {
            $('#Vorderid').hide();
        })

    })
   
   
    </script>


   