@model IEnumerable<AsteriskBrowserAL.Models.ClassAssociationViewModel>
@{
    int sno = 1;
 
}


<style>
    .nowrap {
        white-space: nowrap;
    }
</style>

@if (null != Model)
{



    if (null != Model)
    {
        if (Model.Count() > 0)
        {

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Employee Details</h3>
             

                </div><!-- /.box-header -->

                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <div style="overflow:auto; height:300px;">
                            <table class="table table-hover table-striped table-bordered nowrap" style="font-size:14px;" id="tbl">
                                <tbody>
                                    <tr>
                                        <th>
                                           S.No.
                                        </th>
                                        <th>
                                            @Html.DisplayName("Staff Name")
                                        </th>
                                       
                                        <th>
                                            @Html.DisplayName("Assigned Class")
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(sno++)
                                            </td>
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StaffName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClassNameDisplay)
                                            </td>
                                   
                                        <td>
                                            @Html.ActionLink("Delete", "ClassAssociationD", new {id=@item.ClassAssociationId,BranChId=@item.BranchId })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }
        else
        {
            <label style="color:red;">Data not available for selected search</label>
        }
    }

}


