@model AsteriskBrowserAL.ClassTimings

@{
    ViewBag.Title = "Delete Class Timings";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            TimeTable
        </li>
        <li class="active">Class Timings</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">

    @if (null != Model)
    {
        <div class="row">
            <div class="col-xs-3">
                <h3>@Html.ActionLink("<< Class Timings", "ClassTimings", new { ClassNumber = Model.BatchId.HasValue ? Model.BatchId.Value : 0, DurationId = Model.DurationId.HasValue ? Model.DurationId.Value : 0 })</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("ClassTimingsD", "ATimetable", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div>
                        <span style="color: red;">
                            <b>Are you sure you want to delete this?</b>
                        </span>
                    </div>

                    @Html.HiddenFor(model => model.BatchId)
                    @Html.HiddenFor(model => model.DurationId)
                    @Html.HiddenFor(model => model.ClassTimingsId)
                    @Html.HiddenFor(model => model.ItemStartTime)
                    @Html.HiddenFor(model => model.ItemEndTime)
                    @Html.HiddenFor(model => model.ItemName)



                    <span style="color: red;">@Html.ValidationMessage("ClassTimings")</span>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Class Timings</h3>
                            <br />
                            <button class="btn btn-primary pull-right" style="width:100px" type="submit">
                                Delete
                            </button>
                        </div><!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <table class="table table-bordered table-striped table-hover nowrap">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Start Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("End time")
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.ItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ItemStartTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ItemEndTime)
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                }
            </div>
        </div>
    }




</section>
















@*@model AsteriskBrowserAL.ClassTimings

@{
    ViewBag.Title = "Delete Class Timings";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Transactions
        </li>
        <li>
            <i class=""></i>
            TimeTable
        </li>
        <li class="active">Class Timings</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>

<section class="content">

    @if (null != Model)
    {
        <div class="row">
            <div class="col-xs-3">
                <h3>@Html.ActionLink("<< Class Timings", "ClassTimings", new { ClassNumber = Model.BatchId.HasValue ? Model.BatchId.Value : 0, DurationId = Model.DurationId.HasValue ? Model.DurationId.Value : 0 })</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("ClassTimingsD", "ATimetable", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div>
                        <span style="color: red;">
                            <b>Are you sure you want to delete this?</b>
                        </span>
                    </div>

                    @Html.HiddenFor(model => model.BatchId)
                    @Html.HiddenFor(model => model.DurationId)
                    @Html.HiddenFor(model => model.ClassTimingsId)
                    @Html.HiddenFor(model => model.ItemStartTime)
                    @Html.HiddenFor(model => model.ItemEndTime)
                    @Html.HiddenFor(model => model.ItemName)



                    <span style="color: red;">@Html.ValidationMessage("ClassTimings")</span>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Class Timings</h3>
                            <br />
                            <button class="btn btn-primary pull-right" style="width:100px" type="submit">
                                Delete
                            </button>
                        </div><!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <table class="table table-bordered table-striped table-hover nowrap">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Start Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("End time")
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.ItemName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ItemStartTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ItemEndTime)
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                }
            </div>
        </div>
    }




</section>*@
