@model AsteriskBrowserAL.ClassTimingsDurations
@{
    ViewBag.Title = "Delete Class Timings Durations";
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            TimeTable
        </li>
        <li class="active">Class Timings Durations</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">
    @if (null != Model)
    {
        <div class="row">
            <div class="col-xs-12">
                <h3>@Html.ActionLink("<< Class Timings Durations", "ClassTimingsDurations", new { ClassNumber = Model.BatchId })</h3>
            </div>
        </div>
        <br />
        <span style="color: red;">
            <b>Are you sure you want to delete this?</b>
        </span>
        <div class="row">
            <div class="col-xs-12">

                <span style="color:red">@Html.ValidationMessage("ClassTimingsDurations")</span>

                <div class="box">
                    @using (Html.BeginForm("ClassTimingsDurationsD", "ATimetable", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="box-header">
                            <h3 class="box-title">Class Timings Durations</h3>
                           
                            <button class="btn btn-primary pull-right" style="width:80px" type="submit">
                                Delete
                            </button>

                        </div><!-- /.box-header -->
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ClassTimingsDurationsId)
                        @Html.HiddenFor(model => model.BatchId)
                        @Html.HiddenFor(model => model.StartDate)
                        @Html.HiddenFor(model => model.EndDate)
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Start Date")
                                            </th>

                                            <th>
                                                @Html.DisplayName("End Date")
                                            </th>

                                        </tr>

                                        <tr>
                                            <td>
                                                @if (Model.StartDate.HasValue)
                                                {
                                                    @Model.StartDate.Value.ToString("dd-MMM-yyyy")
                                                }
                                            </td>

                                            <td>
                                                @if (Model.EndDate.HasValue)
                                                {
                                                    @Model.EndDate.Value.ToString("dd-MMM-yyyy")
                                                }
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</section>


