@model IEnumerable<AsteriskBrowserAL.Models.PeriodsData>

@{
    ViewBag.Title = "Period Timings";
    int count = 1;
}


@if (null != Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Periods Timings</h3>
                </div>

                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>

                                    <th>
                                        @Html.DisplayName("Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Item")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Monday")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Tuesday")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Wednesday")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Thursday")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Friday")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Saturday")
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Time
                                        </td>
                                        <td>
                                            @item.PeriodName
                                        </td>

                                        <td>
                                            @if ((!String.IsNullOrWhiteSpace(item.TutorMonday)) || (!String.IsNullOrWhiteSpace(item.Monday)))
                                            {
                                                string changeColornStoreId = "Monday:" + @item.PeriodsId;

                                                <span id="1Monday:@(item.PeriodsId)"> @item.TutorMonday @item.Monday </span>
                                                <a onclick="changecolor(this.id, @count);" id="@changeColornStoreId"><i class="glyphicon glyphicon-remove  pull-right"></i></a>

                                            }
                                            else
                                            {
                                                @item.TutorMonday @item.Monday
                                            }
                                        </td>
                                        <td>
                                            @if ((!String.IsNullOrWhiteSpace(item.TutorTuesday)) || (!String.IsNullOrWhiteSpace(item.Tuesday)))
                                            {
                                                string changeColornStoreId = "Tuesday:" + @item.PeriodsId;

                                                <span id="1Tuesday:@(item.PeriodsId)"> @item.TutorTuesday @item.Tuesday </span>
                                                <a onclick="changecolor(this.id, @count);" id="@changeColornStoreId"><i class="glyphicon glyphicon-remove  pull-right"></i></a>
                                            }
                                            else
                                            {
                                                @item.TutorTuesday @item.Tuesday
                                            }

                                        </td>
                                        <td>
                                            @if ((!String.IsNullOrWhiteSpace(item.TutorWednesday)) || (!String.IsNullOrWhiteSpace(item.Wednesday)))
                                            {
                                                string changeColornStoreId = "Wednesday:" + @item.PeriodsId;

                                                <span id="1Wednesday:@(item.PeriodsId)"> @item.TutorWednesday @item.Wednesday </span>
                                                <a onclick="changecolor(this.id, @count);" id="@changeColornStoreId"><i class="glyphicon glyphicon-remove  pull-right"></i></a>
                                            }
                                            else
                                            {
                                                @item.TutorWednesday @item.Wednesday
                                            }

                                        </td>
                                        <td>
                                            @if ((!String.IsNullOrWhiteSpace(item.TutorThursday)) || (!String.IsNullOrWhiteSpace(item.Thursday)))
                                            {

                                                string changeColornStoreId = "Thursday:" + @item.PeriodsId;

                                                <span id="1Thursday:@(item.PeriodsId)"> @item.TutorThursday @item.Thursday </span>
                                                <a onclick="changecolor(this.id, @count);" id="@changeColornStoreId"><i class="glyphicon glyphicon-remove  pull-right"></i></a>

                                            }
                                            else
                                            {
                                                @item.TutorThursday @item.Thursday
                                            }

                                        </td>
                                        <td>
                                            @if ((!String.IsNullOrWhiteSpace(item.TutorFriday)) || (!String.IsNullOrWhiteSpace(item.Friday)))
                                            {

                                                string changeColornStoreId = "Friday:" + @item.PeriodsId;

                                                <span id="1Friday:@(item.PeriodsId)"> @item.TutorFriday @item.Friday </span>
                                                <a onclick="changecolor(this.id, @count);" id="@changeColornStoreId"><i class="glyphicon glyphicon-remove  pull-right"></i></a>

                                            }
                                            else
                                            {
                                                @item.TutorFriday @item.Friday
                                            }

                                        </td>
                                        <td>
                                            @if ((!String.IsNullOrWhiteSpace(item.TutorSaturday)) || (!String.IsNullOrWhiteSpace(item.Saturday)))
                                            {

                                                string changeColornStoreId = "Saturday:" + @item.PeriodsId;

                                                <span id="1Saturday:@(item.PeriodsId)"> @item.TutorSaturday @item.Saturday </span>
                                                <a onclick="changecolor(this.id, @count);" id="@changeColornStoreId"><i class="glyphicon glyphicon-remove  pull-right"></i></a>

                                            }
                                            else
                                            {
                                                @item.TutorSaturday @item.Saturday
                                            }

                                        </td>
                                    </tr>
                                            count++;
                                }

                            </tbody>

                        </table>
                        <br/>
                        <button style="width:80px" class="btn btn-primary col-xs-1" name="Delete" value="Delete" onclick="return RemovePeriodFromTT();">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="newcolorc1" value="0" />
    <input type="hidden" id="arrayIds" name="array" value="" />

}
