@model List<AsteriskBrowserAL.Models.StaffData>




        <table id="tbAllStaff" class="table tbhover table-striped table-bordered">
    <tbody>
        <tr>
            <th>
                <input type="checkbox" id="SelectAssignall" class="checkbox" />
            </th>
            <th>
                @Html.DisplayName("Employee No")
            </th>
            <th>
                @Html.DisplayName("Employee Name")
            </th>
        </tr>
        @if (null != Model && Model.Count() > 0)
        {
            if (null != Model && Model.Count() > 0)
            {
                for (int i = 0; i < Model.Count(); i++)
                {

                    <tr>
                        @Html.Hidden("HiddenStaffId", Model.ElementAt(i).StaffId)
                        <td>
                            @Html.Hidden("TobeAssignedStaff.Index", (@i + 10))
                            @Html.Hidden("TobeAssignedStaff[" + (@i + 10) + "].StaffId", Model.ElementAt(i).StaffId)
                            @Html.Hidden("TobeAssignedStaff[" + (@i + 10) + "].EmployeeNumber", Model.ElementAt(i).EmployeeNumber)
                            @Html.Hidden("TobeAssignedStaff[" + (@i + 10) + "].FirstName", Model.ElementAt(i).FirstName)
                            @Html.CheckBox("TobeAssignedStaff[" + (@i + 10) + "].IsChecked", Model.ElementAt(i).IsChecked, new { @id = "CheckA", @name = "CheckRemove", @Value = Model.ElementAt(i).StaffId  ,@class= "checkbox"})
                            @Html.Hidden("TobeAssignedStaff[" + (@i + 10) + "].IsChecked", Model.ElementAt(i).IsChecked)
                        </td>
                        <td>
                            @Model.ElementAt(i).EmployeeNumber
                        </td>

                        <td>
                            @Model.ElementAt(i).FirstName
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
    

<script>
    $('#SelectAssignall').change(function () {
        if ($(this).prop('checked')) {
            $('tbody tr td #CheckA').each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $('tbody tr td #CheckA').each(function () {
                $(this).prop('checked', false);
            });
        }
    });
</script>
 


