@model AsteriskBrowserAL.Models.ZoomTimeTableModel
@{
    ViewBag.Title = "TeacherZoomClasses";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            TimeTable
        </li>
        <li class="active">Online Classes</li>
    </ul><!-- /.breadcrumb -->
}



<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>



<section class="content">
    @if (Model != null)
    {
        int nsno = 1;

        <div class="table-header">
            Records Found (@Model.lstZoomTimeTableModel.Count())
        </div>
        <div style="overflow:auto;height:400px">
            <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("SNo")
                        </th>
                        <th>
                            @Html.DisplayName("Period")
                        </th>
                        <th>
                            @Html.DisplayName("Monday")
                        </th>
                        <th>
                            @Html.DisplayName("Tusday")
                        </th>
                        <th>
                            @Html.DisplayName("Wednesday")
                        </th>
                        <th>
                            @Html.DisplayName("Thursday")
                        </th>
                        <th>
                            @Html.DisplayName("Friday")
                        </th>
                        <th>
                            @Html.DisplayName("Saturday")
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.lstZoomTimeTableModel.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.Hidden("StudentList.Index", (@i + 10))
                                @(nsno++)
                            </td>
                            <td>
                                @Html.Hidden("StudentList[" + (@i + 10) + "].ClassTimingId", Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId)
                                @Html.Hidden("StudentList[" + (@i + 10) + "].SectionId", Model.lstZoomTimeTableModel.ElementAt(i).SectionId)
                                @Model.lstZoomTimeTableModel.ElementAt(i).PeriodName
                            </td>
                            @if (Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.IsShow)
                            {
                                <td>
                                    <i class="fa fa-hand-o-right bilnk"></i>
                                    @*@Html.ActionLink(@Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.SubjectName, "Attendance", new { Link = Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.Link, ClassTimingId = Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId, SubjectId = Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.SubjectId }, new { target = "_blank" })*@
                                    <a href="@Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.Link" target="_blank">
                                            @Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.SubjectName
                                        </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Model.lstZoomTimeTableModel.ElementAt(i).MLiveClasses.SubjectName
                                </td>
                            }
                            @if (Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.IsShow)
                            {
                        <td>
                            <i class="fa fa-hand-o-right bilnk"></i>
                            @*@Html.ActionLink(@Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.SubjectName, "Attendance", new { Link = Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.Link, ClassTimingId = Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId, SubjectId = Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.SubjectId }, new { target = "_blank" })*@
                            <a href="@Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.Link" target="_blank">
                                @Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.SubjectName
                            </a>
                        </td>
                            }
                            else
                            {
                                <td>
                                    @Model.lstZoomTimeTableModel.ElementAt(i).TLiveClasses.SubjectName
                                </td>
                            }
                            @if (Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.IsShow)
                            {
                                <td>
                                    <i class="fa fa-hand-o-right bilnk"></i>
                                    @*@Html.ActionLink(@Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.SubjectName, "Attendance", new { Link = Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.Link, ClassTimingId = Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId, SubjectId = Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.SubjectId }, new { target = "_blank" })*@
                                    <a href="@Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.Link" target="_blank">
                                            @Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.SubjectName
                                        </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Model.lstZoomTimeTableModel.ElementAt(i).WLiveClasses.SubjectName
                                </td>
                            }
                            @if (Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.IsShow)
                            {
                                <td>
                                    <i class="fa fa-hand-o-right bilnk"></i>
                                    @*@Html.ActionLink(@Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.SubjectName, "Attendance", new { Link = Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.Link, ClassTimingId = Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId, SubjectId = Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.SubjectId }, new { target = "_blank" })*@
                                    <a href="@Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.Link" target="_blank">
                                            @Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.SubjectName
                                        </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Model.lstZoomTimeTableModel.ElementAt(i).THLiveClasses.SubjectName
                                </td>
                            }
                            @if (Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.IsShow)
                            {
                                <td>
                                    <i class="fa fa-hand-o-right bilnk"></i>
                                    @*@Html.ActionLink(@Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.SubjectName, "Attendance", new { Link = Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.Link, ClassTimingId = Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId, SubjectId = Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.SubjectId }, new { target = "_blank" })*@
                                    <a href="@Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.Link" target="_blank">
                                            @Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.SubjectName
                                        </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Model.lstZoomTimeTableModel.ElementAt(i).FLiveClasses.SubjectName
                                </td>
                            }
                            @if (Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.IsShow)
                            {
                                <td>
                                    <i class="fa fa-hand-o-right bilnk"></i>
                                    @*@Html.ActionLink(@Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.SubjectName, "Attendance", new { Link = Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.Link, ClassTimingId = Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId, SubjectId = Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.SubjectId }, new { target = "_blank" })*@
                                    <a href="@Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.Link" target="_blank">
                                            @Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.SubjectName
                                        </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Model.lstZoomTimeTableModel.ElementAt(i).SLiveClasses.SubjectName
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Action("DataTableScripts", "Base")

    }

</section>

