
@model AsteriskBrowserAL.Models.StaffData

<style>
    .required:first-letter {
        color: red;
        font-weight: bold;
    }
</style>

@if (null != Model)
{
    <input type="hidden" name="StaffId" value="@Model.StaffId">
    <div class="hr hr-18 dotted hr-double"></div>
    
            <div class="row">
                <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="table-header">
                                Teacher Assignments
                                <div style="float:right;">
                                    <button type="submit" name="Save" class="btn btn-info btn-xs P2" style="margin-top:2px">
                                        <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                                    </button>
                                </div>
                            </div>
                     
                            <div class="widget-body">
                                <div class="widget-main">

                                    <div class="row">
                                        <div class="col-xs-12">

                                            <div class="form-group">

                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">@Html.Label("Classes can Handle")</label>
                                                <div class="col-sm-9">
                                                    @Html.ListBoxFor(model => model.lstClassesCanHandle, new SelectList(Model.lstClassNumbers, "ClassNumber", "ClassNumberDisplay", 0), new { @class = "form-control select2", id = "ClassId", @multiple = "multiple" })
                                                </div>
                                                <div class="col-xs-1">
                                                    <label> <input type="checkbox" id="checkboxClass"> All</label>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">@Html.Label("Subjects can Teach")</label>
                                                <div class="col-sm-9">
                                                    @Html.ListBoxFor(model => model.lstSubjectsCanTeach, new SelectList(Model.lstSubjects, "SubjectName", "SubjectName", 0), new { @class = "form-control select2", id = "SubjectId", @multiple = "multiple" })
                                                </div>
                                                <div class="col-xs-1">
                                                    <label> <input type="checkbox" id="checkboxSubject"> All</label>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
            </div>

        </div>
         
            }

            <script>

                $(".select2").select2()


                $("#checkboxClass").click(function () {
                    if ($("#checkboxClass").is(':checked')) {
                        $("#ClassId > option").prop("selected", "selected");
                        $("#ClassId").trigger("change");
                    } else {
                        $("#ClassId > option").removeAttr("selected");
                        $("#ClassId").trigger("change");
                    }
                });

                $("#checkboxSubject").click(function () {
                    if ($("#checkboxSubject").is(':checked')) {
                        $("#SubjectId > option").prop("selected", "selected");
                        $("#SubjectId").trigger("change");
                    } else {
                        $("#SubjectId > option").removeAttr("selected");
                        $("#SubjectId").trigger("change");
                    }
                });
            </script>
