@model AsteriskBrowserAL.Models.TimeTableViewModel
@{
    List<AsteriskBrowserAL.Subjects> Colours = new List<AsteriskBrowserAL.Subjects>();
    Colours.Add(new Subjects { SubjectId = 0, SubjectName = "label-danger" });
    Colours.Add(new Subjects { SubjectId = 1, SubjectName = "label-grey" });
    Colours.Add(new Subjects { SubjectId = 2, SubjectName = "label-purple" });
    Colours.Add(new Subjects { SubjectId = 3, SubjectName = "label-pink" });
    Colours.Add(new Subjects { SubjectId = 4, SubjectName = "elabel-info" });
    int Countn = Colours.Count();
    int j = 0;


    string tdIdM = "";
    string tdIdT = "";
    string tdIdW = "";
    string tdIdTH = "";
    string tdIdF = "";
    string tdIdS = "";
    string tdIdSU = "";



}
@*<link href="~/assets/css/Tables.css" rel="stylesheet" />*@

<style>
    .divMyTags {
        text-align: center;
    }

        .divMyTags div.existingTag {
            position: relative;
            color: #EEE;
            font-size: 12px;
            font-family: Times;
            display: inline-block;
            border: none;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            padding: 8px;
            margin: 5px;
        }

    .closeButton {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 27px;
        height: 27px;
        background: url('http://cdn-sg1.pgimgs.com/images/pg/close-button.png') no-repeat center center;
    }

    warning, .badge-warning {
        background-color: #428BCA;
    }

    .IconPosition {
        position: absolute;
        top: -12px;
        right: 54px;
        width: 25px;
        height: 17px;
    }

    .profile-activity:hover {
        background-color: rgba(0,0,0,.5);
    }


    .profile-activity .tools {
        position: absolute;
        right: 1px;
        bottom: 41px;
        display: none;
    }
</style>




<style type="text/css">
    /*.left {
            width: 120px;
            float: left;
        }*/

    .left table {
        background: #E0ECFF;
    }

    .left td {
        background: #eee;
    }

    /*.right {
            float: right;
            width: 570px;

        }*/

    .right table {
        background: #a82682;
    }

    .right td {
        background: #fafafa;
        color: #444;
        text-align: center;
        padding: 2px;
    }

    .right td {
        background: #E0ECFF;
    }

        .right td.drop {
            background: #fafafa;
            width: 100px;
        }

        .right td.over {
            background: #FBEC88;
        }

    /*.item {
            text-align: center;
            border: 1px solid #499B33;
            color: #444;
            width: 200px;
        }*/


    /* some elements used in demo only */
    .spinner-preview {
        width: 100px;
        height: 100px;
        text-align: center;
        margin-top: 60px;
    }

    .dropdown-preview {
        display: inline-block;
    }

        .dropdown-preview > .dropdown-menu {
            display: block;
            position: center;
            margin-bottom: 5px;
        }


    .member tr:hover {
        background-color: rgba(41, 103, 182, 0.89);
        color: #a82682;
    }

    .member tr.selected {
        background-color: rgba(41, 103, 182, 0.89);
        color: #a82682;
    }

    #SubjectTable tr {
        cursor: pointer;
    }

    .right tr {
        cursor: pointer;
    }
</style>


<style>
    .table3 thead td {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: relative;
        min-height: 38px;
        background: #E0ECFF;
        background-image: -webkit-linear-gradient(top,#ECF2F7 0,#d4e2f9 100%);
        background-image: -o-linear-gradient(top,#ECF2F7 0,#d4e2f9 100%);
        background-image: linear-gradient(to bottom,#ECF2F7 0,#d4e2f9 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
        color: #a82682;
        font-size: 12px;
        border-bottom: 1px solid #DDD;
        padding-left: 12px;
    }


    .table3 tbody tr .time {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: relative;
        min-height: 38px;
        background: #E0ECFF;
        background-image: -webkit-linear-gradient(top,#ECF2F7 0,#d4e2f9 100%);
        background-image: -o-linear-gradient(top,#ECF2F7 0,#d4e2f9 100%);
        background-image: linear-gradient(to bottom,#ECF2F7 0,#d4e2f9 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
        color: #a82682;
        font-size: 12px;
        border-bottom: 1px solid #DDD;
        padding-left: 12px;
    }

    .table3 tbody tr .lunch {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: relative;
        min-height: 38px;
        background: #E0ECFF;
        background-image: -webkit-linear-gradient(top,#ECF2F7 0,#d4e2f9 100%);
        background-image: -o-linear-gradient(top,#ECF2F7 0,#d4e2f9 100%);
        background-image: linear-gradient(to bottom,#ECF2F7 0,#d4e2f9 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
        color: #a82682;
        font-size: 12px;
        border-bottom: 1px solid #DDD;
        padding-left: 12px;
    }
</style>

<div class="hr hr-18 dotted hr-double"></div>


<div class="widget-box">
    <div class="widget-header widget-header-flat widget-header-small ">
        <div class="table-header">
           Tutor Timings

            <div style="float:right">
                <button class="btn btn-info btn-minier" type="submit" onclick="SaveData()">
                    <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                </button>
            </div>
        </div>


    </div><!-- /.box-header -->


    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-sm-10">
                    <div class="alert alert-info">
                        <i class="ace-icon fa fa-hand-o-right"></i>

                        Icon  <i class="ace-icon fa fa-leaf blue"></i>  Represent absent

                    </div>
                    <br /><br />
                </div>


                <div class="col-sm-10">
                    <div class="right">
                        <table class="table tbhover table-striped table-bordered table3" id="Periods">
                            <thead class="Boxedthead">
                                <tr>
                                    <td class="blank"></td>

                                    @if (Model.WeekDays.Count() > 0)
                                    {
                                        foreach (var c in Model.WeekDays)
                                        {
                                            string Date = c.Date.ToString("dd - MMM - yyyy");
                                            <td class="title">
                                                <span>
                                                    @c.WeekName
                                                </span>
                                                <br />
                                                <span>
                                                    @c.WeekDay
                                                </span>
                                            </td>

                                        }

                                    }
                                </tr>

                            </thead>
                            <tbody>
                                @if (Model.Periods.Count() > 0)
                                {
                                    foreach (var s in Model.Periods)
                                    {

                                        if (s.IsBreak == false)
                                        {

                                            j = 0;


                                            <tr>
                                                <td class="time">
                                                    <span>
                                                        @s.PeriodName
                                                    </span>
                                                    <br />
                                                    <span>
                                                        @s.PeriodTimings
                                                    </span>
                                                </td>

                                                @{

                                            tdIdM = s.ClassTimingsId + "~(M)";
                                            tdIdT = s.ClassTimingsId + "~(T)";
                                            tdIdW = s.ClassTimingsId + "~(W)";
                                            tdIdTH = s.ClassTimingsId + "~(TH)";
                                            tdIdF = s.ClassTimingsId + "~(F)";
                                            tdIdS = s.ClassTimingsId + "~(S)";
                                            tdIdSU = s.ClassTimingsId + "~(SU)";
                                                }
                                                <td class="drop divMyTags Cursor" id="@tdIdM">

                                                    @if (!string.IsNullOrWhiteSpace(s.Monday) || !string.IsNullOrWhiteSpace(s.TutorMonday))
                                                    {


                                                        string Id = s.PeriodsId + "-M";
                                                        string AId = Id + "-a";
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;



                                                        <div class="item  existingTag @color inline action-buttons profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.MondayStatus == "A")
                                                            {
                                                                <span class="IconPosition">
                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>

                                                            }
                                                            @s.Monday / @s.TutorMonday
                                                        </div>
                                                    }

                                                </td>
                                                <td class="drop divMyTags" id="@tdIdT">


                                                    @if (!string.IsNullOrWhiteSpace(s.Tuesday) || !string.IsNullOrWhiteSpace(s.TutorTuesday))
                                                    {
                                                        string Id = s.PeriodsId + "-T";
                                                        string AId = Id + "-a";
                                                        j++;
                                                        if (j == Countn - 1)
                                                        {
                                                            j = 0;
                                                        }
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;

                                                        <div class="item existingTag @color inline action-buttons profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.TuesdayStatus == "A")
                                                            {
                                                                <span class="IconPosition">

                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>

                                                            }
                                                              @s.Tuesday/@s.TutorTuesday
                                                        </div>

                                                    }
                                                </td>
                                                <td class="drop divMyTags" id="@tdIdW">


                                                    @if (!string.IsNullOrWhiteSpace(s.Wednesday) || !string.IsNullOrWhiteSpace(s.TutorWednesday))
                                                    {
                                                        string Id = s.PeriodsId + "-W";
                                                        string AId = Id + "-a";
                                                        j++;
                                                        if (j == Countn - 1)
                                                        {
                                                            j = 0;
                                                        }
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;

                                                        <div class="item existingTag @color inline action-buttons profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.WednesdayStatus == "A")
                                                            {
                                                                <span class="IconPosition">
                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>

                                                            }
                                                            @s.Wednesday/@s.TutorWednesday
                                                        </div>

                                                    }
                                                </td>
                                                <td class="drop divMyTags" id="@tdIdTH">

                                                    @if (!string.IsNullOrWhiteSpace(s.Thursday) || !string.IsNullOrWhiteSpace(s.TutorThursday))
                                                    {
                                                        string Id = s.PeriodsId + "-TH";
                                                        string AId = Id + "-a";
                                                        j++;
                                                        if (j == Countn - 1)
                                                        {
                                                            j = 0;
                                                        }
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;

                                                        <div class="item existingTag @color inline action-buttons profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.ThursdayStatus == "A")
                                                            {
                                                                <span class="IconPosition">
                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>

                                                            }
                                                            @s.Thursday/@s.TutorThursday
                                                        </div>

                                                    }
                                                </td>
                                                <td class="drop divMyTags" id="@tdIdF">

                                                    @if (!string.IsNullOrWhiteSpace(s.Friday) || !string.IsNullOrWhiteSpace(s.TutorFriday))
                                                    {
                                                        string Id = s.PeriodsId + "-F";
                                                        string AId = Id + "-a";
                                                        j++;
                                                        if (j == Countn - 1)
                                                        {
                                                            j = 0;
                                                        }
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;

                                                        <div class="item existingTag @color inline action-buttons profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.FridayStatus == "A")
                                                            {
                                                                <span class="IconPosition">
                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>
                                                            }
                                                            @s.Friday/@s.TutorFriday
                                                        </div>

                                                    }
                                                </td>
                                                <td class="drop divMyTags " id="@tdIdS">

                                                    @if (!string.IsNullOrWhiteSpace(s.Saturday) || !string.IsNullOrWhiteSpace(s.TutorSaturday))
                                                    {
                                                        string Id = s.PeriodsId + "-S";
                                                        string AId = Id + "-a";
                                                        j++;
                                                        if (j == Countn - 1)
                                                        {
                                                            j = 0;
                                                        }
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;

                                                        <div class="item existingTag @color inline action-buttons profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.SaturdayStatus == "A")
                                                            {
                                                                <span class="IconPosition">
                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>

                                                            }
                                                            @s.Saturday/@s.TutorSaturday
                                                        </div>

                                                    }
                                                </td>
                                                <td class="drop divMyTags" id="@tdIdSU">

                                                    @if (!string.IsNullOrWhiteSpace(s.Sunday) || !string.IsNullOrWhiteSpace(s.TutorSunday))
                                                    {
                                                        string Id = s.PeriodsId + "-SU";
                                                        string AId = Id + "-a";
                                                        j++;
                                                        if (j == Countn - 1)
                                                        {
                                                            j = 0;
                                                        }
                                                        string color = Colours.FirstOrDefault(c => c.SubjectId == j).SubjectName;

                                                        <div class="item existingTag @color inline action-buttons profile-activity profile-activity" data-class="@color" id="@Id" ondblclick="GetStaffData('@Id')">
                                                            @if (s.SundayStatus == "A")
                                                            {
                                                                <span class="IconPosition">
                                                                    <i class="ace-icon fa fa-leaf blue"></i>

                                                                </span>

                                                            }
                                                            @s.Sunday/@s.TutorSunday
                                                        </div>

                                                    }
                                                </td>
                                            </tr>


                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="time">@s.PeriodName</td>
                                                <td class="lunch" colspan="@Model.WeekDays.Count()">Break</td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>


                        </table>
                    </div>
                </div>

              
                <div class="col-sm-2">
                    <br />
                    <br />
                    <br />
                    <br />


                    <div class="col-xs-8 col-sm-9 pricing-span-body" >

                        <div class="pricing-span">
                            <div class="widget-box pricing-box-small ">
                                <div class="widget-header">
                                    <h5 class="widget-title">Staff</h5>
                                </div>
                                <div class="widget-body" style="overflow:auto; height:200px;">
                                    <div class="widget-main no-padding">
                                        <div class="left" id="StaffData">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




            </div><!-- /.row -->

        </div>
    </div>
    <div id="modal-table" class="modal fade in" tabindex="-1" style="display: none; padding-right: 17px;" aria-hidden="false">
        <div class="modal-backdrop fade in" style="height: 356px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">×</span>
                        </button>
                        Time Table Today
                    </div>
                </div>

                <div class="modal-body no-padding" id="TimeTableToday">

                </div>

                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Ok
                    </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div id="modal-table" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>
                        Time Table Today
                    </div>
                </div>

                <div class="modal-body no-padding" id="TimeTableToday">

                </div>

                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Ok
                    </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>

    </div>

<input type="hidden" name="RemoveStaff" id="RemoveStaff" />

<input type="hidden" name="SelectedStaffandSubject" id="SelectedStaffandSubject" />






<script>


    $("#SubjectTable tbody tr").click(function () {
        console.log('clicked');
        $(this).addClass('selected').siblings().removeClass("selected");
    });

    function GetStaffData(Period) {
        debugger
        $("#imagemodal").show();

        $("#Periods tbody tr td  ").css({ "background": "" });
        $("#" + Period).closest("td").css({ "background": "#438EB9" })
        //document.getElementById(Period).style.background  = "#438EB9"
        document.getElementById("SelectedStaffandSubject").value =  Period //on div double click storing the Div Id
        $.ajax({
            url: '/ATimetable/GetSubstituteStaffByPeriod',
            data: { Period: Period },
            success: function (result) {
                $("#StaffData").html(result)
                $("#imagemodal").hide();

            }
        })
    }


    $(".right td").on('mouseover', function () {
        $(this).css('cursor', 'pointer');
    })

    function CloseDiv(val) {
        val = val.replace("-a", "");
        $("#" + val).remove()
        document.getElementById("RemoveStaff").value += val + ","

    }

    function CloseDragDiv(val) {

        val = val.replace("-a", "");

        $("#" + val).remove()

    }




    function SaveData() {
        debugger
        var ClassNumber = $("#ClassId").val();
        var Data = ""
        var WeekDate = $("#WeekNumberId option:selected").text()
        $('.StaffAssigned').each(function () {
            var SubjectIdNStaffId = this.id;
            var PeriodNWeek = $("#" + this.id).closest("td").attr('id')
            Data += this.id + ":" + PeriodNWeek + ",";
        });

        if (Data != "") {
            $("#imagemodal").show();

            $.ajax({
                url: '/ATimetable/SaveTimeTable',
                data: { strSavevalues: Data, nclassId: ClassNumber, strWeekDates: WeekDate,IsTutor:true },
                success: function (data) {
                    $("#imagemodal").hide();

                    document.getElementById("SaveVal").innerHTML = data
                }

            })

        }
    }


@*TimeTableToday*@

  



</script>







