@model AsteriskBrowserAL.Models.ZoomTimeTableModel
@{
}

@Html.Action("DataTableScripts", "Base", new { IsPaging = false })

<div class="hr hr-18 dotted hr-double"></div>
@if (null != Model && null != Model.lstZoomTimeTableModel && Model.lstZoomTimeTableModel.Count() > 0)
{
    int nsno = 1;

    <div class="table-header">
        Records Found (@Model.lstZoomTimeTableModel.Count())
        <div style="float:right;">
            <button type="submit" name="save" id="save" class="btn btn-info btn-xs P2">
                <i class="ace-icon fa fa-floppy-o bigger-180"></i>
            </button>
        </div>
    </div>
    <div style="overflow:auto;height:400px">
        <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("SNo")
                    </th>
                    <th>
                        @Html.DisplayName("Period")
                    </th>
                    <th>
                        @Html.DisplayName("Monday")
                    </th>
                    <th>
                        @Html.DisplayName("Tusday")
                    </th>
                    <th>
                        @Html.DisplayName("Wednesday")
                    </th>
                    <th>
                        @Html.DisplayName("Thursday")
                    </th>
                    <th>
                        @Html.DisplayName("Friday")
                    </th>
                    <th>
                        @Html.DisplayName("Saturday")
                    </th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.lstZoomTimeTableModel.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.Hidden("StudentList.Index", (@i + 10))
                            @(nsno++)
                        </td>
                        <td>
                            @Html.Hidden("StudentList[" + (@i + 10) + "].ClassTimingId", Model.lstZoomTimeTableModel.ElementAt(i).ClassTimingId)
                            @Html.Hidden("StudentList[" + (@i + 10) + "].SectionId", Model.lstZoomTimeTableModel.ElementAt(i).SectionId)
                            @Model.lstZoomTimeTableModel.ElementAt(i).PeriodName
                        </td>

                        <td>
                            @Html.DropDownList("StudentList[" + (@i + 10) + "].MSubjectId", new SelectList(Model.MSubjects, "SubjectId", "SubjectName", Model.lstZoomTimeTableModel.ElementAt(i).MSubjectId), new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("StudentList[" + (@i + 10) + "].TSubjectId", new SelectList(Model.TSubjects, "SubjectId", "SubjectName", Model.lstZoomTimeTableModel.ElementAt(i).TSubjectId), new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("StudentList[" + (@i + 10) + "].WSubjectId", new SelectList(Model.WSubjects, "SubjectId", "SubjectName", Model.lstZoomTimeTableModel.ElementAt(i).WSubjectId), new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("StudentList[" + (@i + 10) + "].THSubjectId", new SelectList(Model.THSubjects, "SubjectId", "SubjectName", Model.lstZoomTimeTableModel.ElementAt(i).THSubjectId), new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("StudentList[" + (@i + 10) + "].FSubjectId", new SelectList(Model.FSubjects, "SubjectId", "SubjectName", Model.lstZoomTimeTableModel.ElementAt(i).FSubjectId), new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("StudentList[" + (@i + 10) + "].SSubjectId", new SelectList(Model.SSubjects, "SubjectId", "SubjectName", Model.lstZoomTimeTableModel.ElementAt(i).SSubjectId), new { @class = "form-control" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color: red;"><b>No data to display</b></span>
}



<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode

        if (charCode == 46)
            return true;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>





