@model AsteriskBrowserAL.Events

@{
    ViewBag.Title = "EventsD";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Calendar
        </li>
        <li class="active">Events</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class="col-xs-3">
            @*<h3>@Html.ActionLink("<< Events Details", "Events")</h3>*@
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("EventsD", "ACalendar", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <input type="hidden" name="id" id="id" value="@Model.EventId" />
                <div>
                    <span style="color: red;">
                        <b>Are you sure you want to delete this?</b>
                    </span>
                </div>

                <div class="box">
                    <span style="color:red;font-weight:bold" id="Validation"></span>
                    <div class="box-header">
                        <h3 class="box-title">EventsD</h3>
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;" onclick="return submitForm()">
                            Delete
                        </button>
                    </div>
                    @*<div>
                            <span style="color: red;">
                                <b>Are you sure you want to delete this?</b>
                            </span>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Events</h3>
                                <br />
                                <br />
                                <div>
                                    <button class="btn btn-primary" type="submit">
                                        Delete
                                    </button>
                                </div>
                            </div>*@<!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <div style="overflow:auto;">

                            <div class="box">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>

                                                @Html.DisplayName("Start Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("End Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Event")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Priority")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Status")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Subject")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Send SMS To")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Send SMS On")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Selected Items")
                                            </th>

                                        </tr>

                                        <tr>
                                            <td>
                                                if(@Model.StartDate.HasValue)
                                                {
                                                @Model.StartDate.Value.ToString("dd-MMM-yyyy")
                                                }
                                            </td>
                                            <td>
                                                @Model.StartDate.Value.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                if(@Model.EndDate.HasValue)
                                                {
                                                @Model.EndDate.Value.ToString("dd-MMM-yyyy")
                                                }
                                            </td>
                                            <td>
                                                @Model.EndDate.Value.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Event)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Priority)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Subject)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.SendSMSTo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.SendSMSOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.SelectionList)
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<script>
    function submitForm() {
        var valid = true;

        var Id = $('#id').val();

        if (Id > 0) {
            $.ajax({

                url: '/ACalendar/ValidationForEventsD',
                data: { Id: Id },
                success: function (data) {
                    if (data != "") {
                        document.getElementById('Validation').innerHTML = data;
                        valid = false;
                    }
                },
                async: false
            })
        }

        return valid;
    }
</script>