@model AsteriskBrowserAL.Models.SubscriptionsData

@{
    ViewBag.Title = "_ParentDashBoardPartialView";


}



@if (null != Model)
{


    if (null != Model.AdminDashBoard)
    {
       
        <div class="col-sm-12" style="height:220px;">
            @if (Model.AdminDashBoard.AccountId == 1 || Model.AdminDashBoard.AccountId == 0)
            {
                <div class="col-sm-12" style="height: 220px;">

                    @*@if (Model.AdminDashBoard.FinanceId == 1)
                        {
                        <div class="col-sm-12" style="height: 200px; overflow: auto;">

                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Fee Particular")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Today")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Month")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Financial Year")
                                        </th>
                                    </tr>
                                    @if(null != Model.AdminDashBoard.FinanceCollection && Model.AdminDashBoard.FinanceCollection.Count() > 0)
                                            {
                                                foreach (var item in Model.AdminDashBoard.FinanceCollection)
                                                {
                                            <tr>
                                                <td style="text-transform: capitalize;">@item.FeeParticularName</td>
                                                <td>@item.Today</td>
                                                <td>@item.Month</td>
                                                <td>@item.Year</td>
                                            </tr>
                                                }
                                            }



                                </tbody>
                            </table>

                        </div>
                        }*@
                    @if (Model.AdminDashBoard.FinanceId == 1 || Model.AdminDashBoard.FinanceId == 0)
                    {
                        <div class="col-sm-12" style="height: 180px; overflow: auto;">

                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Branch Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Today")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Month")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Financial Year")
                                        </th>
                                    </tr>
                                    @foreach (var item in Model.AdminDashBoard.FinanceCollection)
                                    {
                                        <tr>
                                            <td>@item.InstituteName</td>
                                            <td>@string.Format("{0:N0}", item.Today) </td>
                                            <td>@string.Format("{0:N0}", item.Month) </td>
                                            <td>@string.Format("{0:N0}", item.Year) </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    else if (Model.AdminDashBoard.FinanceId == 2)
                    {
                        <div class="col-sm-12" style="height: 180px; overflow: auto;">
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Branch Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Today")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Month")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Financial Year")
                                        </th>
                                    </tr>
                                    @foreach (var item in Model.AdminDashBoard.FinanceCollection)
                                    {
                                        <tr>
                                            <td>@item.InstituteName</td>
                                            <td>@string.Format("{0:N0}", item.Today) </td>
                                            <td>@string.Format("{0:N0}", item.Month) </td>
                                            <td>@string.Format("{0:N0}", item.Year) </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>
                    }
                    else if (Model.AdminDashBoard.FinanceId == 3)
                    {
                        <div class="col-sm-12" style="height: 180px; overflow: auto;">

                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Branch Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Today")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Month")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Financial Year")
                                        </th>
                                    </tr>
                                    @foreach (var item in Model.AdminDashBoard.FinanceCollection)
                                    {
                                        <tr>
                                            <td>@item.InstituteName</td>
                                            <td>@string.Format("{0:N0}", item.Today) </td>
                                            <td>@string.Format("{0:N0}", item.Month) </td>
                                            <td>@string.Format("{0:N0}", item.Year) </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>


                        </div>
                    }
                    @* </div> *@

                </div>
            }
            else if (Model.AdminDashBoard.AccountId == 2)
            {
                <div class="col-sm-12" style="height: 220px;overflow:auto">
                    @if (null != Model.AdminDashBoard.lstFeeDues)
                    {
                        <div class="row">


                            <div class="col-sm-6" id="chartFeeDues" style="height: 200px;">
                                <script type="text/javascript">
                                    $(function () {
                                        $.ajax({
                                            type: 'POST',
                                            dataType: 'json',
                                            contentType: 'application/json',
                                            url: '@Url.Action("GetFeeDuesChart")',
                                            data: '{}',
                                            success: function (chartsdata) {

                                                // Callback that creates and populates a data table,
                                                // instantiates the pie chart, passes in the data and
                                                // draws it.

                                                var data = new google.visualization.DataTable();

                                                data.addColumn('string', 'Fee Particular');
                                                data.addColumn('number', 'Amount');

                                                for (var i = 0; i < chartsdata.length; i++) {
                                                    data.addRow([chartsdata[i].StudentDisplayName, chartsdata[i].DueAmount]);
                                                }
                                                // Instantiate and draw our chart, passing in some options
                                                var chart = new google.visualization.BarChart(document.getElementById('chartFeeDues'));

                                                chart.draw(data,
                                                  {
                                                      title: "Fee Dues",
                                                      position: "top",
                                                      fontsize: "14px",
                                                      chartArea: { width: '50%' },
                                                  });
                                            },
                                            error: function () {
                                            }
                                        });
                                    })

                                </script>
                            </div>


                            <div class="col-sm-6">
                                <div class="box-body table-responsive no-padding" style="height: 200px;">
                                    <table id="dynamic-table" class="table table-hover">
                                        <tbody>
                                            <!--width="50" style="overflow-y:auto;overflow-x:auto">-->
                                            <tr>
                                                <th>Fee Particular</th>
                                                <th>Due Amount</th>
                                            </tr>

                                            @foreach (var due in @Model.AdminDashBoard.lstFeeDues)
                                            {
                                                <tr>
                                                    <td>@due.StudentDisplayName</td>
                                                    <td>@due.DueAmount</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    }


                </div>
            }
            else if (Model.AdminDashBoard.AccountId == 3)
            {
                <div class="col-sm-12" style="height: 220px;overflow: auto;">
                    <div class="row">
                        @if (null != Model.AdminDashBoard.lstFeeDues)
                        {
                            <div class="col-sm-6" id="chartConcessions" style="height: 200px;">
                                <script type="text/javascript">
                                    $(function () {
                                        $.ajax({
                                            type: 'POST',
                                            dataType: 'json',
                                            contentType: 'application/json',
                                            url: '@Url.Action("GetConcessionsChart")',
                                            success: function (chartsdata) {

                                                // Callback that creates and populates a data table,
                                                // instantiates the pie chart, passes in the data and
                                                // draws it.

                                                var data = new google.visualization.DataTable();

                                                data.addColumn('string', 'Class');
                                                data.addColumn('number', 'Concession Amount');

                                                for (var i = 0; i < chartsdata.length; i++) {
                                                    data.addRow([chartsdata[i].StudentDisplayName, chartsdata[i].DiscountAmount]);
                                                }
                                                // Instantiate and draw our chart, passing in some options
                                                var chart = new google.visualization.BarChart(document.getElementById('chartConcessions'));

                                                chart.draw(data,
                                                  {
                                                      title: "Concessions",
                                                      position: "top",
                                                      fontsize: "14px",
                                                      chartArea: { width: '50%' },
                                                  });
                                            },
                                            error: function () {
                                            }
                                        });
                                    })

                                </script>
                            </div>


                            <div class="col-sm-6 box-body table-responsive no-padding" style="height: 220px;overflow:auto">
                                <table id="dynamic-table" class="table table-hover">
                                    <tbody>
                                        <!--width="50" style="overflow-y:auto;overflow-x:auto">-->
                                        <tr>
                                            <th>Class</th>
                                            <th>Discount Amount</th>
                                        </tr>

                                        @foreach (var due in Model.AdminDashBoard.lstFeeDues)
                                        {
                                            <tr>
                                                <td>@due.StudentDisplayName</td>
                                                <td>@due.DiscountAmount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }




                    </div>


                </div>
            }
            else if (Model.AdminDashBoard.AccountId == 4)
            {
                <div class="col-sm-12" style="height: 220px;">
                    <div class="row">
                        <h3>Cash in hand(Today) : Rs.30,000</h3>
                        <div class="col-sm-6 box-body table-responsive no-padding" style="height: 200px;overflow:auto">
                            <table id="dynamic-table" class="table table-hover">
                                <tbody>
                                    <!--width="50" style="overflow-y:auto;overflow-x:auto">-->
                                    <tr>
                                        <th>Date</th>
                                        <th>Given Amount(Rs.)</th>
                                    </tr>

                                    <tr>
                                        <td>28 - Aug - 2015</td>
                                        <td>5000</td>
                                    </tr>
                                    <tr>
                                        <td>29 - Aug - 2015</td>
                                        <td>7500</td>
                                    </tr>

                                    <tr>
                                        <td>30 - Aug - 2015</td>
                                        <td>2550</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            }
        </div>
    }




}








