@model AsteriskBrowserAL.Models.SubscriptionsData


@if (null != Model.AdminDashBoard)
{
    if (null != Model.AdminDashBoard.TicketsData)
    {

        <div class="row">
            <div class="col-sm-12">
                <div class="box" style="height:380px;">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Help Desk</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">

                            <div class="row">
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua">
                                        <div class="inner">
                                            <h3>@Model.AdminDashBoard.TicketsData.nNewTicket</h3>
                                            <p>New Tickets</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-ticket"></i>
                                        </div>
                                        <a href="/THelpDesk/OpenTicket" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div><!-- ./col -->
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3>@Model.AdminDashBoard.TicketsData.nSolvedTicket</h3>
                                            <p>Solved</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <a href="/THelpDesk/OpenTicket" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div><!-- ./col -->
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow">
                                        <div class="inner">
                                            <h3>@Model.AdminDashBoard.TicketsData.nProcessTicket</h3>
                                            <p>In Process</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-bar-chart"></i>
                                        </div>
                                        <a href="/THelpDesk/OpenTicket" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div><!-- ./col -->
                                <div class="col-lg-3 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                            <h3>@Model.AdminDashBoard.TicketsData.nRejectedTicket</h3>
                                            <p>Rejected</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <a href="/THelpDesk/OpenTicket" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div><!-- ./col -->
                            </div>

                        </div><!-- /.box-body -->
                    </div>
                    <!-- TO DO List -->
                </div>
            </div>
            <!--Inventory-->


        </div>

    }
    <div class="row">
        <!--Inventory-->
        <div class="col-sm-6">
            <div class="box" style="height:430px;">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inventory</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row col-sm-12">
                            <div class="box-body table-responsive no-padding">

                                <div id="user-profile-2" class="user-profile">
                                    <div class="tabbable">
                                        <div class="pull-right">
                                            <ul class="nav nav-tabs padding-18">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#stationary">
                                                        @*<i class="green ace-icon glyphicon glyphicon-usd bigger-120"></i>*@
                                                        Stationary
                                                    </a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#uniform">
                                                        @*<i class="green ace-icon glyphicon glyphicon-usd bigger-120"></i>*@
                                                        Uniform
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="tab-content no-border padding-24">
                                            <div id="stationary" class="tab-pane in active">
                                                <div class="row">
                                                    <div class="box-body table-responsive no-padding" style="height: 300px;overflow:auto">
                                                        <table id="dynamic-table" class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Class</th>
                                                                    <th>
                                                                        Item Name
                                                                    </th>
                                                                    <th>
                                                                        No. of Copies
                                                                    </th>
                                                                    <th>
                                                                        Distributed
                                                                    </th>
                                                                    <th>
                                                                        Remaining
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td>Class - 1</td>
                                                                    <td>English Text-books</td>
                                                                    <td>30</td>
                                                                    <td>25</td>
                                                                    <td>5</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Class - 1</td>
                                                                    <td>Social Text-books</td>
                                                                    <td>30</td>
                                                                    <td>27</td>
                                                                    <td>3</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Class - 1</td>
                                                                    <td>Maths Text-books</td>
                                                                    <td>30</td>
                                                                    <td>28</td>
                                                                    <td>2</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Class - 2</td>
                                                                    <td>Maths Text-books</td>
                                                                    <td>30</td>
                                                                    <td>28</td>
                                                                    <td>2</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Class - 2</td>
                                                                    <td>English Text-books</td>
                                                                    <td>30</td>
                                                                    <td>25</td>
                                                                    <td>5</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Class - 2</td>
                                                                    <td>Social Text-books</td>
                                                                    <td>30</td>
                                                                    <td>27</td>
                                                                    <td>3</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>


                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /#uniform -->

                                            <div id="uniform" class="tab-pane">
                                                <div class="row">
                                                    <div class="box-body table-responsive no-padding" style="height: 300px;overflow:auto">
                                                        <table id="dynamic-table" class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Boys/Girls</th>
                                                                    <th>
                                                                        Item Name
                                                                    </th>
                                                                    <th>
                                                                        Total
                                                                    </th>
                                                                    <th>
                                                                        Distributed
                                                                    </th>
                                                                    <th>
                                                                        Remaining
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td>Girls</td>
                                                                    <td>Skirt</td>
                                                                    <td>100</td>
                                                                    <td>78</td>
                                                                    <td>22</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Girls</td>
                                                                    <td>Shoes</td>
                                                                    <td>30</td>
                                                                    <td>27</td>
                                                                    <td>3</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Boys</td>
                                                                    <td>Pants</td>
                                                                    <td>100</td>
                                                                    <td>98</td>
                                                                    <td>2</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Boys & Girls</td>
                                                                    <td>Tie</td>
                                                                    <td>200</td>
                                                                    <td>180</td>
                                                                    <td>20</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Boys & Girls</td>
                                                                    <td>Belts</td>
                                                                    <td>200</td>
                                                                    <td>170</td>
                                                                    <td>30</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Boys</td>
                                                                    <td>Shoes</td>
                                                                    <td>100</td>
                                                                    <td>97</td>
                                                                    <td>3</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /#branchcollection -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>



        <div class="col-sm-6">
            <div class="box" style="height:210px">
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Notifications</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="height:160px; overflow:auto">
                            @if (null != Model.AdminDashBoard.NotificationsData && Model.AdminDashBoard.NotificationsData.Count() > 0)
                            {

                                <marquee style="color: green; bottom: 5px; height: 155px; position: absolute; text-align: center;" scrollamount="2" direction="up" loop="true">
                                    @foreach (var n in Model.AdminDashBoard.NotificationsData)
                                    {
                                        <b>@n.Date.ToString("dd - MMM - yyyy") : <i>@n.Description</i></b>
                                        <br />
                                    }
                                </marquee>
                            }


                        </div>

                        @*<marquee> <span style="color:red;"><b>Holiday on 30th July</b></span></marquee>
                <br />
                <span style="color:green;"><i>Parent's Meeting on 2nd August at 4pm </i></span>*@<marquee><span style="color:red;"><b></b></span></marquee>
                        <br />
                        <span style="color:green;"><i></i></span><marquee><span style="color:red;"><b></b></span></marquee>
                        <br />
                        <span style="color:green;"><i></i></span>
                    </div><!-- /.box-body -->
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            <div class="box">
                <div class="box box-primary box-solid" style="height:210px">
                    <div class="box-header with-border">
                        <h3 class="box-title">Events</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-body" style="height:160px; overflow:auto">
                            @if (null != Model.AdminDashBoard.EventsData && Model.AdminDashBoard.EventsData.Count() > 0)
                            {
                                foreach (Events e in Model.AdminDashBoard.EventsData)
                                {
                                    <events>
                                        <events>
                                            <span style="color:green;"><b>@e.Event </b></span> <span style="color:green;">on <b>@e.StartDate.Value.ToString("dd - MMM - yyyy") </b></span>
                                            <br />
                                        </events>
                                    </events>
                                }
                            }


                            @*<marquee> <span style="color:red;"><b>Swachh Bharat programme on 2nd August at 4PM</b></span></marquee>
                    <br />
                    <span style="color:green;"><b>School Annual day celebrations on 3rd August</b></span>*@<marquee><span style="color:red;"><b></b></span></marquee>
                            <br />
                            <span style="color:green;"><b></b></span><marquee><span style="color:red;"><b></b></span></marquee>
                            <br />
                            <span style="color:green;"><b></b></span>
                        </div><!-- /.box-body -->
                    </div><!-- /.box-body -->

                </div>
            </div>
        </div>

    </div>
}
<script>
    function GetInventryData() {
        $.ajax({
            url: "/Dashboard/GetSubscriptionsDropDwns",
            success: function (data) {
                var Schools = $('#Schools')
                Schools.children().remove();
                $.each(data, function (i, record) {
                    Schools.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                });
                $('#Schools').append(Schools);
            },
            async: false
        });


    }

    window.onload = GetInventryData();
</script>
