@model  List<AsteriskBrowserAL.Models.AttendanceData>
@{
    ViewBag.Title = "";
    //string Name = "";
    //if(Model.Count() > 0)
    //string Name = Model.FirstOrDefault().Institute;
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Student
        </li>
        <li class="active"> Student Attendance </li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @*<h3>@Html.ActionLink("New", "HolidaysC")</h3>*@

        </div>
    </div>

   
    @if (Model != null)
    {
        int nsno = 1;

        <div class="row">
            <div class="col-xs-12">

                <div class="table-header">
                    <span style="font-family:calibri;">Absent Students</span>

                </div><!-- /.box-header -->

                <table class="table tbhover table-striped table-bordered dynamic-table">
                    <thead>
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Branch Name")
                            </th>
                            <th>
                                @Html.DisplayName("Student Name")
                            </th>
                            <th>
                                @Html.DisplayName("Class")
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>
                                @(nsno++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Institute)

                            </td>
                            <td>
                                <b> @Html.DisplayFor(modelItem => item.DisplayName)</b>
                            </td>
                            <td>
                                <b> @Html.DisplayFor(modelItem => item.ClassName)</b>
                            </td>
                        </tr>

                        }
                    </tbody>

                </table>



            </div>

        </div>

        @Html.Action("DataTableScripts", "Base", new { IsPaging = false, AllowScroll = true })

    }
    else
    {
        
        <span style="color: red;"><b>There are no Holidays</b></span>
    }

</section>
