@{
    ViewBag.Title = "Summary";
}

<div class="page-content">
    <div class="col-xs-12">
        <div class="row">
            <!-- /.page-header -->
            <div class="page-header">
                <h1>Dashboard - @ViewBag.InstituteName
                </h1>
            </div>
            <!-- /.page-header -->
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-12 infobox-container">
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Strength", "Strength", new {id = ViewBag.InstituteId, InstituteName = ViewBag.InstituteName  })</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Budget", "Summary")</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Income", "Income", new { id = ViewBag.InstituteId, InstituteName = ViewBag.InstituteName })</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Expense", "Expense", new { id = ViewBag.InstituteId, InstituteName = ViewBag.InstituteName })</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Timetable", "Timetable", new { id = ViewBag.InstituteId, InstituteName = ViewBag.InstituteName })</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Admissions", "Admissions", new { id = ViewBag.InstituteId, InstituteName = ViewBag.InstituteName })</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Teachers Performance", "Summary")</span>
                    </div>
                </div>
                <div class="infobox infobox-blue">
                    <div class="infobox-data">
                        <span class="infobox-data-number">@Html.ActionLink("Salaries", "Summary")</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

