@model IEnumerable<AsteriskBrowserAL.Models.HDTaskData>

@if (Model != null && Model.Count() > 0)
{



    <div class="row">
        <div class="col-sm-12">



            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h4 style="text-align:left" class="widget-title blue smaller">
                        <i class="ace-icon fa fa-comments-o fa-2x green middle"></i>
                        Recent Comments
                    </h4>

                    <div class="widget-toolbar action-buttons">
                        <span class="label label-info">@Model.Count()</span>
                        &nbsp;
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                        &nbsp;
                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh blue"></i>
                        </a>
                        &nbsp;
                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-8">
                        <div id="profile-feed-1" class="profile-feed ace-scroll" style="position: relative;">
                            <div class="scroll-track scroll-active" style="display: block; height: 200px;"><div class="scroll-bar" style="height: 63px; top: 103px;"></div></div><div class="scroll-content" style="max-height: 200px;">
                                @{
                                    int count = Model.Count();
                                    string stfName = "";
                                }
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    stfName = "";
                                    if (count > i + 1)
                                    {
                                        stfName = "to " + Model.ElementAt(i + 1).HdTicketStatusOwnerName;
                                    }


                                    <div class="profile-activity clearfix">
                                        <div>
                                            <img style="height:40px;width:40px;" class="pull-left" alt="Alex Doe's avatar" src="~/Content/images/NoPhoto.jpg">

                                            <div style="text-align:left;color:#cb6184">@Model.ElementAt(i).HdTicketStatusOwnerName  @stfName</div>
                                            <div style="text-align:left;font-size:smaller;color:cadetblue" class="text"><i class="ace-icon fa fa-quote-left"></i> @Model.ElementAt(i).Description</div>
                                        </div>

                                        <div style="font-size:smaller" class="tools time">
                                            <span style="color:dodgerblue"><i class="ace-icon fa fa-clock-o bigger-110"></i></span>
                                            <span style="color:orange">@Model.ElementAt(i).TicketDate.Value.ToString("dd-MMM-yyyy 'at' hh:mm")</span>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    }
