@model List<AsteriskBrowserAL.Models.StaffData>
@{
    
}
@if (null != Model)
{
    int nsno = 1;
    <input type="hidden" value="@ViewBag.YearMonth" name="YearMonth"/>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Applied Conveyances</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <div style="overflow:auto;height:440px;">
                        <div class="hideScrolling">
                            <table class="table table-bordered table-striped table-hover nowrap" style="font-size:14px;">
                                <tbody>
                                    <tr>
                                        <th>
                                           S.No.
                                        </th>
                                        <th>
                                            @Html.DisplayName("Employee Name")
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(nsno++)
                                            </td>
                                            <td>
                                                @item.DisplayName
                                            </td>

                                            <td>
                                                @Html.ActionLink("Local Conveyance Details", "ApproveConveyanceDetails", new { nStaffId = item.StaffId, bIsLocal = true, strYearMonth = ViewBag.YearMonth })
                                                |@Html.ActionLink("Out Station Conveyance Details", "ApproveOutStationConveyanceDetails", new { nStaffId = item.StaffId, bIsLocal = false, strYearMonth = ViewBag.YearMonth })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <span style="color: red;"><b>No records found</b></span>
}
