@model AsteriskBrowserAL.Models.ConveyanceViewModel
@{
    ViewBag.Title = "MeetingConveyance";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Metting Conveyance</li>
    </ul><!-- /.breadcrumb -->
}





<!-- /section:basics/content.breadcrumbs -->
<!-- Include Select2 CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />

<!-- CSS to make Select2 fit in with Bootstrap 3.x -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />

<!-- Include Select2 JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>


<style>
    .required:first-letter {
        color: red;
        font-weight: bold;
    }
</style>

@Html.Action("DatePickerScripts", "Base")

<section class="content">
    <br />
    @if (null != Model)
    {

        @*<div class="row">
            <div class=col-xs-6>*@
        @*<h3>@Html.ActionLink("<< Employee Details", "StaffDetails", new { DepartmentId = Model.SearchDepartment, CategoryId = Model.SearchCategory, nDivisionId = Model.DivisionId, nBranchId = Model.BranchId })</h3>*@
        @*</div>
            </div>
            <br />*@
        using (Html.BeginForm("MeetingConveyance", "HROperations", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box box-primary box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Meeting Conveyance</h3>
                            </div><!-- /.box-header -->
                            <br />
                            <div class="box-body">

                                <div class="form-group">
                                    <button class="btn btn-primary pull-right" type="submit" style="width:80px;" onclick="return submitForm();">
                                        Save
                                    </button>
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">*Date</label>

                                    <div class="col-xs-3">
                                        <div id="datepicker" class="input-group date">
                                            <input class="form-control" type="text" id="ConveyanceDate" name="ConveyanceDate" autocomplete="off" placeholder="Schedule Date" />
                                            <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vDate">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>
                                </div>

                               

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">*Branches Visited</label>
                                    <div class="col-sm-3">
                                        @*@Html.DropDownListFor(model => model.BranchesVisited, new SelectList(Model.ListBranch, "SubscriptionId", "Institute"), new { @class = "form-control select2", @multiple = "multiple" })*@
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vStatus">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">Purpose of Visiting</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.PurposeOfVisiting, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vMarks">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">Mode Of Travel</label>

                                    <div class="col-xs-3">
                                        @*@Html.DropDownListFor(model => model.ModeOfTravelling, new SelectList(Model.ListTravellingMode, "TravellingModeId", "TravellingMode"), "--- Select ---", new { @class = "form-control" })*@
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vSubKnwl">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">*KMS</label>

                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(model => model.KMS, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vTeaching">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">*Food Expenses</label>

                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(model => model.KMS, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vTeaching">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">*Total Amount</label>

                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control"})
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="vCommunication">
                                        <label style="color:red;font-weight:bold;">required</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    }
</section>
