
@model AsteriskBrowserAL.StaffStatus
@{
    ViewBag.Title = "StaffActiveInactiveSendRequest";
}


<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Staff Active Inactive Request</li>
    </ul><!-- /.breadcrumb -->
}





<style>
    .required:first-letter {
        color: red;
        font-weight: bold;
    }
</style>

<section class="content">

    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <!-- form start -->
                @using (Html.BeginForm("StaffActiveInActiveSendRequest", "HROperations", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("StaffActiveInActiveSendRequest")</span>
                    @*<div class="box-body">
                <div class="box-header">
                    <h3 class="box-title col-xs-10">Staff Active InActive Request</h3>
                    <button class="btn btn-info btn-xs pull-right" type="submit" onclick="return submitForm();">
                        Send Request
                    </button>
                </div>*@ <!-- /.box-header -->
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">Staff Active InActive Send Request</h5>
                        <div class="widget-toolbar no-border">
                            <div class="inline dropdown-hover">
                                <div class="inline action-buttons">
                                    <button class="btn btn-info btn-xs pull-right" type="submit" onclick="return submitForm();">
                                        Send Request
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.StaffId)
                    @Html.HiddenFor(model => model.Status)

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right required" for="form-field-1">@Html.Label("*Reason", new { @class = "required" })</label>

                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.RequestReason, new { @class = "form-control col-sm-5 textlength", placeholder = "Reason", @id = "Reason" })

                                </div>

                                <div class="col-sm-3" style="display:none;" id="ReasonVal">
                                    <label style="color:red;font-weight:bold;"> Enter Reason</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="SubscriptionId" name="SubscriptionId" value="@ViewBag.SubscriptionId" />
                    <input type="hidden" id="DivisionId" name="DivisionId" value="@ViewBag.DivisionId" />
                }
               
            </div>
    </div>
        </div>
   
    <input type="hidden" id="count" name="count" value="0" />
</section>



<script type="text/javascript">
    function validateReason() {

        document.getElementById("count").value = "1";
        var Reason = document.getElementById("Reason").value;
        validate = true;

        if (Reason == "") {
            document.getElementById("ReasonVal").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("ReasonVal").style.display = "none";
        }
        return validate;
    };

    function submitForm()
    {

        var validatestatus = validateReason();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };



    $('#Reason').click(function () {
        document.getElementById('ReasonVal').style.display = "none"
    })

</script>

