@model AsteriskBrowserAL.Models.MonthwiseWorkingDaysData
@{
}


<div class="hr hr-18 dotted hr-double"></div>

<section>
    @if (null != Model)
    {
        int j = 1;
        <div class="table-header">
            Staff Month Wise Attendance
            <div style="float:right;">
                <button type="submit" name="Save" id="Save" onclick="return submitform()" class="btn btn-info btn-xs P2">
                    <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                </button>
            </div>
        </div>
        <table id="myTab" class="table tbhover table-striped table-bordered nowrap dynamic-table">
            <thead>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Staff Name")
                    </th>
                    <th>
                        @Html.DisplayName("SupplementaryDays")
                    </th>
                    <th>
                        @Html.DisplayName("PaidDays")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.lstAttendance.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.Hidden("lstAttendance.Index", (@i + 10))
                            @(j++)
                        </td>
                        <td>
                            @Html.Hidden("lstAttendance.Index", (@i))
                            @Html.Hidden("lstAttendance[" + (@i) + "].SubscriptionId", Model.lstAttendance.ElementAt(i).SubscriptionId)
                            @Html.Hidden("lstAttendance[" + (@i) + "].StaffMonthWiseAttendanceId", Model.lstAttendance.ElementAt(i).StaffMonthWiseAttendanceId)
                            @Html.Hidden("lstAttendance[" + (@i) + "].StaffId", Model.lstAttendance.ElementAt(i).StaffId)
                            @Html.Hidden("objattendance[" + (@i) + "].MonthValue", Model.MonthValue,new { id= "MonthValue",name= "MonthValue" })

                            @Model.lstAttendance.ElementAt(i).StaffName
                        </td>
                        <td>
                            @Html.TextBox("lstAttendance[" + (@i) + "].SupplementaryDays", Model.lstAttendance.ElementAt(i).SupplementaryDays, new {@Class= "SupplementaryDays", @id = "SupplementaryDays", @name = "SupplementaryDays" })
                        </td>
                        <td>
                            @Html.TextBox("lstAttendance[" + (@i) + "].PaidDays", Model.lstAttendance.ElementAt(i).PaidDays, new {@Class= "PaidDays", @id = "PaidDays", @name = "PaidDays" })
                        </td>
                    </tr>
                }
            </tbody>
</table>
    }
</section>

<script>
   
</script>