@model AsteriskBrowserAL.Models.ApproveBankDepositViewModel
@{
    ViewBag.Title = "Bank Deposit Details";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="fa fa-money"></i>
            Finance
        </li>
        <li>
            <i class="fa fa-gears"></i>
            Operations
        </li>
        <li class="active">Bank Deposit Details</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <br />
                <h1>
                    <small style="float:right;">
                       @Html.ActionLink("<< Bank Deposit Details", "BankDeposit", new { dtFromdate = Model.FirstInserted, dtToDate = Model.Lastupdated })
                    </small>
                </h1>
            </div><!-- /.page-header -->
            <div class="widget-box">

                @if (null != Model)
                {
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Bank Deposit Details
                        </h5>
                    </div><!-- /.box-header -->

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <table class="table table-hover">
                                    <tr>
                                        <td>@Html.DisplayName("Deposit Date")</td>
                                        <td><b>@Model.DepositDate.ToString("dd-MMM-yyyy hh:mm tt")</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Request Status")</td>
                                        <td><b>@Model.DisplayRequestStatus</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Old Cash Amount")</td>
                                        <td><b>@Model.OldCashAmount</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Old Cheque Amount")</td>
                                        <td><b>@Model.OldChequeAmount</b></td>
                                    </tr>


                                    <tr>
                                        <td>@Html.DisplayName("New Cash Amount")</td>
                                        <td><b>@Model.CashAmount</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("New Cheque Amount")</td>
                                        <td><b>@Model.ChequeAmount</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Bank Name")</td>
                                        <td><b>@Model.BankName</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Person Name")</td>
                                        <td><b>@Model.PersonName</b></td>
                                    </tr>


                                    <tr>
                                        <td>@Html.DisplayName("Remarks")</td>
                                        <td><b>@Model.Remarks</b></td>
                                    </tr>

                                </table>

                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


