@model AsteriskBrowserAL.Models.BankDepositSummary
@{
    ViewBag.Title = "Bank Deposit Summary";
}

<section>
    @if (Model != null)
    {
        <div class="widget-body table-responsive no-padding">
            <div class="widget-main">
                <div class="row">
                    <table class="table table-hover table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <h5><b>Opening cash balance</b> </h5>
                                </td>
                                <td>
                                    @if (@Model.OpeningCashbalance > 0 || @Model.OpeningCashbalance < 0)
                                    {
                                        <h5> : Rs @Model.OpeningCashbalance</h5>
                                    }
                                    else
                                    {
                                        <h5> : Rs 0</h5>
                                    }
                                </td>
                                <td></td>
                                <td>
                                    <h5 style="padding-left:100px"><b>Opening cheque balance</b> </h5>
                                </td>
                                <td>
                                    @if (@Model.OpeningChequebalance > 0)
                                    {
                                        <h5> : Rs @Model.OpeningChequebalance</h5>
                                    }
                                    else
                                    {
                                        <h5> : Rs 0</h5>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5><b>Todays' Cash Collection </b></h5>
                                </td>
                                <td>
                                    <h5> :  @Model.TotalCashAmount </h5>
                                </td>

                                <td></td>

                                <td>
                                    <h5 style="padding-left:100px"><b>Todays' Cheque Collection </b></h5>
                                </td>
                                <td>
                                    <h5> :  @Model.TotalChequeAmount </h5>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h5><b>Cancelled receipts(Cash)</b></h5>
                                </td>
                                <td>
                                    <h> :  @Model.CancelledCashAmount </h>
                                </td>

                                <td></td>

                                <td>
                                    <h5 style="padding-left:100px"><b>Cancelled receipts(Cheque) </b></h5>
                                </td>
                                <td>
                                    <h5> :  @Model.CancelledChequeAmount </h5>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h5><b>Cash Grand Total</b></h5>
                                </td>
                                <td>
                                    <h5 id="TotalChequeAmount">:  @Model.TotalNetAmount </h5>
                                </td>

                                <td></td>

                                <td>
                                    <h5 style="padding-left:100px"><b>Cheques Grand Total </b></h5>
                                </td>
                                <td>
                                    <h5 id="TotalNetChequeAmount"> :  @Model.TotalNetChequeAmount </h5>
                                </td>

                            </tr>

                            @if ((@Model.BankDepositCashAmount > 0 || @Model.BankDepositChequeAmount > 0))
                            {
                                <tr>
                                    <td>
                                        <h5><b>Cash Deposited In Bank</b></h5>
                                    </td>
                                    <td>
                                        <h5>    :  @Model.BankDepositCashAmount </h5>
                                    </td>

                                    <td></td>

                                    <td>
                                        <h5 style="padding-left:100px"><b>Cheque Deposited In Bank</b></h5>
                                    </td>
                                    <td>
                                        <h5>  :  @Model.BankDepositChequeAmount </h5>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <h5><b>Closing Cash Balance</b></h5>
                                    </td>
                                    <td>
                                        <h5>    :  @Model.ClosinCashbalance </h5>
                                    </td>

                                    <td></td>

                                    <td>
                                        <h5 style="padding-left:100px"><b>Closing Cheque Balance </b></h5>
                                    </td>
                                    <td>
                                        <h5>:  @Model.ClosingChequebalance </h5>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td>
                                    <h5><b>Swipe Card Collection</b></h5>
                                </td>
                                <td>
                                    <h5>    :  @Model.SwipeAmount </h5>
                                </td>

                                <td></td>

                                <td>
                                    <h5 style="padding-left:100px"><b>Online Collection</b></h5>
                                </td>
                                <td>
                                    <h5>  :  @Model.OnlineAmount </h5>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>



        </div>
    }
    else
    {
        <span style="color:red"> <b>Data is not available</b></span>
    }


</section>
