
@model AsteriskBrowserAL.Models.ChequeBounceViewModel
@{
    ViewBag.Title = "Cheque Details";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Cheque Details</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h3>@Html.ActionLink("<< Cheque Bounce Details", "ChequeBounceEntry", new { ChequeNo = Model.SearchedData })</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("ChequeDetails", "FOperations", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <span style="color:red;font-weight:bold" id="Validation"></span>
                        <h5 class="widget-title">
                            Cheque Bounce Entry
                        </h5>

                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <div style="float:right">
                                    <button class="btn btn-info btn-minier P2" type="submit" onclick="return submitForm();">
                                        <i class="ace-icon fa fa-floppy-o bigger-160"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                       
                    </div>

                    @Html.HiddenFor(model => model.SearchedData)
                    @Html.HiddenFor(model => model.ChequeNo)
                    @Html.HiddenFor(model => model.StudenId)
                    @Html.HiddenFor(model => model.ReceiptNo)
                    @Html.HiddenFor(model => model.DebitAmount)
                    @Html.HiddenFor(model => model.DisplayChequeNo)
                    @Html.HiddenFor(model => model.BankId)

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <table class="table table-hover">

                                    <tr>
                                        <td>@Html.DisplayName("Cheque No")</td>
                                        <td><b>@Model.DisplayChequeNo</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Cheque Date")</td>
                                        <td><b>@Model.ChequeDate.ToString("dd-MMM-yyyy hh:mm tt")</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Student Name")</td>
                                        <td><b>@Model.StudentName</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Receipt No")</td>
                                        <td><b>@Model.ReceiptNo</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Template No")</td>
                                        <td><b>@Model.TemplateNo</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayName("Manual Receipt No")</td>
                                        <td><b>@Model.DisplayManualReceiptNo</b></td>
                                    </tr>

                                    <tr>
                                        <td>@Html.DisplayName("Debit Amount")</td>
                                        <td><b>@Model.DebitAmount</b></td>
                                    </tr>


                                    <tr>
                                        <td>@Html.DisplayName("Bank Name")</td>
                                        <td><b>@Model.BankName</b></td>
                                    </tr>


                                    <tr>
                                        <td>@Html.DisplayName("Amount")</td>
                                        <td>
                                            @Html.TextBoxFor(model => model.PenaltyAmount, new
                               {
                                   @class = "form-control textlength txtboxNum",
                                   @style = "max-width:100Px ;text-align:right",
                                   @maxlength = "6",
                                   id = "PenaltyAmount"
                               })

                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<script>

    function submitForm() {

        var Amount = $('#PenaltyAmount').val();

        alert(amount);
        if (Amount == "null" || Amount < 0) {

            document.getElementById('').innerHTML = "Enter amount"
            return false;
        }

        return false;
    }

</script>

