@model List<AsteriskBrowserAL.Models.ConcessionUploadModel>
@{
    Layout = null;
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialogueupload" style="display:none"> </div>

<section class="content">
    <br />
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("SaveConcession", "FOperations", FormMethod.Post, new { id = "FrmSaveConcession" }))
            {
                <input type="hidden" name="UploadTypeName" />

                <span id="Validation" style="color:red;font-weight:bold;"></span>

                if (Model != null && Model.Count() > 0)
                {
                    int sno = 1;

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="table-header">
                                Records Found (@Model.Count())
                                <div style="float:right;">
                                    <div class="inline dropdown-hover">
                                        <button type="submit" class="btn btn-info btn-xs" onclick="return Submit();">
                                            <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                                <thead>
                                    <tr>
                                        <th>
                                           S.No.
                                        </th>
                                        <th>
                                            @Html.DisplayName("Branch Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Student Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Admission Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Class")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Section")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Fee Amount")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Discount")
                                        </th>

                                        <th>
                                            @Html.DisplayName("To Be Set Amount")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            @Html.Hidden("LstData.Index", (@i))
                                            @Html.Hidden("LstData[" + (@i) + "].BranchName", Model.ElementAt(i).BranchName)
                                            @Html.Hidden("LstData[" + (@i) + "].AdmissionNumber", Model.ElementAt(i).AdmissionNumber)
                                            @Html.Hidden("LstData[" + (@i) + "].StudentName", Model.ElementAt(i).StudentName)
                                            @Html.Hidden("LstData[" + (@i) + "].Class", Model.ElementAt(i).Class)
                                            @Html.Hidden("LstData[" + (@i) + "].Section", Model.ElementAt(i).Section)
                                            @Html.Hidden("LstData[" + (@i) + "].TotalFee", Model.ElementAt(i).TotalFee)
                                            @Html.Hidden("LstData[" + (@i) + "].Discount", Model.ElementAt(i).Discount)
                                            @Html.Hidden("LstData[" + (@i) + "].SetAmount", Model.ElementAt(i).SetAmount)

                                            <td>
                                                @(sno++)
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).BranchName
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).StudentName
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).AdmissionNumber
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).Class
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).Section
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).TotalFee
                                            </td>
                                            <td>
                                                @Model.ElementAt(i).Discount
                                            </td>

                                            <td>
                                                @Model.ElementAt(i).SetAmount
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>

                            @Html.Action("DataTableScripts", "Base")

                        </div>
                    </div>

                }
            }
        </div>
    </div>
</section>

<script type="text/javascript">

    function Submit() {

        ConcessionUploadConfirmation();
        return false;
    }

    function ConcessionUploadConfirmation() {

        var TypeName = $("#CboUploadType option:selected").text();
        $('[name=UploadTypeName]').val(TypeName);

        $('#dialogueupload').html(' <div class="space-6"></div> <p> <b> Are you sure to update the ' + TypeName + ' Concession ? <b> </p>');

        var $dialog = $('#dialogueupload')
          .dialog({
              resizable: false,
              draggable: false,
              width: '400',
              modal: true,
              title: 'Confirmation',
              open: function (event, ui) {
                  $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
              },
              title_html: true,
              buttons: [
                  {
                      html: "Yes",
                      "class": "btn btn-danger btn-minier",
                      click: function () {
                          $(this).dialog('close');
                          $('#imagemodal').show();
                          $('#FrmSaveConcession').submit();
                      }
                  },
                  {
                      html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; No ",
                      "class": "btn btn-minier",
                      click: function () {
                          $(this).dialog('close');
                      }
                  }
              ]
          });
    }


</script>