
@model  List<AsteriskBrowserAL.Models.FeePaymentsData>
@{
    int Sno = 1;
}


<div class="hr hr-18 dotted hr-double"></div>

@if (null != Model && Model.Count() > 0)
{
    Sno = 1;

    <div class="table-header">
        Records Found (@Model.Count())
    </div>

    <div style="overflow:auto;height:300px">


        <table class="table table-bordered table-striped table-hover nowrap" style="font-size:14px;">
            <thead>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Particular")
                    </th>

                    <th>
                        @Html.DisplayName("Transaction Date")
                    </th>
                    <th>
                        @Html.DisplayName("Receipt Number")
                    </th>
                    <th>
                        @Html.DisplayName("Template Number")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        (@Sno++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeeParticularName)
                    </td>

                    <td>
                        @item.TransactionDate.Value.ToString("dd - MMM - yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiptNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemplateNumner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebitAmount)
                    </td>

                </tr>
                    Sno++;
                }
            </tbody>

        </table>
    </div>
}
else
{
    <span style="color:red">Transaction Data is not available</span>
}
