
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Tally
        </li>
        <li class="active">Tally Settings</li>
    </ul><!-- /.breadcrumb -->

}

<section class="content">
   
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("TallySettings", "FOperations", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <span style="color:green;font-weight:bold" id="Saved">@Html.ValidationMessage("Institute")</span>
                        <div class="table-header">
                            Tally Settings
                            <div style="float:right;">
                                <button type="submit" name="Save" class="btn btn-info btn-xs P2">
                                    <i class="ace-icon fa fa-floppy-o"> | Save</i>
                                </button>
                            </div>
                        </div>
                        <div class="widget-box">
                            <div class="widget-body">
                                <div class="widget-main" style="height:150px">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-xs-6">@Html.Label("Company Name")</label>
                                            <div class="col-xs-6">
                                                @if (Model.CompanyName != null)
                                                {
                                                    <input name="CompanyName" value="@Model.CompanyName" id="CompanyName" class="form-control" required />
                                                }
                                                else
                                                {
                                                    <input name="CompanyName" id="CompanyName" class="form-control" required />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-xs-6">@Html.Label("Port")</label>
                                            <div class="col-xs-6">
                                                @if (Model.Port != null)
                                                {
                                                    <input name="Port" value="@Model.Port" id="Port" class="form-control" required />
                                                }
                                                else
                                                {
                                                    <input name="Port" id="Port" class="form-control" required />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @*<div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-xs-6">@Html.Label("Server Name")</label>
                                            <div class="col-xs-6">
                                                @if (Model.ServerName != null) {
                                                    <input name="ServerName" value="@Model.ServerName" id="ServerName" class="form-control" style="width:250px" required />
                                                }
                                                else{
                                                    <input name="ServerName" id="ServerName" class="form-control" style="width:250px" required />
                                                }
                                            </div>
                                        </div>
                                    </div>*@
                                    <br />
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</section>



