@model List<AsteriskBrowserAL.Models.BatchAttendanceTypeView>
@{
    ViewBag.Title = "Batch - Attendance Type";
    List<SelectListItem> AttendanceType = new List<SelectListItem>()
    {
         new SelectListItem()
        {
            Text = "--Select--",
            Value = "0"
        },

        new SelectListItem()
        {
            Text = "Day wise",
            Value = "1"
        },

        new SelectListItem()
        {
            Text ="Subject wise",
            Value = "2"
        },

        new SelectListItem()
        {
            Text = "Morning-Evening",
            Value = "3"
        }
    };
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Attendance Type</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">

    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AttendanceType", "SeAcademics", FormMethod.Post))
            {
                int nsno = 1;
                if (null != TempData["AttendanceType"])
                {
                    <span style="font-weight:bold;color:red">@Html.Raw(TempData["AttendanceType"])</span>
                }
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title ">Set Attendance Type</h3>
                        <br />
                        <br />
                        <input class="btn btn-primary " type="submit" name="save" style="width:80px;"
                               value="Save" />
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="col-sm-6">
                            <div class="widget-main">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                               S.No.
                                            </th>
                                            <th>
                                                Class
                                            </th>
                                            <th>
                                                Attendance Type
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                <td>
                                                    @(nsno++)
                                                </td>
                                                <td>
                                                    @Html.Hidden("lstAttendanceType.Index", (@i + 10))
                                                    @Html.Hidden("lstAttendanceType[" + (@i + 10) + "].AttendanceTypeId", Model.ElementAt(i).AttendanceTypeId)
                                                    @Html.Hidden("lstAttendanceType[" + (@i + 10) + "].BatchId", Model.ElementAt(i).BatchId)
                                                    @Model.ElementAt(i).BatchName
                                                </td>
                                                <td>
                                                    @Html.DropDownList("lstAttendanceType[" + (@i + 10) + "].AttendanceType", new SelectList(AttendanceType, "Value", "Text", Model.ElementAt(i).AttendanceType), new { @class = "form-control col-sm-3" })
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>

            }
        </div>

    </div>
</section>





































