
@model IEnumerable<AsteriskBrowserAL.Models.BatchStudentDataView>

@{
    ViewBag.Title = "BatchDet";
    int sno = 1;
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Batch</li>
    </ul><!-- /.breadcrumb -->
}








<!--Main Content-->
<section class="content">

    @using (Html.BeginForm("BatchDet", "SeAcademics", FormMethod.Post))
    {
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Batch Details ", "Batch", new { CourseId = ViewBag.Selected_CourseId })</h3>
        </div>

        <br />

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Batch Details</h3>
                        <h4>
                            Batch Name: @ViewBag.BatchName
                        </h4>
                    </div><!-- /.box-header -->
                    @if ((ViewBag.Selected_CourseId > 0) && (null != Model))
                    {
                        @Html.ValidationSummary(true)
                        <span style="color: red;">@Html.ValidationMessage("Batch")</span>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>

                                    <th>
                                        @Html.DisplayName("Admission Number")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Student Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Roll Number")
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @(sno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdmissionNumber)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisplayName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RollNumber)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {<span style="color: red;"><b>Data not available</b></span> }

                </div>

            </div>
        </div>
    }
</section>
