@model AsteriskBrowserAL.Batch

@{
    ViewBag.Title = "Delete Batch";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Batch</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-4>
            <h3>@Html.ActionLink("<< Batch Details ", "Batch", new { CourseId = ViewBag.Selected_CourseId })</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("BatchD", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("Batch")</span>
                    <div class="box-header">
                        <h3 class="box-title">Delete Batch</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.BatchId)
                    <div class="box-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Batch Name")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Start Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("End Date")
                                    </th>

                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.BatchName)
                                    </td>
                                    <td>
                                        @Model.StartDate.Value.ToString("dd - MMM - yyyy")
                                    </td>
                                    <td>
                                        @Model.EndDate.Value.ToString("dd - MMM - yyyy")
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            }
        </div>
    </div>
</section>





