@model AsteriskBrowserAL.Course

@{
    ViewBag.Title = "ClassE";
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Class</li>
    </ul><!-- /.breadcrumb -->
}


<!--Main Content-->

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Classes Details", "Class")</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("ClassE", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="box-header">
                            <h3 class="box-title">Classes</h3>
                            <br />
                            <br />
                            <button class="btn btn-primary " type="submit" style="width:80px;">
                                Save
                            </button>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <span style="color: red;">@Html.ValidationMessage("Class")</span>

                        @Html.HiddenFor(model => model.CourseId)

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Class Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control col-sm-5 textlength", placeholder = "Class Name" })
                            </div>

                            <div class="col-sm-3">
                                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("CourseName")</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Section Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.SectionName, new { @class = "form-control col-sm-5 textlength", placeholder = "Section Name" })
                            </div>

                            <div class="col-sm-3">
                                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("SectionName")</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Class Code")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control col-sm-5 textlength", placeholder = "Class Code" })
                            </div>

                            <div class="col-sm-3">
                                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("CourseCode")</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Grading System")</label>

                            <div class="col-sm-3">
                                @Html.DropDownList("GradingSystem", null, "--Select Grading System--", new { @class = "form-control" })
                            </div>

                            <div class="col-sm-3">
                                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("GradingSystem")</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Class Number")</label>

                            <div class="col-sm-3">
                                @Html.DropDownList("ClassNumber", null, "--Select ClassNumber--", new { @class = "form-control" })
                            </div>

                            <div class="col-sm-3">
                                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("ClassNumber")</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
