@model IEnumerable<AsteriskBrowserAL.Models.CourseData>

@{
    ViewBag.Title = "Class";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Class</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("Add Class", "ClassC")</h3>
        </div>
    </div>
    <br />


    @if (null != TempData["Class"])
    {
        @Html.Raw(TempData["Class"])
    }

    @if (Model != null)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Classes</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Class Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Section Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Class Code")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Grading System")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Class Number")
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourseName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SectionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourseCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GradingSystem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassNumber)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "ClassE", new { id = item.CourseId }) |
                                            @Html.ActionLink("Delete", "ClassD", new { id = item.CourseId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>Data is not available </b></span>
    }
</section>

