
@model AsteriskBrowserAL.Course

@{
    ViewBag.Title = "ClassD";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Class</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Class Details", "Class")</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <br />
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("ClassD", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("Class")</span>
                    <div class="box-body">
                        <div class="box-header">
                            <h3 class="box-title">Classes</h3>
                            <br />
                            <br />
                            <button class="btn btn-primary " type="submit" style="width:80px;">
                                Delete
                            </button>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Class Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Section Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Class Code")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Grading System")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Class Number")
                                        </th>

                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.CourseName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.SectionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.CourseCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.GradingSystem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => modelItem.ClassNumber)
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
