@model AsteriskBrowserAL.ElectiveSubjectsGroups

@{
    ViewBag.Title = "ElectiveSubjectGroupsD";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Elective Groups</li>
    </ul><!-- /.breadcrumb -->
}


<!--Main Content-->

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Elective Subject Groups Details", "ElectiveSubjectGroups", new { BatchId = ViewBag.selected_BatchId })</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div>
            <span style="color: red;">
                &nbsp;  <b>Are you sure you want to delete this?</b>
            </span>
        </div>
        <br />
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("ElectiveSubjectGroupsD", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("ElectiveSubjectGroupsD")</span>
                    <div class="box-header">
                        <h3 class="box-title">Elective Subject Group</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>

                                    <th>
                                        @Html.DisplayName("Elective Subject Group Name")
                                    </th>

                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.ElectiveSubjectGroupName)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</section>




