@model AsteriskBrowserAL.ElectiveSubjectsGroups

@{
    ViewBag.Title = "ElectiveSubjectGroupsE";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Elective Groups</li>
    </ul><!-- /.breadcrumb -->
}


<!--Main Content-->

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Elective Subject Groups Details", "ElectiveSubjectGroups", new { BatchId = ViewBag.selected_BatchId })</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- form start -->
                @using (Html.BeginForm("ElectiveSubjectGroupsE", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="box-header">
                        <h3 class="box-title">Elective Subject Groups</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary " type="submit" style="width:80px;">
                            Save
                        </button>
                    </div><!-- /.box-header -->

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("ElectiveSubjectGroup")</span>

                    @Html.HiddenFor(model => model.ElectiveSubjectGroupId)

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Elective Subject Group Name")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.ElectiveSubjectGroupName, new { @class = "form-control col-sm-5", placeholder = "ElectiveSubjectGroupName" })
                        </div>

                        <div class="col-sm-3">
                            <span style="color: red;font-weight: bold;">@Html.ValidationMessage("ElectiveSubjectGroupName")</span>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
