@model AsteriskBrowserAL.Houses

@{
    ViewBag.Title = "Create House";
}




@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Houses</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    @*<div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Houses Details", "Houses")</h3>
        </div>
    </div>*@
    <br />

    <div class="row">
        <div class="col-xs-12">
    @using (Html.BeginForm("HousesC", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        @Html.ValidationSummary(true)
        <span style="color: red;">@Html.ValidationMessage("Houses")</span>
      
            
                @*<h5 class="widget-title">
                    Houses
                </h5>*@
                <div class="page-header">
                    <br />
                    <h1>
                        Houses
                        <small style="float:right;">
                            @Html.ActionLink("Back to details ", "Houses")
                        </small>
                    </h1>
                </div>

                @*<button class="btn btn-primary" type="submit" style="float:right;width:80px" onclick="return submitForm();">
                        Create
                    </button>*@
                @*<div class="widget-toolbar no-border">
                    <div class="inline dropdown-hover">*@
           


            @*<div class="box">
                <div class="box-header">
                    <h3 class="box-title ">Houses</h*@@*3>*@


                    @*// <button class="btn btn-primary" type="submit" style="float:right;width:80px" onclick="return submitForm();">
                            // Create
                            //
                        </button>//*@

                    @*</div>*@<!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" role="form">
                        
                            
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("House Name")</label>

                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.HouseName, new { autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "HouseName", @id = "HouseName", @onchange = "removeError();" })
                                    </div>
                                    <div class="col-sm-3" style="display:none;" id="houseName">
                                        <label style="color:red;font-weight:bold;"> Please Enter  House Name </label>
                                    </div>
                                </div>
                         
                       
                        <br />
                        <div class="hr hr-18 dotted hr-double"></div>
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-success btn-sm" onclick="return submitForm()" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Save
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>

                
                    </form>
           
    }
        </div>
    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>
<script type="text/javascript">
    function validateHouse() {

         document.getElementById("count").value = "1";
         var HouseName = document.getElementById("HouseName").value;

            validate = true;

        if (HouseName == "" || HouseName.trim().length < 1) {
            document.getElementById("houseName").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("houseName").style.display = "none";
        }

        return validate;
    };

    function submitForm() {

        var validatestatus = validateHouse();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };
    function removeError() {

        var count = document.getElementById("count").value;

        var HouseName = document.getElementById("HouseName").value;

        if (count != 0) {
            if (HouseName != "" && HouseName.trim().length > 0) {
                document.getElementById("houseName").style.display = "none";
            } else {
                document.getElementById("houseName").style.display = "inline";
            }

        }
    };
    $('#HouseName').click(function () {
        document.getElementById('houseName').style.display = "none"
    })

</script>

