@model List<AsteriskBrowserAL.Models.ICExaminationCycleModel>
@{
    ViewBag.Title = "ICExaminationCycles";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">IC Exam Cycles</li>
    </ul><!-- /.breadcrumb -->
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->


<section class="content">

    <br />
    <br />
    @*@if (null != TempData["StudentCategory"])
    {
        @Html.Raw(TempData["StudentCategory"])
    }*@


    @if (Model != null)
    {
        int nsno = 1;

        <div class="row">
            <span id="validation" style="color:red">@ViewBag.DeleteMsg</span>
            <span id="validation" style="color:forestgreen">@ViewBag.Success</span>            
            <div class="col-xs-12">
                <div class="table-header">
                    IC Exam Cycles
                    <a class="view-header-btn btn btn-info btn-xs P2" style="float:right" href="@Url.Action("ICExamCycleC", "SeAcademics")" role="button" id="New" name="New"><i class="fa fa-plus-circle bigger-180"></i></a>
                </div>

                <table class="table tbhover table-striped table-bordered dynamic-table">
                    <thead>

                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Cycle Name")
                            </th>
                            <th>@Html.DisplayName("Cycle Type")</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(nsno++)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CycleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CycleType)
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="green P2" href="@Url.Action("ICExamCycleE", "SeAcademics", new { CycleId = item.ICExaminationCycleId })">
                                            <i class="ace-icon fa fa-pencil  bigger-130"></i>

                                        </a>
                                        <a class="red P2" onclick="btnConfirm(@item.ICExaminationCycleId)">
                                            <i class="ace-icon fa fa-trash-o  bigger-130"></i>
                                        </a>                                      
                                    </div>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        @Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })

    }

    else
    {

        <div class="table-header">
            IC Exam Cycles
            <a class="view-header-btn btn btn-info btn-xs P2" href="@Url.Action("ICExamCycleC", "SeAcademics")" role="button" id="New" name="New"><i class="fa fa-plus-circle P2 bigger-200"></i></a>
        </div>
        <span style="color: red;"><b>Records Not Found(0)</b></span>
    }
</section>





<script>

    function btnConfirm(Value) {
        debugger
        if (Value > 0) {          
                    var url = '/SeAcademics/ICExamCycleD?id=' + Value;
                    var title = "IC ICExamCycle";
                    OpenDialog("", url, title);               
        }
    }


</script>