@model IEnumerable<AsteriskBrowserAL.Groups>
@{
    ViewBag.Title = "StudentGroups";
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Student Groups</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <button class="btn btn-primary" style="width:80px;" onclick="location.href='@Url.Action("StudentGroupsC", "SeAcademics")'">New</button>
        </div>
    </div>
    <br />
    @if (null != Model)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Student Groups</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Group Name")
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GroupName)
                                        </td>


                                        <td>
                                            @Html.ActionLink("Edit", "StudentGroupsE", new { id = item.GroupId }) |
                                            @Html.ActionLink("Delete", "StudentGroupsD", new { id = item.GroupId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>Data is not available </b></span>
    }
</section>
