@model AsteriskBrowserAL.Groups

@{
    ViewBag.Title = "StudentGroupsD";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Student Groups</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<<Student Groups", "StudentGroups")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("StudentGroupsD", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                <div class="box-header">
                    <h3 class="box-title"> Student Groups</h3>
                    <button class="btn btn-primary pull-right" type="submit" style="width:80px;">
                        Delete
                    </button>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped table-bordered">
                        <tbody>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.GroupName)
                                </th>                                

                            </tr>


                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.GroupName)
                                </td>
                               
                            </tr>

                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
