@model AsteriskBrowserAL.Subjects

@{
    ViewBag.Title = "SubjectsC";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Subjects</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">

    @using (Html.BeginForm("SubjectsC", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="col-xs-12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <span style="color: red;">@Html.ValidationMessage("Subjects")</span>

                @*<div class="page-header">
                        <br />
                        <h1>
                            Subject
                        </h1>
                            <small style="float:right;">
                                @Html.ActionLink("Back to details", "Subject")
                            </small>

                    </div>*@

                <div class="table-header">
                    <span style="font-family:calibri;">Subjects</span>
                   
                    <small style="float:right;" class="textheader">
                        @Html.ActionLink("Back to details", "Subjects", new {BatchId = @ViewBag.selectd_BatchId })
                    </small>

                </div>
            


                @*<h3 class="box-title">Subjects</h3>
                        <br />
                        <br />

                    </div>*@<!-- /.box-header -->
                <!-- form start -->
               

                <div class="widget-box col-sm-12">
                    <br />
                    <form class="form-horizontal" role="form">

                        @if (ViewBag.selectd_BatchId > 0)
                        {


                            <div class="col-sm-12">
                                <div class="col-sm-6 ">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Subject Name")</label>

                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.SubjectName, new { autocomplete = "off", @class = "form-control col-sm-5", placeholder = "Subject Name", @id = "SubjectName" })
                                            <div style="display:none;" id="desSubjectName">
                                                <label style="color:red;font-weight:bold;"> Please Enter  Subject Name </label>
                                            </div>
                                        </div>
                                       
                                        @*<div class="col-sm-3">
                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("SubjectName")</span>
            </div>*@

                                    </div>

                                </div>
                                <div class="col-sm-6 ">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Code")</label>

                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.SubjectCode, new { autocomplete = "off", @class = "form-control col-sm-5", placeholder = "Code", @id = "Code" })
                                            <div style="display:none;" id="desCode">
                                                <label style="color:red;font-weight:bold;"> Please Enter Code </label>
                                            </div>
                                        
                                        </div>
                                    
                                        @*<div class="col-sm-3">
                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("SubjectCode")</span>
            </div>*@

                                    </div>
                                </div>
                                <div class="col-sm-6 ">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Weekly")</label>

                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.MaxWeeklyClasses, new { autocomplete = "off", @class = "form-control col-sm-5", @type = "number", @min = "0", placeholder = "Weekly", @id = "Weekly" })
                                            <div style="display:none;" id="desWeekly">
                                                <label style="color:red;font-weight:bold;"> Please Enter  Weekly Name </label>
                                            </div>
                                        </div>
                                     
                                        @*<div class="col-sm-3">
                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("MaxWeeklyClasses")</span>
            </div>*@

                                    </div>

                                </div>
                                <div class="col-sm-6 ">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Description")</label>

                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.SubDescription, new { autocomplete = "off", @class = "form-control col-sm-5", placeholder = "Description", @id = "SubDescription" })
                                            <div style="display:none;" id="desDescription">
                                                <label style="color:red;font-weight:bold;"> Please Enter  Description</label>
                                            </div>
                                        
                                        </div>
                                      
                                    </div>

                                </div>
                            </div>

                           
                            <div class=" col-sm-9" >
                                <div class="hr hr-18 dotted hr-double"></div>
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                      
                                            <label class="col-sm-2 control-label no-padding-right"></label>
                                            <div class="col-sm-2">
                                                @Html.CheckBoxFor(model => model.IsNoExam.Value, new { Name = "IsNoExam", @class = "checkbox" })
                                                <input name="IsNoExam" type="hidden" value="false" />
                                            </div>
                                            <div class="col-sm-5">
                                                <span class="lbl bigger-110">No Exam</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("NoExam")</span>
                                            </div>
                                   


                                    

             
                                       
                                    </div>
                                </div>
                                <div class="col-sm-4 ">

                                    



                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right"></label>

                                        <div class="col-sm-2">
                                      
                                                @Html.CheckBoxFor(model => model.IsCoCurricular.Value, new { Name = "IsCoCurricular", @class = "checkbox" })
                                                <input name="IsCoCurricular" type="hidden" value="false" />
                                            </div>
                                        <div class="col-sm-7">
                                            <span class="lbl bigger-120">Is for grading</span>
                                        </div>

                                        <div class="col-sm-1">
                                            <span style="color: red;font-weight: bold;">@Html.ValidationMessage("IsCoCurricular")</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right"></label>
                                        <div class="col-sm-2">
                                           
                                                @Html.CheckBoxFor(model => model.IsElective.Value, new { Name = "IsElective", @class = "checkbox" })
                                                <input name="IsElective" type="hidden" value="false" />
                                            </div>
                                        <div class="col-sm-6">
                                            <span class="lbl bigger-110">Is Elective</span>
                                        </div>

                                        <div class="col-sm-2">
                                            <span style="color: red;font-weight: bold;">@Html.ValidationMessage("IsElective")</span>
                                        </div>
                                    </div>
                                </div>
  

                                
                               
                                
                            </div>
                            
                            


                            


                            <div class="col-md-9" style="margin-bottom:25px;" >

                                <div class="hr hr-18 dotted hr-double"></div>
                                <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                    <i class="ace-icon fa fa-check bigger-50"></i>
                                    Save
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-50"></i>
                                    Reset
                                </button>
                            
                            </div>
                         

                        }
                    </form>

                </div>
                
            </div>
        </div>
    }


    <input type="hidden" id="count" name="count" value="0" />
</section>

<script type="text/javascript">
    function validateStudentSubjects() {

        document.getElementById("count").value = "1";
        var SubjectName = document.getElementById("SubjectName").value;
        var SubjectCode = document.getElementById("Code").value;
        var MaxWeeklyClasses = document.getElementById("Weekly").value;
        var SubDescription = document.getElementById("SubDescription").value;

        validate = true;

        if (SubjectName == "") {
            document.getElementById("desSubjectName").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("desSubjectName").style.display = "none";
        }
        if (SubjectCode == "") {
            document.getElementById("desCode").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("desCode").style.display = "none";
        }
        if (MaxWeeklyClasses == "") {
            document.getElementById("desWeekly").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("desWeekly").style.display = "none";
        }
        if (SubDescription == "") {
            document.getElementById("desDescription").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("desDescription").style.display = "none";
        }
        return validate;
    };

    function submitForm() {
        var validatestatus = validateStudentSubjects();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#Code').click(function () {
        $('#desCode').hide();

    });
    $('#SubjectName').click(function () {
        $('#desSubjectName').hide();
    });

    $('#Weekly').click(function () {
        $('#desWeekly').hide();
    });
    $('#SubDescription').click(function () {
        ('#desDescription').hide();
    });
</script>







