@model AsteriskBrowserAL.FeedBackType
@{
    ViewBag.Title = "TeacherFeedbackS";
}


<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Settings
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Sechedule</li>
    </ul><!-- /.breadcrumb -->
}




@Html.Action("DatePickerScripts", "Base", new { IsPaging = false, AllowScroll = true })

<section class="content">


    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("TeacherFeedbackS", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div class="table-header">


                     Schedule

                    <small style="float:right;font-weight:bold;" class="textheader">
                        @Html.ActionLink("Back to Feedback", "TeacherFeedback")
                    </small>

                </div><!-- /.page-header -->
                <!-- form start -->

                <div class="widget-box row" style="padding:10px;">
                    <form class="form-horizontal" role="form">
                        <div class="box">
                            <span style="color:red;font-weight:bold;">@Html.ValidationMessage("Schedule")</span>



                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">  @Html.Label("Start Date")</label>

                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="datepicker" class="input-group date">
                                                <input class="form-control" type="text" id="SDate" name="SDate" autocomplete="off" placeholder="Select Date" />
                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" style="display:none;" id="SDates">
                                        <label style="color:red;font-weight:bold;"> Required</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">  @Html.Label("End Date")</label>

                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="datepicker" class="input-group date">
                                                <input class="form-control" type="text" id="EDate" name="EDate" autocomplete="off" placeholder="Select Date" />
                                                <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" style="display:none;" id="EDates">
                                        <label style="color:red;font-weight:bold;"> Required</label>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class=" col-md-9" align="left">
                            <div class="hr hr-18 dotted hr-double"></div>
                            <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Save
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>


                    </form>
                </div>

            }
        </div>
        <input type="hidden" id="count" name="count" value="0" />
    </div>

</section>
