@model IEnumerable<AsteriskBrowserAL.Models.WeekDaysViewData>
@{
    ViewBag.Title = "Week Days";


}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Academics
        </li>
        <li class="active">Week Days</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">  
    <br />
    @using (Html.BeginForm("WeekDays", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        if (null != TempData["WeekDays"])
        {
            @Html.Raw(TempData["WeekDays"])
        }
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
              <span style="color: red;">@Html.ValidationMessage("WeekDays")</span>
              
         <br />
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">

                <h5 class="widget-title">
                    Week Days
                </h5>
               </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">@Html.Label(" Select Class")</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownList("BatchId", null, "--- Select---", new { @class = "form-control", onchange = "this.form.submit();" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    <div class="hr hr-18 dotted hr-double"></div>
        <div class="row">
            <div class="col-xs-12">
                @if (ViewBag.SelectedBatchId > 0)
                {
                    <div class="widget-box">
                        @*<div class="widget-header widget-header-flat widget-header-small">*@
                        <div class=" table-header">                         
                                Week Days                           
                            <div style="float:right">                             
                                <button type="submit" name="Save" value="Save" onclick="return submitForm()" class="btn btn-info btn-xs P2">
                                    <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                                </button>
                            </div>
                        </div>                                                 
                        @*<input class="btn btn-primary" type="submit" name="Save" value="Save" style="width:80px;float:right;" />
                            </div> /.box-header*@
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <div class="form-group">
                                            @{
                                          string weekdays = ViewBag.Weekdays;

                                         <div class="col-xs-offset-3">
                                         @if (weekdays != null)
                          { 
                            if (weekdays.Contains("1"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="1" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="1" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="1" />
                        } Sunday


                        <br />
                        <br />

                        @if (weekdays != null)
                        {
                            if (weekdays.Contains("2"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="2" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="2" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="2" />
                        }Monday

                        <br />
                        <br />

                        @if (weekdays != null)
                        {
                            if (weekdays.Contains("3"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="3" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="3" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="3" />
                        }Tueday

                        <br />
                        <br />

                        @if (weekdays != null)
                        {
                            if (weekdays.Contains("4"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="4" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="4" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="4" />
                        }Wednesday

                        <br />
                        <br />

                        @if (weekdays != null)
                        {
                            if (weekdays.Contains("5"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="5" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="5" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="5" />
                        }Thursday

                        <br />
                        <br />

                        @if (weekdays != null)
                        {
                            if (weekdays.Contains("6"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="6" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="6" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="6" />
                        }Friday

                        <br />
                        <br />

                        @if (weekdays != null)
                        {
                            if (weekdays.Contains("7"))
                            {
                                <input type="checkbox" name="weekdays" checked="checked" value="7" />
                            }
                            else
                            {
                                <input type="checkbox" name="weekdays" value="7" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="weekdays" value="7" />
                        }Saturday

                    </div>

                                                <br />
                                                <br />
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>


    }
</section>



































