
@model AsteriskBrowserAL.Models.ExamShedulesData

@{
    ViewBag.Title = "Exam Schedules";
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Online Examinations
        </li>
        <li class="active">Exam Schedules</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    <br />

    @using (Html.BeginForm("OnlineExamSchedules", "AOnlineExamination", FormMethod.Post))
    {
        @Html.ValidationMessage("OnlineExamSchedules")

        <span style="font-weight:bold;color:red" id="Validation"></span>
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Online Exam Schedules
                        </h5>
                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <a class="blue P2" id="NewExamination" name="New"><i class="fa fa-plus-circle bigger-200"></i></a>
                            </div>
                        </div>

                    </div>


                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">@Html.Label("Class")</label>

                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(model => model.ClassNumber, new SelectList(Model.lstClassNumbers, "ClassNumber", "ClassNumberDisplay"), "-- Select --", new { @class = "form-control", id = "ClassNumber" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">@Html.Label("Branch")</label>

                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(model => model.SubscriptionId, new SelectList(Model.lstSubscriptions, "SubscriptionId", "Institute"), "-- Select --", new { @class = "form-control", id = "SubscriptionId" })
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="SearchData" class="row">
        </div>


        if (null != Model)
        {
            <input style="display:none" id="SelClass" value="@Model.ClassNumber" />
            <input style="display:none" id="SelSubId" value="@Model.SubscriptionId" />
        }
        else
        {

            <input style="display:none" id="SelClass" value="0" />
            <input style="display:none" id="SelSubId" value="0" />
        }


    }
</section>

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        var SelClass = $('#SelClass').val();
        var SelSubId = $('#SelSubId').val();

        if (SelClass > 0) {
            GetExaminationSchedules();
        }
    });

    $('#NewExamination').click(function () {

        var ClassNumber = $('#ClassNumber').val();
        var SubscriptionId = $('#SubscriptionId').val();
        if (ClassNumber < 1 && SubscriptionId == "") {
            document.getElementById("Validation").innerHTML = "Please select both class and branch";
            return false;
        }
        else if (ClassNumber < 1) {
            document.getElementById("Validation").innerHTML = "Please select the class";
            return false;
        }
        else if (SubscriptionId < 0 || SubscriptionId == "") {
            document.getElementById("Validation").innerHTML = "Please select the branch";
            return false;
        }
        else {

            debugger;
            window.location.href = "/AOnlineExamination/OnlineExamSchedulesC?ClassNumber=" + ClassNumber + "&SubId=" + SubscriptionId;
        }

    });

    $('#ClassNumber').change(function () {
        $("#SearchData").html("");
        var ClassNumber = $('#ClassNumber').val();
        var SubscriptionId = $('#SubscriptionId').val();
        if (ClassNumber > 0) {
            document.getElementById("Validation").innerHTML = "";
        }
        if (ClassNumber > 0 && SubscriptionId >= 0 && SubscriptionId != "") {
            GetExaminationSchedules();
        }
    })


    $('#SubscriptionId').change(function () {
        debugger;
        $("#SearchData").html("");
        var SubscriptionId = $('#SubscriptionId').val();
        if (SubscriptionId >= 0) {
            document.getElementById("Validation").innerHTML = "";
        }
        if (SubscriptionId >= 0 && SubscriptionId != "") {
            GetExaminationSchedules();
        }

    });

    function GetExaminationSchedules() {

        $("#SearchData").html("");
        var ClassNumber = $('#ClassNumber').val();
        var SubscriptionId = $('#SubscriptionId').val();
        if (ClassNumber > 0 && SubscriptionId >= 0 && SubscriptionId != "") {
            $('#imagemodal').show();
            $.ajax({
                url: '/AOnlineExamination/GetOnlineExamSchedulesData',
                data: { ClassNumber: ClassNumber, SubscriptionId: SubscriptionId },
                success: function (Data) {
                    $('#imagemodal').hide();
                    $("#SearchData").html(Data);
                }
            });
        }
    }


    function btnConfirm(Value) {
        debugger;
        if (Value > 0) {
            $.ajax({
                url: '/AOnlineExamination/ValidationForOnlineExamSchedulesD',
                data: { ExamId: Value },
                success: function (data) {
                    var url = '/AOnlineExamination/OnlineExamSchedulesD?ExamId=' + Value;
                    var title = "OnlineExamSchedules";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }
    }
</script>
