@model AsteriskBrowserAL.Models.OnlineQuestionPaperInstructions
@{
    ViewBag.Title = "OnlineQuestionPaperInstructions";
}

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="icon" type="image/png" href="~/Content/images/Asterisk.png">
        <title>
            Asterisk
        </title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")

        @using AsteriskBrowserAL.Helpers*@


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@



@*</head>*@

@*<body class="skin-yellow sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <i class="fa fa-asterisk"></i>
                    a
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <i class="fa fa-asterisk"></i>
                    asterisk
                </span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </nav>
        </header>*@
@{
    Layout = "";
}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/images/campuswhizlogo.png">

    <title>
        CampusWhiz | GMS
    </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="~/NewTemplateScript/assets/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />*@

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link href="~/NewTemplateScript/assets/fonts/fonts.googleapis.com.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />*@

    <!-- ace styles -->

    <link rel="stylesheet" href="~/NewTemplateScript/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <script src="~/NewTemplateScript/assets/js/ace-extra.min.js"></script>
    <link href="~/NewTemplateScript/assets/css/checkbox.css" rel="stylesheet" />
    @*<link href="~/assets/BTS Styles/AdminCustomStyles.css" rel="stylesheet" />*@
</head>

<div class="page-header">
    <br />
    <h1>
        Online Examinations Instructions
    </h1>
</div><!-- /.page-header -->


<section class="content">
    @*<div class="row">
            <div class="col-xs-12">
                <h3>IMPORTANT INSTRUCTIONS:</h3>

            </div>
        </div>*@

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("OnlineQuestionPaperInstructions", "AOnlineExamination", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                if (null != Model)
                {
                    <div class="widget-box">
                        <div class=" col-sm-12">
                            @*<div class="widget-header">
                                    <div class="row">
                                        <h3>IMPORTANT INSTRUCTIONS:</h3>

                                    </div>
                                </div>*@<!-- /.box-header -->
                            <!-- form start -->
                            @Html.HiddenFor(model => model.PaperId)
                            @Html.HiddenFor(model => model.StudentId)
                            @Html.HiddenFor(model => model.DurationInMins)
                            @Html.HiddenFor(model => model.PatternId)
                            @Html.HiddenFor(model => model.SubjectId)
                            <div class="widget-body">

                                <h4>@Html.Raw(Model.PatternDescription)</h4>
                                <br />
                                <br />
                                <br />
                                <div align="center">
                                    <button type="submit" align="center" class="btn btn-primary" style="width:80px">Start</button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>

    </div>

</section>

@*</div>
    </body>
    </html>*@

<script>
    $(document).ready(function () {
        document.getElementById('OnlineLogin').style.display = "none";
        document.getElementById('OnlineSearch').style.display = "none";

        function disableBack() { window.history.forward() }
        disableBack();
        window.onpageshow = function (evt) { if (evt.persisted) disableBack() }

        $('a[id="OnlineAsterisk"]').click(function () {
            return false;
        });
    });
</script>