
@model List<AsteriskBrowserAL.Models.OnlineResultsViewModel>
@{
    ViewBag.Title = "StudentsResultPartialView";
    int nSNo = 1;

}

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <div class="hr hr-18 dotted hr-double"></div>
        <div class="col-xs-12">
            <div class="table-header">
                Records Found(@Model.Count())
                <div style="float:right">
                    <div class="inline dropdown-hover">
                        <div class="inline action-buttons">
                            <button class="btn btn-info btn-minier" id="btnExport">
                                <i class="ace-icon fa fa-share bigger-160"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <table class="table tbhover table-striped table-bordered dynamic-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Sno")
                        </th>
                        <th>
                            @Html.DisplayName("Student Name")
                        </th>
                        <th>
                            @Html.DisplayName("Branch")
                        </th>
                        <th>
                            @Html.DisplayName("Marks")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(nSNo++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayMarks)
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>

    }
    else
    {
        <span style="color:red;font-weight:bold">Data not available</span>
    }

    @Html.Action("DataTableScripts", "Base")

}
