@model AsteriskBrowserAL.Models.StudentLogin
@{
    ViewBag.Title = "StudentLogin";
}




@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/images/campuswhizlogo.png">

    <title>
        CampusWhiz | GMS
    </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="~/NewTemplateScript/assets/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />*@

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link href="~/NewTemplateScript/assets/fonts/fonts.googleapis.com.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />*@

    <!-- ace styles -->

    <link rel="stylesheet" href="~/NewTemplateScript/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <script src="~/NewTemplateScript/assets/js/ace-extra.min.js"></script>
    <link href="~/NewTemplateScript/assets/css/checkbox.css" rel="stylesheet" />
    @*<link href="~/assets/BTS Styles/AdminCustomStyles.css" rel="stylesheet" />*@
</head>
<body class="skin-yellow sidebar-mini">
    <div>
        <!--<header class="main-header">-->
        <!-- Logo -->
        <!--<a class="logo">-->
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!--<span class="logo-mini">
            <i class="fa fa-asterisk"></i>
            a
        </span>-->
        <!-- logo for regular state and mobile devices -->
        <!--<span class="logo-lg">
                <i class="fa fa-asterisk"></i>
                asterisk
            </span>
        </a>-->
        <!--<nav class="navbar navbar-static-top" role="navigation">-->
        <!-- Sidebar toggle button-->
        <!--<div class="navbar-custom-menu">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </nav>
        </header>-->

        <section class="content">

            <br />
            <div class="row">
                <div class="col-sm-12">
                    <!-- form start -->
                    @using (Html.BeginForm("StudentLogin", "AOnlineExamination", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        <div class="widget-box">
                            <div class="col-sm-12">
                                <div class="widget-header">
                                    <h3>Student Exam</h3>
                                    <h3>
                                        <small style="float:right;">
                                            @Html.ActionLink("Back to Home Page", "Index", "Home")
                                        </small>
                                    </h3>
                                </div><!-- /.box-header -->

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Select Subject")</label>
                                            <div class="col-sm-3">
                                                <select id="Subject" name="Subjectid" class="form-control"></select>
                                            </div>
                                            <span id="Validation" style="font-weight: bold; color: red;"></span>
                                            <span class="col-sm-3" style="font-weight:bold;color:red;" id="SubjectVal"></span>
                                        </div>
                                        <input type="button" class="btn btn-primary" style="margin-left:12em" id="Submit" name="Submit" value="Submit">
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </section>

    </div>
</body>
</html>

<script>

    //$('#InstituteName').keyup(function (e) {

    //    var keycode = e.keyCode;

    //    if (keycode == 8 || keycode == 46) {
    //        $('#AcademicYear').children().remove();
    //    }

    //})


    //$('#InstituteName').change(function () {

    //    $('#AcademicYear').children().remove();
    //    $('#Institute').children().remove();
    //    $('#Pattern').children().remove();

    //    if ($(this).val() > 0) {
    //        $.ajax({

    //            url: '/AOnlineExamination/GetAcademicYearByInstituteName',
    //            data: { InstituteName: $("#InstituteName option:selected").text() },
    //            success: function (data) {

    //                var AcademicYearItems = $('#AcademicYear');

    //                AcademicYearItems.children().remove();

    //                AcademicYearItems.append($("<option>").val("null").text("--- Select Year ---"));

    //                $.each(data, function (i, record) {
    //                    AcademicYearItems.append($("<option>").val(record).text(record));
    //                });

    //                $('#AcademicYear').append(AcademicYearItems);
    //            }

    //        })
    //    }

    //});

    //$('#AcademicYear').change(function () {

    //    $('#Institute').children().remove();
    //    $('#Pattern').children().remove();

    //    $.ajax({

    //        url: '/TOnlineExamination/GetInstitutesByAcademicYearAndName',
    //        data: { InstituteName: $("#InstituteName option:selected").text(), AcademicYear: $(this).val() },
    //        success: function (data) {

    //            var InstituteItems = $('#Institute');

    //            InstituteItems.children().remove();

    //            InstituteItems.append($("<option>").val("null").text("--- Select Institute ---"));

    //            $.each(data, function (i, record) {
    //                InstituteItems.append($("<option>").val(record.DataBasePath).text(record.DataBasePath));
    //            });

    //            $('#Institute').append(InstituteItems);
    //        }

    //    })

    //});

    //$('#Institute').change(function () {

    //    var institute = $(this).val();

    //    if(institute != "")
    //    {
    //        $.ajax({

    //            url: '/TOnlineExamination/GetExamPatterns',
    //            data: { InstituteName: institute},
    //            success: function (data) {

    //                var PatternItems = $('#Pattern');

    //                PatternItems.children().remove();

    //                PatternItems.append($("<option>").val("null").text("--- Select Pattern ---"));

    //                $.each(data, function (i, record) {
    //                    PatternItems.append($("<option>").val(record.OnlinePatternId).text(record.ExamPatternName));
    //                });

    //                $('#Pattern').append(PatternItems);
    //            }

    //        });
    //    }

    //});
    //$('#AdmissionNo').click(function () {
    //})
    $('#Subject').change(function () {
        document.getElementById("SubjectVal").innerHTML = "";
        document.getElementById("Validation").innerHTML = "";

    });
    $(document).ready(function () {
        $.ajax({
            url: '/AOnlineExamination/StudentSubject',
            data: {},
            success: function (data) {
                var SubjectItems = $('#Subject');

                SubjectItems.children().remove();

                SubjectItems.append($("<option>").val("null").text("--- Select ---"));

                $.each(data, function (i, record) {
                    SubjectItems.append($("<option>").val(record.SubjectId).text(record.SubjectName));
                });

                $('#Subject').append(SubjectItems);


            },
            aync: false
        });
    });
    $('#Submit').click(function () {
        debugger;
        var Subjectid = $('#Subject').val();
        if (Subjectid != "null") {
            GetPaperDetailsForStudent();
        }
        else {
            document.getElementById("SubjectVal").innerHTML = "Please select Subject";
            validate = false;
        }
    });
    function GetPaperDetailsForStudent() {
        var Subjectid = $('#Subject').val();
        $.ajax({

            url: '/AOnlineExamination/GetPaperDetailsForStudent',
            data: { Subjectid: Subjectid },//, DataBasePath: DataBasePath, PatternId : $('#Pattern').val()
            success: function (Data) {

                if (Data.Validation == "") {
                    debugger;
                    window.location.href = '/AOnlineExamination/OnlineQuestionPaperInstructions?PatternId=' + Data.PatternId + '&StudentId=' + Data.StudentId + '&PaperId=' + Data.PaperId + '&DurationInMins=' + Data.DurationInMins + '&Subject=' + Data.Subject + '';
                }
                else if (Data.Validation != "No") {
                    document.getElementById('Validation').innerHTML = Data.Validation;
                }
            }

        });
    }
</script>


