@model IEnumerable<AsteriskBrowserAL.Models.UploadQuestionsData>
@{
    ViewBag.Title = "UploadedQuestionsPartialView";

    int nSNo = 1;

}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

@if (null != Model && Model.Count() > 0)
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <div class="table-header">
            Records Found (@Model.Count())
        </div>
        <!-- /.box-header -->
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Sno")
                    </th>
                    <th>
                        @Html.DisplayName("Question")
                    </th>
                    <th>
                        @Html.DisplayName("Option (1)")
                    </th>
                    <th>
                        @Html.DisplayName("Option (2)")
                    </th>
                    <th>
                        @Html.DisplayName("Option (3)")
                    </th>
                    <th>
                        @Html.DisplayName("Option (4)")
                    </th>

                    <th>
                        @Html.DisplayName("correct Option")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nSNo++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Question)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OptionOne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OptionTwo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OptionThree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OptionFour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>

                        @*<td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="green P2" href="@Url.Action("OnlineExamSchedulesE", "AOnlineExamination", new { id = item.OnlineQuestionPaper_ExaminerId })">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red P2" onclick="btnConfirm(@item.OnlineQuestionPaper_ExaminerId)">
                                        <i class="ace-icon fa fa-trash bigger-130"></i>
                                    </a>
                                </div>
                            </td>*@
                    </tr>

                }
            </tbody>

        </table>
    </div>
}
else
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <span style="font-weight:bold;color:red">No records found</span>
    </div>
}
@Html.Action("DataTableScripts", "Base")

