@model List<AsteriskBrowserAL.Models.FeeDueReportViewModel>
@using AsteriskBrowserAL.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Fee Due Report";
}

<style>
    .Amount {
        text-align: right;
        min-width: 100Px;
        padding-right: -20px;
    }

    .HeaderStyle {
        min-width: 140Px;
    }

    .AmountHeaderStyle {
        min-width: 110Px;
        text-align: center;
    }

    .tblTitle {
        position: absolute;
    }
</style>


<section class="content">

    @if (Model != null && Model.Count() > 0)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="table-header">
                        Records Found (@Model.Count())

                        <div style="float:right;margin-right:10px;">
                            <div class="">
                                <button type="submit" name="Save" class="btncustom P2" style="margin-top:2px">
                                    Send
                                </button>
                            </div>


                        </div>
                    </div>


                    <div class="overflowscroll">
                        <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px">
                            <thead>



                                <tr>
                                    <th>
                                        <input type="checkbox" id="Selectall" /> @Html.DisplayName("Select")
                                    </th>
                                    <th>
                                       S.No.
                                    </th>

                                    <th>
                                        @Html.DisplayName("Admission Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Legacy Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Student Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Father Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Mobile No")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Class")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Section")
                                    </th>

                                    <th s>
                                        @Html.DisplayName("Status")
                                    </th>


                                    <th>
                                        @Html.DisplayName(" Old")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Admission ")
                                    </th>


                                    <th>
                                        @Html.DisplayName("Installment 1 ")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Installment 2 ")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Installment 3 ")
                                    </th>





                                    <th>
                                        @Html.DisplayName("Transport Installment 1")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Transport Installment 2")

                                    </th>


                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.Hidden("FeedueList.Index", (@i + 10))
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].AdmissionNo", Model.ElementAt(i).AdmissionNo)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].LegacyNumber", Model.ElementAt(i).LegacyNumber)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].StudentDisplayName", Model.ElementAt(i).StudentDisplayName)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].FatherName", Model.ElementAt(i).FatherName)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].MobileNumber", Model.ElementAt(i).MobileNumber)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].ClassNumberDisplay", Model.ElementAt(i).ClassNumberDisplay)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].SectionName", Model.ElementAt(i).SectionName)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].StudentStatus", Model.ElementAt(i).StudentStatus)

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].ODDA", Model.ElementAt(i).ODDA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].AFDA", Model.ElementAt(i).AFDA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T1IDA", Model.ElementAt(i).T1IDA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T2IDA", Model.ElementAt(i).T2IDA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T3IDA", Model.ElementAt(i).T3IDA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR2DA", Model.ElementAt(i).TR2DA)

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T1IAF", Model.ElementAt(i).T1IAF)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T1ICA", Model.ElementAt(i).T1ICA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T1IPA", Model.ElementAt(i).T1IPA)

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T2IAF", Model.ElementAt(i).T2IAF)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T2ICA", Model.ElementAt(i).T2ICA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T2IPA", Model.ElementAt(i).T2IPA)

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T3IAF", Model.ElementAt(i).T3IAF)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T3ICA", Model.ElementAt(i).T3ICA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].T3IPA", Model.ElementAt(i).T3IPA)

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR1AF", Model.ElementAt(i).TR1AF)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR1CA", Model.ElementAt(i).TR1CA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR1PA", Model.ElementAt(i).TR1PA)

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR2AF", Model.ElementAt(i).TR2AF)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR2CA", Model.ElementAt(i).TR2CA)
                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].TR2PA", Model.ElementAt(i).TR2PA)

                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Html.CheckBox("FeedueList[" + (@i + 10) + "].isChecked", Model.ElementAt(i).isChecked, new { @id = "Check", @name = "Check" })
                                            }

                                            @Html.Hidden("FeedueList[" + (@i + 10) + "].isChecked", Model.ElementAt(i).isChecked)
                                        </td>
                                        <td>

                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @(nsno++)
                                            }

                                        </td>

                                        <td>
                                            @Model.ElementAt(i).AdmissionNo
                                        </td>
                                        <td>
                                            @Model.ElementAt(i).LegacyNumber
                                        </td>
                                        <td>
                                            @Model.ElementAt(i).StudentDisplayName
                                        </td>
                                        <td>
                                            @Model.ElementAt(i).FatherName
                                        </td>
                                        <td>
                                            @Model.ElementAt(i).MobileNumber
                                        </td>
                                        <td>
                                            @Model.ElementAt(i).ClassNumberDisplay
                                        </td>
                                        <td>
                                            @Model.ElementAt(i).SectionName
                                        </td>

                                        <td>
                                            @Model.ElementAt(i).StudentStatus
                                        </td>

                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).ODDA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).ODDA</b>
                                            }
                                        </td>

                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).AFDA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).AFDA</b>
                                            }
                                        </td>

                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).T1IDA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).T1IDA</b>
                                            }
                                        </td>


                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).T2IDA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).T2IDA</b>
                                            }
                                        </td>


                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).T3IDA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).T3IDA</b>
                                            }
                                        </td>

                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).TR1DA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).TR1DA</b>
                                            }
                                        </td>

                                        <td class="Amount">
                                            @if (Model.ElementAt(i).AdmissionNo != "" && Model.ElementAt(i).StudentDisplayName != "")
                                            {
                                                @Model.ElementAt(i).TR2DA
                                            }
                                            else
                                            {
                                                <b>@Model.ElementAt(i).TR2DA</b>
                                            }
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @Html.Action("DataTableScripts", "Base", new { IsPaging = false })
    }
    else
    {
        <br />
        <span style="color: red;"><b>Data is not available</b></span>
    }

</section>

<script>
    $('#Selectall').change(function () {
        if ($(this).prop('checked')) {
            $('tbody tr td #Check').each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $('tbody tr td #Check').each(function () {
                $(this).prop('checked', false);
            });
        }
    });
</script>



