@model AsteriskBrowserAL.Models.SMSTrackData
@{
    ViewBag.Title = "SMSTrack";
    int sno = 1;
    int nsno = 1;

}
<div class="hr hr-18 dotted hr-double"></div>
@if (null != Model && ((Model.lstAppMsgs != null && Model.lstAppMsgs.Count() > 0) || (Model.lstCustomMsgs != null && Model.lstCustomMsgs.Count() > 0)))
{
    <div class="table-header">
        Application Messages
    </div>

    <table class="table tbhover table-striped table-bordered dynamic-table">
        <thead>
            <tr>
                <th>
                   S.No.
                </th>
                <th>
                    @Html.DisplayName("Type")
                </th>
                <th>
                    @Html.DisplayName("Count")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lstAppMsgs)
                    {
                    <tr>
                        <td>
                            @(sno++)
                        </td>
                        <td>
                            @item.SMSType
                        </td>
                        <td>
                            @item.SMSCount
                        </td>
                    </tr>
                    }
        </tbody>
    </table>

            <br />

            <div class="table-header">
                Custom Messages
            </div>

            <table class="table tbhover table-striped table-bordered dynamic-table">
                <thead>
                    <tr>
                        <th>
                           S.No.
                        </th>
                        <th>
                            @Html.DisplayName("Body")
                        </th>
                        <th>
                            @Html.DisplayName("Count")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstCustomMsgs)
                    {
                            <tr>
                                <td>
                                    @(nsno++)
                                </td>
                                <td>
                                    @item.Message
                                </td>
                                <td>
                                    @item.SMSCount
                                </td>
                            </tr>
                    }
                </tbody>
            </table>


}
else
{
    <span style="color:red;font-weight:bold;">No records found</span>
}

@Html.Action("DataTableScripts", "Base")
