@model IEnumerable<AsteriskBrowserAL.Models.ExaminationPapersData>

@{
    Layout = null;
    int nSno = 1;
}

 <style>
    table {
        page-break-after: auto;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    td {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:18px;border-collapse:collapse;width:100%" border="1">
            <thead>
                <tr>
                    <td colspan="7">
                        <div class="row">
                            <div style="margin-left:0em;font-size:19px;font-weight:bold;margin-top:1em;">
                                <table width="100%">
                                    <tr>
                                        <td align="center" style="width:33px;font-weight:bold">
                                            <span style="font-size:32px;font-weight:bold">ALPHORES JUNIOR COLLEGE</span><br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="width:33px;font-weight:bold">
                                            <span style="font-size:28px;font-weight:bold"></span><br />
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div style="margin-left:0em;font-size:19px;font-weight:bold;margin-top:1em;">
                                <table width="100%">
                                    <tr>
                                        <td align="left" style="width:33px;font-weight:bold">Class : @Model.FirstOrDefault().ClassName </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayName("SNo")
                    </th>
                    <th>
                        @Html.DisplayName("Admission Number")
                    </th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Class")
                    </th>
                    <th>
                        @Html.DisplayName("Subject")
                    </th>
                    <th>
                        @Html.DisplayName("Marks Scored")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nSno++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScoredMarks)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>