@model AsteriskBrowserAL.Models.FeePaymentsData

@{
    ViewBag.Title = "Acknowledgement";

    if (null != Model)
    {
        if (Model.IsMobile)
        {
            Layout = "";
        }
    }

}


@section BreadCrumb{
    <ul class="breadcrumb">
        <li class="active">Acknowledgement</li>
    </ul><!-- /.breadcrumb -->
}

@if (null != Model && Model.IsMobile)
{
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="~/Content/images/Asterisk.png">

        <title>
            Asterisk | GMS
        </title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

        <!-- page specific plugin styles -->
        <!-- text fonts -->
        <link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

        <script src="~/assets/js/ace-extra.min.js"></script>
        <link href="~/assets/css/checkbox.css" rel="stylesheet" />


    </head>
}



<section class="content">
    @if (null != Model)
    {
        <div class="page-header">
            <br />
            <h1>
                Online Payment

                @if (!Model.IsMobile)
                {
                    <small style="float:right;">
                        <a href="/Parent/StudentDetails">Back to Student details</a>
                    </small>
                }
            </h1>
        </div><!-- /.page-header -->


        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Acknowledgement for Online Payment
                        </h5>

                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <a class="blue" onclick="PrintElem('#mydiv')" id="Print" name="Print"><span class="btn btn-info btn-minier">Print / Save</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Student Name :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.StudentName
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Ref No :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.ReferenceNo
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Parent Name :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.ParentName
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Date")</b></label>

                                        <label class="col-sm-6">
                                            @if (Model.TransactionDate.HasValue)
                                            {
                                            @Model.TransactionDate.Value.ToString("dd-MMM-yyy HH:mm:ss.fff")
                                            }
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Class :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.ClassName
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Amount :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.DebitAmount
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Adm No :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.AdmissionNumber
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Response Code :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.ResponseCode
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Institute :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.Institute
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right"><b>@Html.Label("Status :")</b></label>

                                        <label class="col-sm-6">
                                            @Model.Status
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }

</section>


<html>
<body>
    @if (Model != null)
    {
        <div id="mydiv" style="display:none">

            <div align="center" style="font:28px;font-size:20px;font-family:'Segoe UI';"><b> Acknowledgement for Online Payment</b></div>
            <br/>
            <div style="width:816Px">
                <div style="height:142Px;">

                    <table class="fixed" style="margin-top:6px;" cellspacing="3">
                        <tbody>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width: 375px;">
                                    <b>Student Name :</b> @Model.StudentName
                                </td>
                                <td style="font-family:'Segoe UI';font-size:14px;width:257px;margin-top:5Px">
                                    <b>Ref No :</b> @Model.ReferenceNo
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width: 375px;">
                                    <b>Parent Name :</b> @Model.ParentName
                                </td>
                                <td style="font-family:'Segoe UI';font-size:14px;width:257px;margin-top:5Px">
                                    <b>Date:</b>  @if (Model.TransactionDate.HasValue)
                                    {
                                        @Model.TransactionDate.Value.ToString("dd-MMM-yyy HH:mm:ss.fff")
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width: 375px;">
                                    <b>Class :</b> @Model.ClassName
                                </td>
                                <td style="font-family:'Segoe UI';font-size:14px;width:257px;margin-top:5Px">
                                    <b>Amount :</b> @Model.DebitAmount
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width: 375px;">
                                    <b>Adm No :</b> @Model.AdmissionNumber
                                </td>
                                <td style="font-family:'Segoe UI';font-size:14px;width:257px;margin-top:5Px">
                                    <b>Response Code :</b> @Model.ResponseCode
                                </td>
                            </tr>

                            <tr>
                                <td style="font-family:'Segoe UI';font-size:14px;width: 375px;">
                                    <b>Institute :</b> @Model.Institute
                                </td>
                                <td style="font-family:'Segoe UI';font-size:14px;width:257px;margin-top:5Px">
                                    <b>Status :</b> @Model.Status
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <br />

                    <hr />
                    <div align="center" style="font-size:11px;font-family:'Segoe UI';">System generated acknowledgement</div>
                </div>
            </div>
        </div>
    }
</body>
</html>

<script>
    function PrintElem(elem) {
        Popup($(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }
</script>




