@model AsteriskBrowserAL.Models.EmployeeAttendanceAnalysis
@{
    ViewBag.Title = "Employee Attendance Analysis";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Employee Attendance Analysis</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <br />

    @if (Model != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <span style="color:red;font-weight:bold" id="Validation"></span>
                <div class="widget-box">

                    <div class="widget-header widget-header-flat widget-header-small">

                        <h5 class="widget-title">
                            Employee Attendance Analysis
                        </h5>

                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <a class="btn btn-info btn-minier" id="View" style="margin-bottom:8px"  name="View">View Data</a>

                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">

                            @*<h3 class="box-title col-xs-11">Employee Attendance Analysis</h3>
                                <button class="btn btn-primary pull-right" value="View" id="View" style="width:80px;" onclick="return GetEmployeeAttendanceAnalysis()" name="View">View Data</button>*@

                            <input type="hidden" value="@Model.IsCentral" id="IsCentral" />
                            <input type="hidden" id="SelSubId" value="@Model.SubscriptionId" />
                            <input type="hidden" id="SelMonth" value="@Model.MonthValue" />

                            @if (Model.IsCentral)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Division</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.LstDivisions, "DivisionId", "DivisionName"), new { @class = "form-control", id = "DivisionId" })
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Branch</label>
                                            <div class="col-sm-6">
                                                <select id="CboBranch"  class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    @*<div class="col-xs-6">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Department</label>
                                        <div class="col-sm-6">
                                            <select id="CboDepartment" name="DepartmentId" class="form-control"></select>
                                        </div>
                                    </div>*@
                                    <div class="col-xs-6">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Month</label>
                                            <div class="col-sm-6">
                                                <select id="CboMonth" class="form-control"></select>
                                            </div>
                                    </div>
                                    @*<div class="col-xs-6">
                                        <label class="col-sm-4 control-label no-padding-right">@Html.Label("Month")</label>
                                        <div class="col-xs-6">
                                            @Html.DropDownListFor(model => model.MonthYear, new SelectList(Model.ListMonths, "MonthValue", "MonthName"), "--- Select ---", new { @class = "form-control", @id = "MonthValue" })
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>

                <div id="AttendanceDetails"></div>
            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>No Data available</b></span>
    }

    <div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position:absolute; top: 50%; left:50%;">
            <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
        </p>
    </div>
</section>
<script type="text/javascript">
    function GetEmployeeAttendanceAnalysis() {
        var Division = $('#DivisionId').val();
        var Branch = $('#CboBranch').val();
        var Month = $('#CboMonth').val();
        var IsCentral = $('#IsCentral').val();

        $.ajax({
            url: '/HRReports/GetEmployeeAttendance',
            data: { nDivisionId: Division, nBranchId: Branch, strMonth: Month, IsCentral: IsCentral },
            beforeSend: function () {
                $('#imagemodal').show();
            },
            success: function (data) {
                $('#imagemodal').hide();
                $('#AttendanceDetails').html(data);
            },
            error: function () {

            }
        })
    };

    $(document).ready(function () {

        var IsCentral = $('#IsCentral').val();

        if (IsCentral != "value") {
            LoadMonth();
        }

    });

    $('#DivisionId').change(function () {
        debugger
        var DivisionId = $('#DivisionId').val();

        if (DivisionId != 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivisionId',
                data: { DivisionId: DivisionId },
                success: function (data) {

                    var BranchItems = $('#CboBranch');

                    BranchItems.children().remove();

                    BranchItems.append($("<option>").val("0").text("--- Select ---"));

                    $.each(data, function (i, record) {
                        BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                    });

                    $('#CboBranch').append(BranchItems);
                },
                aync: false
            });
        }
        else {
            var BranchItems = $('#CboBranch');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));

            var StaffItems = $('#CboDepartment');
            StaffItems.children().remove();
            StaffItems.append($("<option>").val(0).text(""));

        }
    });

    $('#CboBranch').change(function () {
        $('#CboDepartment').html("");
        $('#MonthValue').html("");
        debugger
        var BranchId = $('#CboBranch').val();
        LoadMonth();
        //}
        //else {

        //    var BranchItems = $('#CboDepartment');
        //    BranchItems.children().remove();
        //    BranchItems.append($("<option>").val(0).text(""));
        //}
    });

    function LoadDepartment() {

        $.ajax({
            url: '/HRReports/GetDepartmentDropDown',
            success: function (data) {

                var StaffItems = $('#CboDepartment');
                StaffItems.children().remove();
                StaffItems.append($("<option>").val("null").text("--- Select ---"));

                $.each(data, function (i, record) {
                    StaffItems.append($("<option>").val(record.DepartmentId).text(record.DepartmentName));
                });

                $('#CboDepartment').append(StaffItems);

                //var SelSubId = $('#SelSubId').val();

                //if (SelSubId > 0) {
                //    $('#CboBranch').val(SelSubId);

                //    var SelMonth = $('#MonthValue').val();

                //    if (SelMonth != "") {
                //        GetEmployeeAttendanceAnalysis();
                //    }

                //}
            },
            aync: false
        });

    }

    $('#CboDepartment').change(function () {
        debugger
        var departmentIdId = $('#CboDepartment').val();
        LoadMonth();


    });

    function LoadMonth() {

        $.ajax({
            url: '/HRReports/LoadMonthDropDown',
            success: function (data) {

                var StaffItems = $('#CboMonth');
                StaffItems.children().remove();
                //StaffItems.append($("<option>").val("null").text("--- Select ---"));

                $.each(data, function (i, record) {
                    StaffItems.append($("<option>").val(record.MonthValue).text(record.MonthName));
                });

                $('#CboMonth').append(StaffItems);
            },
            aync: false
        });

    }

    $('#CboMonth').change(function () {
        debugger


    });

    $('#View').click(function () {
        debugger
        var DivisionId = $('#DivisionId').val();
        var SubscriptionId = $('#CboBranch').val();
        var Class = $('#CboMonth').val();


        var isValid = true;
        var Message = "Please fill the mandatory fields :  ";

        var IsCentral = $('#IsCentral').val();

        if (IsCentral == "value") {
            IsCentral = true;
            if (DivisionId == "null" || DivisionId <= 0 && DivisionId != -1) {
                Message += "Division";
                isValid = false;
            }

            if (SubscriptionId == "null" || SubscriptionId <= 0 && SubscriptionId != -1) {
                if (!isValid)
                    Message += ",";

                Message += " Branch";
                isValid = false;
            }

        }

        GetEmployeeAttendanceAnalysis();

        //if (!isValid) {
        //    document.getElementById("Validation").innerHTML = Message;
        //    return;
        //}

        //$.ajax
        //    ({
        //        url: '/FReports/GetFeeDueReportBySubscriptionid/',
        //        data: { SubscriptionId: SubscriptionId, IsCentral: IsCentral, ClassNumber: Class },
        //        beforeSend: function () {
        //            $('#imagemodal').show();
        //        },
        //        success: function (data) {
        //            $('#TbFeeDueReport').html(data);
        //        }

        //    }).done(function () {
        //        $('#imagemodal').hide();
        //    });

    });

</script>