@model AsteriskBrowserAL.Models.BiometricStaffAttendance

<div class="hr hr-18 dotted hr-double"></div>
@{
    int sno = 1;
}

<section class="content">
    <br />

    @if (Model != null)
    {
        <div class="box">
            @*<div class="table-header">
                Records Found (@Model.Count())
            </div>*@
            <div class="table-header">
                Total Working Days (@Model.TotalWorkingDays)
            </div>

            @*<div class="box-header">
                <h3 class="box-title">Employee Attendance</h3>
            </div>*@<!-- /.box-header -->

            <div class="box-body">
                <div class="box-body table-responsive no-padding">
                    <table class="able tbhover table-striped table-bordered dynamic-table">
                        <thead>
                            <tr>
                                <th>
                                   S.No.
                                </th>
                                @*<th>
                                        @Html.DisplayName("Department Name")
                                    </th>*@
                                <th>
                                    @Html.DisplayName("Employee Name")
                                </th>
                                
                                <th>
                                    @Html.DisplayName("Total Days Present")
                                </th>

                                <th>
                                    @Html.DisplayName("Total Days Abscent")
                                </th>
                                @*<th>
                                    @Html.DisplayName("Total Days Leave")
                                </th>*@

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstData)
                            {
                                <tr>
                                    <td>
                                        @(sno++)
                                    </td>
                                    <td>
                                        @item.StaffName
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Presentdays)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AbsentCount)
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>Data is not available for selected Category</b></span>
    }
    @Html.Action("DataTableScripts", "Base")
</section>
