@model IEnumerable<AsteriskBrowserAL.Models.StaffLeavesReportData>
@{
    ViewBag.Title = "Employee Attendance";
    int sno = 1;
    int sno2 = 1;

}

@if (Model.Count() > 0)
{
    <div id="display_box">
        <div class="box">
            <div class="box-header">
                <div>
                    <input class="btn btn-primary" style="width:80px;" type="button" value="Print" onclick="PrintElem('#mydiv')" />
                </div>
            </div><!-- /.box-header -->

            <div style="overflow:auto; height:350px;">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>
                                   S.No.
                                </th>
                                <th>
                                    @Html.DisplayName("Class")
                                </th>
                                <th>
                                    @Html.DisplayName("Staff Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Leave Type")
                                </th>
                                <th>
                                    @Html.DisplayName("Remarks")
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(sno++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @item.ARDate.Value.ToString("dd - MMM - yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AbscentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remarks)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
}

else
{
    <span style="color:red;font-weight:bold;">Data not available to display</span>
}
<script type="text/javascript">

    //Printing data by opening popup
    function PrintElem(elem) {

        Popup($(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }
</script>



<body>

    <div id="mydiv" style="display:none">

        <div class="row">
            <div class="col-xs-12">
                <img class=" col-xs-11" id="avatar" width="50" height="43" src="@ViewBag.ImageData" style="margin-bottom:-1.5em;" />
                <b style="font-weight:bold; margin-left:0.3em; font-size:20px; font-family:'Segoe UI'">@ViewBag.InstituteName</b>
            </div>
            <div style="margin-left:3.7em; font-family:'Segoe UI'"><b>@ViewBag.InstituteAddres</b></div>
            <br />

            <hr style="width:100%; margin-bottom:-0.5em" />
            <hr style="width:100%;" />
            <div align="center" style="font:12%; font-family:'Segoe UI'"><b>Employee Attendance</b></div>
            <hr style="width:100%;" />
            <hr style="width:100%; margin-top:-0.5em" />
            <div class="col-xs-12 box-body table-responsive">
                <table class="table table-hover" rules="rows" cellpadding="9" style="width:657px; font-size:12px; font-family:'Segoe UI'">
                    <thead>
                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Department Name")
                            </th>
                            <th>
                                @Html.DisplayName("Satff Name")
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayName("Leave Type")
                            </th>
                            <th>
                                @Html.DisplayName("Remarks")
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(sno2++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @item.ARDate.Value.ToString("dd - MMM - yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AbscentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>

                            </tr>
                        }
                    </thead>
                </table>

            </div>
        </div>
    </div>
</body>

