@model AsteriskBrowserAL.Models.HallTicket
@{
    int n = 0;   
}
<style>
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        font-size: 12px;
        line-height: 50px;
        text-align: center;
        border: 1px solid black;
    }

    .the {
        display: table-header-group;
    }

    }
</style>

<body>
    <div id="Hello">

        @if (null != Model && Model.lstStudents != null && Model.lstStudents.Count() > 0)
        {
            <table>
                <thead class="the"></thead>
            </table>
            for (int i = 0; i < Model.lstStudents.Count(); i++)
            {
                 int Sno = 1; 
                <div class="row">
                   
                        <div class="col-sm-12">


                            <div style="height:inherit;width:100%;text-align:center;border: 2px solid #000;border-radius: 10px">
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:30%">
                                            <div style="height:50%;">
                                                @if (null != Model.InstituteDetails.InstituteLogo)
                                                {
                                                    <img style="align-content:center;" id="avatar" width="70" height="50" src="@Model.InstituteDetails.InstituteLogo" />
                                                }
                                                else
                                                {

                                                }
                                            </div>
                                        </td>

                                        <td style="width:50%" align="center">
                                            <b style="font-weight:bold; font-size:15px; font-family:'Segoe UI'">DEMO SCHOOLS</b>
                                            <div style="font-family:'Segoe UI';font-size:14px;"><b>TELANGANA</b></div>
                                            <div style="font-family:'Segoe UI';font-size:13px;"><b>HALL TICKET</b></div>
                                            <div style="font-size:12px;font-family:'Segoe UI'"><b>@Model.ExamName</b></div>

                                        </td>
                                        <td style="width:30%">
                                            <img style="align-content:center;" id="avatar" width="70" height="50" src="@Model.lstStudents.ElementAt(i).StudentPhoto" />
                                            @*<div style="width:50px;height:50px;border-radius:25px;font-size:12px;line-height:50px;text-align:center;border: 1px solid black;"></div>*@
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <span style="font-family:'Segoe UI';font-size:12px;"><b>Name :</b></span>
                                            <span style="font-family:'Segoe UI';font-size:12px;">@Model.lstStudents.ElementAt(i).StudentName</span>
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <span style="font-family:'Segoe UI';font-size:12px;"><b>Father's Name :</b></span>
                                            <span style="font-family:'Segoe UI';font-size:12px;">@Model.lstStudents.ElementAt(i).FatherName</span>
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:48%">
                                            <span style="font-family:'Segoe UI';font-size:12px;"><b>Adm No. :</b></span>
                                            <span style="font-family:'Segoe UI';font-size:12px;">@Model.lstStudents.ElementAt(i).AdmissionNumber</span>
                                        </td>
                                        <td>
                                            <span style="font-family:'Segoe UI';font-size:12px;"><b>Class/Section :</b></span>
                                            <span style="font-family:'Segoe UI';font-size:12px;">@Model.ClassName-@Model.Section</span>
                                        </td>
                                    </tr>
                                </table>
                                <br />

                                <table style="width:100%;border:inherit;" class="table table-bordered">
                                    <tr style="border:inherit;border-color:black">
                                        <td>S.no</td>
                                        <td style="border:inherit;border-color:black">Subject</td>
                                        <td style="border:inherit;border-color:black">Date</td>                                      
                                    </tr>
                                    @foreach (var p in Model.Examinaitionpapers)
                                    {
                                    <tr style="border:inherit;border-color:black">
                                        <td>  @(Sno++)</td>
                                        <td style="border:inherit;border-color:black">@p.PaperName</td>
                                        <td style="border:inherit;border-color:black">@p.ExamDate.Value.ToString("dd-MMM-yyyy")</td>
                                      
                                    </tr>
                                    }
                                    </table>
                                <br />
                                <br />
                                @*<div style="width:55%;font-family:'Segoe UI';font-size:13px;margin-left:0.2em;">@Model.BranchName</div>*@
                                <div align="right" style="font-family:'Segoe UI';font-size:13px;margin-top:-1.3em;margin-right:0.2em;"> Principal</div>                            
                            </div>
                        </div>
                        <div class="col-sm-2" style="width:4%">
                        </div>
                   
                </div>

                    n++;

                    if (n <= Model.lstStudents.Count() && n % 10 != 0)
                    {
                        <div style="height:1%">&nbsp;</div>
                    }



                    if (n % 10 == 0)
                        {
                            <p style="page-break-before:always"></p>
                        }
            }
        }
        else
        {
            <span style="color:red;font-weight:bold">Students not available</span>
        }
    </div>

</body>





<script>
    function onloadData() {
        PrintElem('#Hello');
    }

    window.onload = onloadData();

    function PrintElem(elem) {

        Popup(document.getElementById("Hello").innerHTML)
    }




    function Popup(data) {

        var mywindow = window.open('', 'my div', 'width=50%,size=potrait');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        window.location.href = "/AExamination/GenerateHallTickets";
        return true;
    }
</script>

