
@model AsteriskBrowserAL.Models.StudentTeacherAssesmentViewModel

@{
    ViewBag.Title = "Exam Schedules";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Examinations
        </li>
        <li class="active">Teacher Assessment</li>
    </ul><!-- /.breadcrumb -->
}



<section class="content">
 

    @using (Html.BeginForm("TeacherAssesment", "AExamination", FormMethod.Post))
    {
        @Html.ValidationMessage("TeacherAssesment")

        <span style="font-weight:bold;color:red" id="Validation"></span>
        <div class="table-header">
            <span style="font-family:calibri;">Teacher Assessment</span>


        </div>


        if (Model.IsSaved)
        {



            <label style="color:green">Data saved successfully.</label>








        }
        <div class="row">
        
       
            <div class="col-xs-12">

               
                <div class="widget-box">
           
                    <div class="widget-body">
                        <div class="widget-main">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right">@Html.Label("Section")</label>

                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(model => model.SectionId, new SelectList(Model.lstSections, "SectionId", "SectionCode"), "-- Select --", new { @class = "form-control", id = "ClassNumber" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right">@Html.Label("Exam")</label>

                                        <div class="col-sm-6">
                                            @if (Model.ExaminationId > 0)
                                            {
                                                @Html.DropDownListFor(model => model.ExaminationId, new SelectList(Model.ListExaminations, "CCEExamId", "CCEExamCode"), "-- Select --", new { @class = "form-control", id = "ExaminationId" })
                                            }
                                            else
                                            {
                                                <select id="ExaminationId" name="ExaminationId" class="form-control"></select>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div id="AssesmentData" class="row">
            </div>

        if (null != Model)
        {
            <input type="hidden" id="SelClass" name="SectionId" value="@Model.SectionId" />
                    <input type="hidden" id="SelExam" name="ExaminationId" value="@Model.ExaminationId" />

        }
        else
        {

            <input style="display:none" id="SelClass" value="0" />
                    <input style="display:none" id="SelExam" value="0" />

        }

        <div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
            <p style="position:absolute; top: 50%; left:50%;">
                <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
            </p>
        </div>
    }
</section>


<script type="text/javascript">


    $(document).ready(function () {
       
        GetExaminationByClass()
        var nClassNo = $('#SelClass').val();
        var nExamId = $("#SelExam").val();

        document.getElementById('ClassNumber').Value = nClassNo
        document.getElementById('ExaminationId').Value = nExamId

        if ((nClassNo == "" || nClassNo == null || nClassNo == "null") && (nExamId == "" || nExamId == null || nExamId == "null")) {
            LoadStudentTeacherAssessmentData(nClassNo, nExamId)
        }

    })

    $('#ClassNumber').change(function () {
        $('#AssesmentData').html("");

        var ClassNumber = $('#ClassNumber').val();

        var Examination = $("#ExaminationId")

        if (ClassNumber > 0) {
            GetExaminationByClass();
        }
    });


    function GetExaminationByClass() {
        var ClassNumber = $('#ClassNumber').val();
        $.ajax({
            url: '/AExamination/GetExaminationsByClass',
            data: { nClassNumber: ClassNumber },
            success: function (result) {
                Examination = $("#ExaminationId")
                Examination.children().remove();
                Examination.append($("<option>").val("").text("-- Select --"))
                $.each(result, function (e, record) {
                    Examination.append($("<option>").val(record.CCEExamId).text(record.CCEExamCode))
                });
                $("#ExaminationId").append(Examination);
                var SelExam = $("#SelExam").val();
                if (SelExam > 0 && SelExam != "") {
                    document.getElementById("ExaminationId").value = SelExam;
                    LoadStudentTeacherAssessmentData(ClassNumber, SelExam)
                }

            },
        });
    };

    $("#ExaminationId").change(function () {

        $('#AssesmentData').html("");

        var nClass = $('#ClassNumber').val();
        var nExam = $('#ExaminationId').val();


        if (nClass > 0 && nExam > 0) {
            LoadStudentTeacherAssessmentData(nClass, nExam);
        }
    });

    function LoadStudentTeacherAssessmentData(nClassNo, nExamId) {
        $('#imagemodal').show();

        $.ajax({
            url: '/AExamination/LoadStudentTeacherAssessmentData',
            data: { nSection: nClassNo, nExamId: nExamId },
            success: function (data) {
                $('#AssesmentData').html(data);
            },
            error: function () {
                $('#imagemodal').hide();
            }

        }).done(function () {
            $('#imagemodal').hide();
        })
    }
</script>






