@model List<AsteriskBrowserAL.Models.StudentAdmissionData>

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div>

@using (Html.BeginForm("ParentFeedBackET", "COthers", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">

            @if (null != Model && Model.Count() > 0)
            {
                int sno = 1;
                <div class="row">
                    <div class="col-xs-12">
                        <span style="color:red;" id="validation"></span>
                        <div class="table-header">
                            Feedback Report
                            <div class="inline action-buttons" style="float:right;padding-right:1em;">
                                <button class="btn btn-info btn-minier" type="submit" id="btnReturn">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="overflow:auto;height:500px">
                    <table class="table tbhover table-striped table-bordered dynamic-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("SNo")
                                </th>
                                <th>
                                    @Html.DisplayName("Branch Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Student Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Admission Number")
                                </th>

                                <th>
                                    @Html.DisplayName("Class Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Feedback")
                                </th>
                                <th>
                                    @Html.DisplayName("Rating")
                                </th>
                                <th>
                                    @Html.DisplayName("Date")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @(sno++)
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).Institute
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).FirstName
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).AdmissionNumber
                                    </td>

                                    <td>
                                        @Model.ElementAt(i).ClassName
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).Remarks
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).Message
                                    </td>
                                    <td>
                                        @Model.ElementAt(i).DisplayAdmissionDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div id="divKitItems" style="display:none"></div>
            }
            else
            {
                <span style="color: red;"><b> No Records Found</b></span>
            }


        </div>
    </div>
}

@Html.Action("DataTableScripts", "Base")


