@model AsteriskBrowserAL.Models.LeaveApprovalData

@{
    ViewBag.Title = "LeaveApprovalA";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Leave Management
        </li>
        <li class="active">Leave Approval</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>


<section class="content">
    <div class="row">
        <div class="page-header">
            <br />
            <h1>
                Leave Approve
                <small style="float:right;">
                    @Html.ActionLink("Back to details", "LeaveApproval")
                </small>
            </h1>
        </div>
        @*<div class=col-xs-12>
            <h3>@Html.ActionLink("<< Leave Approval Details", "LeaveApproval", new { reportToStaffId = ViewBag.Selected_reportToStaffId })</h3>
        </div>*@
    </div>
    @*<div class=" widget-body">
        <button class="btn btn-primary " id="ApplyLeave" name="ApplyLeave" type="submit" value="Apply Leave" style="width:80px">
            Approve
        </button>
    </div>*@

    @using (Html.BeginForm("LeaveApprovalA", "HRLeaveManagement", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="col-xs-12">
            <div class="widget-box">
                @*<div class="widget-header widget-header-flat widget-header-small">
                    <h5 class="widget-title">Leave Approve</h5>
                    <div class="widget-toolbar no-border">
                        <div class="inline action-buttons">
                            <a ><span class="btn btn-info btn-minier" id="ApplyLeave" name="ApplyLeave" type="submit" value="Apply Leave">Approve</span></a>

                            @*<button class="btn btn-primary " id="ApplyLeave" name="ApplyLeave" type="submit" value="Apply Leave" style="width:80px">*@
                                @*Approve
                            </button>*@
                          @*</div>
                    </div>
                </div>*@
                <div class="table-header">
                    Leave Approve
                    <div class="widget-toolbar no-border">
                        <div class="inline action-buttons"> 
                            <button class="btn-success btn-minier pull-right" style="margin-bottom:-0.5em;" id="ApplyLeave" name="ApplyLeave" type="submit" value="Apply Leave">
                                Approve
                            </button>                                                  
                            @*<a><span class="btn btn-success btn-minier pull-right" style="margin-bottom:-0.5em;" id="ApplyLeave" type="submit" value="ApplyLeave">Approve</span></a>*@
          
                        </div>
                    </div>
                </div>
                        <!-- /.box-header -->
                        <div class="widget-body table-responsive no-padding">
                            @Html.HiddenFor(model => model.LeaveId)
                            <table class="table table-bordered table-striped table-hover nowrap">
                                <tr>
                                    <td>@Html.DisplayName("Staff Name")</td>
                                    <td><b>@Model.FirstName</b></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayName("Leave Type")</td>
                                    <td><b>@Model.LeaveName</b></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayName("Leave Date")</td>
                                    <td>
                                        <b>
                                            @if (Model.LeaveDate != null)
                                    {
                                                @Model.LeaveDate.Value.ToString("dd - MMM - yyyy")
                                    }
                                    else
                                    {

                                    }
                                        </b>
                                    </td>



                                </tr>
                                <tr>
                                    <td>@Html.DisplayName("Is Half Day")</td>
                                    <td>
                                        @if (Model.IsHalfDay == true)
                                {
                                            <b>Yes</b>
                                }
                                else
                                {
                                            <b>No</b>
                                }
                                    </td>

                                </tr>

                                <tr>
                                    <td>@Html.DisplayName("Leaves Utilized")</td>
                                    <td><b>@ViewBag.LeavesUtilized</b></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayName("Leaves Remined")</td>
                                    <td><b>@ViewBag.LeavesRemined</b></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayName("Total Leaves")</td>
                                    <td><b>@ViewBag.TotalLeaves</b></td>
                                </tr>

                            </table>
                        </div><!-- /.box-body -->

                    </div><!-- /.box -->

                </div>
    }




</section><!-- /.content -->
