@model IEnumerable<AsteriskBrowserAL.Models.LeaveCategory>

@{
    ViewBag.Title = "LeaveCategories";
}


<!-- #section:basics/content.breadcrumbs -->
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-group"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            LeaveManagement
        </li>
        <li class="active">Leave Category</li>
    </ul><!-- /.breadcrumb -->
}
@{
    List<AsteriskBrowserAL.Models.CategoryWiseLeaveCount>
        demo = new List<AsteriskBrowserAL.Models.CategoryWiseLeaveCount>
            ();
    if (null != Model && Model.Count() > 0)
    {
        demo = Model.FirstOrDefault().LeaveTypeList;
    }

}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div>

<section class="content">
    <br />
    <br />
    @if (null != TempData["LeaveCategories"])
    {
        @Html.Raw(TempData["LeaveCategories"])
    }

    @if (null != Model)
    {
        <span style="color:red;font-weight:bold" id="Validation"></span>

        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    Leave Categories
                        <div style="float:right;margin-right:10px;">
                            <a class="btncustom P2" href="@Url.Action("LeaveCategoriesC", "HRLeaveManagement" )" role="button" >Add</a>
                        </div>
                </div>

                <!-- /.box-header -->

                <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("SNo")
                            </th>
                            <th>
                                @Html.DisplayName("Category Name")
                            </th>
                            <th>
                                @Html.DisplayName("Category Code")
                            </th>
                            @foreach (var i in demo)
                            {
                                <th>@i.LeaveTypeName</th>}
                            <th></th>
                        </tr>
                        <tr>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            @foreach (var i in demo)
                            {
                                @*
                                    <th>Leave Count</th>*@
                                <th>Annual Count</th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(nsno++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryCode)
                                </td>
                                @foreach (var j in item.LeaveTypeList)
                                {

                                    @*
                                        <td>@j.CLeaveCount</td>*@
                                    <td>@j.LeaveTypeCount</td>
                                }
                                <td>
                                    <div>
                                        <a class="green P2" href="@Url.Action("LeaveCategoriesE", "HRLeaveManagement" , new { id=item.LeaveCategoryId})">
                                            <i class="ace-icon fa fa-pencil  bigger-130"></i>

                                        </a>
                                        <a class="red P2" onclick="btnConfirm(@item.LeaveCategoryId)">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>

                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>


    }
    else
    {
        <div class="table-header">
            Leave Categories
            <div style="float:right;margin-right:10px;">
                <a class="btncustom P2" href="@Url.Action("LeaveCategoriesC", "HRLeaveManagement" )" role="button">Add</a>
            </div>
        </div>
        <span style="color: red;"><b> Data is not available </b></span>
    }
    @Html.Action("DataTableScripts", "Base")
</section>
<script>
    function btnConfirm(Value) {
        if (Value > 0) {
            $.ajax({
                url: '/HRLeaveManagement/ValidationForLeaveCategoriesD',
                data: { id: Value },
                success: function (data) {

                    var url = '/HRLeaveManagement/LeaveCategoriesD?id=' + Value;
                    var title = "Leave Categories";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }
    }

</script>

