@model AsteriskBrowserAL.Models.LeaveApprovalData

@{
    ViewBag.Title = "LeaveApprovalD";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Leave Management
        </li>
        <li class="active">Leave Approval</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>


<section class="content">
    <div class="row">
        <div class="page-header">
            <br />
            <h1>
                Leave Decline
                <small style="float:right;">
                    @Html.ActionLink("Back to details", "LeaveApproval")
                </small>
            </h1>
        </div>
    </div>


    @using (Html.BeginForm("LeaveApprovalD", "HRLeaveManagement", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="col-xs-12">
            <div class="widget-box">
                <div class=" table-header">
                    Leave Decline
                    <div class="widget-toolbar no-border">
                        <div class="inline action-buttons">                         
                                <button class="btn btn-success btn-minier pull-right" id="ApplyLeave" name="ApplyLeave" type="submit" value="Apply Leave" style="margin-bottom:-0.5em;">
                                    Decline
                                </button>                      
                            </div>
                    </div>
                </div>
                @*<div class=" table-header">
                    <h3 class="box-title">Leave Decline</h3>
                </div>
                <div class="box-body">
                    <div class="widget-toolbar no-border">
                        <div class="inline action-buttons">
                            <button class="btn btn-success btn-minier pull-right" id="ApplyLeave" name="ApplyLeave" type="submit" value="Apply Leave" style="margin-bottom:-0.5em;">
                                Decline
                            </button>
                        </div>
                    </div>
                </div>*@<!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    @Html.HiddenFor(model => model.LeaveId)
                    <table class="table table-bordered table-striped table-hover nowrap">
                        <tr>
                            <td>@Html.DisplayName("Staff Name")</td>
                            <td><b>@Model.FirstName</b></td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Leave Type")</td>
                            <td><b>@Model.LeaveName</b></td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Leave Date")</td>
                            <td>
                                @if (Model.LeaveDate != null)
                                {
                                    <b>@Model.LeaveDate.Value.ToString("dd - MMM - yyyy")</b>

                                }

                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Is Half Day")</td>
                            <td>
                                @if (Model.IsHalfDay == true)
                                {
                                    <b>Yes</b>
                                }
                                else
                                {
                                    <b>No</b>
                                }
                            </td>

                        </tr>

                        <tr>
                            <td>@Html.DisplayName("Leaves Utilized")</td>
                            <td><b>@ViewBag.LeavesUtilized</b></td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Leaves Remined")</td>
                            <td><b>@ViewBag.LeavesRemined</b></td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayName("Total Leaves")</td>
                            <td><b>@ViewBag.TotalLeaves</b></td>
                        </tr>

                    </table>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

                </div>
    }




</section><!-- /.content -->
