@model AsteriskBrowserAL.Models.StaffLeavesData

@{
    ViewBag.Title = "LeaveApplicationD";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Transactions
        </li>
        <li>
            <i class=""></i>
            Staff
        </li>
        <li class="active">Leave Application</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">
   
    <br />
    <div class="row">

        <div class="col-xs-12">
            <span style="color: red;">
                <b>Are you sure you want to cancel this?</b>
            </span>
           
                @using (Html.BeginForm("LeaveApplicationD", "HRLeaveManagement", FormMethod.Post, new { @class = "form-horizontal" }))
                {

                    <div class="page-header">
                        <h1>
                            <small style="float:right;">
                                @Html.ActionLink("Back To Details", "LeaveApplication")
                            </small>
                        </h1>
                    </div>

            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">Leave Application</h5>
                <div class="widget-toolbar no-border">
                    <div class="inline action-buttons">
                 
                        <a><span class="btn btn-info btn-minier" type="submit" style="margin-bottom:8px">Cancel</span></a>
                    </div>

                </div>
                
              

            </div><!-- /.box-header -->
    <div class="widget-body">
        @Html.HiddenFor(model => model.LeaveId)
        <table id="dynamic-table" class="table table-bordered table-striped table-hover nowrap">
            <tbody>
                <tr>

                    <th>
                        @Html.DisplayName("Staff Name")
                    </th>
                    <th>
                        @Html.DisplayName("Leave Date")
                    </th>
                    <th>
                        @Html.DisplayName("Is Half Day")
                    </th>
                    <th>
                        @Html.DisplayName("Remarks")
                    </th>
                    <th>
                        @Html.DisplayName("IsApproved")
                    </th>

                <tr>
                    <td align="center">
                        @Model.FirstName
                    </td>
                    <td align="center">
                        @Model.LeaveDate.Value.ToString("dd-MMM-yyyy")
                    </td>

                    <td align="center">
                        @if (Model.IsHalfDay == true)
                        {
                            <text>Yes</text>
                        }
                        else
                        {
                            <text>No</text>
                        }
                    </td>

                    <td align="center">
                        @Model.Remarks
                    </td>
                    <td align="center">
                        @if (Model.IsApproved == 1)
                        {
                            <input type="checkbox" value="true" name="IsApproved" disabled="disabled" />

                        }
                        else
                        {
                            <input type="checkbox" value="false" name="IsApproved" disabled="disabled" />

                        }
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
                }

            </div>
        </div>
   
</section>


@Html.Action("DatePickerScripts", "Base")

