@model IEnumerable<AsteriskBrowserAL.Models.StaffLeavesData>

@{
    ViewBag.Title = "LeaveApplicationDet";
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Transactions
        </li>
        <li>
            <i class=""></i>
            Staff
        </li>
        <li class="active">Leave Application</li>
    </ul><!-- /.breadcrumb -->
}






<style type="text/css">
    .nowrap {
        white-space: nowrap;
    }

    th {
        text-align: center;
    }

    .hideScrolling {
        overflow: hidden;
        height: 400px;
    }

   
       
</style>
<br/>
<section class="content">
   

        @*<div class=col-xs-12>
            <h3>@Html.ActionLink("<< Leave Application Details", "LeaveApplication", new { StaffId = ViewBag.Sel_StaffId })</h3>

        </div>*@


        <div class="page-header">
        <h1>
                <small style="float:right;">
       @Html.ActionLink("Back to details", "LeaveApplication", new { StaffId = ViewBag.Sel_StaffId })
                </small>
        </h1>
        </div>
        <br />
        @using (Html.BeginForm("LeaveApplicationDet", "HRLeaveManagement", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <span style="color: red;">@Html.ValidationMessage("LeaveApplicationDet")</span>
            if (ViewBag.IsNotApprovedData != null || null != Model)
            {

                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <h5 class="widget-title">
                            Not Approved
                            </h5>
                            </div>

          
         
                        <div class="table-header">
                          
                        </div>
                  
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Staff Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Leave Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Is Half Day")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Reporting To")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Remarks")
                                    </th>


                                </tr>

                                @foreach (var item in ViewBag.IsNotApprovedData)
                                {

                                    <tr>
                                        <td align="center">
                                            @item.FirstName
                                        <td>
                                            @item.LeaveDate.ToString("dd - MMM - yyyy")

                                        </td>

                                        <td align="center">
                                            @if (item.IsHalfDay == true)
                                            {
                                                <text>Yes</text>
                                            }
                                            else
                                            {
                                                <text>No</text>
                                            }
                                        </td>
                                        <td align="center">
                                            @item.ReportingToName
                                        </td>
                                        <td align="center">
                                            @item.Remarks
                                        </td>

                                    </tr>
                                }
                            <tbody>
                        </table>

                              
                        </div>
                    </div>
                    }
                    else
                    {
                    <span style="color: red;"><b>Data is not available</b></span>
                    }
                    
                    <br/>

                    if (ViewBag.IsApprovedData != null || null != Model)
                    {
                        <div class="col-xs-12">
                            <div class="widget-box">
                                <div class="table table-striped table-bordered table-hover">
                                    <h5 class="widget-title">
                                   History
                                    </h5>
                                </div>

              
                         
                                    <div class="table-header">
                        
                                    </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Staff Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Leave Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Is Half Day")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Reporting To")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Remarks")
                                            </th>

                                            <th></th>
                                        </tr>

                                        @foreach (var item in ViewBag.IsApprovedData)
                                        {

                                            <tr>
                                                <td align="center">
                                                    @item.FirstName  @item.LastName
                                                </td>
                                                <td align="center">
                                                    @item.LeaveDate.ToString("dd - MMM - yyyy")

                                                </td>

                                                <td align="center">
                                                    @if (item.IsHalfDay == true)
                                                    {
                                                        <text>Yes</text>
                                                    }
                                                    else
                                                    {
                                                        <text>No</text>
                                                    }
                                                </td>
                                                <td align="center">
                                                    @item.ReportingToName
                                                </td>

                                            </tr>
                                        }
                                    <tbody>
                                </table>

                                </div>
                            </div>


                            }
                            else
                            {
                            <span style="color: red;"><b>Data is not available</b></span>
                            }




                            }



</section>


