@model AsteriskBrowserAL.LeaveTypes
@{
    ViewBag.Title = "Delete Leave Types";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Leave Management
        </li>
        <li class="active">Leave Types</li>
    </ul><!-- /.breadcrumb -->
}








<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h3>@Html.ActionLink("<< Leave Types Details", "LeaveTypes")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("LeaveTypesDConfirm", "HRLeaveManagement", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            <div>
                <span style="color: red;">
                    <b>Are you sure you want to delete this?</b>
                </span>
            </div>
                <span style="color:red;font-weight:bold;">@Html.ValidationMessage("LeavesTypes")</span>
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="box-header">
                        <h3 class="box-title">Leave Types</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>

                    </div><!-- /.box-header -->


                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>
                                    @Html.DisplayName("Leave Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Leave Code")
                                </th>
                                <th>
                                    @Html.DisplayName("Annual Count")
                                </th>

                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.LeaveName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.LeaveCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.AnnualCount)

                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>

</section>




