@model IEnumerable<AsteriskBrowserAL.Models.BioMetricDeviceData>
@{
    ViewBag.Title = "Biometric Device";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Biometric Device</li>
    </ul><!-- /.breadcrumb -->
}



<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("Add Biometric Device", "BiometricDeviceC")</h3>
        </div>
    </div>
    <br />


    @if (null != Model && Model.Count() > 0)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Biometric Device</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("DeviecId")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Branch Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Enroll Start Number")
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BiometricDeviceId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BranchName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartNumber)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "BiometricDeviceE", new { id = item.BiometricDeviceId }) |
                                            @Html.ActionLink("Delete", "BiometricDeviceD", new { id = item.BiometricDeviceId })

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</section>







