@model AsteriskBrowserAL.Models.EmployeeDesignationData

@{
    ViewBag.Title = "Delete Designation";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Designation</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h3>@Html.ActionLink("<< Designation Details", "Designations")</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("DesignationD", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div>
                    <span style="color: red;">
                        <b>Are you sure you want to delete this?</b>
                    </span>
                </div>
    <span style="color: red;font-weight:bold;">@Html.ValidationMessage("AccessLevels")</span>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Access Levels</h3>
                       
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Access Level Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Reporting Manager")
                                    </th>

                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.DesignationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ReportingManager)
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            }
        </div>
    </div>
</section>


