@model AsteriskBrowserAL.Models.EmployeeDesignationData

@{
    ViewBag.Title = "Edit Access Levels";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Designation</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">  
    
    @using (Html.BeginForm("DesignationE", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.EmployeeDesignationId)
        <div class="table-header">
           
                Access Levels
                <small style="float:right;" class="textheader">
                    @Html.ActionLink("Back to details", "Designations")
                </small>
         
        </div><!-- /.page-header -->
       
            <div class="widget-box row" style="padding:10px;">
                <form class="form-horizontal" role="form">

                    <span style="color:red;font-weight:bold;">@Html.ValidationMessage("Access Levels")</span>




                    <!-- form start -->


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Access Level Name")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.DesignationName, new { @class = "form-control textlength", @id = "DesignationId", placeholder = "Designation Name" })
                        </div>
                        <div class="col-sm-3" style="display:none;" id="nameNull">
                            <label style="color:red;font-weight:bold;">  Please Enter Access Level Name </label>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Reporting Manager")</label>

                        <div class="col-sm-3">
                            @Html.DropDownListFor(model => model.ReportingManagerId, new SelectList(Model.lstDesignations, "EmployeeDesignationId", "DesignationName"), new { @class = "form-control", id = "EmployeeDesignationId" })
                        </div>
                        <div class="col-sm-3" style="display:none;" id="designationNull">
                            <label style="color:red;font-weight:bold;">  Please Select Report Manager </label>
                        </div>
                    </div>


                    <div class="col-md-9" align="left">
                        <div class="hr hr-18 dotted hr-double"></div>
                        <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>


                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="ace-icon fa fa-undo bigger-50"></i>
                            Reset
                        </button>
                    </div>

                </form>

            </div>

    }
                        

             
                <input type="hidden" id="count" name="count" value="0" />
</section>

<script type="text/javascript">
    function validateDesginationEdit() {
       
         document.getElementById("count").value = "1";
         var Name = $('#DesignationId').val();
         var empDesignation = $('#EmployeeDesignationId').val();
        
         validate = true;        
         if (Name == "") {
             document.getElementById("nameNull").style.display = "inline";
             validate = false;
         } else {
             document.getElementById("nameNull").style.display = "none";
         }
      
         if (empDesignation == "-1") {
             document.getElementById("designationNull").style.display = "inline";
             validate = false;
         } else {
             document.getElementById("designationNull").style.display = "none";
         }
         
        return validate;
    };

    function submitForm() {
       
        var validatestatus = validateDesginationEdit();
        
        if (validatestatus == false) {           
            return false;
        } else {
            return true;
        }
    };

    $('#Name').focus(function () {
        $('#Nameval').hide();
    });
    $('#Description').focus(function () {
        $('#DescriptionVal').hide();
    });



</script>









