@model AsteriskBrowserAL.EmployeePosition

@{
    ViewBag.Title = "Create Employee Position";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Employee  Designations</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">

    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("EmployeePositionC", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage(" Designations")</span>



                    <div class="table-header">
                        <span style="font-family:calibri;"> Designations</span>
                        <small style="float:right;font-weight:bold;" class="textheader">
                            @Html.ActionLink("Back to details", "EmployeePosition")
                        </small>

                    </div>

                


                    <!-- form start -->
                    <form class="form-horizontal" role="form">

                        <div class="widget-box row" style="padding:10px;">

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label(" Designation Name")</label>

                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.PositionName, new { @class = "form-control col-sm-5 textlength", placeholder = "Position Name", @id = "PositionName" })
                                    </div>
                                    <div class="col-sm-2" style="display:none;" id="pPositionName">
                                        <label style="color:red;font-weight:bold;"> Please Enter  Designation Name </label>
                                    </div>
                                    @*<div class="col-sm-3">
                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("PositionName")</span>
            </div>*@
                                </div>


                            </div>
                            <div class="col-sm-5">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Category Name")</label>

                                    <div class="col-sm-6">
                                        @Html.DropDownList("CategoryId", null, "--Select Category --", new { @class = "form-control", @id = "CategoryName" })
                                    </div>
                                    <div class="col-sm-2" style="display:none;" id="cCategoryName">
                                        <label style="color:red;font-weight:bold;"> Please Enter  Category Name </label>
                                    </div>
                                    @*<div class="col-sm-3">
                <span style="color: red;font-weight: bold;">@Html.ValidationMessage("CategoryId")</span>
            </div>*@
                                </div>

                            </div>
                            <div class="col-sm-2">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right"></label>

                                    <div class="col-sm-8">
                                        @Html.CheckBoxFor(model => model.Status)
                                        <span class="lbl bigger-120">Is Active</span>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                            </div>


                            


                            
                            

                         
                            <div class="col-md-9" align="left">
                                <div class="hr hr-18 dotted hr-double"></div>
                                <button class="btn btn-success btn-sm" onclick="return ValidateForm();" type="submit">
                                    <i class="ace-icon fa fa-check bigger-50"></i>
                                    Save
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-50"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>
<script type="text/javascript">
    function ValidateForm() {
        var validate = true;
        var PositionName = $('#PositionName').val();
        var CategoryName = $('#CategoryName').val();      
        if (PositionName == "" || PositionName.trim().length < 1) {
            validate = false;
            $('#pPositionName').show();
        }
        if (CategoryName == "" || CategoryName.trim().length < 1) {
            validate = false;
            $('#cCategoryName').show();
        }
        return validate;
    }
   
</script>





