@model AsteriskBrowserAL.Department

@{
    ViewBag.Title = "Delete Department";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Employee Department</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Employee Department Details", "EmployeeDepartment")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("EmployeeDepartmentD", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("EmployeeDepartment")</span>
                    <div class="box-header">
                        <h3 class="box-title">Employee Department</h3>
                    
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;">
                            Delete
                        </button>

                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartmentName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartmentCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DepartmentCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>


</section>



