
@model AsteriskBrowserAL.EmployeeCategory

@{
    ViewBag.Title = "Delete EmployeeCategory";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Employee Category</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Employee Category Details", "EmployeeCategory")</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("EmployeeCategoryD", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div>
                        <span style="color: red;">
                            <b>Are you sure you want to delete this?</b>
                        </span>
                    </div>
                    <span style="color: red;">@Html.ValidationMessage("EmployeeCategory")</span>
                    <div class="box-header">
                        <h3 class="box-title">Employee Category</h3>
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Category Name")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Prefix)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Prefix)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
