@model AsteriskBrowserAL.EmployeeCategory

@{
    ViewBag.Title = "Edit Employee";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Employee Category</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">

   

  
        @using (Html.BeginForm("EmployeeCategoryE", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <span style="color: red;">@Html.ValidationMessage("EmployeeCategory")</span>
            <div class="table-header">
            
                     Employee Category
                    <small style="float:right;" class="textheader">
                        @Html.ActionLink("Back to details", "EmployeeCategory", new { CategoryId = Model.EmployeeCategoryId })
                    </small>
              
            </div><!-- /.page-header -->
            <div class="widget-box row"  style="padding:10px;">

  
                <!-- form start -->
                <form class="form-horizontal" role="form">

                    @Html.HiddenFor(model => model.EmployeeCategoryId)

                    <div class="col-sm-12">

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Category Name")</label>

                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control col-sm-5 textlength", placeholder = "CategoryName", @id = "CategoryName", @onchange = "removeError();" })
                                </div>

                                <div class="col-sm-2" style="display:none;" id="categoryname">
                                    <label style="color:red;font-weight:bold;"> Please Enter The Category Name </label>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-5">
                            
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Prefix")</label>

                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Prefix, new { @class = "form-control col-sm-5 textlength", @maxlength = "10", placeholder = "Prefix", @id = "Prefix", @onchange = "removeError();" })
                                </div>


                                <div class="col-sm-2" style="display:none;" id="prefix">
                                    <label style="color:red;font-weight:bold;"> Please Enter The Prefix </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2">

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"></label>

                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(model => model.Status)
                                    <span class="lbl bigger-110">Is Active</span>
                                </div>

                                <div class="col-sm-1">
                                    @Html.ValidationMessageFor(model => model.Status)
                                </div>
                            </div>
                        </div>

                                <br />
                           
                                <div class="col-md-9" align="left">
                                    <div class="hr hr-18 dotted hr-double"></div>
                                    <button class="btn btn-success btn-sm" onclick="return subitForm();" type="submit">
                                        <i class="ace-icon fa fa-check bigger-50"></i>
                                        Save
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn btn-sm" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-50"></i>
                                        Reset
                                    </button>
                                </div>
                        

                    </div>


                    
                        


                        

                        
                
                </form>
                
                </div>
           
        }
            <input type="hidden" id="count" name="count" value="0" />
        </section>

        <script type="text/javascript">
            function validateEmployeeCategory() {

                document.getElementById("count").value = "1";
                var CategoryName = document.getElementById("CategoryName").value;
                var Prefix = document.getElementById("Prefix").value;

                validate = true;

                if (CategoryName == "") {
                    document.getElementById("categoryname").style.display = "inline";
                    validate = false;
                } else {
                    document.getElementById("categoryname").style.display = "none";
                }

                if (Prefix == "") {
                    document.getElementById("prefix").style.display = "inline";
                    validate = false;
                } else {
                    document.getElementById("prefix").style.display = "none";
                }


                return validate;
            };

            function subitForm() {

                var validatestatus = validateEmployeeCategory();
                if (validatestatus == false) {
                    return false;
                } else {
                    return true;
                }
            };

            function removeError() {

                var count = document.getElementById("count").value;

                var CategoryName = document.getElementById("CategoryName").value;
                var Prefix = document.getElementById("Prefix").value;


                if (count != 0) {
                    if (CategoryName != "") {
                        document.getElementById("categoryname").style.display = "none";
                    } else {
                        document.getElementById("categoryname").style.display = "inline";
                    }

                    if (Prefix != "") {
                        document.getElementById("prefix").style.display = "none";
                    } else {
                        document.getElementById("prefix").style.display = "inline";
                    }


                }
            };

            $('#CategoryName').click(function () {
                document.getElementById('categoryname').style.display = "none"
            })


            $('#Prefix').click(function () {
                document.getElementById('prefix').style.display = "none"
            })

        </script>



