@model AsteriskBrowserAL.Models.EmployerContributionData
@{
    ViewBag.Title = "EmployerContributionD";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Employee Contribution</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Employer Contribution", "EmployerContribution")</h3>
        </div>
    </div>
    <br />
@using (Html.BeginForm("EmployerContributionD", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
        <div class="row">
            <div class="col-xs-12">

                <div>
                    <span style="color: red;">
                        <b>Are you sure you want to delete this?</b>
                    </span>
                </div>
                <span style="color: red;">@Html.ValidationMessage("EmployeeContribute")</span>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title col-xs-11">Employer Contribution</h3>
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Percentage (%)")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Percentage On")
                                    </th>

                                    <th></th>
                                </tr>

                              
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.ContributionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Percentage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.PayrollCategoryName)
                                        </td>
                                    </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
}
  
</section>

