@model IEnumerable<AsteriskBrowserAL.Models.EmployeePositionData>

@{
    ViewBag.Title = "Employee Position";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Employee Designations</li>
    </ul><!-- /.breadcrumb -->
}





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">


    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->

<section class="content">



    @if (null != TempData["EmployeePosition"])
    {
        @Html.Raw(TempData["EmployeePosition"])
    }

    @if (null != Model)
    {
        int nsno = 1;
        <div class="table-header">
            Designations
            <div style="float:right;margin-right:10px;">

                <a class="btncustom P2" href="@Url.Action("EmployeePositionC", "SeHR")" role="button" id="New" name="New">
                    Add
                </a>
            </div>
        </div>


        <div class="overflowscroll">
            <table class="table tbhover table-striped table-bordered dynamic-table">
                <thead>
                    <tr>
                        <th>
                            S.No.
                        </th>
                        <th>
                            @Html.DisplayName(" Designation Name")
                        </th>
                        <th>
                            @Html.DisplayName("Category Name")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(nsno++)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PositionName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.Status, new { @class = "checkbox" })
                            </td>

                            <td>
                                <div>
                                    <a class="green P2" href="@Url.Action("EmployeePositionE", "SeHR", new { id = item.EmployeePositionId })">

                                        <i class="ace-icon fa fa-pencil  bigger-130"></i>

                                    </a>
                                    <a class="red P2" onclick="btnConfirm(@item.EmployeePositionId)">
                                        <i class="ace-icon fa fa-trash-o bigger-130">
                                        </i>

                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    else
    {
        <div class="table-header">
            Designations
            <a class="view-header-btn  btn btn-info btn-xs P2" href="@Url.Action("EmployeePositionC", "SeHR")" role="button" id="New" name="New"><i class="fa fa-plus-circle bigger-180"></i></a>
        </div>
        <span style="color: red;"><b>No records found</b></span>
    }
</section>
@Html.Action("DataTableScripts", "Base")
<script>
    function btnConfirm(Value) {
        if (Value > 0) {
            $.ajax({
                url: '/SeHR/ValidationForEmployeePositionD',
                data: { id: Value },
                success: function (data) {

                    var url = '/SeHR/EmployeePositionD?id=' + Value;
                    var title = " Designations";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }
    }
</script>


