@model  IEnumerable<AsteriskBrowserAL.Models.StaffRegistrationViewModel>
    @{
    ViewBag.Title = "Interviewer";
    }

    @using (Html.BeginForm("Interviewer", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
    {

       
            if (Model.Count() > 0)
            {
                int nsno = 1;
                <div class="hr hr-18 dotted hr-double"></div>
                <div class="col-xs-12">
                    <div class="box">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="table-header">
                                    Records Found (@Model.Count())
                                    <div style="float:right;">
                                        <button type="submit" name="Save" class="btn btn-info btn-xs P2">
                                            <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                     
                        <div class="hideScrolling">

                            <div class="hideScrolling">
                              

                                <table class="table tbhover table-striped table-bordered dynamic-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("S.No")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Employee Number")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Branch Name")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Designation")
                                            </th>
                                            <th>Is Interviewer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                <td>
                                                    @(nsno++)
                                                    @Html.Hidden("lstStaffRegistrationViewModel[" + @i + "].StaffId", Model.ElementAt(i).StaffId)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).EmployeeNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).StaffName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).BranchName)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Designation)
                                                </td>

                                                <td>
                                                    @*<input type="checkbox" name="IsInterviewer"  />*@
                                                    @Html.CheckBox("lstStaffRegistrationViewModel[" + @i + "].IsInterviewer", Model.ElementAt(i).IsInterviewer, new { @class="checkbox"})
                                                    @*@Html.Hidden("lstStaffRegistrationViewModel[" + (@i+10) + "].IsInterviewer", Model.ElementAt(i).IsInterviewer)*@
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="hr hr-18 dotted hr-double"></div>
                <span style="color: red;"><b>There are no interviewers</b></span>
            }
        }
@Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })

        
    



