@model  IEnumerable<AsteriskBrowserAL.Models.StaffRegistrationViewModel>
@{
    ViewBag.Title = "Interviewer";
}

@using (Html.BeginForm("Interviewer", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
{

    if (Model != null)
    {
        if (Model.Count() > 0)
        {
            int nsno = 1;
            <div class="hr hr-18 dotted hr-double"></div>
            <div class="col-xs-12">
                <div class="box">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="table-header">
                                Current Interviewer (@Model.Count())
                               

                            </div>
                        </div>
                    </div>
                </div>

              


                <table class="table tbhover table-striped table-bordered dynamic-table">
                    <thead>
                        <tr>
                            <th>
                               S.No.
                            </th>

                            <th>
                                @Html.DisplayName("Employee Number")
                            </th>

                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Branch Name")
                            </th>

                            <th>
                                @Html.DisplayName("Designation")
                            </th>
                            @*<th>Is Interviewer</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @(nsno++)
                                    @Html.Hidden("lstStaffRegistrationViewModel[" + @i + "].StaffId", Model.ElementAt(i).StaffId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).EmployeeNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).StaffName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).BranchName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Designation)
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="hr hr-18 dotted hr-double"></div>
            <span style="color: red;"><b>There are no interviewers</b></span>
        }

    }
}
@Html.Action("DataTableScripts", "Base")


