@model AsteriskBrowserAL.PayrollCategoryCodeNumbers

@{
    ViewBag.Title = "Payroll Category Codes";
}


<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Payroll Codes</li>
    </ul><!-- /.breadcrumb -->
}








<section class="content">

    @using (Html.BeginForm("PayrollCategoryCodesC", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <span style="color: red;">@Html.ValidationMessage("PayrollCategoryCodes")</span>


        <div class="box">
            <span style="color:red;font-weight:bold;">@Html.ValidationMessage("PayrollCategoryCodes")</span>

            <div class="page-header">
                <br />
                <h1>
                    Payroll Codes
                    <small style="float:right;">
                        @Html.ActionLink("Back to details", "PayrollCategoryCodes")
                    </small>
                </h1>
            </div><!-- /.page-header -->
            <!-- form start -->
            <form class="form-horizontal" role="form">


                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Payroll Code")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.PayrollCategoryCode, new { @class = "form-control col-sm-5 textlength", placeholder = "Payroll Code", @id = "PayrollCategoryCode", @onchange = "removeError();" })
                        </div>


                        <div class="col-sm-3" style="display:none;" id="vPayrollCategoryCode">
                            <label style="color:red;font-weight:bold;"> Please Enter  Payroll Code </label>
                        </div>

                    </div>
                </div>
              
                <div class="hr hr-18 dotted hr-double"></div>
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                        <i class="ace-icon fa fa-check bigger-50"></i>
                        Save
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-sm" type="reset">
                        <i class="ace-icon fa fa-undo bigger-50"></i>
                        Reset
                    </button>
                </div>
            </form>
        </div>


    }


    <input type="hidden" id="count" name="count" value="0" />
</section>

<script type="text/javascript">
    function submitForm() {

        if (!Validation())
            return false;

        return true;
    }


    function Validation() {
        var bValidationPass = true;
        var PayrollCode = $('#PayrollCategoryCode').val();

        if (PayrollCode == "" || PayrollCode == undefined) {
            bValidationPass = false;
            $('#vPayrollCategoryCode').show();
        }

        return bValidationPass;
    }

    $('#PayrollCategoryCode').focus(function () {
        $('#vPayrollCategoryCode').hide();
    })
</script>


