@model AsteriskBrowserAL.PayrollCategory

@{
    ViewBag.Title = "Delete PayrollCategory";
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Payroll Category</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Payroll Category Details", "PayrollCategory")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("PayrollCategoryD", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("PayrollCategory")</span>
                    <div class="box-body">
                        <div class="box-header">
                            <h3 class="box-title">Payroll Category</h3>
                            <br />
                            <br />
                            <button class="btn btn-primary" type="submit" style="width:80px;">
                                Delete
                            </button>
                        </div><!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>

                                        <th>
                                            @Html.DisplayName("Category Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Percentage Value")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is Deductable")
                                        </th>

                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.PercentageValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.IsDeductable)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }

        </div>


    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


