@model AsteriskBrowserAL.PayrollCategoryComponents

@{
    ViewBag.Title = "Payroll Category Components";
}


<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Payroll Components</li>
    </ul><!-- /.breadcrumb -->
}

    <section class="content">

        <!-- form start -->

        @using (Html.BeginForm("PayrollCategoryComponentsC", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            @Html.ValidationSummary(true)
            <span style="color: red;">@Html.ValidationMessage("PayrollCategoryComponents")</span>


            <div class="table-header">
                <span style="font-family:calibri;">  Payroll Components</span>

                <small style="float:right;" class="textheader">
                    @Html.ActionLink("Back to details", "PayrollCategoryComponents")
                </small>

            </div>

            <form class="form-horizontal" role="form">
                <div class="widget-box">
                    <br />

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Component Name")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control col-sm-5 textlength", placeholder = "Category Name", @id = "CategoryName", @onchange = "removeError();" })
                        </div>

                        <div class="col-sm-3" style="display:none;" id="categoryname">
                            <label style="color:red;font-weight:bold;"> Please Enter  Category Name </label>
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"></label>

                        <div class="col-sm-3">
                            <div class="col-sm-2">
                                @Html.CheckBoxFor(model => model.IsEmployerContribute.Value, new { Name = "IsEmployerContribute" })
                                <input name="IsEmployerContribute" type="hidden" value="false" />
                            </div>

                            <span>Employer Contribution</span>
                        </div>
                    </div>

                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Save
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                    <br/>
                </div>

</form>





        }

        <input type="hidden" id="count" name="count" value="0" />
    </section>

<script type="text/javascript">
    function validateEmployeeCategory() {

        document.getElementById("count").value = "1";
        var CategoryName = document.getElementById("CategoryName").value;

        validate = true;

        if (CategoryName == "") {
            document.getElementById("categoryname").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("categoryname").style.display = "none";
        }

        return validate;
    };

    function submitForm() {

        var validatestatus = validateEmployeeCategory();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    function removeError() {

        var count = document.getElementById("count").value;

        var CategoryName = document.getElementById("CategoryName").value;
        if (count != 0) {
            if (CategoryName != "") {
                document.getElementById("categoryname").style.display = "none";
            } else {
                document.getElementById("categoryname").style.display = "inline";
            }



        }
    };

    $('#CategoryName').click(function () {
        document.getElementById('categoryname').style.display = "none"
    })



</script>

