@model AsteriskBrowserAL.Qualifications

@{
    ViewBag.Title = "Create Qualifications";
}


<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Qulifications</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    
            @using (Html.BeginForm("QualificationsC", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                <span style="color: red;">@Html.ValidationMessage("Qualifications")</span>


                <div class="table-header">
                    <span style="font-family:calibri;">Qualifications</span>
                    <small style="float:right;font-weight:bold;" class="textheader">
                        @Html.ActionLink("Back to details", "Qualifications")
                    </small>

                </div>


              



     
                    <!-- form start -->
                <div class="row widget-box" style="padding:10px">


                    <form class="form-horizontal" role="form">

                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Qualifications")</label>

                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-sm-5 textlength", placeholder = "Qualifications", @id = "Name", @onchange = "removeError();" })
                                </div>
                                <div class="col-sm-3" style="display:none;" id="vname">
                                    <label style="color:red;font-weight:bold;"> Please Enter Qualification Name </label>
                                </div>
                                @*<h2>QualificationsC</h2>*@
                            </div>

                           
                            <div class="col-md-9" align="left">
                                <div class="hr hr-18 dotted hr-double"></div>
                                <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                    <i class="ace-icon fa fa-check bigger-50"></i>
                                    Save
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-50"></i>
                                    Reset
                                </button>
                            </div>

                        </div>
                    </form>

                </div>
          
            }
     
        <input type="hidden" id="count" name="count" value="0" />
    </section>


<script type="text/javascript">
    function validateQualifications()
    {

        document.getElementById("count").value = "1";
        var QualificationName = document.getElementById("Name").value;
        validate = true;
        if (QualificationName == "") {
            document.getElementById("vname").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("vname").style.display = "none";
        }
        return validate;
    };

    function submitForm() {

        var validatestatus = validateQualifications();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };



    function removeError() {

        var count = document.getElementById("count").value;

        var CategoryName = document.getElementById("Name").value;

        if (count != 0) {
            if (CategoryName != "") {
                document.getElementById("vname").style.display = "none";
            } else {
                document.getElementById("vname").style.display = "inline";
            }
        }
    };

    $('#Name').click(function () {
        document.getElementById('vname').style.display = "none"
    })
</script>


