@model AsteriskBrowserAL.Qualifications
@{
    ViewBag.Title = "Qualifications";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Qulifications</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">
 

    @using (Html.BeginForm("QualificationsE", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
        {
        <span style="color: red;">@Html.ValidationMessage("Qualifications")</span>
    
        <div class="table-header">
           
   
                Edit Qualification
                <small style="float:right;" class="textheader">
                    @Html.ActionLink("Back to details", "Qualifications", new { CategoryId = Model.QualificationsId })
                </small>
        
        </div><!-- /.page-header -->
        <div class="widget-box row" style="padding:10px;" >

            <form class="form-horizontal" role="form">

                @Html.HiddenFor(model => model.QualificationsId)

            
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Qualification Name")</label>

                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-sm-5 textlength", placeholder = "Name", @id = "Name", @onchange = "removeError();" })
                    </div>

                    <div class="col-sm-3" style="display:none;" id="categoryname">
                        <label style="color:red;font-weight:bold;"> Please Enter Qualification Name </label>
                        
                    </div>
                </div>

                       
                        <div class=" col-md-9" align="left">
                            <div class="hr hr-18 dotted hr-double"></div>
                            <button class="btn btn-success btn-sm" onclick="return subitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Save
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>
                       
                    
              
               </form>
                 </div>
        
        }
             
            <input type="hidden" id="count" name="count" value="0" />
</section>



<script type="text/javascript">
    function validateQualification() {

        document.getElementById("count").value = "1";
        var CategoryName = document.getElementById("Name").value;
        validate = true;

        if (CategoryName == "") {
            document.getElementById("categoryname").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("categoryname").style.display = "none";
        }
        return validate;
    };

    function subitForm() {

        var validatestatus = validateQualification();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    function removeError() {

        var count = document.getElementById("count").value;

        var CategoryName = document.getElementById("Name").value;
  


        if (count != 0) {
            if (CategoryName != "") {
                document.getElementById("categoryname").style.display = "none";
            } else {
                document.getElementById("categoryname").style.display = "inline";
            }
        }
    };

    $('#Name').click(function () {
        document.getElementById('categoryname').style.display = "none"
    })

</script>







