@model AsteriskBrowserAL.StaffShift

@{
    ViewBag.Title = "Delete StaffShift";
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Shifts</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Shift Details", "Shifts")</h3>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("ShiftsD", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("Shifts")</span>
                    <div class="box-body">
                        <div class="box-header">
                            <h3 class="box-title">Shift</h3>
                            <br />
                            <br />
                            <button class="btn btn-primary" type="submit" style="width:80px;">
                                Delete
                            </button>
                        </div><!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>

                                        <th>
                                            @Html.DisplayName("Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("In Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Out Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is Study Hour")
                                        </th>

                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.StaffShiftName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.InTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.OutTime)
                                        </td>
                                        <td>
                                            @if (Model.IsStudyHour == true)
                                            {
                                                <input type="checkbox" checked="checked" disabled />
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled />
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>
</section>









