@model IEnumerable<AsteriskBrowserAL.StaffShift>
@{
    ViewBag.Title = "Shifts";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Shifts</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("Add Shifts", "ShiftsC")</h3>
        </div>
    </div>
    <br />


    @if (null != Model)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Shifts</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Shift Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("In Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Out Time")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Is Study Hour")
                                    </th>

                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StaffShiftName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OutTime)
                                        </td>
                                        <td>
                                            @if (item.IsStudyHour == true)
                                            {
                                                <input type="checkbox" checked="checked" disabled />
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled />
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "ShiftsE", new { id = item.StaffShiftId }) |
                                            @Html.ActionLink("Delete", "ShiftsD", new { id = item.StaffShiftId })

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>Data is not available </b></span>
    }
</section>







