@model AsteriskBrowserAL.StaffShift
@{
    ViewBag.Title = "Create Shifts";
    List<SelectListItem> IHours = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "--IHours--", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "00"},
        new SelectListItem(){Text = "01", Value = "01"},
        new SelectListItem(){Text = "02", Value = "02"},
        new SelectListItem(){Text = "03", Value = "03"},
        new SelectListItem(){Text = "04", Value = "04"},
        new SelectListItem(){Text = "05", Value = "05"},
        new SelectListItem(){Text = "06", Value = "06"},
        new SelectListItem(){Text = "07", Value = "07"},
        new SelectListItem(){Text = "08", Value = "08"},
        new SelectListItem(){Text = "09", Value = "09"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "11", Value = "11"},
        new SelectListItem(){Text = "12", Value = "12"},
        new SelectListItem(){Text = "13", Value = "13"},
        new SelectListItem(){Text = "14", Value = "14"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "16", Value = "16"},
        new SelectListItem(){Text = "17", Value = "17"},
        new SelectListItem(){Text = "18", Value = "18"},
        new SelectListItem(){Text = "19", Value = "19"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "21", Value = "21"},
        new SelectListItem(){Text = "22", Value = "22"},
        new SelectListItem(){Text = "23", Value = "23"}
    };

    List<SelectListItem> IMinutes = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "--IMinutes--", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "00"},
        new SelectListItem(){Text = "05", Value = "05"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "25", Value = "25"},
        new SelectListItem(){Text = "30", Value = "30"},
        new SelectListItem(){Text = "35", Value = "35"},
        new SelectListItem(){Text = "40", Value = "40"},
        new SelectListItem(){Text = "45", Value = "45"},
        new SelectListItem(){Text = "50", Value = "50"},
        new SelectListItem(){Text = "55", Value = "55"},
    };
    List<SelectListItem> OHours = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "--OHours--", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "00"},
        new SelectListItem(){Text = "01", Value = "01"},
        new SelectListItem(){Text = "02", Value = "02"},
        new SelectListItem(){Text = "03", Value = "03"},
        new SelectListItem(){Text = "04", Value = "04"},
        new SelectListItem(){Text = "05", Value = "05"},
        new SelectListItem(){Text = "06", Value = "06"},
        new SelectListItem(){Text = "07", Value = "07"},
        new SelectListItem(){Text = "08", Value = "08"},
        new SelectListItem(){Text = "09", Value = "09"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "11", Value = "11"},
        new SelectListItem(){Text = "12", Value = "12"},
        new SelectListItem(){Text = "13", Value = "13"},
        new SelectListItem(){Text = "14", Value = "14"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "16", Value = "16"},
        new SelectListItem(){Text = "17", Value = "17"},
        new SelectListItem(){Text = "18", Value = "18"},
        new SelectListItem(){Text = "19", Value = "19"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "21", Value = "21"},
        new SelectListItem(){Text = "22", Value = "22"},
        new SelectListItem(){Text = "23", Value = "23"}
    };

    List<SelectListItem> OMinutes = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "--OMinutes--", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "00"},
        new SelectListItem(){Text = "05", Value = "05"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "25", Value = "25"},
        new SelectListItem(){Text = "30", Value = "30"},
        new SelectListItem(){Text = "35", Value = "35"},
        new SelectListItem(){Text = "40", Value = "40"},
        new SelectListItem(){Text = "45", Value = "45"},
        new SelectListItem(){Text = "50", Value = "50"},
        new SelectListItem(){Text = "55", Value = "55"},
    };


}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Shifts</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<<Shifts Details", "Shifts")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <!-- form start -->
            @using (Html.BeginForm("ShiftsC", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <span style="color:red" id="error"></span>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title ">Shifts</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" type="submit" style="width:80px;" onclick="return submitForm();">
                            Create
                        </button>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.StaffShiftName, new { @class = "form-control textlength", placeholder = "StaffShiftName", @id = "StaffShiftName" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="staffshiftname">
                                <label style="color:red;font-weight:bold;"> Please Enter The Shift Name </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("In Time")</label>

                            <div class="col-sm-8">
                                <div class="col-sm-2">
                                    @Html.DropDownList("IHours", new SelectList(IHours, "Value", "Text"), new { @class = "form-control", @style = "width:100px", @id = "IHours", placeholder = "IHours" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.DropDownList("IMinutes", new SelectList(IMinutes, "Value", "Text"), new { @class = "form-control", @style = "width:100px" })
                                </div>
                                <div class="col-sm-5" style="display:none;" id="iHours">
                                    <label style="color:red;font-weight:bold;">Please select In Hours</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Out Time")</label>
                            <div class="col-sm-8">
                                <div class="col-sm-2">
                                    @Html.DropDownList("OHours", new SelectList(OHours, "Value", "Text"), new { @class = "form-control", @style = "width:100px", @id = "OHours", placeholder = "OHours" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.DropDownList("OMinutes", new SelectList(OMinutes, "Value", "Text"), new { @class = "form-control", @style = "width:100px" })
                                </div>

                                <div class="col-sm-5" style="display:none;" id="oHours">
                                    <label style="color:red;font-weight:bold;">Please select Out Time</label>
                                </div>
                                <div class="col-sm-4" style="display:none;" id="ESValidateoHours">
                                    <label style="color:red;font-weight:bold;"> Out Time should be greater than In Time</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Is Study Hour")</label>

                            <div class="col-sm-6">
                                @Html.CheckBoxFor(model => model.IsStudyHour.Value, new { Name = "IsStudyHour" })
                                <input name="IsStudyHour" type="hidden" value="false" />
                            </div>

                            <div class="col-sm-3">
                                <span style="color: red;font-weight:bold;">  @Html.ValidationMessage("IsStudyHour")</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>


<script type="text/javascript">
    function validateiImportantdays() {

        document.getElementById("count").value = "1";
        var StaffShiftName = document.getElementById("StaffShiftName").value;
        var IHours = document.getElementById("IHours").value;
        var OHours = document.getElementById("OHours").value;

        validate = true;

        if (StaffShiftName == "") {
            document.getElementById("staffshiftname").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("staffshiftname").style.display = "none";
        }

        if (IHours < 0) {
            document.getElementById("iHours").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("iHours").style.display = "none";
        }

        if (OHours < 0) {
            document.getElementById("oHours").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("oHours").style.display = "none";
        }
        if (IHours > OHours) {
            document.getElementById("error").innerHTML = "In time is greator then Out Time"
            validate = false;
        }

        if (IHours < 0 && OHours < 0) {
            if (OHours < IHours) {
                document.getElementById("ESValidateoHours").style.display = "inline";
                validate = false;
            } else {
                document.getElementById("ESValidateoHours").style.display = "none";
            }
        }


        return validate;
    };

    function submitForm() {

        var validatestatus = validateiImportantdays();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#StaffShiftName').click(function () {
        document.getElementById('staffshiftname').style.display = "none"
    })


    $('#IHours').click(function () {
        document.getElementById('iHours').style.display = "none"
    })

    $('#OHours').click(function () {
        document.getElementById('oHours').style.display = "none"
    })

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}












