
@model AsteriskBrowserAL.SlabSettings

@{
    ViewBag.Title = "Delete SlabSettings"; 
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Settings
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">SlabSettings</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< SlabSettings Details", "SlabSettings", new { @class = "form-horizontal" }))
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("SlabSettingsD", "SlabSettings", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                   @Html.HiddenFor(m => m.SlabSettingsId);
                
                <div>
                    <span style="color: red;">
                        <b>Are you sure you want to delete this?</b>
                    </span>
                </div>

                <div class="box">
                    <span style="color:red;font-weight:bold" id="Validation"></span>
                    <div class="box-header">
                        <h3 class="box-title">SlabSettings</h3>
                        <button class="btn btn-primary pull-right" type="submit" style="width:80px;" onclick="return submitForm()">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Min.Amount")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Max.Amount")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Fixed Amount")
                                    </th>
                                     
                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.MinAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MaxAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.FixedAmount)
                                    </td>
                                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<script>
    function submitForm()
    {
        var valid = true;

        var Id = $('#id').val();

        if(Id > 0)
        {
            $.ajax({
                url: '/SMasterData/ValidationForSubCategoryD',
                data: {Id: Id },
                success : function(data)
                {
                    if(data != "")
                    {
                        document.getElementById('Validation').innerHTML = data;
                        valid = false;
                    }
                },
                async : false
            })
        }

        return valid;
    }
</script>
