@model AsteriskBrowserAL.VariablePayrollComponents
@{
    ViewBag.Title = "VariablePayrollComponentsC";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Variable Payroll Components</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    @*<div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Variable Payroll Components Details", "VariablePayrollComponents")</h3>
        </div>
    </div>*@
   
    @*<div class="row">
        <div class="col-xs-12">*@
            <!-- form start -->
    <br/>
            @using (Html.BeginForm("VariablePayrollComponentsC", "SeHR", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("VariablePayrollComponents")</span>

                    <div class="box">
                        <div class="page-header">    
                                <h1>
                                   Variable Payroll Components
                                    <small style="float:right;">
                                        @Html.ActionLink("Back to details", "VariablePayrollComponents")
                                    </small>
                                </h1>
                            </div><!-- /.page-header -->
                            @*<h3 class="box-title">Payroll Component</h3>

                            <button class="btn btn-primary pull-right" type="submit" style="width:80px;" onclick="return ValidateForm();">
                                Save
                            </button>*@
                        </div><!-- /.page-header -->
    <form class="form-horizontal" role="form">

        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Component Name")</label>

                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.ComponentName, new { @class = "form-control", placeholder = "Component Name" })
                </div>

                <div class="col-sm-3" style="display:none;" id="vComponentName">
                    <label style="color:red;font-weight:bold;">Please Enter Component Name</label>
                </div>
            </div>
            <div class="form-group">
                <br/>
                @*<label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Is Deduction")</label>
                <div class="form-group">*@
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-6">
                        @Html.CheckBoxFor(model => model.IsDeduction.Value, new { Name = "IsDeduction" })
                        <input name="IsDeduction" type="hidden" value="false" />
                        <span class="lbl bigger-110">Is Deduction</span>
                    </div>
                    <div class="col-sm-3">
                        <span style="color: red;font-weight: bold;">@Html.ValidationMessage("IsDeduction")</span>
                    </div>
                </div>

                @*<div class="col-sm-3">

                    @Html.CheckBox("IsDeduction")
                </div>*@

                <div class="col-sm-3" style="display:none;" id="vIsDeduction">
                    <label style="color:red;font-weight:bold;">required</label>
                </div>

                <br />
                <div class="hr hr-18 dotted hr-double"></div>
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-success btn-sm" onclick="return ValidateForm();" type="submit">
                        <i class="ace-icon fa fa-check bigger-50"></i>
                        Save
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-sm" type="reset">
                        <i class="ace-icon fa fa-undo bigger-50"></i>
                        Reset
                    </button>
                </div>

            </div>
        @*</div>*@
        </form>
        }
        @*</div>
            </div>*@
        <input type="hidden" id="count" name="count" value="0" />
</section>

@*<script type="text/javascript">
    function VariablePayrollComponents() {

        document.getElementById("count").value = "1";
        var ComponentName = document.getElementById("vComponentName").value;

        validate = true;

        if (ComponentName == "" || ComponentName.trim().length < 1) {
            document.getElementById("vComponentName").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("vComponentName").style.display = "none";
        }

        return validate;
    };

    function submitForm() {

        var validatestatus = validateVariablePayrollComponents();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };
    function removeError() {

        var count = document.getElementById("count").value;

        var ComponentName = document.getElementById("vComponentName").value;

        if (count != 0) {
            if (ComponentName != "" && ComponentName.trim().length > 0) {
                document.getElementById("vComponentName").style.display = "none";
            } else {
                document.getElementById("vComponentName").style.display = "inline";
            }

        }
    };
    $('#ComponentName').click(function () {
        document.getElementById('vComponentName').style.display = "none"
    })

</script>*@

<script type="text/javascript">
    function ValidateForm() {
        var validate = true;

        var CategoryName = $('#ComponentName').val();
        var IsDeduction = $('#IsDeduction').val();

        if (CategoryName == undefined || CategoryName == "" || categoryname.length < 1) {
            validate = false;
            $('#vComponentName').show();
        }
        if (IsDeduction == "") {
            validate = false;
            $('#vIsDeduction').show();
        }

        return validate;
    }
</script>


