@model IEnumerable<AsteriskBrowserAL.VariablePayrollComponents>
@{
    ViewBag.Title = "VariablePayrollComponents";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Variable Payroll Components</li>
    </ul><!-- /.breadcrumb -->
}







<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->



<section class="content">
  
    <div class="row">
       
    </div>
   

    @if (null != TempData["VariablePayrollComponents"])
    {
        @Html.Raw(TempData["VariablePayrollComponents"])
    }
    @if (null != Model)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <br/>
                <div class="table-header">
                    Variable Payroll Components
                    <div style="float:right;margin-left:700px">
                        <a class="btn btn-info btn-xs P2" href="@Url.Action("VariablePayrollComponentsC", "SeHR")" role="button" id="New" name="New"><i class="fa fa-plus-circle bigger-200 pull-right"></i></a>
                        </div>
                    </div>
               

                    <div class="box-body table-responsive no-padding">
                        <table class="table tbhover table-striped table-bordered dynamic-table">
                            <thead>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Variable Component Name")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @item.ComponentName
                                        </td>
                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="green P2" href="@Url.Action("VariablePayrollComponentsE", "SeHR", new { id = item.VariablePayrollComponentId })">
                                                    <i class="ace-icon fa fa-pencil  bigger-130"></i>

                                                </a>
                                                <a class="red P2" onclick="btnConfirm(@item.VariablePayrollComponentId)">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>

                                                </a>
                                            </div>
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    }
    else
    {
        <div class="table-header">
            Variable Payroll Components
            <div style="float:right;margin-left:700px">
                <a class="view-header-btn btn btn-info btn-xs P2" href="@Url.Action("VariablePayrollComponentsC", "SeHR")" role="button" id="New" name="New"><i class="fa fa-plus-circle bigger-200"></i></a>
            </div>
            </div>
            <span style="color: red;"><b>   Records Found (0) </b></span>

            }
            @Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })
</section>
<script>
    function btnConfirm(Value) {

        if (Value > 0) {
            $.ajax({
                url: '/SeHR/ValidationForVariablePayrollComponentsD',
                data: { id: Value },
                success: function (data) {
                    var url = '/SeHR/VariablePayrollComponentsD?id=' + Value;
                    var title = "Variable Payroll Components";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }
    }
</script>



