@model AsteriskBrowserAL.Models.DivisionViewModel
@{
    int sno = 1;
}

<table class="table tbhover table-striped table-bordered dynamic-table">

    <tbody>
        <tr>
            <th>
                @Html.DisplayName("Select")
            </th>
            <th>
               S.No.
            </th>
            <th>
                @Html.DisplayName("Branch Name")
            </th>
        </tr>
        @if (null != Model)
        {
            if (null != Model.AssignedAllBranches && Model.AssignedAllBranches.Count() > 0)
            {
                for (int i = 0; i < Model.AssignedAllBranches.Count(); i++)
                {

                    <tr>
                        <td>
                            @Html.Hidden("AssignedAllBranches.Index", (@i + 10))
                            @Html.Hidden("AssignedAllBranches[" + (@i + 10) + "].SubscriptionId", Model.AssignedAllBranches.ElementAt(i).SubscriptionId)
                            @Html.Hidden("AssignedAllBranches[" + (@i + 10) + "].Institute", Model.AssignedAllBranches.ElementAt(i).Institute)
                            @Html.CheckBox("AssignedAllBranches[" + (@i + 10) + "].IsChecked", Model.AssignedAllBranches.ElementAt(i).IsChecked, new { @class = "checkbox", @id = "RemoveCheck", @name = "Check", @value = Model.AssignedAllBranches.ElementAt(i).SubscriptionId })
                            @Html.Hidden("AssignedAllBranches[" + (@i + 10) + "].IsChecked", Model.AssignedAllBranches.ElementAt(i).IsChecked)
                        </td>
                        <td>
                            @sno
                        </td>

                        <td>
                            @Model.AssignedAllBranches.ElementAt(i).Institute
                        </td>

                    </tr>
                    sno++;
                }
            }
        }

    </tbody>
</table>
@Html.Action("DataTableScripts", "Base")


<script>

</script>

