@model IEnumerable<AsteriskBrowserAL.Models.SalaryItemsData>
@using AsteriskBrowserAL.Models
@{
    ViewBag.Title = "Generate Payslip";
}

<style>
    .tableb {
    border-collapse: collapse;
}

  .thb {
    border: 1px solid black;
}

 .tdb {
    border: 1px solid black;
}

 
</style>

<body>
    <div>
        @*@if (ViewBag.TotalEAmount != null && ViewBag.TotalDAmount != null)
        {*@
            <div class="row" style="font-family:'Segoe UI';">
                <div class="col-xs-12">
                    <img class=" col-xs-11" id="avatar" width="50" height="43" src="@ViewBag.ImageData" style="margin-bottom:-1.5em;" />
                    <b style="font-weight:bold; margin-left:0.3em; font-size:20px; ">@ViewBag.InstituteName</b>
                </div>
                <div style="margin-left:3.7em; font-family:'Segoe UI'"><b>@ViewBag.InstituteAddres</b></div>
                <br />

                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <div align="center" style="font:12%; font-family:'Segoe UI'"><b>Pay Slip for the period of @ViewBag.MY</b></div>
                <hr style="width:100%;" />
                <hr style="width:100%; margin-top:-0.5em" />
                <table>
                    <tr>
                        <td style="width:420px;font-size:13px;font-family:'Segoe UI'">Employee Id : @ViewBag.EmpNo</td>

                        <td>
                            <p style="font-size:12px;font-family:'Segoe UI'">Name : @ViewBag.Staff </p>
                        </td>
                    </tr>

                </table>
                <hr style="width:100%;" />
                <table>
                    <tr>
                        <td style="width:420px;font-size:13px;font-family:'Segoe UI'">Department : @ViewBag.DeptName </td>

                        <td>
                            <p style="font-size:12px;font-family:'Segoe UI'">Designation : @ViewBag.Desig</p>
                        </td>
                    </tr>

                </table>
                <hr style="width:100%;" />

                <table class="tableb">
                    <tr>
                        <th class="thb">Earnings</th>
                        <th class="thb">Deductions</th>
                    </tr>
                    <tr>
                        <td valign="top">
                            <table cellpadding="1" cellspacing="3" class="tableb">

                                <tbody>
                                    <tr style="font-size:13px; font-weight:bold; text-align:left;">

                                        <th class="thb" style="width:200px;font-size:13px;">@Html.DisplayName("Earnings")</th>
                                        <th class="thb" style="width:200px;font-size:13px;">@Html.DisplayName("Amount")</th>


                                    </tr>

                                    @if (null != ViewBag.Earnings)
                                    {
                                        foreach (SalaryItemsData se in ViewBag.Earnings)
                                        {

                                            <tr>

                                                <td class="tdb">
                                                    <p style="font-size:12px;">@se.ItemName</p>
                                                </td>
                                                <td class="tdb">
                                                    <p style="font-size:12px;">@se.Amount</p>
                                                </td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </td>
                        <td valign="top">
                            <table cellpadding="1" cellspacing="3" class="tableb">
                                <tbody>
                                    <tr style="font-size:13px; font-weight:bold; text-align:left;">
                                        <th class="thb" style="width:200px;font-size:13px;">@Html.DisplayName("Deductions")</th>
                                        <th class="thb" style="width:200px;font-size:13px;">@Html.DisplayName("Amount")</th>
                                    </tr>

                                    @if (null != ViewBag.Deductions)
                                    {
                                        foreach (SalaryItemsData sd in ViewBag.Deductions)
                                        {
                                            <tr>
                                                <td class="tdb">
                                                    <p style="font-size:12px;">@sd.ItemName</p>
                                                </td>
                                                <td class="tdb">
                                                    <p style="font-size:12px;">@sd.Amount</p>
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <hr style="width:100%;" />
                <table>
                    <tr>
                        <td style="width:160px;font-size:13px;font-family:'Segoe UI'">Total Earnings</td>
                        @if (null != ViewBag.TotalEAmount)
                        {
                            <td>
                                <p style="font-size:12px;font-family:'Segoe UI'"><b>@ViewBag.TotalEAmount</b> </p>
                            </td>
                        }
                        else
                        {
                            <td>
                                <p style="font-size:12px;font-family:'Segoe UI'"><b>0</b> </p>
                            </td>
                        }
                        
                    </tr>
                </table>
                <table style="margin-left:22em;margin-top:-1.5em" cellpadding="1" cellspacing="2">
                    <tr>
                        <td style="width:160px;font-size:13px;font-family:'Segoe UI'">Total Deductions</td>
                        @if (null != ViewBag.TotalDAmount)
                        {
                            <td>
                                <p style="font-size:12px;font-family:'Segoe UI'"><b>@ViewBag.TotalDAmount</b> </p>
                            </td>
                        }
                        else
                        {
                            <td>
                                <p style="font-size:12px;font-family:'Segoe UI'"><b>0</b> </p>
                            </td>
                        }
                       
                    </tr>
                </table>
                <hr style="width:100%;" />
                <table>
                    <tr>
                        <td style="width:160px;font-size:13px;font-family:'Segoe UI'">Net Pay(Rounded)  </td>

                        <td>
                            <p style="font-size:12px;font-family:'Segoe UI'"><b> Rs. @ViewBag.totalamount</b> </p>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr style="font-size:13px;font-family:'Segoe UI'">
                        <td>( @ViewBag.SalaryInWords )</td>
                    </tr>
                </table>
                <b style="font-weight:bold; float:right; font-size:15px;font-family:'Segoe UI' ">For @ViewBag.InstituteName</b>
                <hr style="width:100%;" />
                <p style="text-align:center;margin-top:-0.5em;font-size:15px;">--System Generated Receipt--</p>

            </div>
        @* } *@
    </div>
</body>
