
@model AsteriskBrowserAL.Models.SalaryItemsViewData
@using AsteriskBrowserAL.Helpers;


<table style="width:100%;border-collapse:collapse;margin-top:3em;font-family:'Segoe UI'" border="1">
    <tr style="width:100%">
        <td style="width:100%">
            <div class="box-body table-responsive">
                <div class="col-xs-12">
                    <table style="width:100%;" align="center">
                        <tr style="width:100%;">
                            <td style="width:85%;">
                                <table style="width:100%;" align="center">
                                    <tr align="center">
                                        <td align="center">
                                            <div class="box-body table-responsive">
                                                <div class="col-xs-12">
                                                    <table style="width:100%;" align="center">
                                                        <tr style="width:100%;">
                                                            <td style="width:85%;">
                                                                <table style="width:100%;" align="center">
                                                                    <tr align="center">
                                                                        <td align="center">
                                                                            <table align="center">
                                                                                <tr>
                                                                                    <td style="font-weight:bold;width:30%">
                                                                                        @Html.HiddenFor(model => model.objInstitute.InstituteLogo)
                                                                                        @if (null != ViewBag.IsPhotoAvailable)
                                                                                        {
                                                                                            if (ViewBag.IsPhotoAvailable)
                                                                                            {
                                                                                                <div>
                                                                                                    <img id="image1" width="200" height="50" style="float:left" class="editable img-responsive" src="@ViewBag.ImageData" />
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                    </td>
                                                                                    &nbsp;  &nbsp;
                                                                                    <td style="font-size:20px;width:70%" nowrap>
                                                                                        <b> @Model.objInstitute.InstituteAddress</b><br /> &nbsp; &nbsp;Tel&nbsp;:&nbsp;@Model.objInstitute.InstitutePhone,&nbsp;@Model.objInstitute.AlternateMobile,&nbsp;<br />
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <br />
                                            <hr style="width:100%; margin-bottom:-0.5em" />
                                            <hr style="width:100%;" />
                                            <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>Pay Slip for the period of @Model.PeriodName.ToUpper()</b></div>
                                            <br />
                                    </tr>
                                </table>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%;margin-left:1em; border-collapse:collapse" align="center">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>Employee Number</b>
                                </td>
                                <td style="margin-right:2em">
                                    <b> : </b>
                                </td>
                                <td style="margin-left:2em">
                                    @Model.EmployeeNo
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>Employee Name</b>
                                </td>
                                <td style="margin-right:2em">
                                    <b> : </b>
                                </td>
                                <td style="margin-left:2em">
                                    @Model.EmployeeName
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>ESI Number</b>
                                </td>
                                <td style="margin-right:2em">
                                    :
                                </td>
                                <td style="margin-left:2em">
                                    @Model.ESICode
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>Days Paid </b>
                                </td>
                                <td style="margin-right:2em">
                                    :
                                </td>
                                <td>
                                    @Model.PaidDays
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>   Email Id  </b>
                                </td>
                                <td style="margin-right:2em">
                                    :
                                </td>
                                <td>
                                    @Model.EmailId
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>Department</b>
                                </td>
                                <td style="margin-right:2em">
                                    <b> : </b>
                                </td>
                                <td style="margin-left:2em"></td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>Date Of Joining  </b>
                                </td>
                                <td style="margin-right:2em">
                                    :
                                </td>
                                <td style="margin-left:1em">
                                    @Model.DOJ
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>Pay Date</b>
                                </td>
                                <td style="margin-right:2em">
                                    :
                                </td>
                                <td style="margin-left:2em">
                                    @Model.PaidDate
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            <table class="tableb" style="width:100%;margin-left:1em;">
                <tr>
                    <td valign="top">
                        <table class="tableb" style="margin-bottom:1%;border-collapse:collapse;width:97%" border="1">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Earnings
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size:13px; font-weight:bold; text-align:left;">
                                    <th class="thb" style="width:200px;margin-left:2em;font-size:13px;"><span>&nbsp;&nbsp;</span>@Html.DisplayName("Component")</th>
                                    <th class="thb" style="width:200px;margin-left:2em;font-size:13px;text-align:right;">@Html.DisplayName("Amount")<span>&nbsp;&nbsp;</span></th>
                                </tr>
                                @foreach (var item in Model.ListSalaryItemsEarnings)
                                {
                                    string weight = "normal";
                                    if (@item.CategoryName == "Gross")
                                    {
                                        weight = "bold";
                                    }
                                    <tr style="font-weight:@weight">
                                        <td>
                                            <span>&nbsp;&nbsp;</span>@item.CategoryName
                                        </td>
                                        <td style="text-align:right;">
                                            @Utility.ConvertToStringCommas(Math.Round(item.MaxAmount.Value, MidpointRounding.AwayFromZero).ToString())<span>&nbsp;&nbsp;</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td valign="top">
                        <table border="1" style="border-collapse:collapse;width:90%;margin-right:1em" class="tableb">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Deduction
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size:13px; font-weight:bold; text-align:left;">
                                    <th class="thb" style="width:200px;font-size:13px;margin-left:1em;"><span>&nbsp;&nbsp;</span>@Html.DisplayName("Component")</th>
                                    <th class="thb" style="width:200px;font-size:13px;margin-left:1em;text-align:right;">@Html.DisplayName("Amount")<span>&nbsp;&nbsp;</span></th>
                                </tr>
                                @foreach (var item in Model.ListSalaryItemsDeductions)
                                {
                                    string weight = "normal";
                                    if (@item.CategoryName == "Net Amount")
                                    {
                                        weight = "bold";
                                    }
                                    <tr style="font-weight:@weight">
                                        <td>
                                            <span>&nbsp;&nbsp;</span>@item.CategoryName
                                        </td>
                                        <td style="text-align:right;">
                                            @Utility.ConvertToStringCommas(Math.Round(item.MaxAmount.Value, MidpointRounding.AwayFromZero).ToString())<span>&nbsp;&nbsp;</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <hr style="width:100%;" /><br /><br />
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr style="font-size:13px;font-family:'Segoe UI'">
                    <td>
                        <span style="font-weight:bold">Note:</span>
                    </td>
                </tr>
                <tr style="font-size:13px;font-family:'Segoe UI'" width='100%'>
                    <td>
                        1)This is Computer Generated Slip and does not required Signature.<br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
