@model AsteriskBrowserAL.Models.PaySlipViewModel
@{
    ViewBag.Title = "Generate Payslip";



}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Payroll
        </li>
        <li class="active">Generate Payslip</li>
    </ul><!-- /.breadcrumb -->
}


<!-- Include Select2 CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />
<!-- CSS to make Select2 fit in with Bootstrap 3.x -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />
<!-- Include Select2 JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

<input type="hidden" value="@Model.IsHr" id="IsHr" />
<input type="hidden" value="@Model.StaffId" id="LoggedStaffId" />

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <span id="error" style="color: red;"></span>
            @if (Model.IsHr == true)
            {
            <div class="widget-box">
                <div class="table-header">
                    <span>Generate Payslips</span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label class="col-sm-5 control-label no-padding-right"><span style="color:red">* </span> @Html.Label("Payslip For")</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("PayslipFor", null, "--- Select ---", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6" id="HideThis">
                                    <label class="col-sm-5 control-label no-padding-right"><span style="color:red">* </span>  @Html.Label("Division")</label>
                                    <div class="col-sm-6">
                                        <select id="DivisionId" name="DivisionId" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group" id="HideThis1">
                                <div class="col-sm-6">
                                    <label class="col-sm-5 control-label no-padding-right"><span style="color:red">* </span> @Html.Label("Branch")</label>
                                    <div class="col-sm-6">
                                        <select id="BranchId" name="BranchId" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-5 control-label no-padding-right">@Html.Label("Payroll Month")</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(model => model.MonthYear, new SelectList(Model.ListMonths, "MonthValue", "MonthName"), "--- Select ---", new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                            <br /><br />
                            <div class="form-group" id="dvStaffId">
                                <div class="col-sm-6">
                                    <label class="col-sm-5 control-label no-padding-right"><span style="color:red">* </span> @Html.Label("Employee")</label>
                                    <div class="col-sm-6">
                                        <select id="StaffId" name="StaffId" class="form-control select2"></select>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            }
            <div id="PartialView"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#PayslipFor').change(function () {
        debugger
        $('#PartialView').html("");
        var PayslipFor = $('#PayslipFor').val()
        if (PayslipFor == 1 || PayslipFor == "1") {
            $('#HideThis').hide()
            $('#HideThis1').hide()
            $('#dvStaffId').hide()

            var StaffId = $('#LoggedStaffId').val()
            LoadPartial(StaffId)
            $('#DivisionId').empty();
        }
        else if (PayslipFor == "2" || PayslipFor == 2) {
            $('#HideThis1').show()
            $('#HideThis').show()
            $('#dvStaffId').show()

            $.ajax({
                url: '/HRPayroll/LoadDivisionForPayslip',
                success: function (data) {
                    var DivisionItems = $('#DivisionId');
                    $('#DivisionId').append($("<option>").val("").text("--- Select ---"));
                    $.each(data, function (i, record) {
                        DivisionItems.append($("<option>").val(record.DivisionId).text(record.DivisionName));
                    });
                    $('#DivisionId').append(DivisionItems);
                },
                aync: false
            });
        }
        else {
            $('#HideThis1').show()
            $('#HideThis').show()
            $('#dvStaffId').show()

        }
    })

    $('#DivisionId').change(function () {
        debugger;
        $('#BranchId').empty();
        $('#StaffId').empty();
        $('#PartialView').html("");
        var DivisionId = $('#DivisionId').val();
        if (DivisionId != 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivisionId',
                data: { DivisionId: DivisionId },
                success: function (data) {
                    var BranchItems = $('#BranchId');
                    $('#BranchId').append($("<option>").val("0").text("--- Select ---"));
                    $.each(data, function (i, record) {
                        BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                    });
                    $('#BranchId').append(BranchItems);
                },
                aync: false
            });
        }
    });

    //$('#BranchId').change(function () {
    //    $('#PartialView').html("");
    //    $('#StaffId').empty();
    //    var BranchId = $('#BranchId').val();
    //    if (BranchId != 0) {
    //        $.ajax({
    //            url: '/HRPayroll/GetEmployeesBySubscriptionId',
    //            data: { nSubscriptionId: BranchId },
    //            success: function (data) {
    //                debugger
    //                var StaffList = $('#StaffId');
    //                $('#StaffId').append($("<option>").val("").text("--- Select ---"));
    //                $.each(data, function (i, record) {
    //                    StaffList.append($("<option>").val(record.StaffId).text(record.FirstName));
    //                });
    //                $('#StaffId').append(StaffList);
    //            },
    //            aync: false
    //        });
    //    }
    //});


    $('#BranchId').change(function () {
        $('#PartialView').html("");
        $('#MonthYear').val('');
        $('#StaffId').empty();
    });
    $('#StaffId').change(function () {
        $('#imagemodal').show();
         $('#PartialView').html("");
        var DivisionId = $('#DivisionId').val()
        var BranchId = $('#BranchId').val()
        //$('#MonthYear').val('');
        var StaffId = $('#StaffId').val()

        if (DivisionId != "" && BranchId != "" && StaffId != "") {
            LoadPartial(StaffId)
        }
        else {
            document.getElementById('error').innerHTML = 'Select all fields';
        }

    })
    $('#MonthYear').change(function () {
        debugger
        $('#imagemodal').show();
        $('#PartialView').html("");
        $('#StaffId').empty();
        var DivisionId = $('#DivisionId').val()
        var BranchId = parseInt($('#BranchId').val());
        var MonthYear = $('#MonthYear').val();
        if (BranchId != 0) {
            $.ajax({
                url: '/HRPayroll/GetEmployeesBySubscriptionId',
                data: { nSubscriptionId: BranchId },
                success: function (data) {
                    debugger
                    var StaffList = $('#StaffId');
                    $('#StaffId').append($("<option>").val("0").text("--- Select ---"));
                    $.each(data, function (i, record) {
                        StaffList.append($("<option>").val(record.StaffId).text(record.FirstName));
                    });
                    $('#StaffId').append(StaffList);
                },
                aync: false
            });

            if (DivisionId != "" && BranchId != 0 && MonthYear != "") {
                LoadPartialBasedonMonthyear(MonthYear, BranchId, DivisionId)
            }
            else {
                document.getElementById('error').innerHTML = 'Select all fields';
            }
        }
        else {
            if (BranchId == 0) {
                debugger;
                $('#imagemodal').hide();
                document.getElementById('error').innerHTML = 'Please select Branch';
            }
            
        }

    })
    function LoadPartialBasedonMonthyear(MonthYear, BranchId, DivisionId) {
        debugger;
        $('#imagemodal').show();
        $.ajax({
            url: '/HRPayroll/GetStaffByBranchMontyearForPayslip',
            data: { MonthYear: MonthYear, BranchId: BranchId, DivisionId: DivisionId},
            success: function (data) {
                $('#PartialView').html(data);
                $('#imagemodal').hide();
            },
            aync: false
        });
    }

    function LoadPartial(StaffId) {
        $.ajax({
            url: '/HRPayroll/GetStaffByBranchForPayslip',
            data: { StaffId: StaffId },
            success: function (data) {
                $('#PartialView').html(data);
                $('#imagemodal').hide();
            },
            aync: false
        });
    }

    window.onload = onLoad();

    function onLoad() {
        debugger
        var IsHr = $('#IsHr').val()
        var StaffId = $('#LoggedStaffId').val()
        if (IsHr == "") {
            LoadPartial(StaffId)
        }

    }
</script>

