@model IEnumerable<AsteriskBrowserAL.Models.AdvanceSalaryData>
           @{
               int Sno = 1;
           }

@if (null != Model && Model.Count() > 0)
{

    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Advance Salary</h3>
                </div><!-- /.box-header -->

                <div style="overflow:auto; height:350px;">
                    <div class="box-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="height:50px;">
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Employee Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Out Standing Amount")
                                    </th>
                                    <th>
                                    </th>
                                </tr>

                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                  
                                    <tr>
                                        <td>
                                            @(Sno++)
                                        </td>
                                        <td>
                                            @item.DisplayName
                                        </td>
                                        <td>
                                            @item.AdmissionNumber
                                        </td>
                                        <td>
                                            @item.Amount
                                        </td>
                                        <td>
                                            @Html.ActionLink("Advance", "Advance", new { id = item.StaffId, nDivisionId = item.DivisionId, nBranchId = item.BranchId }) |
                                            @Html.ActionLink("Details", "AdvanceSalaryDetails", new { id = item.StaffId, nDivisionId = item.DivisionId, nBranchId = item.BranchId })
                                        </td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <label style="color:red;">Data not available for selected search</label>
}

