@model AsteriskBrowserAL.Models.SalaryItemsViewData
@using AsteriskBrowserAL.Helpers;
@{

}


        @using (Html.BeginForm())
        {

            <div class="col-sm-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Arrear Data</h3>
                    </div>052
                    <div class="box-body">
                        <div style="overflow:auto;font-size:14px;">
                            <table class="table table-bordered table-striped table-hover nowrap" style="font-size:14px;">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Component")
                                        </th>
                                        <th style="text-align:center;">
                                            @Html.DisplayName("Arrear Amount")
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.ListSalaryItemsEarnings)
                                    {

                                        <tr style="height:50px;">
                                            <td>
                                                @item.CategoryName
                                            </td>
                                            <td style="text-align:right;">
                                                @Utility.ConvertToStringCommas(Math.Round(item.Amount.Value, MidpointRounding.AwayFromZero).ToString())
                                            </td>
                                        </tr>
                                    }

                                    @foreach (var item in Model.ListSalaryItemsDeductions)
                                    {

                                        <tr style="height:50px;">
                                            <td>
                                                @item.CategoryName
                                            </td>
                                            <td style="text-align:right;">
                                                @Utility.ConvertToStringCommas(Math.Round(item.Amount.Value, MidpointRounding.AwayFromZero).ToString())
                                            </td>
                                        </tr>
                                    }
                                    @*<tr>
                                        <td>
                                            Other Income
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Incentives
                                        </td>
                                        <td></td>
                                    </tr>*@

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        }
 
