@model List<AsteriskBrowserAL.Models.FeePaymentsData>
@{
    int Sno = 1;
}


@if (null != Model)
{
    if (Model.Count() > 0)
    {
        <div class="table-header">
            Fee Details
        </div>
    <div>
        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                        SNo
                    </th>
                    <th>
                        Particular Name
                    </th>
                    <th class="centerAlign">
                        Fee Amount
                    </th>
                    <th class="centerAlign">
                        Concession Amount
                    </th>
                    <th class="centerAlign">
                        Net Amount
                    </th>

                    <th class="centerAlign">
                        Paid Amount
                    </th>

                    <th class="centerAlign">
                        Due Amount
                    </th>

                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count(); i++)
                {

                    <tr>
                        <td>
                            @(Sno++)
                        </td>
                        <td >
                            @Model[i].FeeParticularName
                        </td>
                        <td>
                            @Model[i].FeeAmount.ToString()
                        </td>
                        <td>
                            @Model[i].DiscountAmount.ToString()
                        </td>
                        <td >
                            @Model[i].NetAmount.ToString()


                        <td>
                            @Model[i].PaidAmount.ToString()
                        </td>

                        <td>
                            @Model[i].DueAmount.ToString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    }
}
else
{
    <label style="color:red;font-weight:bold;font-size:12px;"> There are no Fee dues</label>

}
