@model AsteriskBrowserAL.Models.HomeWorkData


<br />
<br />
<div class="page-header">
    <h1>
        <small style="float:right;">
            @Html.ActionLink("Back to details", "HomeWork", new { nCourseId = Model.CourseId, nSectionId = Model.SectionId })
        </small>
    </h1>
</div>

<table style="width:100%;border-collapse:collapse;margin-top:3em;font-family:'Segoe UI'" border="1">
    <tr style="width:100%">
        <td style="width:100%">
            <div class="table-header">
                <b>Home Work Details</b>
            </div>
            <table style="width:100%;margin-left:3em;margin-top:3em;margin-bottom:3em; border-collapse:collapse" align="center">
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <td style="margin-right:4em">
                                    <b>Class Name</b>
                                </td>
                                <td style="margin-right:4em">
                                    <b> : </b>
                                </td>
                                <td style="margin-left:4em">
                                    @Model.ClassName
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:4em">
                                    <b>Home Work Title</b>
                                </td>
                                <td style="margin-right:4em">
                                    <b> : </b>
                                </td>
                                <td style="margin-left:4em">
                                    @Model.Title
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>From Date</b>
                                </td>
                                <td style="margin-right:2em">
                                    <b> : </b>
                                </td>
                                <td style="margin-left:2em">
                                    @Model.FromDate.ToString("dd - MMM - yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td style="margin-right:2em">
                                    <b>To Date </b>
                                </td>
                                <td style="margin-right:2em">
                                    <b> : </b>
                                </td>
                                <td>
                                    @Model.ToDate.ToString("dd - MMM - yyyy")
                                </td>
                            </tr>
                          
                            @if (null != @Model.AttachmentName)
                            {
                                <tr>
                                    <td style="margin-right:2em">
                                        <b>Download</b>
                                    </td>
                                    <td style="margin-right:2em">
                                        <b> : </b>
                                    </td>
                                    <td>
                                        <input type="hidden" value="@Model.AttachmentName" id="attachmentFile" />
                                        <a class="btn-sm btn btn-info" id="downloadbtn" role="button">
                                            <i class="fa fa-cloud-download fa-fw"></i>
                                            Download
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-right:2em">
                                        <b> </b>
                                    </td>
                                    <td style="margin-right:2em">
                                        <b>   </b>
                                    </td>
                                    <td>
                                        <br />
                                        @if (@ViewBag.DisplayImg != null)
                                        {
                                            <img src="@ViewBag.DisplayImg" width="100" height="100" />
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            </table>
            <table style="margin-left:2em;margin-right:2em">
                <tr>
                    <td ><b>Description &nbsp; :</b></td>
                </tr>
                <tr>
                    <td>
                        @Html.Raw(Model.Discription)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

 <script>

     $('#downloadbtn').click(function () {
         debugger
         var filename = $('#attachmentFile').val()
         window.location.href = "/Common/DownloadFile?file=" + filename;
     })

 </script>


