@model AsteriskBrowserAL.Models.HomeWorkData
@{
    ViewBag.Title = "Home Work";
}

@section BreadCrumb{

    <ul class="breadcrumb">

        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Student
        </li>
        <li class="active">Home Work</li>
    </ul><!-- /.breadcrumb -->
}
@Html.Action("DatePickerScripts", "Base")

<script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <span style="color:red;" id="Validation"></span>
            @using (Html.BeginForm("HomeWorkC", "AStudent", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                if (Model.StaffId > 0)
                {
                    <input type="hidden" id="StaffId" name="StaffId" value="@Model.StaffId">
                }
                else
                {
                    <input type="hidden" id="StaffId" name="StaffId">
                }
                <input type="hidden" id="nSectionId" name="SectionId" value="@Model.SectionId" />
                <input type="hidden" id="nCourseId" name="CourseId" value="@Model.CourseId" />
                <div class="table-header">
                  
                        Home Work
                        <small style="float:right;font-weight:bold;">
                            @Html.ActionLink("Back to details", "HomeWork", new { nCourseId = Model.CourseId, nSectionId = Model.SectionId })
                        </small>
                   
                </div>
                <!-- form start -->
                <br/>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Home work title")</label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control textlength", placeholder = "Title Name", @id = "Title" })
                        </div>
                        <span class="col-sm-3" style="color:red;font-weight:bold;display:none" id="ESTitlename">
                            <label style="color:red;font-weight:bold"> Required </label>
                        </span>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Referred Staff")</label>
                        <div class="col-sm-3">
                            @Html.DropDownListFor(model => model.StaffId, new SelectList(Model.lstStaff, "StaffId", "FirstName"), new { @class = "form-control textlength", placeholder = "Staff Name", @id = "StaffId", @disabled = "disabled" })
                        </div>
                        <span class="col-sm-3" style="color:red;font-weight:bold;display:none" id="ESStaffname">
                            <label style="color:red;font-weight:bold"> Required </label>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("From Date")</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="datepicker" class="input-group date" data-date-format="dd/mm/yyyy">
                                        <input class="form-control" type="text" name="FromDate" id="FromDate" autocomplete="off" placeholder="Select From Date" />
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="col-sm-3" id="ESFromDate" style="color:red;font-weight:bold;">
                            @*<label style="color:red;font-weight:bold">*@  @*</label>*@
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("To Date")</label>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="datepicker" class="input-group date" data-date-format="dd/mm/yyyy">
                                        <input class="form-control" type="text" name="ToDate" id="ToDate" autocomplete="off" placeholder="Select To Date" />
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="col-sm-3" id="ESToDate" style="color:red;font-weight:bold;display:none">
                            <label style="color:red;font-weight:bold"> Required </label>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Description")</label>
                        <div class="col-sm-6">

                            @if (Model != null)
                            {
                                <textarea class="form-control col-sm-5 textlength" placeholder="Discription" id="Discription" name="Discription">@Model.Discription</textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('Discription');
                                </script>
                            }
                            else
                            {
                                <textarea class="form-control col-sm-5 textlength" placeholder="Discription" id="Discription" name="Discription"></textarea>
                                <script type="text/javascript">
                                    CKEDITOR.replace('Discription');
                                </script>
                            }
                        </div>
                        <div class="col-sm-3" style="display:none" id="vDiscription">
                            <label style="color:red;font-weight:bold"> Required </label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Upload Home work")</label>
                        <div class="col-sm-3">
                            <input type="file" name="FileUpload" id="FileUpload" />
                        </div>
                        
                        <span style="color:red;font-weight:bold;" id="tempMSg"></span>

                    </div>
                    @*<div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("File Upload")</label>
            <div class="col-sm-3">
                <a href="javascript:void(0)" id="upload" style="float:right" class="btn-sm btn btn-info">
                    <i class="fa fa-cloud-upload fa-fw"></i>Upload
                </a>
                <input id="upload-file" type="file" name="uploadFile" style="display:none" onchange="readURL(this);"/>
            </div>
        </div>*@
                    @*<div class="row">
            <div class="col-sm-12">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                <div class="col-sm-9">
                    <span>
                        <img width="100" height="100" id="DisplayImage" />
                    </span>
                </div>
            </div>
        </div>*@
                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success btn-sm" name="Save" id="Save" @*onclick="return submitForm();"*@ type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="ace-icon fa fa-undo bigger-50"></i>
                            Reset
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</section>

<script>
    //function readURL(input) {
    //    debugger
    //    if (input.files && input.files[0]) {
    //        var reader = new FileReader();

    //        reader.onload = function (e) {
    //            $('#DisplayImage')
    //                .attr('src', e.target.result)
    //        };
    //        reader.readAsDataURL(input.files[0]);
    //    }
    //}
    //$("#upload").click(function () {
    //    debugger
    //    $("#upload-file").trigger('click');
    //});

    //$("#upload-file").change(function () {
    //    debugger
    //    var filename = $("#upload-file").val();
    //    var lastIndex = filename.lastIndexOf("\\");
    //    if (lastIndex >= 0) {
    //        filename = filename.substring(lastIndex + 1);
    //    }
    //    document.getElementById('filename').value = filename;
    //    $('#filename').show();
    //});

    //function UploadMltipleFile() {
    //    debugger
    //    var dpimg = $("#upload-file").val();
    //    var fileUpload2 = $("#upload-file").get(0);
    //    var files2 = fileUpload2.files;
    //    var fileData = new FormData();
    //    for (var i = 0; i < files2.length; i++) {
    //        fileData.append('HomeWork_' + files2[i].name, files2[i]);
    //    }
    //    $.ajax({
    //        url: '/AStudent/UploadFilesMultiple',
    //        type: "POST",
    //        contentType: false,
    //        processData: false,
    //        data: fileData,
    //        success: function (result) {
    //        },
    //    });
    //}
    $('#Save').click(function () {
        debugger
        var result = submitForm();
        debugger
        if (result == false) {
            return false;
        }
    })

    function submitForm() {
        debugger
        var validate = true;
        var Description = CKEDITOR.instances.Discription.getData();


        CKEDITOR.on('instanceReady', function (evt) {
            var editor = evt.editor;

            editor.on('focus', function (e) {
            });
        });
        var Title = $('#Title').val();
        //var Referredby = $('#StaffId').val();
        var Fromdate = $('#FromDate').val();
        var Todate = $('#ToDate').val();

        debugger

        if (Description == undefined || Description == "" || Description.length < 1) {
            document.getElementById("vDiscription").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("vDiscription").style.display = "none";
        }

        if (Title == undefined || Title == "" || Title.length < 1) {
            document.getElementById("ESTitlename").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("ESTitlename").style.display = "none";
        }

        //if (Referredby == undefined || Referredby == "" || Referredby.length < 1) {
        //    document.getElementById("ESStaffname").style.display = "inline";
        //    validate = false;
        //} else {
        //    document.getElementById("ESStaffname").style.display = "none";
        //}

        if (Fromdate == undefined || Fromdate == "" || Fromdate.length < 1) {
            document.getElementById("ESFromDate").innerHTML = "Required";
            validate = false;

        } else {
            document.getElementById("ESFromDate").style.display = "";
        }

        if (Todate == undefined || Todate == "" || Todate.length < 1) {
            document.getElementById("ESToDate").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("ESToDate").style.display = "none";
        }

        if (Fromdate != "" && Todate != "") {
            Fromdate = new Date(Fromdate);
            Todate = new Date(Todate);
            if (Todate < Fromdate) {
                document.getElementById("Validation").innerHTML = "To date should be greater than from date";
                validate = false;
            }
        }
        //if (validate == true) {
        //    validate = checkfile();
        //}
        return validate;

    }


    //function checkfile() {
    //    var file = getNameFromPath($("#fileToUpload").val());
    //    if (file != null) {
    //        var extension = file.substr((file.lastIndexOf('.') + 1));
    //        // alert(extension);
    //        switch (extension) {
    //            case 'jpg':
    //            case 'png':
    //            case 'gif':
    //            case 'pdf':
    //                flag = true;
    //                break;
    //            default:
    //                flag = false;
    //        }
    //    }
    //    if (flag == false) {
    //        $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
    //        return false;
    //    }
    //    else {
    //        var size = GetFileSize('fileToUpload');
    //        if (size > 3) {
    //            $("#spanfile").text("You can upload file up to 3 MB");
    //            return false;
    //        }
    //        else {
    //            $("#spanfile").text("");
    //        }
    //    }
    //}

    //$(function () {
    //    $("#fileToUpload").change(function () {
    //        checkfile();
    //    });
    //});
    //function UploadExcelFileFormatData() {
    //    var val = true;
    //    var formData = new FormData();
    //    var totalFiles = document.getElementById("File").files.length;

    //    for (var i = 0; i < totalFiles; i++) {
    //        var file = document.getElementById("File").files[i];
    //        formData.append("FileUpload", file);
    //    }

    //    var totalFileValue = document.getElementById("File").files.length;

    //    if (totalFileValue > 0 && totalFileValue != null) {
    //        $.ajax({
    //            url: '/AStudent/UploadExcelFileFormat',
    //            data: formData,
    //            type: "json",
    //            processData: false,
    //            contentType: false,
    //            success: function (data) {
    //                if (data != "") {
    //                    document.getElementById("tempMSg").innerHTML = data;
    //                    val = false;
    //                }
    //            },
    //            async: false
    //        });
    //    }
    //    else {
    //        document.getElementById("tempMSg").innerHTML = "Please choose excel file";
    //        val = false;
    //    }

    //    return val;
    //}



</script>