@model List<AsteriskBrowserAL.Models.StudentDetailsData>
@{
    ViewBag.Title = "OlympaidPartialView";

    int nSNo = 1;

}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">
    @*<div id="message" class="alert alert-info bigger-110">
        </div>*@

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->

@if (null != Model && Model.Count() > 0)
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <div class="table-header">
            Olympaid upload
            <div style="float:right" class="inline action-buttons">
                <button type="submit" class="btn btn-info btn-minier P2" id="Save" name="Save">Save</button>

            </div>
        </div>
        <!-- /.box-header -->
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Sno")
                    </th>

                    <th>
                        @Html.DisplayName("Student Name")
                    </th>
                    <th>
                        @Html.DisplayName("Remarks")
                    </th>
                    <th>
                        @Html.DisplayName("Download Certificate")
                    </th>

                    <th>
                        @Html.DisplayName("Upload Certificate")
                    </th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.Hidden("lstStudents.Index", (@i + 10))
                            @(nSNo++)
                        </td>

                        <td>
                            @Html.Hidden("lstStudents[" + (@i + 10) + "].StudentId", Model.ElementAt(i).StudentId)
                            @Html.Hidden("lstStudents[" + (@i + 10) + "].SportsId", Model.ElementAt(i).SportsId)
                            @Model.ElementAt(i).DisplayName
                        </td>
                        <td>
                            @Html.TextBox("lstStudents[" + (@i + 10) + "].ReligionName", Model.ElementAt(i).ReligionName, new { id = "ReligionName" })
                        </td>
                        


                        <td>
                            <a href="@Model.ElementAt(i).Photo" target="_blank">Download</a>
                        </td>
                        <td>
                            <a class="green" href="@Url.Action("OlympaidUpload", "AStudent", new { StudentId = Model.ElementAt(i).StudentId, EventType = Model.ElementAt(i).SportsId})">
                                Upload
                            </a>
                        </td>


                    </tr>

                }
            </tbody>

        </table>

    </div>
}
else
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <span style="font-weight:bold;color:red">No records found</span>
    </div>
}
@Html.Action("DataTableScripts", "Base")


