@model AsteriskBrowserAL.Models.StudentDetailsData
@{
    ViewBag.Title = "OlympaidUpload";
}

<script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>

<section class="content">

    <br />

    <div class="row">
        <div class="col-xs-12">
            <span style="color:red;" id="Validation"></span>
            @using (Html.BeginForm("OlympaidUpload", "AStudent", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            { 
                @*<input type="hidden" id="UploadId" name="UploadId" value="@Model.StudentDetailsData" />*@
                <input type="hidden" id="StudentId" name="StudentId" value="@Model.StudentId" />
                <input type="hidden" id="SubscriptionId" name="SubscriptionId" value="@Model.SportsId" />
                <div class="page-header">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                              Upload Certificate
                            <small style="float:right;">
                                @Html.ActionLink("Back to details", "Olympaid")
                            </small>
                        </h5>
                    </div>
                </div>

                <!-- form start -->

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label(" Upload Certificate")</label>
                        <div class="col-sm-3">
                            <input type="file" name="FileUpload" id="FileUpload" />
                        </div>

                        @*<span style="color:red;font-weight:bold;" id="tempMSg"></span>*@
                        <span class="col-sm-3" style="color:red;font-weight:bold;display:none" id="nfileupload">
                            <label style="color:red;font-weight:bold"> Required </label>
                        </span>
                    </div>

                    <div class="hr hr-18 dotted hr-double"></div>

                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success btn-sm" name="Save" id="Save" type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="ace-icon fa fa-undo bigger-50"></i>
                            Reset
                        </button>
                    </div>
                </form>
            }
        </div>

    </div>
</section>

<script>

    $('#Save').click(function () {
        debugger
        var result = submitForm();
        debugger
        if (result == false) {
            return false;
        }
    })

    function submitForm() {
        debugger
        var validate = true;

        var FileUpload = $('#FileUpload').val();


        if (FileUpload == undefined || FileUpload == "" || FileUpload.length < 1) {
            document.getElementById("nfileupload").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("nfileupload").style.display = "none";
        }

        return validate;

    }


</script>
