@model List<AsteriskBrowserAL.Models.StudentAdmissionData>
@{
    int sno = 1;
}
<div class="table-header">
    Records Found (@Model.Count())

</div>
<table class="table table-hover" id="TableTwo">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <tbody>
        <tr>

            <th>
               S.No.
            </th>
            <th>
                @Html.DisplayName("Student")
            </th>
            <th>
                @Html.DisplayName("Roll No")
            </th>
        </tr>
        @if (null != Model)
        {
            if (null != Model && Model.Count() > 0)
            {
                foreach (var s in Model)
                {

                    <tr id="@s.StudentId">
                        <td>
                            @sno
                        </td>
                        <td>
                            @s.FirstName
                        </td>

                        <td>
                            @s.RollNumber
                        </td>
                    </tr>
                    sno++;
                }
            }
        }

    </tbody>
</table>

