@model List<AsteriskBrowserAL.Models.StudentDetailsData>
<div class="hr hr-18 dotted hr-double"></div>
@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;
    <div class="row">
        <div class="col-xs-12">
            <div class="table-header">
                Sports Result
                <div style="float:right" class="inline action-buttons">
                    <button type="submit" class="btn btn-info btn-minier P2" id="Save" name="Save">Save</button>

                </div>

            </div>
            <!-- form start -->

            <div style="overflow:auto;height:400px;">
                <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                    <thead>
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Student Name")
                            </th>
                            <th>
                                @Html.DisplayName("Score")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.Hidden("lstStudents.Index", (@i + 10))
                                    @Html.Hidden("lstStudents[" + (@i + 10) + "].DisplayName", Model.ElementAt(i).DisplayName)
                                    @Html.Hidden("lstStudents[" + (@i + 10) + "].SportsId", Model.ElementAt(i).SportsId)
                                    @Html.Hidden("lstStudents[" + (@i + 10) + "].SportScheduleId", Model.ElementAt(i).SportScheduleId)
                                    @(nsno++)
                                </td>
                                <td>
                                    @Html.Hidden("lstStudents[" + (@i + 10) + "].StudentId", Model.ElementAt(i).StudentId)
                                    @Model.ElementAt(i).DisplayName
                                </td>
                                <td>
                                    @Html.TextBox("lstStudents[" + (@i + 10) + "].SportsRank", Model.ElementAt(i).SportsRank, new { id = "SportsRank" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <span style="color: red;"><b>Data not available</b></span>
}

@Html.Action("DataTableScripts", "Base", new { IsPaging = false })



