@model List<AsteriskBrowserAL.Models.StaffAdoptedStudentDataModel>

@{
    int sno = 1;
}



@if (Model != null && Model.Count() > 0)
{
    <table class="table table-hover" id="TableTwo" style="font-size:14px;">
        <tbody>
            <tr>
                <th>
                   S.No.
                </th>
                <th>
                    <input type="checkbox" id="SelectRemoveall" />   @Html.DisplayName("Select")
                </th>

                
                <th>
                    @Html.DisplayName("Student Name")
                </th>
                <th>
                    @Html.DisplayName("Roll Number")
                </th>
                <th>
                    @Html.DisplayName("Legacy Number")
                </th>

            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr id="@Model.ElementAt(i).StudentId">
                    <td>
                        @sno
                    </td>
                  
                    <td>
                        <input type="checkbox" id="CheckR" name="CheckR" value=@Model.ElementAt(i).StudentId />
                    </td>

                    <td>
                        @Model.ElementAt(i).StudentName
                    </td>
                    <td>
                        @Model.ElementAt(i).RollNumber
                    </td>
                    <td>
                        @Model.ElementAt(i).LegacyNumber
                    </td>
                </tr>
                sno++;
            }
        </tbody>
    </table>



}

<script>

    $('#SelectRemoveall').change(function () {
        if ($(this).prop('checked')) {
            $('tbody tr td #CheckR').each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $('tbody tr td #CheckR').each(function () {
                $(this).prop('checked', false);
            });
        }
    });
</script>