@model AsteriskBrowserAL.Models.StudentModel
@{
    ViewBag.Title = "StudentPartialView";
    int Sno = 1;
}

@if (null != Model)
{
    if (null != Model.StudentData)
    {
        if ( Model.StudentData.Count() > 0)
        {
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Registered Students</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                        <h3 class="box-title">Registered Students</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                           S.No.
                                        </th>
                                        <th>
                                            @Html.DisplayName("Admission Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Name")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Course Code")
                                        </th>
                                        <th>
                                            @Html.Display("City")
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.StudentData)
                                    {
                                        <tr>
                                            <td>
                                                @Sno
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdmissionNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Complete Registration", "RegisterStudentsCR", new { id = item.StudentId,CourseId=item.CourseId },new { Class="P2"})
                                            </td>
                                        </tr>
                                        Sno++;
                                    }
                                </tbody>

                            </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <span style="color: red;"><b>Data is not available for selected class</b></span>
        }

    }
}
