@model AsteriskBrowserAL.Models.StudentAdmissionData

@{
    ViewBag.Title = "Student Profile";
    int Sno = 1;

}
<style>
    #tabs {
        overflow: auto;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #tabs li {
            margin: 0;
            padding: 0;
            float: left;
        }

        #tabs a {
            -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
            -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
            box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
            background: #3c8dbc;
            background: -moz-linear-gradient(220deg, transparent 10px, #3c8dbc 10px);
            background: -webkit-linear-gradient(220deg, transparent 10px, #3c8dbc 10px);
            background: -o-linear-gradient(220deg, transparent 10px, #3c8dbc 10px);
            background: linear-gradient(220deg, transparent 10px, #3c8dbc 10px);
            text-shadow: 0 1px 0 rgba(0,0,0,.5);
            color: #fff;
            float: left;
            font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
            height: 35px;
            padding: 0 30px;
            text-decoration: none;
        }





        #tabs #current a {
            background: #fff;
            background: -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
            background: -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);
            background: -o-linear-gradient(220deg, transparent 10px, #fff 10px);
            background: linear-gradient(220deg, transparent 10px, #fff 10px);
            text-shadow: none;
            color: #333;
        }


    #content {
        background-color: white;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
        background-image: -webkit-linear-gradient(top, white, #d8e8f7);
        background-image: -moz-linear-gradient(top, white, #d8e8f7);
        background-image: -o-linear-gradient(top, white, #d8e8f7);
        background-image: linear-gradient(top, white, #d8e8f7);
        -moz-border-radius: 0 2px 2px 2px;
        -webkit-border-radius: 0 2px 2px 2px;
        border-radius: 0 2px 2px 2px;
        -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 white inset;
        -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 white inset;
        box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
        padding: 30px;
    }

    /* Remove the rule below if you want the content to be "organic" */
</style>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            <a href="#">Academics</a>
        </li>
        <li>
            <i class=""></i>
            Student
        </li>
        <li class="active">Student Details</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">

    <div class="table-header">

        Student Details

        @if (null != Model)
        {
            if (!Model.IsParent)
            {
                if (!Model.IsParent)
                {
                    <small style="float:right;">
                        @Html.ActionLink("Back to details", "StudentDetails")
                    </small>
                }
            }
        }

    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">

            <li class="active">
                <a data-toggle="tab" href="#student" aria-expanded="true">Profile</a>
            </li>

            <li class="">
                <a data-toggle="tab" href="#parent" aria-expanded="false">Parent Details</a>
            </li>

            <li class="">
                <a data-toggle="tab" href="#payment" aria-expanded="false">Payment History</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#fee" aria-expanded="false">Fee Details</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#progresscard" aria-expanded="false">Academic Performance</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#Academics" aria-expanded="false">Academic Analysis</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#Accomplishment" aria-expanded="false">Accomplishment</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#Attendance" aria-expanded="false">Attendance</a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="student" class="tab-pane active" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">


                <div class="row" style="padding:15px;height:500px;">

                    <div class="col-sm-3" align="center">
                        <span class="profile-picture">

                            @if (Model.Photo != null && Model.Photo != "")
                            {
                                <img id="Simage" src="@Model.Photo" alt="your image" width="100" height="100" />
                            }
                            else
                            {
                                <img id="Simage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                            }

                        </span>

                        <div class="space space-4"></div>

                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <span class="white">@Model.FirstName @Model.LastName</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-9">
                        <!-- #section:pages/profile.info -->

                        <div class="col-sm-9 font3" align="left" style="color:#333;">
                            @if (Model.Status == "good")
                            {
                                <h2><i class="ace-icon fa fa-circle light-green"> @Model.FirstName @Model.LastName </i></h2>
                            }
                            else if (Model.Status == "poor")
                            {
                                <h2><i class="ace-icon fa fa-circle light-red"> @Model.FirstName @Model.LastName </i></h2>
                            }
                            else if (Model.Status == "avg")
                            {
                                <h2><i class="ace-icon fa fa-circle light-orange"> @Model.FirstName @Model.LastName </i></h2>
                            }


                            <hr />

                            <div class="col-sm-5" align="left">
                                <table width="100%" border="0" cellspacing="0">
                                    <tr>
                                        <td class="blocktable2">Academic Year</td>
                                        <td class="blocktable2"><strong>@Model.DisplayAcademicYear</strong></td>
                                    </tr>
                                    <tr>



                                        <td class="blocktable1">Admission #	</td>
                                        <td class="blocktable2"><strong>@Model.AdmissionNumber</strong></td>
                                    </tr>
                                    <tr>



                                        <td class="blocktable1">Admission Date</td>
                                        <td class="blocktable2"><strong>@Model.AdmissionDate.Value.ToString("dd - MMM - yyyy")</strong></td>
                                    </tr>
                                    <tr>



                                        <td class="blocktable1">Class</td>
                                        <td class="blocktable2"><strong>@Model.ClassName</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="blocktable1">Date of Birth</td>
                                        <td class="blocktable2">
                                            <strong>
                                                @if (Model.DateofBirth.HasValue)
                                                {
                                                    @Model.DateofBirth.Value.ToString("dd - MMM - yyyy")
                                                }
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="blocktable1">Roll Number </td>
                                        <td class="blocktable2">
                                            <strong>
                                                @if (Model.RollNumber != null)
                                                {
                                                    @Model.RollNumber.Value
                                                }
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>



                                        <td class="blocktable1">Adhar Card</td>
                                        <td class="blocktable2"><strong>@Model.AadharCardNo</strong></td>
                                    </tr>
                                    <tr>



                                        <td class="blocktable1">Stores Concession</td>
                                        <td class="blocktable2"><strong>@Model.StoresStatus</strong></td>
                                    </tr>



                                </table>

                            </div>


                            <div class="col-sm-7" style="border-left:1px solid #ccc;">
                                <p>  Address Line 1 :	<strong>@Model.AddressLineOne </strong></p>
                                <p>  Address Line 2 :	<strong> @Model.AddressLineTwo</strong></p>
                                <p>City :<strong> @Model.City</strong></p>
                                <p>State :<strong>@Model.StateName</strong></p>
                                <p>Pincode :<strong>@Model.PINCode</strong></p>
                                <p>Annual Income :<strong>@Model.AnnualIncome</strong></p>
                            </div>






                        </div>



                    </div>

                </div>
            </div>
            <div id="parent" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div class="row">
                    <div class="col-sm-3" style="margin-top:12px;height:500px; ">
                        <div class="tab">
                            <button class="tablinks" onclick="openparent(event, 'Father')" id="defaultOpen">Father Information</button>
                            <button class="tablinks" onclick="openparent(event, 'Mother')">Mother Information</button>
                            <button class="tablinks" onclick="openparent(event, 'Guardian')">Guardian Information</button>
                        </div>
                    </div>
                    <div id="Father" class="tabcontent col-sm-8" style="margin-top:12px;">

                        <div class="col-sm-3">

                            <span class="profile-picture">
                                @if (null != ViewBag.FPhoto && ViewBag.FPhoto != "")
                                {
                                    <img id="Fimage" src="@ViewBag.FPhoto" alt="your image" width="100" height="100" />
                                }
                                else
                                {
                                    <img id="Fimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                                }

                            </span>
                        </div>

                        <div class="col-sm-9" style="border-left:1px solid #ccc;" align="left">
                            <h5 align="center" style="margin:0px;"><strong>Father Information</strong></h5>
                            <hr />
                            <div class="col-sm-6">
                                <p>  Father Name :	<strong>@Model.FatherName</strong></p>
                                <p>Mobile  :<strong> @Model.FatherMobileNumber/@Model.FatherMobileNumber2</strong></p>
                                <p>Email :<strong> @Model.FatherEmail</strong></p>
                            </div>
                            <div class="col-sm-6" style="border-left:1px solid #ccc;">
                                <p>Qualification :<strong> @Model.FatherQualification</strong></p>
                                <p>Occupation	:<strong>@Model.FatherOccupation</strong></p>
                                <p>CompanyName	:<strong>@Model.FCompanyName</strong></p>
                                <p>	Designation	:<strong>@Model.FCompanyName</strong></p>
                            </div>
                        </div>
                    </div>

                    <div id="Mother" class="tabcontent col-sm-8" style="margin-top:12px;">

                        <div class="col-sm-3">
                            <span class="profile-picture">

                                @if (null != ViewBag.MPhoto && ViewBag.MPhoto != "")
                                {
                                    <img id="Mimage" src="@ViewBag.MPhoto" alt="your image" width="100" height="100" />
                                }
                                else
                                {
                                    <img id="Mimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />

                                }


                            </span>

                        </div>





                        <div class="col-sm-9" style="border-left:1px solid #ccc;" align="left">
                            <h5 align="center" style="margin:0px;"><strong>Mother Information</strong></h5>
                            <hr />
                            <div class="col-sm-6">
                                <p>  Mother Name :	<strong>	@Model.MotherName</strong></p>
                                <p>Mobile  :<strong>@Model.MotherMobileNumber</strong></p>
                                <p>Email :<strong>@Model.MotherEmail</strong></p>
                            </div>
                            <div class="col-sm-6" style="border-left:1px solid #ccc;">
                                <p>Qualification :<strong> @Model.MotherQualification</strong></p>
                                <p>Occupation	:<strong> @Model.MotherOccupation</strong></p>
                                <p>CompanyName	:<strong>@Model.MCompanyName</strong></p>
                                <p>	Designation	:<strong>@Model.MDesignation</strong></p>
                            </div>





                        </div>
                    </div>




                    <div id="Guardian" class="tabcontent col-sm-8" style="margin-top:12px;">

                        <div class="col-sm-3">

                            <span class="profile-picture">
                                @if (null != ViewBag.GPhoto && ViewBag.GPhoto != "")
                                {
                                    <img id="Gimage" src="@ViewBag.GPhoto" alt="your image" width="100" height="100" />
                                }
                                else
                                {
                                    <img id="Gimage" src="~/Content/images/NoPhoto.jpg" alt="your image" width="100" height="100" />
                                }

                            </span>









                        </div>

                        <div class="col-sm-9" style="border-left:1px solid #ccc;" align="left">
                            <h5 align="center" style="margin:0px;"><strong>Guardian Information</strong></h5>
                            <hr />
                            <div class="col-sm-6">
                                <p>  Guardian Name :	<strong>@Model.GuardianName</strong></p>
                                @*<p>Relation :<strong> @Model.GuardianRelation</strong></p>*@
                                <p>Mobile  :<strong>@Model.GardianMobile</strong></p>
                                <p>Email :<strong> demo@gmail.com</strong></p>
                            </div>
                            <div class="col-sm-6" style="border-left:1px solid #ccc;">
                                <p>Qualification :<strong> @Model.GardianOccupation</strong></p>

                            </div>



                            <style>
                                /* Style the buttons inside the tab */
                                .tab button {
                                    display: block;
                                    background-color: #FCFCFC;
                                    color: black;
                                    padding: 17px 11px;
                                    width: 100%;
                                    border: none;
                                    outline: none;
                                    text-align: left;
                                    cursor: pointer;
                                    transition: 0.3s;
                                    font-size: 18px;
                                    font-family: calibri;
                                    border-bottom: dotted 1px #85BCDA;
                                }

                                    /* Change background color of buttons on hover */
                                    .tab button:hover {
                                        background-color: #ddd;
                                    }

                                    /* Create an active/current "tab button" class */
                                    .tab button.active {
                                        background-color: #85BCDA;
                                        color: white;
                                    }

                                /* Style the tab content */
                                .tabcontent {
                                    float: left;
                                    height: auto;
                                    background: #fff;
                                    padding: 0px;
                            </style>
                            <script>
                                function openparent(evt, parentName) {
                                    var i, tabcontent, tablinks;
                                    tabcontent = document.getElementsByClassName("tabcontent");
                                    for (i = 0; i < tabcontent.length; i++) {
                                        tabcontent[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tablinks");
                                    for (i = 0; i < tablinks.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                                    }
                                    document.getElementById(parentName).style.display = "block";
                                    evt.currentTarget.className += " active";
                                }

                                // Get the element with id="defaultOpen" and click on it
                                document.getElementById("defaultOpen").click();
                            </script>

                        </div>
                    </div>
                </div>

            </div>

            <div id="payment" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div id="tab3" class="tabContent" style="margin-top:25px;height:500px;">
                    @if (null != Model.FeepaymentHistory && Model.FeepaymentHistory.Count() >= 1)
                    {
                        Sno = 1;
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                S.No.
                                            </th>
                                            <th>
                                                @Html.DisplayName("Particular")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Transaction Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Receipt Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Template Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Amount")
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.FeepaymentHistory)
                                        {
                                            <tr>
                                                <td>
                                                    @Sno
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FeeParticularName)
                                                </td>

                                                <td>
                                                    @item.TransactionDate.Value.ToString("dd - MMM - yyyy")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReceiptNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TemplateNumner)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DebitAmount)
                                                </td>

                                            </tr>
                                            Sno++;
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    }

                </div>
            </div>


            <div id="fee" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div id="tab4" class="tabContent" style="margin-top:25px;height:500px;">
                    @if (null != Model.Feedetails && Model.Feedetails.Count() >= 1)
                    {
                        Sno = 1;
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                SNo
                                            </th>
                                            <th>
                                                Particular Name
                                            </th>
                                            <th class="centerAlign">
                                                Fee Amount
                                            </th>
                                            <th class="centerAlign">
                                                Concession Amount
                                            </th>
                                            <th class="centerAlign">
                                                Net Amount
                                            </th>

                                            <th class="centerAlign">
                                                Paid Amount
                                            </th>

                                            <th class="centerAlign">
                                                Due Amount
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.Feedetails.Count(); i++)
                                        {
                                            string color = "";
                                            if (Model.Feedetails[i].Status == "good")
                                            {
                                                color = "green";

                                                if (Model.Feedetails[i].BackgroundValue < 0)
                                                {
                                                    color = "lightyellow;";
                                                }
                                            }
                                            else
                                            {
                                                color = "red";

                                                if (Model.Feedetails[i].BackgroundValue < 0)
                                                {
                                                    color = "lightyellow;";
                                                }
                                            }

                                            <tr style="background-color:@color">
                                                <td>
                                                    @(Sno++)
                                                </td>
                                                <td>
                                                    @Model.Feedetails[i].FeeParticularName
                                                </td>
                                                <td>
                                                    @Model.Feedetails[i].FeeAmount.ToString()
                                                </td>
                                                <td>
                                                    @Model.Feedetails[i].DiscountAmount.ToString()
                                                </td>
                                                <td>
                                                    @Model.Feedetails[i].NetAmount.ToString()


                                                <td>
                                                    @Model.Feedetails[i].PaidAmount.ToString()
                                                </td>

                                                <td>
                                                    @Model.Feedetails[i].DueAmount.ToString()
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    }

                </div>
            </div>

            <div id="progresscard" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div id="tab5" class="tabContent" style="margin-top:25px;height:500px;">
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;<b>Click Here</b> &nbsp;&nbsp;&harr; &nbsp;&nbsp;<a href="/Parent/StudentWiseProgressCard?StudentId=@Model.StudentId&SubId=@Model.SubscriptionId" target="_blank"><strong>Download Progress Card</strong></a></div>


                </div>
            </div>

            <div id="Academics" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div id="tab6" class="tabContent" style="margin-top:15px;height:100px;">
                    @Html.Partial("~/Views/Parent/AcademicsAnalysisPrintView.cshtml", Model.lstAllResultsStudentWise);

                </div>
            </div>
            <div id="Accomplishment" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div id="tab7" class="tabContent" style="margin-top:25px;height:500px;">
                    @if (null != Model.lstSportsData && Model.lstSportsData.Count() >= 1)
                    {
                        Sno = 1;
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                SNo
                                            </th>
                                            <th>
                                                Sport Name
                                            </th>
                                            <th class="centerAlign">
                                                Sporte Schedule
                                            </th>
                                            <th class="centerAlign">
                                                Score
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.lstSportsData.Count(); i++)
                                        {

                                            <tr>
                                                <td>
                                                    @(Sno++)
                                                </td>
                                                <td>
                                                    @Model.lstSportsData[i].SporteName
                                                </td>
                                                <td>
                                                    @Model.lstSportsData[i].SporteSchedule
                                                </td>
                                                <td>
                                                    @Model.lstSportsData[i].Score
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    }

                    @if (null != Model.lstOlympaidData && Model.lstOlympaidData.Count() >= 1)
                    {
                        Sno = 1;
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                SNo
                                            </th>
                                            <th>
                                                Event Name
                                            </th>
                                            <th class="centerAlign">
                                                Remarks
                                            </th>
                                            <th class="centerAlign">
                                                Doc
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.lstOlympaidData.Count(); i++)
                                        {

                                            <tr>
                                                <td>
                                                    @(Sno++)
                                                </td>
                                                <td>
                                                    @Model.lstOlympaidData[i].EventType
                                                </td>
                                                <td>
                                                    @Model.lstOlympaidData[i].Remarks
                                                </td>
                                                <td>
                                                    <a href="@Model.lstOlympaidData[i].Doc" target="_blank">Click</a>

                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    }

                </div>
            </div>

            <div id="Attendance" class="tab-pane" style="background:#fff;margin-top:20px;border-bottom:2px #85BCDA solid;">
                <div id="tab8" class="tabContent" style="margin-top:25px;height:500px;">
                   
                    @if (null != Model.lstStudentAttendance && Model.lstStudentAttendance.Count() >= 1)
                    {
                        Sno = 1;
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-striped table-hover nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                SNo
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th class="centerAlign">
                                                Remarks
                                            </th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.lstStudentAttendance.Count(); i++)
                                        {

                                            <tr>
                                                <td>
                                                    @(Sno++)
                                                </td>
                                                <td>
                                                    @Model.lstStudentAttendance[i].ARDate.GetValueOrDefault().ToString("dd/MMM/yyy")
                                                </td>
                                                <td>
                                                    A
                                                </td>
                                               
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    }

                </div>
            </div>


        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        $("#content .tabContent").hide(); //Hide all content

        $("#tabs li:first").attr("id", "current"); // Activate first tab

        $("#tab1").show(); // Show first tab content

        $('#tabs a').click(function (e) {
            e.preventDefault();
            $("#content .tabContent").hide(); //Hide all content

            $("#tabs li").attr("id", ""); //Reset id's

            $(this).parent().attr("id", "current"); // Activate this
            var title = $(this).attr('class');
            $('#' + title).show(); // Show content for current tab
        });
    });



    function onloadData() {
        GeFatherPhoto()
        GetMotherPhoto()
        GetGaurdianPhoto()
        GetStudentPhoto()
    }
    function GeFatherPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetFatherPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Fimage').attr("src", data);

                }
            }
        })
    }


    function GetStudentPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetStudentPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Simage').attr("src", data);

                }
            }
        })
    }


    function GetMotherPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetMotherPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Mimage').attr("src", data);

                }
            }
        })
    }

    function GetGaurdianPhoto() {
        var StudentId = $("#StudentId").val();
        $.ajax({
            url: '/MStudent/GetGaurdianPhoto',
            data: { StudentId: StudentId },
            success: function (data) {
                if (data != "") {
                    $('#Gimage').attr("src", data);

                }
            }
        })
    }


    function GetStateName() {
        var StateId = $("#StateId").val();
        $.ajax({
            url: '/MStudent/GetStateName',
            data: { StateId: StateId },
            success: function (data) {
                document.getElementById("statename").innerHtml = data
            }
        })
    }
    window.onload = onloadData();

</script>





