@model AsteriskBrowserAL.Models.MicroScheduleData

@{
    int nsno = 1;
}

<style>
    .bgClass {
        background-color: #78AB46;
        border: 1px solid #ddd;
    }

    .bgClass1 {
        background-color: #FC5555;
        border: 1px solid #ddd;
    }

    .bgClass2 {
        background-color: #EFAD62;
        border: 1px solid #ddd;
    }

    .selectedTd {
        background: #c4e2d1;
    }

    .fontVal {
        font-size: 14px;
        color: black;
    }

    .MyDiv {
        text-align: left;
        position: relative;
        color: #EEE;
        font-size: 12px;
        font-family: Times;
        display: inline-block;
        border: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 8px;
        margin: 5px;
    }
</style>




<div class="table-header">
    Records Found (@Model.lstWeeklyStatusForOneSection.Count())
    <div style="float:right;margin-right:10px;">

        <button class="btncustom" id="btnExport">
       Download

        </button>

    </div>
</div>

<div class="overflowscroll">

    <table class="table tbhover table-striped table-bordered nowrap dynamic-table" id="Mydiv">

        <thead>
            <tr>
                <th>
                   S.No.
                </th>

                <th>
                    @Html.DisplayName("Branch Name")
                </th>

                <th>
                    @Html.DisplayName("Section")
                </th>
                <th>
                    @Html.DisplayName("Periods")
                </th>

                @foreach (var wd in Model.WeekDays)
                {
                    <th class="title">
                        @wd.WeekName
                        <br />
                        <span>
                            @wd.WeekDay
                        </span>
                    </th>
                }
            </tr>

        </thead>
        <tbody>
            @if (Model.lstWeeklyStatusForOneSection.Count() > 0 && null != Model.lstWeeklyStatusForOneSection)
            {
                foreach (var s in Model.lstWeeklyStatusForOneSection)
                {
                    if (null != s.Periods)
                    {
                        var count = @s.Periods.Count() + 1;

                        <tr>
                            <td style="text-align:center" rowspan="@count">@(nsno++)</td>

                            <td style="text-align:center" rowspan="@count">@Model.BranchName</td>

                            <td style="text-align:center" rowspan="@count">@s.SectionName</td>
                        </tr>

                        foreach (var pd in s.Periods)
                        {
                            <tr>
                                <td>
                                    <span>
                                        @pd.PeriodName
                                    </span>
                                    <br />
                                    <span>
                                        @pd.PeriodTimings
                                    </span>
                                </td>
                                <td>
                                    @if (null != pd.lstMondayTutorsWithSubject && pd.lstMondayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstMondayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }



                                </td>
                                <td>
                                    @if (null != pd.lstTuesdayTutorsWithSubject && pd.lstTuesdayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstTuesdayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (null != pd.lstWednesdayTutorsWithSubject && pd.lstWednesdayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstWednesdayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (null != pd.lstThursdayTutorsWithSubject && pd.lstThursdayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstThursdayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (null != pd.lstFridayTutorsWithSubject && pd.lstFridayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstFridayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (null != pd.lstSaturdayTutorsWithSubject && pd.lstSaturdayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstSaturdayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }

                                </td>
                                <td>
                                    @if (null != pd.lstSundayTutorsWithSubject && pd.lstSundayTutorsWithSubject.Count > 0)
                                    {
                                        foreach (var d in pd.lstSundayTutorsWithSubject)
                                        {
                                            string color = "";
                                            if (d.SyllabusStatus == 0)
                                            {
                                                color = "bgClass";
                                            }
                                            else if (d.SyllabusStatus == 1)
                                            {
                                                color = "bgClass1";
                                            }
                                            else if (d.SyllabusStatus == 2)
                                            {
                                                color = "bgClass2";
                                            }

                                            <div class="MyDiv @color">
                                                @d.SubjectDisplay<br />@pd.TutorDisplay
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    }
                }

            }
            @*@Html.Action("DataTableScripts", "Base", new { IsPaging = false })*@
        </tbody>
    </table>
</div>





<script type="text/javascript">

    $("#btnExport").click(function (e) {
        ExportToExcel('Mydiv');
    });


</script>