@model AsteriskBrowserAL.Models.MicroScheduleData

@{
    ViewBag.Title = "Micro-Schedule Report";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Micro Plan Lag Report
        </li>
        <li class="active">Micro Plan Lag Report</li>
    </ul><!-- /.breadcrumb -->
}



<section class="content">



    <div class="row">
        <div class=col-xs-12>
            @using (Html.BeginForm("ExcelMicroScheduleLagReportDt", "AMicroSchedule", FormMethod.Post))
            {
                if (null != Model)
                {
                    <input type="hidden" id="IsCentral" value="@Model.IsCentral.ToString()" name="IsCentral" />
    <input type="hidden" id="SubscriptionId" value="@Model.BranchId" name="BranchId" />

                    <span style="color:red;font-weight:bold" id="Validation"></span>

                    <div class="table-header">
                        <span style="font-family:calibri;">Micro Plan Lag Report</span>


                    </div>
                    <div class="widget-box">

                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="widget-body">
                            <div class="widget-main">

                                @if (Model.IsCentral)
                                {
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-xs-3">Division</label>
                                                <div class="col-xs-6">
                                                    @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.lstDivision, "DivisionId", "DivisionName"), new { @class = "form-control", id = "DivisionId" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-3">Branch</label>
                                                <div class="col-xs-6">
                                                    <select id="BranchId" name="SubscriptionId" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <input type="hidden" id="BranchId" name="SubscriptionId" value="@Model.SubscriptionId" />
                                }
                             
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right">@Html.Label("Section")</label>

                                                <div class="col-sm-6">
                                                    @*<select class="form-control" id="ClassNumberId"></select>*@
                                                    <select name="Section" id="SectionId" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div id="SearchData"></div>
                }
            }
        </div>
    </div>

</section>
@Html.Action("DatePickerScripts", "Base", new { IsPaging = false, AllowScroll = true })
<script type="text/javascript">
    var status = 0;
    var DisplayValidation = "";

    $(document).ready(function () {
             debugger
        var IsCentral = $('#IsCentral').val();


        if (IsCentral == "False") {
            GetSectionDropDown();
        }

    });

    $('#DivisionId').change(function () {
        var DivisionId = $('#DivisionId').val();
        $("#BatchId").html("")
        $("#SelClassId").html("")
        $("#ClassNumberId").html("")
        $("#SearchData").html("");

        if (DivisionId != 0) {
            $.ajax({

                url: '/Common/GetBranchesByDivisionId',
                data: { DivisionId: DivisionId },
                success: function (data) {

                    var BranchItems = $('#BranchId');

                    BranchItems.children().remove();

                    BranchItems.append($("<option>").val("null").text("--- Select ---"));

                    $.each(data, function (i, record) {
                        if (record.IsCentral != true) {
                            BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));

                        }
                    });

                    $('#BranchId').append(BranchItems);
                },
                aync: false
            });
        }
    });


    $('#BranchId').change(function () {
        var BranchId = $("#BranchId").val();
        $("#SectionId").html("")
        $("#SearchData").html("");

        if (BranchId > -2) {
            GetSectionDropDown()
        }
        else {
            var BranchItems = $('#SelClassId');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));
        }
    })

    function GetSectionDropDown() {
        var isall = true;
        var SubscriptionId = $("#BranchId").val();
        $.ajax({
            url: '/AMicroSchedule/GetSectionDropDownList',
            data: { IsAll: false, SubscriptionId: SubscriptionId },
            success: function (Data) {
                var SectionDRP = $('#SectionId')
                SectionDRP.children().remove();
                SectionDRP.append($("<option>").val("").text("--Select--"))
                SectionDRP.append($("<option>").val("-1").text("All"))

                $.each(Data, function (i, record) {
                    SectionDRP.append($("<option>").val(record.SectionId).text(record.SectionCode));
                });
                $('#SectionId').append(SectionDRP);
            }
        })
    }

    $("#SectionId").change(function () {
        $("#SearchData").html("");
        var SectionId = $("#SectionId").val();

        if (SectionId >= -1) {
            GetMicroScheduleLagReportData()

        }
    })

    function GetMicroScheduleLagReportData() {

        var BranchId = $('#BranchId').val();
        var Divisionid = $('#DivisionId').val();
        var IsCentral = $('#IsCentral').val();
        var SectionId = $('#SectionId').val();

        if (IsCentral == "True")
        {
            IsCentral = true;
        }
        else
        {
            IsCentral = false;
             Divisionid = 0;

        }

        var valid = Validations();
        if (valid == true) {
            $.ajax({
                url: '/AMicroSchedule/GetMicroScheduleLagReportData',
                data: { nDivisionId: Divisionid, nBranchId: BranchId, IsCentral: IsCentral, SectionId: SectionId},
                beforeSend: function () {
                    $('#imagemodal').show();

                },
                success: function (data) {
                    $('#imagemodal').hide();
                    $('#SearchData').html(data);
                   
                }
            }).done(function () {
                $('#imagemodal').hide();
            });
        }
        else {
            document.getElementById("Validation").innerHTML = "";
            $('#SearchData').html("");
        }
    }

    function Validations() {
        var Divisionid = $('#DivisionId').val();
        var branchId = $('#BranchId').val();
        var SectionId = $('#SectionId').val();
        var Iscentral = $('#IsCentral').val();
        var isvalid = true;

        var ValidationString = "Please Select ";
        if (Iscentral == "true") {
            if (Divisionid != 0) {
                ValidationString += "Division,"
                isvalid = false
            }
            if (branchId != 0) {
                ValidationString += "Branch,"
                isvalid = false
            }
        }
        if (SectionId < -1 || SectionId == 0) {
            ValidationString += "Section,"
            isvalid = false
        }

        if (isvalid == false) {
            document.getElementById("Validation").innerHTML = ValidationString;
        }
        return isvalid;
    }


    function PrintElem(elem) {

        Popup($(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }
</script>






