@model AsteriskBrowserAL.Models.AttendanceRegisaterApproveViewModel

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Enrollment
        </li>
        <li class="active">Approve</li>
    </ul><!-- /.breadcrumb -->
}








@Html.Action("DatePickerScripts", "Base")

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Attendance Register", "Attendance", new { CategoryId = Model.CategoryId, SelectDate = Model.sel_Date, isback = "yes", DivisionId = Model.DivisionId, BranchId = Model.BranchId })</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("ApproveCol", "HREnrollment", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Approve</h3>
                    </div>
                    <div class="box-body">
                        <button class="btn btn-primary" type="submit" style="width:80px">
                            Save
                        </button>
                        <br />
                        <br />

                        @if (null != Model)
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Category Name")</label>
                                <div class="col-sm-6">
                                    @Model.CategoryName
                                </div>
                            </div>
    <input type="hidden" name="CategoryId" value="@Model.BranchId" />
    <input type="hidden" name="CategoryId" value="@Model.DivisionId" />
                            <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                            <input type="hidden" name="SelDate" value="@Model.sel_Date" />

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Approve Date till")</label>

                                <div class="col-sm-3">
                                    <div id="datepicker" class="input-group date" data-date-format="dd/mm/yyyy">
                                        <input class="form-control" type="text" name="ApproveDate" autocomplete="off" placeholder="Approve Date" />
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <span style="color: red;"> @Html.ValidationMessageFor(model => model.ApproveDate)</span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />

            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}




