@model AsteriskBrowserAL.Models.InterviewSchedule
@{
    ViewBag.Title = "InterviewScheduleC";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Enrollment
        </li>
        <li class="active">Interview Schedule</li>
    </ul><!-- /.breadcrumb -->
}


<br/>
<style>
    .required:first-letter {
        color: red;
        font-weight: bold;
    }
</style>


@Html.Action("DatePickerScripts", "Base")

    <section class="content">
        @using (Html.BeginForm("InterviewScheduleC", "HREnrollment", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="col-xs-12">
                    <span style="color:red;font-weight:bold;">@Html.ValidationMessage("InterviewScheduleC")</span>
                    <input type="hidden" value="@Model.StaffInterviewId" name="StaffInterviewId" />
                    <input type="hidden" value="@Model.ReferenceNumber" name="ReferenceNumber" id="ReferenceNumber" />
                    <input type="hidden" value="@Model.StaffId" name="StaffId1" id="StaffId1" />

                    <div class="page-header">
                        <h1>
                            Interview Schedule
                            <small style="float:right;">
                                @Html.ActionLink("Back to details", "interviewschedule")
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Interview Reference Number ")</label>

                            <div class="col-sm-3">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="font-size:18px;">@Model.ReferenceNumber</label>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding required" for="form-field-1">*Department</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.ListDepartment, "DepartmentId", "DepartmentName"), "--- Select ---", new { @class = "form-control", @id = "DepartmentId" })
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vDept">
                                <label style="color:red;font-weight:bold;"> Please select Department</label>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding required" for="form-field-1">*Interviewer</label>

                            <div class="col-sm-3">
                                @Html.DropDownListFor(model => model.StaffId, new SelectList(""),  new { @class = "form-control", @id = "StaffId" })
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vStaff">
                                <label style="color:red;font-weight:bold;"> Select Interviewer</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding required" for="form-field-1">*Schedule Date</label>

                            <div class="col-xs-3">

                                <div id="datepicker" class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input class="form-control" type="text" name="ScheduleDate" id="ScheduleDate" autocomplete="off" placeholder="Schedule Date" />
                                    <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vTScheduleDate">
                                <label style="color:red;font-weight:bold;"> Selected date is older than Today</label>
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vScheduleDate">
                                <label style="color:red;font-weight:bold;"> Please select Date</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding required" for="form-field-1">*Schedule Time</label>

                            <div class="col-xs-3">
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <input id="timepicker" name="ScheduleTime" type="text" value="00:00:00" class="form-control input-small" placeholder="Schedule Time">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vScheduleTime">
                                <label style="color:red;font-weight:bold;"> Please select Time</label>
                            </div>

                        </div>

                        <div class="hr hr-18 dotted hr-double"></div>


                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-success btn-sm" onclick="return ValidateForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Schedule
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        }
    </section>

        <input type="hidden" id="count" name="count" value="0" />
  

<script type="text/javascript">

    window.onload = OnloadData();

    function OnloadData() {
        var nDeptId = $('#DepartmentId').val();
        if(nDeptId > 0)
            LoadStaff(nDeptId);
    }

    function LoadStaff(nDeptId) {
        $.ajax({
            url: '/HrEnrollment/GetInterviwerByDepartmentId',
            data: { nDepartmentId: nDeptId },
            success: function (data) {
                var Interviewer = $('#StaffId');
                Interviewer.append($("<option>").val("null").text("--- Select ---"));
                $.each(data, function (i, record) {
                    Interviewer.append($("<option>").val(record.StaffId).text(record.FirstName + " " + record.LastName));
                });

                $('#StaffId').append(Interviewer);
                var nStaffId = $('#StaffId1').val();
                if (nStaffId > 0)
                    $('#StaffId').val(nStaffId);
            }
        });
    }

    $("#DepartmentId").change(function () {
        $('#StaffId').empty();
        var nDeptId = $('#DepartmentId').val();

        if (nDeptId > 0)
            LoadStaff(nDeptId);
    });

    function ValidateForm() {
        debugger
        var bValidate = true;

        var currentdate = new Date();

        var Department = $('#DepartmentId').val();
        var Interviewer = $('#StaffId').val();
        var date = $('#ScheduleDate').val();
        var time = $('#timepicker').val();
        var selDate = new Date(date);

        if (Department == "" || Department == undefined) {
            bValidate = false;
            $('#vDept').show();
        }

        if (Interviewer == "" || Interviewer == undefined || Interviewer == "--- Select ---") {
            bValidate = false;
            $('#vStaff').show();
        }

        //alert(date);
        //alert(new Date(date).getTime())
        //alert(new Date().getTime())

        //var ScDate = new Date(date);
        //alert(ScDate);

        //alert(ScDate.getYear())
        //alert(ScDate.getMonth())
        //alert(ScDate.getDate())


        //if (new Date(date).getTime() != new Date().getTime()) {
        //    bValidate = false;
        //    $('#vTScheduleDate').show();
        //}

        if (date == "" || date == undefined) {
            bValidate = false;
            $('#vScheduleDate').show();
        }

        if (time == "" || time == undefined) {
            bValidate = false;
            $('#vScheduleTime').show();
        }

        return bValidate;
    }

    $('#DepartmentId').change(function () {
        $('#vDept').hide();

    });
    $('#StaffId').change(function () {
        $('#vStaff').hide();
    });
    $('#ScheduleDate').change(function () {
        $('#vScheduleDate').hide();
    });
    $('#timepicker').change(function () {
        $('#vScheduleTime').hide();
    });

</script>