@model AsteriskBrowserAL.Models.AttendanceData

@if ((null != Model))
{
    if (null != Model.StaffAttendanceList && Model.StaffAttendanceList.Count() > 0)
    {
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Attendance Register</h3>
            </div>
            <div class="box-body">
                <input class="btn btn-primary P2 " type="submit" name="button" id="SelectAll" style="width:80px; " value="Select All" />
                <input class="btn btn-primary P2 " style="width:100px;" type="submit" name="button" id="UnSelectAll" value="UnSelect All" />
                <input class="btn btn-primary P2" style="width:80px;" type="submit" name="button" id="P" value="P" />
                <input class="btn btn-primary P2" style="width:80px;" type="submit" name="button" id="A" value="A" />
                <input class="btn btn-primary P2" style="width:80px;" type="submit" name="button" id="LT" value="LT" />
                <input class="btn btn-primary P2" type="submit" style="width:80px;" name="button" id="L" value="L" />
            </div><!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                <div class="box-body table-responsive no-padding">
                    <div class="col-xs-12" style="overflow: auto; height: 300px; ">
                        <div class="box">
                            <table class="table table-hover stripe">
                                <tbody>
                                    @foreach (var item1 in Model.StaffAttendanceList)
                                    {
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Select")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Staff Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Employee No")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Attendance")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Remarks")
                                            </th>
                                        </tr>
                                        break;
                                    }


                                    @for (int i = 0; i < Model.StaffAttendanceList.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.Hidden("AttendanceRegisterData.Index", (@i + 10))
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].StaffId", Model.StaffAttendanceList.ElementAt(i).StaffId)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].StaffId", Model.StaffAttendanceList.ElementAt(i).StaffId)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].DepartmentId", Model.StaffAttendanceList.ElementAt(i).DepartmentId)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].EmployeeCategory", Model.StaffAttendanceList.ElementAt(i).EmployeeCategory)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].RegistrationNumber", Model.StaffAttendanceList.ElementAt(i).RegistrationNumber)

                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].AttendanceDisplayName", Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].AttendanceDate", Model.StaffAttendanceList.ElementAt(i).AttendanceDate)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].AbsentType", Model.StaffAttendanceList.ElementAt(i).AbsentType)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].Remarks", Model.StaffAttendanceList.ElementAt(i).Remarks)

                                                @Html.CheckBox("AttendanceRegisterData[" + (@i + 10) + "].IsChecked", Model.StaffAttendanceList.ElementAt(i).IsChecked)
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].IsChecked", Model.StaffAttendanceList.ElementAt(i).StaffId)

                                            </td>

                                            <td>
                                                @Model.StaffAttendanceList.ElementAt(i).StaffName
                                                @Html.Hidden("AttendanceRegisterData[" + (@i + 10) + "].StaffName", Model.StaffAttendanceList.ElementAt(i).StaffName)
                                            </td>
                                            <td>
                                                @Model.StaffAttendanceList.ElementAt(i).RegistrationNumber
                                            </td>

                                            <td>
                                                @if (Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName == "Present")
                                                {
                                                    <b class="text-green"> @Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName </b>
                                                }
                                                @if (Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName == "Late")
                                                {
                                                    <b class="text-orange"> @Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName </b>
                                                }
                                                @if (Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName == "Absent")
                                                {
                                                    <b class="text-red"> @Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName </b>
                                                }
                                                @if (Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName == "Leave")
                                                {
                                                    <b class="text-blue"> @Model.StaffAttendanceList.ElementAt(i).AttendanceDisplayName </b>
                                                }
                                            </td>
                                            <td>
                                                @Model.StaffAttendanceList.ElementAt(i).Remarks

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-offset-4 col-md-10">
                <input class="btn btn-primary P2" type="submit" style="width:80px;" name="button" id="Save" value="Save" />
                @*<input class="btn btn-primary" type="submit" style="width:80px;" name="button" id="Approve" value="Approve" />*@
            </div>

        </div>
    }



}
else
{<span style="color: red;"><b>Data not available</b></span> }

