@model List<AsteriskBrowserAL.Models.YearWiseParticularsData>
@{
    ViewBag.Title = "YearWiseParticularsPartialView";

    int nSNo = 1;

}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

    <div id="dialog-confirm" class="hide">

        <div class="space-6"></div>

        <p id="dValidation" class="bigger-120 bolder center grey">
        </p>
    </div>
  
@if (null != Model && Model.Count() > 0)
{
   
    <div class="col-sm-12" style="padding:0px;">
        <div class="table-header">
            Records Found (@Model.Count())
        </div>
        <!-- /.box-header -->
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        

        <div class="overflowscroll">

            <table class="table tbhover table-striped table-bordered dynamic-table">
                <thead>
                    <tr>
                        <th>
                            S.No.
                        </th>
                        <th>
                            @Html.DisplayName("Particular Name")
                        </th>

                        <th>
                            @Html.DisplayName("Particular Id")
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @(nSNo++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParticularName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParticularId)
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    @*<a class="green" href="@Url.Action("MicroScheduleE", "AMicroSchedule", new { id = item.SyllabusId })">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>*@


                                    <a class="red P2" onclick="btnConfirm(@item.YearWiseParticularsId)">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>

                                    </a>
                                </div>
                            </td>

                        </tr>

                    }
                </tbody>

            </table>

        </div>

    </div>
}
else
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <span style="font-weight:bold;color:red">No records found</span>
    </div>
}

<script>


    function btnConfirm(Value) {
        debugger
        if (Value > 0) {
            $.ajax({

                url: '/DCCR/ValidationForYearWiseParticularsD',
                data: { Id: Value },
                success: function (data) {

                    var url = '/DCCR/YearWiseParticularsD?id=' + Value;
                    var title = "Year Wise Particular";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }

    }
</script>




