@model AsteriskBrowserAL.AssetCategory
@{
    ViewBag.Title = "AssetCategoryE";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-shopping-cart"></i>
            Inventory&Assests
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Asset Category</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">

    <br />

    <div class="col-xs-12">
        <!-- form start -->
        @using (Html.BeginForm("AssetCategoryE", "SOperations", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            @Html.ValidationSummary(true)
            <span style="color: red;">@Html.ValidationMessage("AssetCategory")</span>

            <input type="hidden" id="AssetCategoryId" name="AssetCategoryId" value="@Model.AssetCategoryId" />
       
              

                    <div class="table-header">
                      
                            AssetCategory
                            <small style="float:right;" class="textheader">
                                @Html.ActionLink("Back to details", "AssetCategory")
                            </small>
                    
                    </div><!-- /.page-header -->
                    <!-- form start -->


               
                <div class="widget-box row" style="padding:10px">
                    <form class="form-horizontal" role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("AssetCategoryName")</label>

                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.AssetName, new { @class = "form-control col-sm-5 textlength", placeholder = "AssetCategoryName", @id = "AssetCategoryName", @onchange = "removeError();", maxlength = 25 })
                                </div>

                                <div class="col-sm-3" style="display:none;" id="NameNull">
                                    <label style="color:red;font-weight:bold;"> Required </label>
                                </div>
                                @*<div class="col-sm-3">
                        <span style="color: red;font-weight: bold;">@Html.ValidationMessage("CategoryName")</span>
                    </div>*@
                            </div>

                            @*<div class="form-group">*@
                            @*<label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("ItemCount")</label>*@

                            @*<div class="col-sm-3">
                    @Html.TextBoxFor(model => model.ItemsCount, new { @class = "form-control col-sm-5 textlength", placeholder = "ItemCount", @maxlength = "10", @id = "ItemCount", @onchange = "removeError();" })
                </div>*@


                            @*<div class="col-sm-3" style="display:none;" id="Codenull">
                    <label style="color:red;font-weight:bold;"> Required </label>
                </div>*@
                            @*<div class="col-sm-3">
                    <span style="color: red;font-weight: bold;">@Html.ValidationMessage("Prefix")</span>
                </div>*@
                            @*</div>*@

                            @*<div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>

                    <div class="col-sm-6">
                        @Html.CheckBoxFor(model => model.Status)
                        <span class="lbl bigger-110">Is Active</span>
                    </div>

                    <div class="col-sm-3">
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>*@
                  
                       
                            <div class="col-md-9">
                                <div class="hr hr-18 dotted hr-double"></div>
                                <button class="btn btn-success btn-sm" onclick="return ValidateForm();" type="submit">
                                    <i class="ace-icon fa fa-check bigger-50"></i>
                                    Save
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-50"></i>
                                    Reset
                                </button>
                            </div>

                        </div>
                    </form>
                </div>


     


        }

    </div>

    <input type="hidden" id="count" name="count" value="0" />
</section>
<script type="text/javascript">
    function ValidateForm() {
        var bIsValid = true;

        var AssetCategoryName = $('#AssetCategoryName').val();
        var ItemCount = $('#ItemCount').val();

        validate = true;

        if (AssetCategoryName < 0 || AssetCategoryName == undefined || AssetCategoryName == '') {
            $('#NameNull').show();
            bIsValid = false;
        }
        //if (ItemCount == "" || ItemCount == undefined) {
        //    bIsValid = false;
        //    $('#Codenull').show();

        //}
        //if (PercentageOf < 0 || PercentageOf == undefined || PercentageOf == '') {
        //    bIsValid = false;
        //    $('#vPercentageOf').show();
        //}

        return bIsValid;
    }

    $('#AssetCategoryName').focus(function () {
        $('#NameNull').hide();
    });
    //$('#ItemCount').focus(function () {
    //    $('#Codenull').hide();
    //});
    //$('#PercentageOfComponentId').focus(function () {
    //    $('#vPercentageOf').hide();
    //});
</script>







