@model IEnumerable<AsteriskBrowserAL.AssetLocation>
@{
    ViewBag.Title = "AssetLocation";
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->


@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-shopping-cart"></i>
            Inventory&Assests
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Asset Location</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">


    @if (null != Model)
    {
        if (Model.Count() > 0)
        {


            <div class="table-header">
                <span style="font-family:calibri;"> Asset Location</span>
                <div class="" style="float:right;margin-right:10px;">
                    <a class="btncustom" href="@Url.Action("AssetLocationC", "SOperations")" role="button" id="New" name="New">
                   Add</a>
      </div>

            </div>

















            <div class="box-body table-responsive no-padding overflowscroll">
                <table id="dynamic-table" class="table table-hover table-striped table-bordered nowrap dynamic-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Asset Room")
                            </th>
                            <th>
                                @Html.DisplayName("Asset Place")
                            </th>
                            <th>
                                @Html.DisplayName("Description")
                            </th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssetRoom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssetPlace)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>


                                <td>
                                    <div>
                                        <a class="green" href="@Url.Action("AssetLocationE", "SOperations", new { id = item.AssetLocationId })">
                                            <i class="ace-icon fa fa-pencil  bigger-130"></i>

                                        </a>
                                        <a class="red" onclick="btnConfirm(@item.AssetLocationId)">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        }
    }
    else
    {
        <div class="table-header">
            Asset Location
            <a class="view-header-btn  btn btn-info btn-xs" href="@Url.Action("AssetLocationC", "SOperations")" role="button" id="New" name="New"><i class="fa fa-plus-circle bigger-180"></i></a>
        </div>
        <span style="color: red;"><b>No records found </b></span>
    }

</section>
<script>

    function btnConfirm(Value) {
        debugger
        if (Value > 0) {
            $.ajax({
                url: '/SOperations/ValidationForAssetLocationD',
                data: { id: Value },
                success: function (data) {

                    var url = '/SOperations/AssetLocationD?id=' + Value;
                    var title = "Asset Location";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }
    }

</script>
@Html.Action("DataTableScripts", "Base")
