@model List<AsteriskBrowserAL.Models.InventoryDisputeData>

@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;
    <div class="table-header">
        Records Found (@Model.Count())
    </div>
    <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
        <thead>
            <tr>
                <th>
                   S.No.
                </th>
                <th>
                    @Html.DisplayName("Item Name")
                </th>
                <th>
                    @Html.DisplayName("Received Date")
                </th>
                <th>
                    @Html.DisplayName("Received Qty")
                </th>
                <th>
                    @Html.DisplayName("Dispute Date")
                </th>
                <th>
                    @Html.DisplayName("Dispute Qty")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(nsno++)
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @if (item.ReceivedDate.HasValue)
                        {
                            @item.ReceivedDate.Value.ToString("dd-MMM-yyyy")
                        }
                    </td>
                    <td>
                        @item.ReceivedQty
                    </td>
                    <td>
                        @if (item.DisputeDate.HasValue)
                        {
                            @item.DisputeDate.Value.ToString("dd-MMM-yyyy")
                        }
                    </td>
                    <td>
                        @item.DisputeQuantity
                    </td>
                </tr>
            }
        </tbody>
          
    </table>

}
else
{
    <span style="color: red;"><b>No records found</b></span>
}

@Html.Action("DataTableScripts", "Base")



