@model IEnumerable<AsteriskBrowserAL.Models.PendingBooksData>

<div class="hr hr-18 dotted hr-double"></div>

@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;
    <div class="box">
      
        <div class="table-header">
            Records Found (@Model.Count())
        </div>
        <!-- form start -->
      
            <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>
                           S.No.
                        </th>
                        <th>
                            @Html.DisplayName("Item Name")
                        </th>
                        <th>
                            @Html.DisplayName("Quantity")
                        </th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(nsno++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.ActionLink("Issue", "PendingBooksI", new { id = item.InventoryPendingBookId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
  
    </div>
}
else
{
    <span style="color: red;"><b>Data not available</b></span>
}
@Html.Action("DataTableScripts", "Base")


