@model AsteriskBrowserAL.Models.StockEntryData

<div id="mydiv" align="center">
    <table style="width:100%;border-collapse:collapse;margin-bottom:1em;margin-top:1em;font-family:'Segoe UI'" border="1">
        <tr style="width:100%">
            <td style="width:100%">
                <div class="box-body table-responsive">
                    <div class="col-xs-12">
                        <table style="width:100%;" align="center">
                            <tr style="width:100%;">
                                <td style="width:85%;">
                                    <table style="width:100%;" align="center">
                                        <tr align="center">
                                            <td align="center">
                                                <table>
                                                    <tr>
                                                        <td style="font-weight:bold">
                                                            <div style="width:100%; text-align:left">
                                                                <img src="~/Content/images/SchoolLogo.png" width="100" height="100" />
                                                            </div>
                                                        </td>
                                                        <td style="font-size:17px">
                                                            <b>@Model.InstituteDetails.InstituteName</b><br />
                                                            @Model.InstituteDetails.InstituteAddress<br />Tel&nbsp;:&nbsp;@Model.InstituteDetails.InstitutePhone,&nbsp;@Model.InstituteDetails.AlternateMobile,&nbsp;Email&nbsp;:&nbsp;@*@Model.InstituteDetails.InstituteMail*@<br />
                                                            Web&nbsp;:&nbsp;@*@Model.InstituteDetails.InstituteWebsite*@
                                                        </td>
                                                    </tr>
                                                </table>
                                        </tr>
                                    </table>
                            </tr>
                        </table>
                    </div>
                </div>
                <span id="cama">,</span>
                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>STOCK ENTRY HISTORY DETAILS</b></div>
                <hr style="width:100%;" />
                <hr style="width:100%; margin-top:-0.5em" />

                @if (null != Model)
                {
                    <table style="width:100%;margin-left:3em; border-collapse:collapse" align="center">
                        <tr style="width:100%;">
                            <td style="margin-right:2em">
                                <b>Request Id</b>
                            </td>
                            <td>
                                :
                            </td>
                            <td style="margin-left:2em">
                                @Model.RequestId
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Requested Staff</b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td style="margin-left:2em">
                                @Model.RequestedStaffName
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Required Items</b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td style="margin-left:2em">
                                @Model.RequiredItems
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Quantity </b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td>
                                @Model.Quantity
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Purpose </b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td>
                                @Model.Purpose
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Order Date </b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td>
                                @Model.OrderDate.Value.ToString("dd-mm-yyyy")
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Approved Staff</b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            @if (@Model.IsApproved == true)
                            {
                                <td>
                                    @Model.ApprovedStaffName
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }

                        </tr>
                        <tr>
                            <td style="margin-right:2em">
                                <b>Budget</b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td>
                                @Model.Budget
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        <tr>
                    </table>
                    <div>
                        <p style="float:right;font-family:'Segoe UI'"><b>Signature Of Staff Member&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><p>
                    </div>
                    <br>
                    <table style="margin-left:3em">
                        <tr>
                            <td style="margin-right:2em">
                                <b>HOD Obsservations/ Remarks</b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td>
                                @if (@Model.Comments != null)
                                {
                                    @Model.lsthistory.FirstOrDefault(s => s.IsHOD == true).Comments
                                }
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div>
                        <p style="margin-left:762px;font-family:'Segoe UI'"><b>Signature Of HOD</b><p>
                    </div>
                    <br>
                    <table style="margin-left:3em">
                        <tr>
                            <td style="margin-right:2em">
                                <b>Principle Recommendation</b>
                            </td>
                            <td style="margin-right:2em">
                                :
                            </td>
                            <td>
                                @if (@Model.Comments != null)
                                {
                                    @Model.lsthistory.FirstOrDefault(s => s.IsPrincipal == true).Comments
                                }
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div>
                        <p style="margin-left:762px;font-family:'Segoe UI'"><b>Signature Of Principle</b><p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div style="width:950px;">
                        <table style="width:100%;border-collapse:collapse;margin-bottom:1em;margin-left:3em;" border="1">
                            <tr style="width:100%;border-collapse:collapse">
                                <td style="width:100%;border-collapse:collapse">
                                    <p align="center" style="font-weight:bold;margin-top:1em; font-family:'Segoe UI'">
                                        FOR OFFICE USE ONLY
                                    </p>

                                </td>
                            </tr>
                            <tr style="width:100%;border-collapse:collapse">
                                <td style="width:100%;border-collapse:collapse">
                                    <p style="font-weight:bold;margin-top:1em; margin-left:37px; font-family:'Segoe UI'">
                                        Forwarded to Secretary for approval:
                                    </p>

                                </td>
                            </tr>
                            <tr style="width:100%;margin-top:4em">
                                <td style="width:100%;border-collapse:collapse">
                                    <p style="font-size:16px;margin-top:2em;margin-bottom:2em;margin-left:2em; font-family:'Segoe UI';">
                                        <table style="width:110%;border-collapse:collapse">
                                            <tr>
                                                <td style="margin-right:2em">
                                                    <b>STOCK ON HAND:</b><b>@Model.Quantity</b>
                                                </td>
                                                <td><b style="margin-left:320px">BUDGETAVILABLE:</b>@Model.Budget</td>
                                            </tr>
                                        </table>
                                </td>
                            </tr>
                            <tr style="width:100%;margin-top:4em">
                                <td style="width:100%;border-collapse:collapse">
                                    <p style="font-size:16px;margin-top:2em;margin-bottom:2em;margin-left:2em; font-family:'Segoe UI';">
                                        <table style="width:110%;border-collapse:collapse">
                                            <tr>
                                                <td style="margin-right:2em">
                                                    <b>STAFF MANAGER</b>
                                                </td>
                                                <td style="margin-right:7em">
                                                    <b>MANAGER</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin-right:2em">
                                                    <b>(SIGNATURE)</b>
                                                </td>
                                                <td style="margin-right:7em">
                                                    <b>(SIGNATURE)</b>
                                                </td>
                                            </tr>
                                        </table>
                        </table>
                    </div>
                }

                else
                {
                    <p style="color:red;">Data not available</p>
                }

                <br />
    </table>
</div>

@*<script>
        function CallPrint(strid) {
            debugger
                var prtContent = document.getElementById(strid);
                var WinPrint =
     window.open('', '', 'left=0,top=0,width=1,height=1,toolbar=0,scrollbars=0,status=0');
                WinPrint.document.write(prtContent.innerHTML);
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print();
                return false;
                WinPrint.close();

            }


    </script>*@
