@model List<AsteriskBrowserAL.Models.KittingViewModel>

@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;


    <div class="table-header">
        Kits (Select for items)
    </div>

            <div style="overflow:auto;height:350px">

                <table class="table tbhover table-striped table-bordered dynamic-table" id="Tab1">
                    <thead>
                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Kit Name")
                            </th>
                            <th>
                                @Html.DisplayName("No Of Kits")
                            </th>
                            <th>
                                @Html.DisplayName("Received Date")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                            <tr>
                                @Html.Hidden("InventoryTransferId", item.InventoryTransferId)
                                <td>
                                    @(nsno++)
                                </td>
                                <td>
                                    @item.KitName
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @if (item.TransferDate.HasValue)
                                {
                                        @item.TransferDate.Value.ToString("dd-MMM-yyyy")
                                }
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>

}
else
{
    <span style="color: red;"><b>No kits received</b></span>
}



