@model List<AsteriskBrowserAL.Models.ItemModel>

@if (null != Model)
{
    if (Model.Count() > 0)
    {
        int nsno = 1;
       
           
                <div class="widget-body table-responsive no-padding" style="overflow:auto;height:400px;">
                    <div class="hideScrolling">
                        <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                            <thead>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Item Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Quantity")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Received Date")
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(nsno++)
                                        </td>
                                        <td>
                                            @item.ItemName
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @if (item.TransferDate.HasValue)
                                            {
                                                @item.TransferDate.Value.ToString("dd-MMM-yyyy")
                                            }
                                        </td>
                                    </tr>
                                }
                            </thead>
                        </table>
                    </div>
                </div>
           
    }
    else
    {
        <span style="color: red;"><b>No records to display</b></span>
    }
}




