
@model IEnumerable<AsteriskBrowserAL.Models.StaffData>



@if (null != Model && Model.Count() > 0)
{

    int nsno = 1;
    <div class="table-header">
        Records Found (@Model.Count())
    </div>

    <div class="overflowscroll" style="height:300px;">

        <table class="table table-striped table-bordered table-hover" style="font-size:14px;">
            <tbody>
                <tr>
                    <th>
                        S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Requested Id")
                    </th>
                    <th>
                        @Html.DisplayName("Requested Staff")
                    </th>
                    <th>
                        @Html.DisplayName("Requested Date")
                    </th>
                    <th>
                        @Html.DisplayName("Items")
                    </th>
                    <th>
                        @Html.DisplayName("Quantity")
                    </th>
                    <th>
                        @Html.DisplayName("Purpose")
                    </th>
                    <th>
                        @Html.DisplayName("Reporting To")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>


                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nsno++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @if (null != item.RequestDate)
                            {
                                @item.RequestDate.Value.ToString("dd-MMM-yyyy")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemsRequired)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purpose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayReportStaffName)
                        </td>
                        <td>
                            @if (item.Isapproved == "")
                            {
                                <span class="label label-warning"> Pending</span>
                            }
                            else if (item.Isapproved == "True")
                            {
                                <span class="label label-success">Accepted</span>
                            }
                            else
                            {
                                <span class="label label-danger">Rejected</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <span style="color: red;"><b>No records found</b></span>
}






