@model List<AsteriskBrowserAL.Models.RangeViewData>
@{
    ViewBag.Title = "Manuval Range";
    int sno = 1;
}


@if (Model != null && Model.Count() > 0)
{

    <div class="row">
        <div class="col-xs-12">

            <div class="table-header">
                Records Found (@Model.Count())

            </div>
        </div>
    </div>
    <div class="hideScrolling" style="overflow:auto; height:500px;">
        <table class="table table-bordered table-striped table-hover nowrap">
            <tbody>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayName("Starting Number")
                    </th>
                    <th>
                        @Html.DisplayName("Ending Number")
                    </th>
                    <th>
                        @Html.DisplayName("Starting Number")
                    </th>
                    <th>
                        @Html.DisplayName("Ending Number")
                    </th>
                </tr>

                @for (int i = 0; i < Model.Count(); i++)
                        {
                    <tr>
                        <td>
                            @(sno++)
                            @Html.Hidden("ApplicationRangeList.Index", (@i + 10))
                            @Html.Hidden("ApplicationRangeList[" + (@i + 10) + "].PRoApplicationId", Model.ElementAt(i).PRoApplicationId)
                            @Html.Hidden("ApplicationRangeList[" + (@i + 10) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                        </td>
                        <td>
                            @Model.ElementAt(i).BranchName
                        </td>
                        <td>
                            @Html.TextBox("ApplicationRangeList[" + (@i + 10) + "].StartNumber", Model.ElementAt(i).StartNumber, new { @class = "textlength txtboxNum" })
                        </td>

                        <td>
                            @Html.TextBox("ApplicationRangeList[" + (@i + 10) + "].EndNumber", Model.ElementAt(i).EndNumber, new { @class = "textlength txtboxNum" })

                        </td>
                        <td>
                            @Html.TextBox("ApplicationRangeList[" + (@i + 10) + "].SecStartNumber", Model.ElementAt(i).SecStartNumber, new { @class = "textlength txtboxNum" })
                        </td>
                        <td>
                            @Html.TextBox("ApplicationRangeList[" + (@i + 10) + "].SecEndNumber", Model.ElementAt(i).SecEndNumber, new { @class = "textlength txtboxNum" })
                        </td>
                    </tr>
                        }

            </tbody>
        </table>
        </div>





        }



