@model AsteriskBrowserAL.Banks

@{
    ViewBag.Title = "Create Banks";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Banks</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
  

 

            @using (Html.BeginForm("BanksC", "SeFinance", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-xs-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)



                        <div class="table-header">
                           Banks
                            <small style="float:right;" class="textheader">
                                @Html.ActionLink("Back to details", "Banks")
                            </small>

                        </div>


                   
                        <div class="widget-box" style="padding:10px;">

                            <form class="form-horizontal" role="form">


                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Bank Name")</label>

                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control col-sm-5 textlength", placeholder = "Bank Name", @id = "BankName", @onchange = "removeError();" })
                                    </div>

                                    <div class="col-sm-3" style="display:none;" id="bankName">
                                        <label style="color:red;font-weight:bold;"> Please Enter Bank Name </label>
                                    </div>


                                    <div class=" col-md-9">

                                        <div class="hr hr-18 dotted hr-double"></div>
                                        <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                            <i class="ace-icon fa fa-check bigger-50"></i>
                                            Save
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-50"></i>
                                            Reset
                                        </button>
                                    </div>

                                </div>




                   
                

                            </form>
                        </div>
                        </div>
                    </div>

                        }
                
                    <input type="hidden" id="count" name="count" value="0" />

             
</section>

<script type="text/javascript">
    function validateBank() {

         document.getElementById("count").value = "1";
         var BankName = document.getElementById("BankName").value;


        validate = true;

        if (BankName == "") {
            document.getElementById("bankName").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("bankName").style.display = "none";
        }

        return validate;
    };

    function submitForm() {

        var validatestatus = validateBank();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };


    function removeError() {

        var count = document.getElementById("count").value;

        var BankName = document.getElementById("BankName").value;



        if (count != 0) {
            if (BankName != "") {
                document.getElementById("bankName").style.display = "none";
            } else {
                document.getElementById("bankName").style.display = "inline";
            }
        }
    };
    $('#BankName').click(function () {
        document.getElementById('bankName').style.display = "none"
    })
</script>






