
@model List<AsteriskBrowserAL.Models.CashCardsViewModel>
@{
    ViewBag.Title = "Cash Cards";
    int sno = 1;
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Cash Cards</li>
    </ul><!-- /.breadcrumb -->

}




<style>
    .red {
        color: red;
    }

    .hideScrolling {
        overflow: hidden;
        height: 450px;
    }

    hideScrolling:hover {
        overflow: auto;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
          
             @using (Html.BeginForm("CashCards", "SeFinance", FormMethod.Post))
            {

                if (null != TempData["Message"])
                {



                    <p align="center">
                        <span class="savedinfo">



                            <span class=" fa fa-check-circle bigger-260" align="center"></span>
                            <br />
            @Html.Raw(TempData["Message"])
                            <br />

                            <a href="" class="cls1 btncustom">Close</a>
                            <script>

                                $(document).ready(function () {
                                    $(".cls1").click(function () {

                                        $(".savedinfo").css("display", "none")
                                    });



                            </script>
                        </span>
                    </p>

                }

                @Html.ValidationMessage("TemplateRange")

                if (Model != null && Model.Count() > 0)
                {
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="table-header">
                                <span style="font-family:calibri;">Cash Cards</span>
                                <div style="float:right;margin-right:10px;">
                                    <button type="submit" name="Save" class="btncustom P2" onclick="return submitForm()">
                                       Save
                                    </button>  </div>

                            </div>




                       
                     <div>
                         <table class="table tbhover table-striped table-bordered dynamic-table" id="tbCashCards">
                             <thead>

                                 <tr>
                                     <th style="text-align:center;min-width:250px" colspan="2">
                                         @Html.DisplayName("")
                                     </th>

                                     <th style="text-align:center;min-width:300px" colspan="2">
                                         @Html.DisplayName("Cash Card 1")
                                     </th>

                                     <th style="text-align:center;min-width:300px" colspan="2">
                                         @Html.DisplayName("Cash Card 2")
                                     </th>


                                     <th style="text-align:center;min-width:300px" colspan="2">
                                         @Html.DisplayName("Cash Card 3")
                                     </th>
                                 </tr>
                            
                                 <tr>
                                     <th>
                                        S.No.
                                     </th>
                                     <th>
                                         @Html.DisplayName("Branch Name")
                                     </th>

                                     <th>
                                         @Html.DisplayName("Card Number")
                                     </th>

                                     <th>
                                         @Html.DisplayName("Bank Name")
                                     </th>

                                     <th>
                                         @Html.DisplayName("Card Number")
                                     </th>

                                     <th>
                                         @Html.DisplayName("Bank Name")
                                     </th>

                                     <th>
                                         @Html.DisplayName("Card Number")
                                     </th>

                                     <th>
                                         @Html.DisplayName("Bank Name")
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 @for (int i = 0; i < Model.Count(); i++)
                                 {
                                     <tr>
                                         @Html.Hidden("LstCashCards.Index", (@i))
                                         @Html.Hidden("LstCashCards[" + (@i) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                         @Html.Hidden("LstCashCards[" + (@i) + "].BranchName", Model.ElementAt(i).BranchName)
                                         @Html.Hidden("LstCashCards[" + (@i) + "].CashCardId", Model.ElementAt(i).CashCardId)
                                         <td>
                                             @(sno++)
                                         </td>
                                         <td>
                                             @Model.ElementAt(i).BranchName
                                             <input type="hidden" id="Branchname" value="@Model.ElementAt(i).BranchName" />
                                         </td>
                                         <td>
                                             @Html.TextBox("LstCashCards[" + (@i) + "].CardOne", Model.ElementAt(i).CardOne, new { @class = "form-control textlength txtboxNum", @min = "0", @maxlength = "17", @style = "width:140px", @id = "CardOne", name = @Model.ElementAt(i).CardOne })
                                             @Html.Hidden("LstCashCards[" + (@i) + "].CardOne", Model.ElementAt(i).CardOne)
                                         </td>


                                         <td>
                                             @Html.TextBox("LstCashCards[" + (@i) + "].BankNameOne", Model.ElementAt(i).BankNameOne, new { @class = "form-control textlength", min = "0", @maxlength = "249", @style = "width:140px", @id = "BankNameOne", name = @Model.ElementAt(i).BankNameOne })
                                             @Html.Hidden("LstCashCards[" + (@i) + "].BankNameOne", Model.ElementAt(i).BankNameOne)

                                         </td>

                                         <td>
                                             @Html.TextBox("LstCashCards[" + (@i) + "].CardTwo", Model.ElementAt(i).CardTwo, new { @class = "form-control textlength txtboxNum", @maxlength = "17", @style = "width:140px", @id = "CardTwo", name = @Model.ElementAt(i).CardTwo })
                                             @Html.Hidden("LstCashCards[" + (@i) + "].CardTwo", Model.ElementAt(i).CardTwo)
                                         </td>

                                         <td>
                                             @Html.TextBox("LstCashCards[" + (@i) + "].BankNameTwo", Model.ElementAt(i).BankNameTwo, new { @class = "form-control textlength", @maxlength = "249", @style = "width:140px", @id = "BankNameTwo", name = @Model.ElementAt(i).BankNameTwo })
                                             @Html.Hidden("LstCashCards[" + (@i) + "].BankNameTwo", Model.ElementAt(i).BankNameTwo)
                                         </td>



                                         <td>
                                             @Html.TextBox("LstCashCards[" + (@i) + "].CardThree", Model.ElementAt(i).CardThree, new { @class = "form-control textlength txtboxNum", @maxlength = "17", @style = "width:140px", @id = "CardThree", name = @Model.ElementAt(i).CardThree })
                                             @Html.Hidden("LstCashCards[" + (@i) + "].CardThree", Model.ElementAt(i).CardThree)
                                         </td>

                                         <td>
                                             @Html.TextBox("LstCashCards[" + (@i) + "].BankNameThree", Model.ElementAt(i).BankNameThree, new { @class = "form-control textlength", @maxlength = "249", @style = "width:140px", @id = "BankNameThree", name = @Model.ElementAt(i).BankNameThree })
                                             @Html.Hidden("LstCashCards[" + (@i) + "].BankNameThree", Model.ElementAt(i).BankNameThree)
                                         </td>
                                     </tr>

                                 }
                             </tbody>
                         </table>

                            </div>
                        </div>

                    </div>

                }
            }
        </div>
    </div>

</section>
@Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })
<script type="text/javascript">

    function Load() {
        document.getElementById("Validation").innerHTML = "";
    }

    window.onload()
    {
        Load();
    }

    function ValidateData() {
        var CardOne = 0;
        var CardTwo = 0;
        var CardThree = 0;

        var BranchName = "";

        var isvalid = true;

        $('#tbCashCards tr').each(function (index) {
            CardOne = $(this).find('#CardOne').val();
            CardTwo = $(this).find('#CardTwo').val();
            CardThree = $(this).find('#CardThree').val();
            BranchName = $(this).find('#Branchname').val();


            if (parseInt(CardOne) > 0) {
                if ((parseInt(CardOne) == parseInt(CardTwo)) || (parseInt(CardOne) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of ( " + BranchName + " )";
                    return isvalid;
                }
            }

            if (parseInt(CardTwo) > 0) {
                if ((parseInt(CardOne) == parseInt(CardTwo)) || (parseInt(CardTwo) == parseInt(CardThree))) {
                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of ( " + BranchName + " )";
                    return isvalid;
                }
            }

            if (parseInt(CardThree) > 0) {

                if ((parseInt(CardOne) == parseInt(CardThree)) || (parseInt(CardTwo) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of ( " + BranchName + " )";
                    return isvalid;
                }
            }
        })

        return isvalid;
    }

    function submitForm() {

        var IsValid = ValidateData();

        if (IsValid == false) {
            return false;
        } else {
            return true;
        }
    }

</script>