@model AsteriskBrowserAL.FinanceCategory

@{
    ViewBag.Title = "CategoryIncomeEdit";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">CategoryIncomeEdit</li>
    </ul><!-- /.breadcrumb -->
}




@Html.Action("DatePickerScripts", "Base", new { IsPaging = false, AllowScroll = true })

<section class="content">


    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("CategoryIncomeEdit", "SeFinance", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.FinanceCategoryId)
                <div class="table-header">


                    CategoryIncomeEdit
                    <small style="float:right;font-weight:bold;" class="textheader">
                        @Html.ActionLink("Back to Finance Category", "FinanceCategory")
                    </small>

                </div><!-- /.page-header -->
                <!-- form start -->

                <div class="widget-box row" style="padding:10px;">
                    <form class="form-horizontal" role="form">

                        <div class="box">
                            <span style="color:red;font-weight:bold;">@Html.ValidationMessage("FinanceCategory")</span>



                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">@Html.Label("Category Name")</label>

                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control textlength", @id = "Desc", placeholder = "Description" })
                                    <div class="" style="display:none;" id="descrHoliday">
                                        <label style="color:red;font-weight:bold;"> Required</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12">


                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        @* <input type="radio" id="IsUnderIncome" value="1" name="Status" checked="checked" onchange="ClearData()" />*@
                                        @Html.RadioButtonFor(model => model.IsUnderIncome, true, new { @checked = true, @id = "IsUnderIncome", @name = "IsUnderIncome" })
                                        <b>Income</b>
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.RadioButtonFor(model => model.IsUnderIncome, false, new { @id = "IsUnderIncome", @name = "IsUnderIncome" })
                                        @*<input type="radio" id="Expense" name="Expense" value="0" />*@
                                        @*<input type="radio" id="IsUnderIncome" value="0" name="Status" onchange="ClearData()" />*@
                                        <b>Expense</b>
                                    </div>
                                    <div class="col-sm-4"></div>

                                </div>




                            </div>
                        </div>




                        <div class=" col-md-9" align="left">
                            <div class="hr hr-18 dotted hr-double"></div>
                            <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                save
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>


                    </form>
                </div>

            }
        </div>
        <input type="hidden" id="count" name="count" value="0" />
    </div>

</section>

<script type="text/javascript">

    function validateHolidays() {

        document.getElementById("count").value = "1";
        var Desc = document.getElementById("Desc").value;

        validate = true;

        if (Desc == "") {
            document.getElementById("descrHoliday").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("descrHoliday").style.display = "none";
        }


        return validate;
    };

    function submitForm() {

        var validatestatus = validateHolidays();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#Desc').focus(function () {
        $('#descrHoliday').hide();
    });
</script>
