@model AsteriskBrowserAL.Models.FeeComponentSettings
@{
    int Sno = 1;
}
@if (null != Model)
{
    if (Model.FeeAmount != null && Model.FeeAmount.Count() > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    Fee Component Amount
                    <div style="float:right;">
                        <button type="submit" name="Save" class="btn btn-info btn-xs P2">
                            <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                        </button>
                    </div>
                </div>

                <div style="overflow:auto">
                    <table class="table tbhover table-striped table-bordered dynamic-table">
                        <thead>
                            <tr>
                                <th>
                                   S.No.
                                </th>
                                <th>
                                    @Html.DisplayName("Branch")
                                </th>
                                @if (null != Model.FeeAmount && Model.FeeAmount.Count() > 0)
                                {
                                    var Data = Model.FeeAmount.FirstOrDefault();
                                    if (Data.Class1 != "" && Data.Class1 != null)
                                    {
                                <th>
                                    @Data.Class1
                                </th>
                                    }

                                    if (Data.Class2 != "" && Data.Class2 != null)
                                    {
                                <th>
                                    @Data.Class2
                                </th>
                                    }
                                    if (Data.Class3 != "" && Data.Class3 != null)
                                    {
                                <th>
                                    @Data.Class3
                                </th>
                                    }
                                    if (Data.Class4 != "" && Data.Class4 != null)
                                    {
                                <th>
                                    @Data.Class4
                                </th>
                                    }
                                    if (Data.Class5 != "" && Data.Class5 != null)
                                    {
                                <th>
                                    @Data.Class5
                                </th>
                                    }
                                    if (Data.Class6 != "" && Data.Class6 != null)
                                    {
                                <th>
                                    @Data.Class6
                                </th>
                                    }
                                    if (Data.Class7 != "" && Data.Class7 != null)
                                    {
                                <th>
                                    @Data.Class7
                                </th>
                                    }
                                    if (Data.Class8 != "" && Data.Class8 != null)
                                    {
                                <th>
                                    @Data.Class8
                                </th>
                                    }
                                    if (Data.Class9 != "" && Data.Class9 != null)
                                    {
                                <th>
                                    @Data.Class9
                                </th>
                                    }
                                    if (Data.Class10 != "" && Data.Class10 != null)
                                    {
                                <th>
                                    @Data.Class10
                                </th>
                                    }
                                    if (Data.Class11 != "" && Data.Class11 != null)
                                    {
                                <th>
                                    @Data.Class11
                                </th>
                                    }
                                    if (Data.Class12 != "" && Data.Class12 != null)
                                    {
                                <th>
                                    @Data.Class12
                                </th>
                                    }
                                    if (Data.Class13 != "" && Data.Class13 != null)
                                    {
                                <th>
                                    @Data.Class13
                                </th>
                                    }
                                    if (Data.Class14 != "" && Data.Class14 != null)
                                    {
                                <th>
                                    @Data.Class14
                                </th>
                                    }
                                    if (Data.Class15 != "" && Data.Class15 != null)
                                    {
                                <th>
                                    @Data.Class15
                                </th>
                                    }
                                }

                            </tr>
                        </thead>

                        @for (int i = 0; i < Model.FeeAmount.Count(); i++)
                            {
                         <tbody>
                            <tr>
                                <td>
                                    @Html.Hidden("FeeAmount.Index", (@i + 10))
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class1Id", Model.FeeAmount.ElementAt(i).Class1Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class1", Model.FeeAmount.ElementAt(i).Class1)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class2", Model.FeeAmount.ElementAt(i).Class2)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class2Id", Model.FeeAmount.ElementAt(i).Class2Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class3", Model.FeeAmount.ElementAt(i).Class3)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class3Id", Model.FeeAmount.ElementAt(i).Class3Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class4", Model.FeeAmount.ElementAt(i).Class4)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class4Id", Model.FeeAmount.ElementAt(i).Class4Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class5", Model.FeeAmount.ElementAt(i).Class5)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class5Id", Model.FeeAmount.ElementAt(i).Class5Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class6", Model.FeeAmount.ElementAt(i).Class6)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class6Id", Model.FeeAmount.ElementAt(i).Class6Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class7", Model.FeeAmount.ElementAt(i).Class7)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class7Id", Model.FeeAmount.ElementAt(i).Class7Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class8", Model.FeeAmount.ElementAt(i).Class8)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class8Id", Model.FeeAmount.ElementAt(i).Class8Id)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class9", Model.FeeAmount.ElementAt(i).Class9)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class9Id", Model.FeeAmount.ElementAt(i).Class9Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class10", Model.FeeAmount.ElementAt(i).Class10)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class10Id", Model.FeeAmount.ElementAt(i).Class10Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class11", Model.FeeAmount.ElementAt(i).Class11)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class11Id", Model.FeeAmount.ElementAt(i).Class11Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class12", Model.FeeAmount.ElementAt(i).Class12)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class12Id", Model.FeeAmount.ElementAt(i).Class12Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class13", Model.FeeAmount.ElementAt(i).Class13)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class13Id", Model.FeeAmount.ElementAt(i).Class13Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class14", Model.FeeAmount.ElementAt(i).Class14)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class14Id", Model.FeeAmount.ElementAt(i).Class14Id)

                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class15", Model.FeeAmount.ElementAt(i).Class15)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].Class15Id", Model.FeeAmount.ElementAt(i).Class15Id)


                                    @Html.Hidden("FeeAmount[" +(@i) + "].SubscriptionId", Model.FeeAmount.ElementAt(i).SubscriptionId)
                                    @Html.Hidden("FeeAmount[" +(@i) + "].BranchName", Model.FeeAmount.ElementAt(i).BranchName)


                                    @Sno
                                </td>
                                <td>
                                    @Model.FeeAmount.ElementAt(i).BranchName

                                </td>
                                @if (Model.FeeAmount.ElementAt(i).Class1 != "" && Model.FeeAmount.ElementAt(i).Class1 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class1Amount", Model.FeeAmount.ElementAt(i).Class1Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class1Amount", Model.FeeAmount.ElementAt(i).Class1Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class2 != "" && Model.FeeAmount.ElementAt(i).Class2 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class2Amount", Model.FeeAmount.ElementAt(i).Class2Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class2Amount", Model.FeeAmount.ElementAt(i).Class2Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class3 != "" && Model.FeeAmount.ElementAt(i).Class3 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class3Amount", Model.FeeAmount.ElementAt(i).Class3Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class3Amount", Model.FeeAmount.ElementAt(i).Class3Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class4 != "" && Model.FeeAmount.ElementAt(i).Class4 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class4Amount", Model.FeeAmount.ElementAt(i).Class4Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class4Amount", Model.FeeAmount.ElementAt(i).Class4Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class5 != "" && Model.FeeAmount.ElementAt(i).Class5 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class5Amount", Model.FeeAmount.ElementAt(i).Class5Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class5Amount", Model.FeeAmount.ElementAt(i).Class5Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class6 != "" && Model.FeeAmount.ElementAt(i).Class6 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class6Amount", Model.FeeAmount.ElementAt(i).Class6Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class6Amount", Model.FeeAmount.ElementAt(i).Class6Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class7 != "" && Model.FeeAmount.ElementAt(i).Class7 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class7Amount", Model.FeeAmount.ElementAt(i).Class7Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class7Amount", Model.FeeAmount.ElementAt(i).Class7Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class8 != "" && Model.FeeAmount.ElementAt(i).Class8 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class8Amount", Model.FeeAmount.ElementAt(i).Class8Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class8Amount", Model.FeeAmount.ElementAt(i).Class8Amount)
                                    </td>
                                    }
                                @if (Model.FeeAmount.ElementAt(i).Class9 != "" && Model.FeeAmount.ElementAt(i).Class9 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class9Amount", Model.FeeAmount.ElementAt(i).Class9Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class9Amount", Model.FeeAmount.ElementAt(i).Class9Amount)
                                    </td>
                                    }
                                     @if (Model.FeeAmount.ElementAt(i).Class10 != "" && Model.FeeAmount.ElementAt(i).Class10 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class10Amount", Model.FeeAmount.ElementAt(i).Class10Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class10Amount", Model.FeeAmount.ElementAt(i).Class10Amount)
                                    </td>
                                    } 
                                @if (Model.FeeAmount.ElementAt(i).Class11 != "" && Model.FeeAmount.ElementAt(i).Class11 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class11Amount", Model.FeeAmount.ElementAt(i).Class11Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class11Amount", Model.FeeAmount.ElementAt(i).Class11Amount)
                                    </td>
                                    }
                                    @if (Model.FeeAmount.ElementAt(i).Class12 != "" && Model.FeeAmount.ElementAt(i).Class12 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class12Amount", Model.FeeAmount.ElementAt(i).Class12Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class12Amount", Model.FeeAmount.ElementAt(i).Class12Amount)
                                    </td>
                                    }
                                    @if (Model.FeeAmount.ElementAt(i).Class13 != "" && Model.FeeAmount.ElementAt(i).Class13 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class13Amount", Model.FeeAmount.ElementAt(i).Class13Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class13Amount", Model.FeeAmount.ElementAt(i).Class13Amount)
                                    </td>
                                    }
                                    @if (Model.FeeAmount.ElementAt(i).Class14 != "" && Model.FeeAmount.ElementAt(i).Class14 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class14Amount", Model.FeeAmount.ElementAt(i).Class14Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class14Amount", Model.FeeAmount.ElementAt(i).Class14Amount)
                                    </td>
                                    }
                                    @if (Model.FeeAmount.ElementAt(i).Class15 != "" && Model.FeeAmount.ElementAt(i).Class15 != null)
                                    {
                                    <td>
                                        @Html.TextBox("FeeAmount[" +(@i) + "].Class15Amount", Model.FeeAmount.ElementAt(i).Class15Amount, new { @class = "textlength Number", @min = "0", @Maxlength = "7" })
                                        @Html.Hidden("FeeAmount[" +(@i) + "].Class15Amount", Model.FeeAmount.ElementAt(i).Class15Amount)
                                    </td>
                                    }

                                </tr>

                                Sno++;
                          </tbody>
                        }
                        </table>
                    </div>
               </div>
          </div>
     }
}

                <script>
                    $('#Number').keypress(function (e) {
                        $("#Number").attr('maxlength', '6');
                        var a = [];
                        var k = e.which;

                        for (i = 48; i < 58; i++)
                            a.push(i);

                        if (!($.inArray(k, a) >= 0))
                            e.preventDefault();
                    });
                </script>
