
@model  List<AsteriskBrowserAL.Models.FeeComponentsViewModel>

@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;
    <div class="box">
        <div class="box-header">
            Fee Componet History
        </div><!-- /.box-header -->
        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Fee Component Date")
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nsno++)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FeeComponentDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color: red;"><b>Data not available</b></span>
}
@Html.Action("DataTableScripts", "Base")