@model AsteriskBrowserAL.FeeComponent
@{
    ViewBag.Title = "FeeComponent";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Fee Components</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Fee Component Details", "FeeComponents")</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("FeeComponentsC", "SeFinance", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.FeeComponentId)
                <div class="widget-box">
                    <span style="color:red;font-weight:bold;">@Html.ValidationMessage("Component")</span>

                    <div class="page-header">
                        <h1>
                        Category
                        </h1>
                      
                        <div>
                            <button class="btn btn-primary" type="submit" style="width:80px;" onclick="return submitForm();">
                                Save
                            </button>
                        </div>

                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Code")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control textlength", @id = "Name", @maxlength = "2", placeholder = "Name" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="lblComponentName">
                                <label style="color:red;font-weight:bold;"> Please enter component name </label>
                            </div>


                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Category Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.Prefix, new { @class = "form-control textlength", @maxlength = "5", @id = "Prefix", placeholder = "Prefix" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="lblprefix">
                                <label style="color:red;font-weight:bold;"> Please enter prefix </label>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>

<script type="text/javascript">
    function validateCategory() {

        document.getElementById("count").value = "1";
        var CategoryName = document.getElementById("Name").value;
        var Code = document.getElementById("Prefix").value;

        validate = true;

        if (CategoryName == "") {
            document.getElementById("lblComponentName").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("lblComponentName").style.display = "none";
        }

        if (Code == "") {
            document.getElementById("lblprefix").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("lblprefix").style.display = "none";
        }

        return validate;
    };

    function submitForm() {

        var validatestatus = validateCategory();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#Name').focus(function () {
        $('#lblComponentName').hide();
    });
    $('#Prefix').focus(function () {
        $('#lblprefix').hide();
    });


</script>







