@model List<AsteriskBrowserAL.Models.RangeViewData>
@{
    int sno = 1;
}

<button class="btn btn-primary" style="width:80px" type="button" onclick="location.href='@Url.Action("Range", "SeFinance")'">Save</button>

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12">

            <div class="table-header">
                Records Found (@Model.Count())

            </div>
        </div>
    </div>

    <table class="table tbhover table-striped table-bordered dynamic-table" id="mytab1">
        <tbody>
            <tr>
                <th>
                   S.No.
                </th>
                <th>
                    @Html.DisplayName("Branch")
                </th>

                <th>
                    @Html.DisplayName("Starting Number")
                </th>
                <th>
                    @Html.DisplayName("Ending Number")
                </th>
                <th>
                    @Html.DisplayName("Starting Number")
                </th>
                <th>
                    @Html.DisplayName("Ending Number")
                </th>
            </tr>


            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @(sno++)
                        @Html.Hidden("lstManualRangeData.Index", (@i))
                        @Html.Hidden("lstManualRangeData[" + @i + "].ManuvalReceiptRangeId", Model.ElementAt(i).ManuvalReceiptRangeId)
                        @Html.Hidden("lstManualRangeData[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)

                    </td>
                    <td>
                        @Model.ElementAt(i).BranchName
                    </td>
                    <td>
                        @Html.TextBox("lstManualRangeData[" + @i + "].StartNumber", Model.ElementAt(i).StartNumber, new { @class = "textlength txtboxNum", @id = "startnumber" })


                    </td>

                    <td>
                        @Html.TextBox("lstManualRangeData[" + @i + "].EndNumber", Model.ElementAt(i).EndNumber, new { @class = "textlength txtboxNum", @id = "endnumber" })


                    </td>
                    <td>
                        @Html.TextBox("lstManualRangeData[" + @i + "].SecStartNumber", Model.ElementAt(i).SecStartNumber, new { @class = "textlength txtboxNum", @id = "secstartnumber" })


                    </td>
                    <td>
                        @Html.TextBox("lstManualRangeData[" + @i + "].SecEndNumber", Model.ElementAt(i).SecEndNumber, new { @class = "textlength txtboxNum", @id = "secendNumber" })


                    </td>
                </tr>

            }

        </tbody>
    </table>


}


@Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })
<script type="text/javascript">



</script>
