
@model AsteriskBrowserAL.PettyCashSubHead

@{
    ViewBag.Title = "Edit Pettycash SubHead";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Petty Cash Sub Heads</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">

   
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("PettyCashSubHeadE", "SeFinance", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.PettyCashHeadId)
                @Html.HiddenFor(model => model.PettyCashSubHeadId)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <span style="color:red;font-weight:bold;">@Html.ValidationMessage("PettyCashSubHeads")</span>
                <div class="table-header">
                   
                        Petty Cash Sub Head
                        <small style="float:right;" class="textheader">
                            @Html.ActionLink("Back to details", "PettyCashSubHeads")
                        </small>
                    
                </div>

                @*<div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color:red;font-weight:bold;">@Html.ValidationMessage("PettyCashSubHead")</span>

                    <div class="box-header">
                    <div>
                        <h3 class="box-title">Petty Cash  SubHead</h3>


                            <button class="btn btn-primary" type="submit" style="float:right;width:80px" onclick="return submitForm();">
                                Save
                            </button>

                    </div>
                         </div>*@<!-- /.box-header -->
                    <!-- form start -->

                <div class=" row widget-box" style="padding:10px;">

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Sub Head Name")</label>

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.SubHeadName, new { @class = "form-control textlength", @id = "SubHeadName", MaxLength = "35", placeholder = "SubHead name" })
                                <span class="" style="color:red;font-weight:bold;" id="SubHeadNameval">
                                </span>
                            </div>

                         

                        </div>

                    </div>


                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Description")</label>

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control textlength", @id = "Description", MaxLength = "35", placeholder = "Description" })
                                <span class="" style="color:red;font-weight:bold;" id="Descriptionval">
                                </span>
                            </div>

                        </div>

                    </div>


                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right"></label>
                            <div class="col-sm-9">
                                <div class="col-sm-4">
                                    @if (Model.IsActive == null)
                                    {
                                        Model.IsActive = false;
                                    }

                                    @Html.CheckBoxFor(model => model.IsActive.Value, new { Name = "IsActive" })
                                    <input name="IsActive" type="hidden" value="false" />
                                </div>

                                <span class="lbl bigger-110">Is Active</span>
                            </div>
                        </div>

                    </div>
                    

                    

                    



                       
                 
                        <div class=" col-md-9">
                            <div class="hr hr-18 dotted hr-double"></div>
                            <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Save
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                        </div>


                </div>

            }
        </div>
    </div>
    
    <input type="hidden" id="count" name="count" value="0" />
</section>

<script type="text/javascript">
    function validatePettycashSubHead() {

         document.getElementById("count").value = "1";
         var SubHeadName = document.getElementById("SubHeadName").value;
         var Desc = document.getElementById("Description").value;

        validate = true;

        if (SubHeadName == "") {
            document.getElementById("SubHeadNameval").innerHTML = "Please enter SubHead Name";
            validate = false;
        }

        if (Desc == "") {
            document.getElementById("Descriptionval").innerHTML = "Please enter Description";
            validate = false;
        }


        return validate;
    };

    $('#SubHeadName').focus(function () {
        document.getElementById("SubHeadNameval").innerHTML = "";
    });

    $('#Description').focus(function () {
        document.getElementById("Descriptionval").innerHTML = "";
    });

    function submitForm() {

        var validatestatus = validatePettycashSubHead();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#Name').focus(function () {
        $('#Nameval').hide();
    });
    $('#Description').focus(function () {
        $('#DescriptionVal').hide();
    });



</script>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@






