@model AsteriskBrowserAL.PettyCashHead

@{
    ViewBag.Title = "Create Pettycash Head";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Petty Cash Department</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">


    @using (Html.BeginForm("PettyCashHeadC", "SeFinance", FormMethod.Post, new { @class = "form-horizontal" }))
            {
        <span style="color:red;font-weight:bold;">@Html.ValidationMessage("PettyCashHead")</span>
        <div class="row">
            <div class="col-xs-12">

                <div class="table-header">
                    <span style="font-family:calibri;">Petty Cash Head</span>


                    <small style="float:right;font-weight:bold;" class="textheader">
                        @Html.ActionLink("Back to details", "PettyCashHead")
                    </small>

                </div><!-- /.page-header -->

             
              
                    

                <div class=" widget-box row" style="padding:10px;" >

                    <form class="form-horizontal" role="form">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Head Name")</label>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control textlength", @id = "Name", placeholder = "Head Name" })
                                    <div class="" style="display:none;" id="Nameval">
                                        <label style="color:red;font-weight:bold;"> Required </label>
                                    </div>

                                </div>




                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Description")</label>

                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control textlength", @id = "Description", placeholder = "Description" })
                                    <div class="" style="display:none;" id="DescriptionVal">
                                        <label style="color:red;font-weight:bold;"> Required </label>
                                    </div>

                                </div>


                            </div>

                        </div>





                        <div class="col-md-9">
                            <div class="hr hr-18 dotted hr-double"></div>
                            <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Save
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>
                            <br />
                        </div>
                    </form>
                </div>

                </div>
                    </div>

                }

        <input type="hidden" id="count" name="count" value="0" />
    </section>

<script type="text/javascript">
    function validateHead() {

         document.getElementById("count").value = "1";
         var Name = document.getElementById("Name").value;
        var description = document.getElementById("Description").value;

        validate = true;

        if (Name == "") {
            document.getElementById("Nameval").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("Nameval").style.display = "none";
        }

        if (description == "") {
            document.getElementById("DescriptionVal").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("DescriptionVal").style.display = "none";
        }


        return validate;
    };

    function submitForm() {

        var validatestatus = validateHead();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#Name').focus(function () {
        $('#Nameval').hide();
    });
    $('#Description').focus(function () {
        $('#DescriptionVal').hide();
    });



</script>








