@model AsteriskBrowserAL.PettyCashHead

@{
    ViewBag.Title = "Edit Pettycash Head";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Petty Cash Department</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">
  
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("PettyCashHeadE", "SeFinance", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.PettyCashHeadId)
                <span style="color:red;font-weight:bold;">@Html.ValidationMessage("PettyCashHead")</span>
                <div class="table-header">
                
                        Pettycash Head
                        <small style="float:right;" class="textheader">
                            @Html.ActionLink("Back to details", "PettyCashHead")
                        </small>
                
                </div><!-- /.page-header -->


                <div class="row widget-box" style="padding:10px;">
                
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form">

                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Head Name")</label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control textlength", @id = "Name", placeholder = "Head name" })
                                        <div class="" style="display:none;" id="Nameval">
                                            <label style="color:red;font-weight:bold;"> Required </label>
                                        </div>
                                    </div>

                                   


                                </div>
                            </div>

                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Description")</label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control textlength", @id = "Description", placeholder = "Description" })
                                        <div class="" style="display:none;" id="Descriptionval">
                                            <label style="color:red;font-weight:bold;"> Required </label>
                                        </div>
                                    
                                    </div>

                                   

                                </div>
                            </div>
                            

                            <div class=" col-md-9" align="left">
                                
                                <div class="hr hr-18 dotted hr-double"></div>
                                <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                    <i class="ace-icon fa fa-check bigger-50"></i>
                                    Save
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-50"></i>
                                    Reset
                                </button>
                            </div>

                        </form>
                    </div>
               
            }
        </div>

    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>

<script type="text/javascript">
    function validatePettycashHead() {

        document.getElementById("count").value = "1";
        var HeadName = document.getElementById("Name").value;
        var Desc = document.getElementById("Description").value;

        validate = true;

        if (HeadName == "") {
            document.getElementById("Nameval").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("Nameval").style.display = "none";
        }

        if (Desc == "") {
            document.getElementById("Descriptionval").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("Descriptionval").style.display = "none";
        }


        return validate;
    };

    function submitForm() {

        var validatestatus = validatePettycashHead();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    $('#Name').focus(function () {
        $('#Nameval').hide();
    });
    $('#Description').focus(function () {
        $('#DescriptionVal').hide();
    });



</script>







