@model AsteriskBrowserAL.Models.CentralPrefixViewModel
@{
    ViewBag.Title = "Fee Due List";
    int sno = 1;
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Prefix</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
         
            @using (Html.BeginForm("Prefix", "SeFinance", FormMethod.Post))
            {
                if (Model != null)
                {
                    <span id="Validation" style="color:red;font-weight:bold"></span>

                @*<span id="error" style="color:red;font-weight:bold"></span>*@
                    <!-- form start -->


              

                            <div class="table-header">
                                <span style="font-family:calibri;">Prefix</span>
                            </div>











                <div class="widget-box">
                  
                    <!-- /.box-header -->
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="col-sm-6">
                                <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Fee Receipt</label>
                                <div class="col-sm-6" style="font:12px arial;">
                                    <input type="text" id="FeePrefix" name="FeePrefix" value="@Model.FeePrefix" class="form-control" maxlength="5" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Voucher</label>
                                <div class="col-sm-6" style="font:12px arial;">
                                    <input type="text" id="VoucherPefix" name="VoucherPefix" value="@Model.VoucherPefix" class="form-control" maxlength="5" />

                                </div>
                            </div>
                            <br />
                            <br />
                            @*<div class="col-sm-6">
                                <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Delivery Challan</label>
                                <div class="col-sm-6" style="font:12px arial;">
                                    <input type="text" id="Challan" name="DeliveryChallanPrefix" value="@Model.DeliveryChallanPrefix" class="form-control" maxlength="5" />

                                </div>
                            </div>*@

                            <div class="col-sm-6">
                                <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Manual Receipt</label>
                                <div class="col-sm-6" style="font:12px arial;">
                                    <input type="text" id="Manual" name="ManualReceiptPrefix" value="@Model.ManualReceiptPrefix" class="form-control" maxlength="5" />

                                </div>
                            </div>
                            @*<br />
                            <br />*@
                            <div class="col-sm-6">
                                <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Special Receipt</label>
                                <div class="col-sm-6" style="font:12px arial;">
                                    <input type="text" id="Special" name="SpecialReceiptPrefix" value="@Model.SpecialReceiptPrefix" class="form-control" maxlength="5" />

                                </div>
                            </div>

                            @*<div class="col-sm-6">
                                <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Student Sale Receipt</label>
                                <div class="col-sm-6" style="font:12px arial;">
                                    <input type="text" id="Student" name="StudentSalesPrefix" value="@Model.StudentSalesPrefix" class="form-control" maxlength="5" />

                                </div>
                            </div>*@
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <br />

            



                <div class="table-header">
                    Records Found (@Model.AllBranchPrefix.Count())
                    <div class="inline action-buttons" style="float:right;margin-right:10px;">
                        <button type="submit" class="btncustom P2">
                            Save
                        </button>
                    </div>
                </div>
    <div>

        <table class="table tbhover table-striped table-bordered dynamic-table">
            <thead>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayName("Branch Code")
                    </th>
                    <th>
                        @Html.DisplayName("Allow Swipe ")
                    </th>
                </tr>
            </thead>
            <tbody style="overflow: auto; height: 300px; ">

                @for (int i = 0; i < Model.AllBranchPrefix.Count(); i++)
            {
            <tr>
                <td>
                    @Html.Hidden("AllBranchPrefix.Index", (@i + 10))
                    @sno
                    @Html.Hidden("AllBranchPrefix[" + (@i + 10) + "].SubscriptionId", Model.AllBranchPrefix.ElementAt(i).SubscriptionId)
                    @Html.Hidden("AllBranchPrefix[" + (@i + 10) + "].BranchName", Model.AllBranchPrefix.ElementAt(i).BranchName)
                    @Html.Hidden("AllBranchPrefix[" + (@i + 10) + "].BranchAllPrefixId", Model.AllBranchPrefix.ElementAt(i).BranchAllPrefixId)
                </td>
                <td>
                    @Model.AllBranchPrefix.ElementAt(i).BranchName


                </td>
                <td>
                    @Html.TextBox("AllBranchPrefix[" + (@i + 10) + "].BranchCode", Model.AllBranchPrefix.ElementAt(i).BranchCode, new { @class = "form-control", @required = "required", @maxlength = "5", style = "width:100px" })
                    @Html.Hidden("AllBranchPrefix[" + (@i + 10) + "].BranchCode", Model.AllBranchPrefix.ElementAt(i).BranchCode)

                </td>
                <td>
                    @if (Model.AllBranchPrefix.ElementAt(i).SwipeAllow == true)
                    {
                        @Html.CheckBox("AllBranchPrefix[" + (@i + 10) + "].SwipeAllow", Model.AllBranchPrefix.ElementAt(i).SwipeAllow, new { @class = "form-control" , @checked = "checked" })
                    }
                    else
                    {
                        @Html.CheckBox("AllBranchPrefix[" + (@i + 10) + "].SwipeAllow", Model.AllBranchPrefix.ElementAt(i).SwipeAllow, new { @class = "form-control" })
                    }
                </td>
            </tr>
                sno++;
            }
            </tbody>
        </table>
    </div>
                <br />
                <br />
                }
            }
        </div>
    </div>
</section>

@Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })

<script>

    $('.number').keypress(function (e) {
        $(".number").attr('maxlength', '13');
        var a = [];
        var k = e.which;

        for (i = 48; i < 58; i++)
            a.push(i);

        if (!($.inArray(k, a) >= 0))
            e.preventDefault();
    });



    function submitForm() {
        debugger
        var validation = true;
        validation = Validate()
        return validation;
    }

    function Validate() {
        var FeePrefix = $("#FeePrefix").val();
        var VoucherPefix = $("#VoucherPefix").val();
        var Challan = $("#Challan").val();
        var Manual = $("#Manual").val();
        var Special = $("#Special").val();
        var Student = $("#Student").val();
        
        var isvalid = true

        validation = "Please fill the mandatory fields :"
        if (FeePrefix == "" || FeePrefix == null || FeePrefix == "null") {
           
            validation += " Fee Reciept,"
            isvalid = false;
        }

        if (VoucherPefix == "" || VoucherPefix == null || VoucherPefix == "null") {

            validation += " Vocher,"
            isvalid = false;

        }

        if (Challan == "" || Challan == null || Challan == "null") {

            validation += " Delivery Challan,"
            isvalid = false;

        }

        if (Manual == "" || Manual == null || Manual == "null") {
            validation += " Manual Reciept,"
            isvalid = false;

        }
        if (Special == "" || Special == null || Special == "null") {

            validation += " Special Reciept,"
            isvalid = false;

        }

        if (Student == "" || Student == null || Student == "null") {
            validation += " Student Sale Reciept,"
            isvalid = false;

        }

        $.ajax({

            url: '/SeFinance/PrefixValidation',

            data: { FeePrefix: FeePrefix, VoucherPefix: VoucherPefix, Challan: Challan, Manual: Manual, Special: Special, Student :Student  },

            success: function (result) {

                if (result == "true") {

                }

                else {

                    PersonalInfoVal += " Age is not eligible, "

                    isvalid = false;

                }

            }, async: false,

        })


        return isvalid
    }

    
    $("#FeePrefix").click(function () {
        document.getElementById("Validation").innerHTML = ""
    })

    $("#VoucherPefix").click(function () {
        document.getElementById("Validation").innerHTML = ""
    })

    $("#Challan").click(function () {
        document.getElementById("Validation").innerHTML = ""
    })

    $("#Manual").click(function () {
        document.getElementById("Validation").innerHTML = ""
    })

    $("#Special").click(function () {
        document.getElementById("Validation").innerHTML = ""
    })

    $("#Student").click(function () {
        document.getElementById("Validation").innerHTML = ""
    })
</script>


