@model List<AsteriskBrowserAL.Models.RangeViewData>
@{
    ViewBag.Title = "Manual Rage";
   

    int sno = 1;
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Manual Range</li>
    </ul><!-- /.breadcrumb -->
}

!--Main Content-->
<section class="content">
    <div class="row">
        <div class=col-xs-6>
           @Html.ActionLink("<< Ranges","Range")

        </div>
    </div>
    <br />
    <br />
   
        <div class="row">
            <div class=col-xs-12>
               
                @if (Model != null && Model.Count() > 0)
                {
                    <div class="box-body">
                        <table class="table table-hover stripe">
                            <thead>
                                <tr>
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Branch")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Start Number")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Ending Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Start Number")
                                    </th>

                                    <th>
                                        @Html.DisplayName("Ending Number")
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="overflow: auto; height: 300px; ">

                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.Hidden("lstManualRangeData.Index", (@i + 10))
                                            @sno
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].BranchName", Model.ElementAt(i).BranchName)
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)

                                        </td>
                                        <td>
                                            @Model.ElementAt(i).BranchName

                                        </td>
                                        <td>
                                            @Html.TextBox("lstManualRangeData[" + (@i + 10) + "].StartNumber", Model.ElementAt(i).StartNumber, new { @class = "textlength txtboxNum", @id = "startnumber" })
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].StartNumber", Model.ElementAt(i).StartNumber)


                                        </td>

                                        <td>
                                            @Html.TextBox("lstManualRangeData[" + (@i + 10) + "].EndNumber", Model.ElementAt(i).EndNumber, new { @class = "textlength txtboxNum", @id = "endNumber" })
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].EndNumber", Model.ElementAt(i).EndNumber)


                                        </td>

                                        <td>
                                            @Html.TextBox("lstManualRangeData[" + (@i + 10) + "].SecStartNumber", Model.ElementAt(i).SecStartNumber, new { @class = "textlength txtboxNum", @id = "secStartNumber" })
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].SecStartNumber", Model.ElementAt(i).SecStartNumber)


                                        </td>

                                        <td>
                                            @Html.TextBox("lstManualRangeData[" + (@i + 10) + "].SecEndNumber", Model.ElementAt(i).SecEndNumber, new { @class = "textlength txtboxNum", @id = "secEndNumber" })
                                            @Html.Hidden("lstManualRangeData[" + (@i + 10) + "].SecEndNumber", Model.ElementAt(i).SecEndNumber)


                                        </td>

                                    </tr>

                                    sno++;
                                }


                            </tbody>
                        </table>
                    </div>


                }


            </div>
        </div>
    
  
</section>

<script type="text/javascript">



</script>


