@model List<AsteriskBrowserAL.Models.RangeViewData>
@{
    ViewBag.Title = "Template Range";
    int sno = 1;
}


@if (Model != null && Model.Count() > 0)
{

    <div style="overflow:auto; height:350px;">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                           S.No.
                        </th>
                        <th>
                            @Html.DisplayName("Branch")
                        </th>

                        <th>
                            @Html.DisplayName("Starting Number")
                        </th>
                        <th>
                            @Html.DisplayName("Ending Number")
                        </th>
                        <th>
                            @Html.DisplayName("Starting Number")
                        </th>
                        <th>
                            @Html.DisplayName("Ending Number")
                        </th>
                    </tr>


                    @for (int i = 0; i < Model.Count(); i++)
                    {

                        <tr>
                            <td>
                                @(sno++)
                                @Html.Hidden("TemplateList.Index", (@i + 10))
                                @Html.Hidden("TemplateList[" + (@i + 10) + "].", Model.ElementAt(i).ManuvalReceiptRangeId)
                                @Html.Hidden("TemplateList[" + (@i + 10) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                            </td>
                            <td>
                                @Model.ElementAt(i).BranchName
                            </td>
                            <td>
                                @Html.TextBox("TemplateList[" + (@i + 10) + "].StartNumber", Model.ElementAt(i).StartNumber, new { @class = "textlength txtboxNum" })
                            </td>

                            <td>
                                @Html.TextBox("TemplateList[" + (@i + 10) + "].EndNumber", Model.ElementAt(i).EndNumber, new { @class = "textlength txtboxNum" })

                            </td>
                            <td>
                                @Html.TextBox("TemplateList[" + (@i + 10) + "].SecStartNumber", Model.ElementAt(i).SecStartNumber, new { @class = "textlength txtboxNum" })
                            </td>
                            <td>
                                @Html.TextBox("TemplateList[" + (@i + 10) + "].SecEndNumber", Model.ElementAt(i).SecEndNumber, new { @class = "textlength txtboxNum" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
       
    </div>

}



