@model List<AsteriskBrowserAL.Models.TransportPlanData>
@{
    ViewBag.Title = "Transport Plan";
   
    int sno = 1;
   
   
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Transport Plans</li>
    </ul><!-- /.breadcrumb -->
}






<style>
    .red {
        color: red;
    }
</style>

<!--Main Content-->
<section class="content">

    <div class="row">
        <div class=col-xs-3>
            <h3>@Html.ActionLink("Route Point", "RoutePoint")</h3>
        </div>
    </div>
    <div class="row">
        <div class=col-xs-12>
            <div class="hr hr-18 dotted hr-double"></div>

            @using (Html.BeginForm("TransportPalns", "SeFinance", FormMethod.Post))
            {
                if (Model != null)
                {
                                <div style="float:right;">
                                    <button type="submit" class="btn btn-info btn-xs P2" name="Save" value="Save" onclick="return submitForm();">
                                        <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                                        Save
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-header">
                                            Transport FeeStructure
                                        </div>
                                        <div style="overflow:auto">
                                            <table class="table tbhover table-striped table-bordered dynamic-table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                           S.No.
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Branch")
                                                        </th>

                                                        <th>
                                                            @Html.DisplayName("Plan 1")
                                                        </th>

                                                        <th>
                                                            @Html.DisplayName("Plan 2")
                                                        </th>


                                                        <th>
                                                            @Html.DisplayName("Plan 3")
                                                        </th>


                                                        <th>
                                                            @Html.DisplayName("Plan 4")
                                                        </th>

                                                        <th>
                                                            @Html.DisplayName("Plan 5")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Plan 6")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Plan 7")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Plan 8")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Plan 9")
                                                        </th>
                                                        <th>
                                                            @Html.DisplayName("Plan 10")
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.Count(); i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.Hidden("AllTransShedulesList.Index", (@i + 10))
                                                                @sno
                                                                @Html.Hidden("AllTransShedulesList[" + (@i + 10) + "].TransportAmountId", Model.ElementAt(i).TransportAmountId)
                                                                @Html.Hidden("AllTransShedulesList[" + (@i + 10) + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                                @Html.Hidden("AllTransShedulesList[" + (@i + 10) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                            </td>
                                                            <td id="branchCode">
                                                                @Model.ElementAt(i).Branch
                                                                <input type="hidden" id="branchCodenew" value="@Model.ElementAt(i).SubscriptionId">
                                                            </td>
                                                            <td>

                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan1Aomunt", Model.ElementAt(i).Plan1Aomunt, new { @id = "paln1", @min = "0" })
                                                            </td>

                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan2Aomunt", Model.ElementAt(i).Plan2Aomunt, new { @id = "plan2", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan3Aomunt", Model.ElementAt(i).Plan3Aomunt, new { @id = "plan3", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan4Aomunt", Model.ElementAt(i).Plan4Aomunt, new { @id = "plan4", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan5Aomunt", Model.ElementAt(i).Plan5Aomunt, new { @id = "plan5", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan6Aomunt", Model.ElementAt(i).Plan6Aomunt, new { @id = "plan6", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan7Aomunt", Model.ElementAt(i).Plan7Aomunt, new { @id = "plan7", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan8Aomunt", Model.ElementAt(i).Plan8Aomunt, new { @id = "plan8", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan9Aomunt", Model.ElementAt(i).Plan9Aomunt, new { @id = "plan9", @min = "0" })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("AllTransShedulesList[" + (@i + 10) + "].Plan10Aomunt", Model.ElementAt(i).Plan10Aomunt, new { @id = "plan10", @min = "0" })
                                                            </td>
                                                        </tr>

                                                        sno++;
                                                    }


                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>



                }


            }

       

</section>
@Html.Action("DataTableScripts", "Base")


<script type="text/javascript">
    
    $('#plan1').keyup(function () {
        document.getElementById("Validation").innerHTML = ""
    });

    function validatePlans() {
        alert("calling validate function");
        var valid = true;

        var Plan1Aomunt = $('#plan1').val();
        var Plan2Aomunt = $('#plan2').val();
        var Plan3Aomunt = $('#plan3').val();
        var Plan4Aomunt = $('#plan4').val();
        var Plan5Aomunt = $('#plan5').val();
        var Plan6Aomunt = $('#plan6').val();
        var Plan7Aomunt = $('#plan7').val();
        var Plan8Aomunt = $('#plan8').val();
        var Plan9Aomunt = $('#plan9').val();
        var Plan10Aomunt = $('#plan10').val();


        if (Plan1Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }


        if (Plan2Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }


        if (Plan3Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }


        if (Plan4Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }

        if (Plan5Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }
        if (Plan6Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }
        if (Plan7Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }
        if (Plan8Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }
        if (Plan9Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }
        if (Plan10Aomunt == "") {
            document.getElementById("Validation").innerHTML = "Please enter Amount"
            valid = false;
        }

        return valid;
    }
   
     function submitForm() {
         alert("calling submit form");
         var validateFun = validatePlans();
         
         if (validateFun == false) {
             return false;
         }else{
             return false;;
         }       

     };

   
     $('#plan1').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan2').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan3').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan4').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan5').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan6').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan7').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan8').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

     $('#plan9').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });
     $('#plan10').focus(function () {
         document.getElementById("Validation").innerHTML = ""
     });

   
     $("#plan1").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan2").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan3").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan4").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan5").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan6").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan7").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });
     $("#plan8").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });

     $("#plan9").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });

     $("#plan10").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
    });




</script>

















