@model List<AsteriskBrowserAL.Models.TransportPlanData>
@{
    ViewBag.Title = "Transport Plan";

    int sno = 1;


}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-gears"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            Finance
        </li>
        <li class="active">Transport Plans</li>
    </ul><!-- /.breadcrumb -->
}

@if (Model != null)
{    @Html.Action("DataTableScripts", "Base", new { IsPaging = false, allowScroll = true })}

<style>
    .hideScrolling {
        overflow: hidden;
        height: 450px;
    }

    hideScrolling:hover {
        overflow: auto;
    }
</style>

<!--Main Content-->
<section class="content">

    <div class="row">
        <div class=col-xs-12>

            @using (Html.BeginForm("TransportPlans", "SeFinance", FormMethod.Post))
            {
                <input type="hidden" id="SelAyId" value="@ViewBag.AcademicYearId" />


                <div class="table-header">
                    <span style="font-family:calibri;"> Transport Plans</span>
                  
                        <small style="float:right;font-weight:bold;">
                            @Html.ActionLink("Route Point", "RoutePoint") 
                        </small>



     </div>




                <div class="widget-box">
                
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 ">Academic Year</label>
                                        <div class="col-sm-6 control-label no-padding-right" for="form-field-1">
                                            <select id="CboAcademicYear" name="AcademicYearId" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>

                if (Model != null)
                {

                    <br />
                    <div id="dvData" class="row">
                        <span id="Validation" style="color:red;font-weight:bold"></span>
                        <div class="col-xs-12">
                            <div class="table-header">
                                Transport Plans
                                <div style="float:right;margin-right:10px;">
                                    <button type="submit" name="Save" class="btncustom P2" value="Save" onclick="return submitForm();">
                                       Save
                                    </button>
                                </div>
                            </div>
                            <div>
                                <table class="table tbhover table-striped table-bordered dynamic-table">
                                    <thead>
                                        <tr>
                                            <th>
                                               S.No.
                                            </th>
                                            <th>
                                                @Html.DisplayName("Branch")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Plan 1")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Plan 2")
                                            </th>


                                            <th>
                                                @Html.DisplayName("Plan 3")
                                            </th>


                                            <th>
                                                @Html.DisplayName("Plan 4")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Plan 5")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Plan 6")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Plan 7")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Plan 8")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Plan 9")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Plan 10")
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>


                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.Hidden("AllTransShedulesList.Index", (@i))
                                                    @sno

                                                </td>
                                                <td>
                                                    @Model.ElementAt(i).Branch
                                                <td>

                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan1Amount", Model.ElementAt(i).Plan1Amount, new { @class = "form-control textlength txtboxNum", @id = "plan1", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan1PreAmount", Model.ElementAt(i).Plan1PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan1PreAmountId", Model.ElementAt(i).Plan1PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan2Amount", Model.ElementAt(i).Plan2Amount, new { @class = "form-control textlength txtboxNum", @id = "plan2", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan2PreAmount", Model.ElementAt(i).Plan2PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan2PreAmountId", Model.ElementAt(i).Plan2PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan3Amount", Model.ElementAt(i).Plan3Amount, new { @class = "form-control textlength txtboxNum", @id = "plan3", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan3PreAmount", Model.ElementAt(i).Plan3PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan3PreAmountId", Model.ElementAt(i).Plan3PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan4Amount", Model.ElementAt(i).Plan4Amount, new { @class = "form-control textlength txtboxNum", @id = "plan4", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan4PreAmount", Model.ElementAt(i).Plan4PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan4PreAmountId", Model.ElementAt(i).Plan4PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan5Amount", Model.ElementAt(i).Plan5Amount, new { @class = "form-control textlength txtboxNum", @id = "plan5", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan5PreAmount", Model.ElementAt(i).Plan5PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan5PreAmountId", Model.ElementAt(i).Plan5PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan6Amount", Model.ElementAt(i).Plan6Amount, new { @class = "form-control textlength txtboxNum", @id = "plan6", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan6PreAmount", Model.ElementAt(i).Plan6PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan6PreAmountId", Model.ElementAt(i).Plan6PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan7Amount", Model.ElementAt(i).Plan7Amount, new { @class = "form-control textlength txtboxNum", @id = "plan7", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan7PreAmount", Model.ElementAt(i).Plan7PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan7PreAmountId", Model.ElementAt(i).Plan7PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan8Amount", Model.ElementAt(i).Plan8Amount, new { @class = "form-control textlength txtboxNum", @id = "plan8", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan8PreAmount", Model.ElementAt(i).Plan8PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan8PreAmountId", Model.ElementAt(i).Plan8PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan9Amount", Model.ElementAt(i).Plan9Amount, new { @class = "form-control textlength txtboxNum", @id = "plan9", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan9PreAmount", Model.ElementAt(i).Plan9PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan9PreAmount", Model.ElementAt(i).Plan9PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                                <td>
                                                    @Html.TextBox("AllTransShedulesList[" + @i + "].Plan10Amount", Model.ElementAt(i).Plan10Amount, new { @class = "form-control textlength txtboxNum", @id = "plan10", @min = "0", @Maxlength = "6", @style = "width:80px" })
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan10PreAmount", Model.ElementAt(i).Plan10PreAmount)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].Plan10PreAmountId", Model.ElementAt(i).Plan10PreAmountId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].TransportPlanId", Model.ElementAt(i).TransportPlanId)
                                                    @Html.Hidden("AllTransShedulesList[" + @i + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                </td>
                                            </tr>

                                            sno++;
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        LoadAcademicYearCombo();
    });


    function LoadAcademicYearCombo() {

        $('#imagemodal').show();

        $.ajax({
            url: '/Common/GetAcademicYears',
            success: function (result) {

                $('#imagemodal').hide();

                var ObjAyYear = $("#CboAcademicYear")
                ObjAyYear.children().remove();
                ObjAyYear.append($("<option>").val(-1).text("--Select--"))

                $.each(result, function (i, elm) {
                    ObjAyYear.append($("<option>").val(elm.AcademicYearId).text(elm.Name))
                })

                $("#CboAcademicYear").append(ObjAyYear)

                if ($('#SelAyId').val() > 0) {
                    $('#CboAcademicYear').val($('#SelAyId').val());
                }

            },
            async: false
        })

    }

    $('#CboAcademicYear').change(function () {
        PopulateData();
    });

    function PopulateData() {

        if ($('#CboAcademicYear').val() < 1) {

            if ($('#dvData') != "undefined")
                $('#dvData').html('');

            return;
        }

        window.location.href = '/SeFinance/TransportPlans?AcademicYearId=' + $('#CboAcademicYear').val();
    }


    $("#plan1").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });

    function validate(elem) {

        if ($(elem).val().length > 1) {
            $('#Validation').text('');
            return true;
        } else {
            $('#Validation').text('Enter amount for previous plan');
            return false;
        }
    }


    $("#plan2").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });


    $("#plan3").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });

    $("#plan4").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });

    $("#plan5").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });
    $("#plan6").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });
    $("#plan7").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });
    $("#plan8").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });

    $("#plan9").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });
    $("#plan10").on("blur", function (e) {
        if (!validate(this)) {
            $(this).focus();
        }
    });

</script>

















