@model AsteriskBrowserAL.BioMetricDevice

@{
    ViewBag.Title = "Biometric Device";
    List<SelectListItem> Hours = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "--Hours--", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "00"},
        new SelectListItem(){Text = "01", Value = "01"},
        new SelectListItem(){Text = "02", Value = "02"},
        new SelectListItem(){Text = "03", Value = "03"},
        new SelectListItem(){Text = "04", Value = "04"},
        new SelectListItem(){Text = "05", Value = "05"},
        new SelectListItem(){Text = "06", Value = "06"},
        new SelectListItem(){Text = "07", Value = "07"},
        new SelectListItem(){Text = "08", Value = "08"},
        new SelectListItem(){Text = "09", Value = "09"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "11", Value = "11"},
        new SelectListItem(){Text = "12", Value = "12"},
        new SelectListItem(){Text = "13", Value = "13"},
        new SelectListItem(){Text = "14", Value = "14"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "16", Value = "16"},
        new SelectListItem(){Text = "17", Value = "17"},
        new SelectListItem(){Text = "18", Value = "18"},
        new SelectListItem(){Text = "19", Value = "19"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "21", Value = "21"},
        new SelectListItem(){Text = "22", Value = "22"},
        new SelectListItem(){Text = "23", Value = "23"}
    };

    List<SelectListItem> Minutes = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "--Minutes--", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "00"},
        new SelectListItem(){Text = "05", Value = "05"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "25", Value = "25"},
        new SelectListItem(){Text = "30", Value = "30"},
        new SelectListItem(){Text = "35", Value = "35"},
        new SelectListItem(){Text = "40", Value = "40"},
        new SelectListItem(){Text = "45", Value = "45"},
        new SelectListItem(){Text = "50", Value = "50"},
        new SelectListItem(){Text = "55", Value = "55"},
    };
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-group"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Staff
        </li>
        <li class="active">Biometric Device</li>
    </ul><!-- /.breadcrumb -->
}






@*<section class="content">

    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Biometric Device Details", "BiometricDevice")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="box">*@


<section class="content">

    @using (Html.BeginForm("BiometricDeviceC", "HRBiometric", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="row">
            <div class="col-xs-12">
                @Html.ValidationSummary(true)
                <span style="color: red;">@Html.ValidationMessage("BiometricDevice")</span>
                <div class="table-header">
                 
                        Biometric Device
                        <small style="float:right;font-weight:bold;" class="textheader">
                            @Html.ActionLink("Back to details", "BiometricDevice")
                        </small>
                  
                </div><!-- /.page-header -->
                @*@Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("BiometricDevice")</span>*@

                @*<button class="btn btn-primary pull-right" onclick="return submitForm();" type="submit" style="width:80px;">
                        Create
                    </button>*@


                <div class="widget-box row" style="padding:10px;">

                    <form class="form-horizontal" role="form">

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Select Branch")</label>
                                <div class="col-sm-6">
                                    @Html.DropDownList("SubscriptionId", null, "--Select Branch--", new { @class = "form-control", @id = "SubscriptionId", placeholder = "SubscriptionId", @onchange = "removeError();" })
                                    <div style="display:none;" id="subscriptionId">
                                        <label style="color:red;font-weight:bold;"> Please  Select Brach Name </label>
                                    </div>
                                
                                </div>
                             
                            </div>
                        </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Device Id")</label>

                      <div class="col-sm-6">
                          @Html.TextBoxFor(model => model.BiometricDeviceId, new { @class = "form-control col-sm-5", placeholder = "Biometric Device Id", @id = "BiometricDeviceId", @onchange = "removeError();" })

                          <div class="" style="display:none;" id="biometricDeviceId">
                              <label style="color:red;font-weight:bold;"> Please Enter  DeviceId </label>
                          </div>

                      </div>

                  </div>
              </div>

                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Start Time")</label>

                                <div class="col-sm-8"  style="padding-left:42px;">
                                    <div class="col-sm-5">
                                        @Html.DropDownList("ItemStartingHours", new SelectList(Hours, "Value", "Text"), new { @class = "form-control", @style = "width:110px", @id = "ItemStartingHours" })
                                    </div>
                                    <div class="col-sm-5">
                                        @Html.DropDownList("ItemStartingMinutes", new SelectList(Minutes, "Value", "Text"), new { @class = "form-control", @style = "width:110px", @id = "ItemStartingMinutes" })
                                    </div>
                                  
                                </div>

                            </div>

                            <span style="color:red;font-weight:bold" id="StartTimeVal"></span>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">@Html.Label("End Time")</label>

                                <div class="col-sm-8" style="padding-left:42px">
                                    <div class="col-sm-5">
                                        @Html.DropDownList("ItemEndingHours", new SelectList(Hours, "Value", "Text"), new { @class = "form-control", @style = "width:110px", @id = "ItemEndingHours" })
    </div>
                                    <div class="col-sm-5">
                                        @Html.DropDownList("ItemEndingMinutes", new SelectList(Minutes, "Value", "Text"), new { @class = "form-control", @style = "width:110px", @id = "ItemEndingMinutes" })
         </div>
                                   
                                </div>


                            </div>
                            <span style="color:red;font-weight:bold" id="EndTimeVal"></span>
                        </div>                       

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label("Grace Time")</label>
                                <div class="col-sm-6" style="padding-left:13px;">
                                    @Html.DropDownList("GraseTime", new SelectList(Minutes, "Value", "Text"), new { @class = "form-control", @style = "width:230px", @id = "GraseTime" })
                                     <div style="display:none;" id="subscriptionId">
                                     <span style="color:red;font-weight:bold" id="GraceTimeVal"></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                  
  

                        <div class="col-md-9">
                            <div class="hr hr-18 dotted hr-double"></div>
                            <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                <i class="ace-icon fa fa-check bigger-50"></i>
                                Create
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-sm" type="reset">
                                <i class="ace-icon fa fa-undo bigger-50"></i>
                                Reset
                            </button>

                            @*<div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Enroll StartNumber")</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.StartNumber, new { @class = "form-control col-sm-5", placeholder = "StartNumber", @id = "StartNumber", @onchange = "removeError();" })
                    </div>
                    <div class="col-sm-5" style="display:none;" id="startNumber">
                        <label style="color:red;font-weight:bold;"> Please Enter Start Number </label>
                    </div>
                </div>*@

                        </div>

                    </form>
                </div>

            </div>
            <input type="hidden" id="count" name="count" value="0" />

        </div>
    }
</section>




<script type="text/javascript">
    function ValidateBank() {
        document.getElementById("count").value = "1";

        //var StartNumber = document.getElementById("StartNumber").value;
        var BiometricDeviceId = document.getElementById("BiometricDeviceId").value;
        var SubscriptionId = document.getElementById("SubscriptionId").value;
        var ItemStartingHours = $('#ItemStartingHours').val();
        var ItemStartingMinutes = $('#ItemStartingMinutes').val();
        var ItemEndingHours = $('#ItemEndingHours').val();
        var ItemEndingMinutes = $('#ItemEndingMinutes').val();
        var GraseTime = $('#GraseTime').val();


        validate = true;

        //if (StartNumber == "") {
        //    document.getElementById("startNumber").style.display = "inline";
        //    validate = false;
        //} else {
        //    document.getElementById("startNumber").style.display = "none";
        //}

        if (BiometricDeviceId == "") {
            document.getElementById("biometricDeviceId").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("biometricDeviceId").style.display = "none";
        }
        if (SubscriptionId == 0) {
            document.getElementById("subscriptionId").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("subscriptionId").style.display = "none";
        }
        if (ItemStartingHours < 0 && ItemStartingMinutes < 0) {
            validate = false;
            document.getElementById("StartTimeVal").innerHTML = "Please select Both hours and Minutes";
        } else {
            document.getElementById("StartTimeVal").style.display = "none";
        }
        if (ItemEndingHours < 0 && ItemEndingMinutes < 0) {
            validate = false;
            document.getElementById("EndTimeVal").innerHTML = "Please select Both hours and Minutes";
        } else {
            document.getElementById("EndTimeVal").style.display = "none";
        }

        if (ItemStartingHours != -1) {
            if (ItemStartingMinutes == -1) {
                validate = false;
                document.getElementById("StartTimeVal").innerHTML = "Please select Minutes";
            }
        }
        if (ItemEndingHours != -1) {
            if (ItemEndingMinutes == -1) {
                validate = false;
                document.getElementById("EndTimeVal").innerHTML = "Please select Minutes";
            }
        }

        if (ItemStartingMinutes != -1) {
            if (ItemStartingHours == -1) {
                validate = false;
                document.getElementById("StartTimeVal").innerHTML = "Please select Hours";
            }
        }

        if (ItemEndingMinutes != -1) {
            if (ItemEndingHours == -1) {
                validate = false;
                document.getElementById("EndTimeVal").innerHTML = "Please select Hours";
            }
        }
     
            if (GraseTime == "-1") {
                validate = false;
                document.getElementById("GraceTimeVal").innerHTML = "Please select Minutes";
            }
        
        //if (GraseTime < 0) {
        //    document.getElementById("GraceTimeVal").style.display = "inline";
        //    validate = false;
        //} else {
        //    document.getElementById("GraceTimeVal").style.display = "none";
        //}
        return validate;
    };

    function submitForm() {
        debugger
        var validatestatus = ValidateBank();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };


    function removeError() {

        var count = document.getElementById("count").value;
        //var StartNumber = document.getElementById("StartNumber").value;
        var BiometricDeviceId = document.getElementById("BiometricDeviceId").value;
        var SubscriptionId = document.getElementById("SubscriptionId").value;



        if (count != 0) {
            if (BiometricDeviceId != "") {
                document.getElementById("biometricDeviceId").style.display = "none";
            } else {
                document.getElementById("biometricDeviceId").style.display = "inline";
            }
            if (SubscriptionId != 0) {
                document.getElementById("subscriptionId").style.display = "none";
            } else {
                document.getElementById("subscriptionId").style.display = "inline";
            }
            if (ItemEndingHours < 0 && ItemEndingMinutes < 0) {
                validate = false;
                document.getElementById("EndTimeVal").innerHTML = "Please select Both hours and Minutes";
            } else {
                document.getElementById("EndTimeVal").style.display = "none";
            }
            if (ItemStartingHours != -1) {
                if (ItemStartingMinutes == -1) {
                    validate = false;
                    document.getElementById("StartTimeVal").innerHTML = "Please select Minutes";
                }
            }
            if (ItemEndingHours != -1) {
                if (ItemEndingMinutes == -1) {
                    validate = false;
                    document.getElementById("EndTimeVal").innerHTML = "Please select Minutes";
                }
            }

            if (ItemStartingMinutes != -1) {
                if (ItemStartingHours == -1) {
                    validate = false;
                    document.getElementById("StartTimeVal").innerHTML = "Please select Hours";
                }
            }

            if (ItemEndingMinutes != -1) {
                if (ItemEndingHours == -1) {
                    validate = false;
                    document.getElementById("EndTimeVal").innerHTML = "Please select Hours";
                }
            }
            if (GraseTime != -1) {
                if (GraseTime == -1) {
                    validate = false;
                    document.getElementById("GraceTimeVal").innerHTML = "Please select Minutes";
                }
            }
            if (GraseTime > 0) {
                document.getElementById("GraceTimeVal").style.display = "inline";
                validate = false;
            } else {
                document.getElementById("GraceTimeVal").style.display = "none";
            }

        }
    };

    //$('#StartNumber').click(function () {
    //    document.getElementById('startNumber').style.display = "none"
    //})
    $('#BiometricDeviceId').click(function () {
        document.getElementById('biometricDeviceId').style.display = "none"
    })

</script>






