@model AsteriskBrowserAL.Models.BiometricStaffAttendance
@{
    ViewBag.Title = "ModifyAttendace";

    List<SelectListItem> Hours = new List<SelectListItem>()
    {
        new SelectListItem(){Text = "-- Hours --", Value = "-1"},
        new SelectListItem(){Text = "00", Value = "0"},
        new SelectListItem(){Text = "01", Value = "1"},
        new SelectListItem(){Text = "02", Value = "2"},
        new SelectListItem(){Text = "03", Value = "3"},
        new SelectListItem(){Text = "04", Value = "4"},
        new SelectListItem(){Text = "05", Value = "5"},
        new SelectListItem(){Text = "06", Value = "6"},
        new SelectListItem(){Text = "07", Value = "7"},
        new SelectListItem(){Text = "08", Value = "8"},
        new SelectListItem(){Text = "09", Value = "9"},
        new SelectListItem(){Text = "10", Value = "10"},
        new SelectListItem(){Text = "11", Value = "11"},
        new SelectListItem(){Text = "12", Value = "12"},
        new SelectListItem(){Text = "13", Value = "13"},
        new SelectListItem(){Text = "14", Value = "14"},
        new SelectListItem(){Text = "15", Value = "15"},
        new SelectListItem(){Text = "16", Value = "16"},
        new SelectListItem(){Text = "17", Value = "17"},
        new SelectListItem(){Text = "18", Value = "18"},
        new SelectListItem(){Text = "19", Value = "19"},
        new SelectListItem(){Text = "20", Value = "20"},
        new SelectListItem(){Text = "21", Value = "21"},
        new SelectListItem(){Text = "22", Value = "22"},
        new SelectListItem(){Text = "23", Value = "23"}
    };

    List<SelectListItem> Minutes = new List<SelectListItem>();

    Minutes = Enumerable.Range(0, 60).Select(x => new SelectListItem
    {
        
        Value = x.ToString(),
        Text = x.ToString().Length < 2 ? "0" + x.ToString() : x.ToString()
    }).ToList();
    
    
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Biometric
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Attendance Modification</li>
    </ul><!-- /.breadcrumb -->
}






<section class="content">

    @*@if (null != Model)
    {*@
        <div class="row">
            <div class="col-xs-3">
                <h3>@Html.ActionLink("<< Attendance Modification", "AttendanceModification", Model)</h3>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- form start -->
                    @using (Html.BeginForm())
                    {

                        <div class="box-header">
                            <h3 class="box-title">Staff Attendance Modification</h3>
                            <br />
                            <br />
                            <button class="btn btn-primary" style="width:80px" type="submit" onclick="return submitForm();">
                                Save
                            </button>
                        </div><!-- /.box-header -->

                        @Html.ValidationSummary(true)
                        <span style="color: red;">@Html.ValidationMessage("AttendanceModification")</span>
    <div class="box-body">
        @Html.Hidden("Branch", Model.Branch)
        @Html.Hidden("Status", Model.Status)
        @Html.Hidden("AttendanceDate", Model.AttendanceDate)
        @Html.Hidden("EmployeeNumber", Model.EmployeeNumber)
        @Html.Hidden("EarlyLeavingBy", Model.EarlyLeavingBy)
        @Html.Hidden("LateBy", Model.LateBy)
        @Html.Hidden("Intime", Model.Intime)
        @Html.Hidden("OutTime", Model.OutTime)
        @Html.Hidden("ShiftId", Model.ShiftId)
        @Html.Hidden("StaffId", Model.StaffId)
        @Html.Hidden("AttendanceDateDisplay", Model.AttendanceDateDisplay)
        @if (null != ViewBag.Late)
        {
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">@Html.Label("Late Time")</label>

            <div class="col-sm-5">
                <div class="col-sm-4">
                    @Html.DropDownList("LateHours", new SelectList(Hours, "Value", "Text", Model.LateHours), new { @class = "form-control", @style = "width:110px" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("LateMinutes", new SelectList(Minutes, "Value", "Text", Model.LateMinutes), new { @class = "form-control", @style = "width:120px" })
                </div>
            </div>

            <div class="col-sm-3">
                <span style="color:red;font-weight:bold" id="StartTimeVal"></span>
            </div>
        </div>
            <br/>
    <br />

        }

        @if (null != ViewBag.Early)
        {
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">@Html.Label("Early Time")</label>

            <div class="col-sm-5">
                <div class="col-sm-4">
                    @Html.DropDownList("EarlyHours", new SelectList(Hours, "Value", "Text", Model.EarlyHours), new { @class = "form-control", @style = "width:110px" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("EarlyMinutes", new SelectList(Minutes, "Value", "Text", Model.EarlyMinutes), new { @class = "form-control", @style = "width:120px" })
                </div>
            </div>

            <div class="col-sm-3">
                <span style="color:red;font-weight:bold" id="EndTimeVal"></span>
            </div>
        </div>
        }
    </div>
                    }
                </div>
            </div>

        </div>
    @*}*@

</section>

