 @model IEnumerable<AsteriskBrowserAL.Models.BiometricMovingStaffAttendance>

@{
    ViewBag.Title = "Moving StaffAttendance Report";
   
}
@if (null != Model)
{ 
        int Sno = 1;     
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <input class="btn btn-primary" style="width:80px;" type="button" value="Print" onclick="PrintElem('#mydiv')" />
                    </div><!-- /.box-header -->
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>
                                   S.No.
                                </th>
                                <th>
                                    @Html.DisplayName("Brance Name")
                                </th>
                                <th>
                                    @Html.DisplayName("In Time")
                                </th>
                                <th>
                                    @Html.DisplayName("Out Time")
                                </th>
                                <th>
                                    @Html.DisplayName("Duration")
                                </th>
                            </tr>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(Sno++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OutTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplayDuration)
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>
        </div>

}

else
{
    <span style="color: red;"><b>Data is not available</b></span>
}

   <script type="text/javascript">

       //Printing data by opening popup
       function PrintElem(elem) {

           Popup($(elem).html());
       }

       function Popup(data) {
           var mywindow = window.open('', 'my div', 'height=300,width=600');
           mywindow.document.write('<p></p>');
           mywindow.document.write(data);
           mywindow.document.write('<p></p>');

           mywindow.document.close();
           mywindow.focus();

           mywindow.print();
           mywindow.close();
           return true;
       }
</script>
    <body>
        <div id="mydiv" style="display:none">
            @if (null != Model)
            {
                int nsno = 1;
                <div class="row">
                    <div class="col-xs-12">
                        <img class=" col-xs-11" id="avatar" width="50" height="43" src="@ViewBag.ImageData" style="margin-bottom:-1.5em;" />
                        <b style="font-weight:bold; margin-left:0.3em; font-size:20px; font-family:'Segoe UI'">@ViewBag.InstituteName</b>
                    </div>
                    <div style="margin-left:3.7em; font-family:'Segoe UI'"><b>@ViewBag.InstituteAddres</b></div>
                    <br />

                    <hr style="width:100%; margin-bottom:-0.5em" />
                    <hr style="width:100%;" />
                    <div align="left" style="font:12%; font-family:'Segoe UI'"><b>Date:&nbsp; @ViewBag.Date.ToString("dd - MMM - yyyy")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;StaffName:&nbsp; @ViewBag.StaffName&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ATTENDANCE  REPORT</b></div>
                    <hr style="width:100%;" />
                    <hr style="width:100%; margin-top:-0.5em" />

                    <div class="col-xs-12 box-body table-responsive">
                        <table class="table table-hover" rules="rows" cellpadding="9" style="width:657px; font-size:12px;">

                            <tbody>
                                <tr style="font-size:13px; font-weight:bold; text-align:left;">
                                
                                    <th>
                                       S.No.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Brance Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("In Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Out Time")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Duration")
                                    </th>
                                </tr>


                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                           @(nsno++)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BranchName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OutTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisplayDuration)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </body>







