@model IEnumerable<AsteriskBrowserAL.Models.BiometricStaffAttendance>

@{
    ViewBag.Title = "Shift Wise Attendance";
}
@if ( Model.Count() > 0)
  {
  int nsno = 1;              
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div>
                    <input class="btn btn-primary" style="width:80px;" type="button" value="Print " onclick=" GetDataPrint('#mydiv')" />
                </div>
            </div><!-- /.box-header -->

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Employee Number")
                            </th>
                            <th>
                                @Html.DisplayName("Staff Name")
                            </th>
                            <th>
                                @Html.DisplayName("Shift Name")
                            </th>
                            <th>
                                @Html.DisplayName("In Time")
                            </th>
                            <th>
                                @Html.DisplayName("Out Time")
                            </th>
                            <th>
                                @Html.DisplayName("Worked Hours")
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(nsno++)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StaffName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShiftName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Intime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OutTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DurationDisplay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  }
else
{
    <span style="color:red;font-weight:bold;">Data not available to display</span>
}