@model AsteriskBrowserAL.StaffShift

@{
    ViewBag.Title = "Delete StaffShift";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Biometric
        </li>
        <li>
            <i class=""></i>
            Settings
        </li>
        <li class="active">Shifts</li>
    </ul><!-- /.breadcrumb -->
}
<section class="content">
    @*<div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Shift Details", "Shifts")</h3>
        </div>
    </div>*@
    <br />
    @using (Html.BeginForm("ShiftsD", "HRBiometric", FormMethod.Post, new { @class = "form-horizontal" }))
                {

    <div class="row">
        <div class="col-xs-12">
            <span style="color:red;font-weight:bold;" id="Validation"></span>
            <div class="widget-box">
                             <div class="page-header">
                            <h1>
                                Shifts
                                <small style="float:right;">
                                    @Html.ActionLink("Back to details", "Shifts")
                                </small>
                            </h1>
                        </div>


                    </div><!-- /.box-header -->
    <!-- form start -->

    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>

                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("In Time")
                    </th>
                    <th>
                        @Html.DisplayName("Out Time")
                    </th>
                    <th>
                        @Html.DisplayName("Is Study Hour")
                    </th>

                    <th></th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.StaffShiftName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.InTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OutTime)
                    </td>
                    <td>
                        @if (Model.IsStudyHour == true)
                        {
                            <input type="checkbox" checked="checked" disabled />
                        }
                        else
                        {
                            <input type="checkbox" disabled />
                        }
                    </td>
                </tr>
                <div class="hr hr-18 dotted hr-double"></div>

                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-primary" type="submit">
                        <i class="ace-icon fa fa-check bigger-50"></i>
                        Delete
                    </button>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("Shifts")</span>

                    @*<button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>*@
                </div>
                </table>
   
                    </div>
                        </div>
                    </div>

                }
                    
     
</section>








