@model IEnumerable<AsteriskBrowserAL.Models.AttendanceShifts>
@{
    ViewBag.Title = "Shift Alter Time";

    int nSno = 1;
}

@if (null != Model)
{
    if (Model.Count() > 0)
    {
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Shift Alter Timings</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="box-body table-responsive no-padding" style="overflow:auto;height:320px">
                        <table class="table table-hover">
                            <tr>

                                <th>
                                    @Html.DisplayName("S.No")
                                </th>
                                <th>
                                    @Html.DisplayName("Employee Name")
                                </th>
                                <th>
                                    @Html.DisplayName("All Days")
                                </th>
                                <th>
                                    @Html.DisplayName("Monday")
                                </th>
                                <th>
                                    @Html.DisplayName("Tuesday")
                                </th>
                                <th>
                                    @Html.DisplayName("Wednesday")
                                </th>
                                <th>
                                    @Html.DisplayName("Thursday")
                                </th>
                                <th>
                                    @Html.DisplayName("Friday")
                                </th>
                                <th>
                                    @Html.DisplayName("Saturday")
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(nSno++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Alldays)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(0)&EmployeeNo=@item.EmployeeNumber"> <i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(0)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Monday)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(1)&EmployeeNo=@item.EmployeeNumber"><i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(1)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tuesday)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(2)&EmployeeNo=@item.EmployeeNumber"><i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(2)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Wednesday)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(3)&EmployeeNo=@item.EmployeeNumber"><i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(3)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Thursday)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(4)&EmployeeNo=@item.EmployeeNumber"><i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(4)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Friday)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(5)&EmployeeNo=@item.EmployeeNumber"><i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(5)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Saturday)<br /> <a data-tooltip="#Edit" href="/MStaff/ShiftAlterTimeE?id=@item.ShiftsId&WeekDay=@(6)&EmployeeNo=@item.EmployeeNumber"><i class="fa fa-pencil-square-o"></i></a> <a data-tooltip="#Delete" href="/MStaff/ShiftAlterTimeD?id=@item.ShiftsId&WeekDay=@(6)&EmployeeNo=@item.EmployeeNumber"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    <span id="Edit">SetAlterTime</span>
    <span id="Delete">Delete</span>
    }
    else
    {
        <div class="col-xs-12">
            <span style="font-weight:bold;color:red">Data not available to display</span>
        </div>
    }
}

<style>
    span {
    position: absolute;
    display: none;
    background: #ccc;
    border: 1px solid;
}
</style>


<script>
    $("a").hover(function (e) {
        $($(this).data("tooltip")).css({
            left: e.pageX + 1,
            top: e.pageY + 1
        }).stop().show(100);
    }, function () {
        $($(this).data("tooltip")).hide();
    });
</script>

