@model AsteriskBrowserAL.ShiftExtendTime

@{
    ViewBag.Title = "Shift Extend Time";
    string Day = string.Empty;
    
    if(null != Model)
    {
        if(Model.Weekday == 0)
        {
            Day = "All Days";
        }
        else if (Model.Weekday == 1)
        {
            Day = "Monday";
        }
        else if (Model.Weekday == 2)
        {
            Day = "Tuesday";
        }
        else if (Model.Weekday == 3)
        {
            Day = "Wednesday";
        }
        else if (Model.Weekday == 4)
        {
            Day = "Thursday";
        }
        else if (Model.Weekday == 5)
        {
            Day = "Friday";
        }
        else if (Model.Weekday == 6)
        {
            Day = "Saturday";
        }
        else 
        {
            Day = "";
        }
            
    }
    
}



@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Biometric
        </li>
        <li>
            <i class=""></i>
            Staff
        </li>
        <li class="active">Shift Alter Time</li>
    </ul><!-- /.breadcrumb -->
}




@if (null != Model)
{

<section class="content">
    <div class="row">
       
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Shift Alter Timings", "ShiftAlterTime", new { ShiftsId = Model.ShiftId })</h3>
        </div>
    </div>
    <br />
    <span style="color: red;">
        <b>Are you sure you want to delete this?</b>
    </span>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
               @using (Html.BeginForm("ShiftAlterTimeD", "HRBiometric", FormMethod.Post, new { @class = "form-horizontal" }))
               {
                   @Html.HiddenFor(model => model.ShiftExtendTimeId)
                    <div class="box-header">
                        <h3 class="box-title">Shift Alter Time</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" style="width:80px" type="submit">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class=" box-body table-responsive no-padding">
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Employee Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("In Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Out Time")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Week Day")
                                        </th>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.EmployeeNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.InTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.OutTime)
                                        </td>
                                        <td>
                                          @(Day)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
