@model List<AsteriskBrowserAL.Models.BanckDepositCardsData>
@{
    ViewBag.Title = "Cash Cards";
    int sno = 1;
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Tally
        </li>
        <li class="active">Bank Deposit Cards Ledgers</li>
    </ul><!-- /.breadcrumb -->
}




<style>
    .red {
        color: red;
    }

    .hideScrolling {
        overflow: hidden;
        height: 450px;
    }

        .hideScrolling:hover {
            overflow: auto;
        }
</style>

<section class="content">
    <div class="row">
        <div class=col-xs-6>

        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            <br />
            @using (Html.BeginForm("BankDepositCardsLedgers", "FTally", FormMethod.Post))
            {

                if (null != TempData["Message"])
                {
                    <span id="Validation" style="color:green;font-weight:bold;">@Html.Raw(TempData["Message"])</span>
                }

                @Html.ValidationMessage("BankDepositCards")

                if (Model != null && Model.Count() > 0)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-header">
                                Bank Deposit Cards Ledgers
                                <div style="float:right;">
                                    <button type="submit" name="Save" class="btn btn-info btn-xs P2" onclick="return submitForm()">
                                        <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                                    </button>
                                </div>
                            </div>
                            <div style="overflow:auto">
                                <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;" id="tbCashCards">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">
                                                @Html.DisplayName("SNo")
                                            </th>
                                            <th style="text-align:center">
                                                @Html.DisplayName("Branch")
                                            </th>
                                            <th style="text-align:center">
                                                @Html.DisplayName("Bank Name")
                                            </th>
                                            <th style="text-align:center">
                                                @Html.DisplayName("Ledger Name")
                                            </th>
                                            <th style="text-align:center">
                                                @Html.DisplayName("Selected for Import")
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                @Html.Hidden("LstBankCards.Index", (@i))
                                                @Html.Hidden("LstBankCards[" + (@i) + "].SubscriptionId", Model.ElementAt(i).SubscriptionId)
                                                @Html.Hidden("LstBankCards[" + (@i) + "].BranchName", Model.ElementAt(i).BranchName)
                                                @Html.Hidden("LstBankCards[" + (@i) + "].BankDepsitCardId", Model.ElementAt(i).BankDepsitCardId)
                                                <td>
                                                    @(sno++)
                                                </td>
                                                <td>
                                                    @Model.ElementAt(i).BranchName
                                                    <input type="hidden" id="Branchname" value="@Model.ElementAt(i).BranchName" />
                                                </td>
                                                <td>
                                                    @Model.ElementAt(i).BankNameOne
                                                </td>

                                                <td>
                                                    @Html.TextBox("LstBankCards[" + (@i) + "].LedgerName", Model.ElementAt(i).LedgerName, new { @class = "form-control textlength ", @min = "0", @style = "width:220px", @id = "CardTwo", name = @Model.ElementAt(i).LedgerName })
                                                    @Html.Hidden("LstBankCards[" + (@i) + "].LedgerName", Model.ElementAt(i).LedgerName)
                                                </td>

                                                <td>
                                                    @Html.CheckBox("LstBankCards[" + (@i) + "].IsMoveToTally", Model.ElementAt(i).IsMoveToTally, new { @id = "FeeCheck[]", @disabled = "disabled" })
                                                </td>

                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@Html.Action("DataTableScripts", "Base", new { IsPaging = false })

<script type="text/javascript">

    function Load() {
        document.getElementById("Validation").innerHTML = "";
    }

    window.onload()
    {
        Load();
    }

    function ValidateData() {
        var CardOne = 0;
        var CardTwo = 0;
        var CardThree = 0;
        var CardFour = 0;

        var CardFive = 0;
        var CardSix = 0;
        var CardSeven = 0;

        var isvalid = true;

        $('#tbCashCards tr').each(function (index) {
            CardOne = $(this).find('#CardOne').val();
            CardTwo = $(this).find('#CardTwo').val();
            CardThree = $(this).find('#CardThree').val();
            CardFour = $(this).find('#CardFour').val();
            CardFive = $(this).find('#CardFive').val();
            CardSix = $(this).find().val('#CardSix');
            CardSeven = $(this).find().val('#CardSeven');

            if (parseInt(CardOne) != null) {
                if ((parseInt(CardOne) == parseInt(CardTwo)) || (parseInt(CardOne) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of ";
                    return isvalid;
                }
            }

            if (parseInt(CardTwo) != null) {
                if ((parseInt(CardOne) == parseInt(CardTwo)) || (parseInt(CardTwo) == parseInt(CardThree))) {
                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of ";
                    return isvalid;
                }
            }

            if (parseInt(CardThree) != null) {

                if ((parseInt(CardOne) == parseInt(CardThree)) || (parseInt(CardTwo) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of";
                    return isvalid;
                }

            }

            if (parseInt(CardFour) != null) {

                if ((parseInt(CardOne) == parseInt(CardThree)) || (parseInt(CardTwo) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of";
                    return isvalid;
                }

            }

            if (parseInt(CardFive) != null) {

                if ((parseInt(CardOne) == parseInt(CardThree)) || (parseInt(CardTwo) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of";
                    return isvalid;
                }

            }

            if (parseInt(CardSix) != null) {

                if ((parseInt(CardOne) == parseInt(CardThree)) || (parseInt(CardTwo) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of";
                    return isvalid;
                }

            }

            if (parseInt(CardSeven) != null) {

                if ((parseInt(CardOne) == parseInt(CardThree)) || (parseInt(CardTwo) == parseInt(CardThree))) {

                    isvalid = false;
                    document.getElementById("Validation").innerHTML = "Card number must be unique for the branch of";
                    return isvalid;
                }

            }
        })

        return isvalid;
    }

    function submitForm() {

        var IsValid = ValidateData();

        if (IsValid == false) {
            return false;
        } else {
            return true;
        }
    }

</script>
