@model AsteriskBrowserAL.Models.FundsTransferViewModel
@{
    ViewBag.Title = "Day Sheet";
    //var Feepay = Model.lstLedgerFeeParticularsName.Where(d => d.IsPaymentMode == false).ToList();
    int nSNo = 0;
}


<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Tally
        </li>
        <li class="active">Petty Cash Ledgers</li>
    </ul><!-- /.breadcrumb -->
}



@Html.Action("DatePickerScripts", "Base")

<!--Main Content-->
<section class="content">
    <br />
    @using (Html.BeginForm("PettyCashLedgers", "FTally", FormMethod.Post))
    {
        <input type="hidden" id="cntrlIndividual" />

        <div class="row">
            <div class="col-xs-12">
                <span style="color:red;font-weight:bold" id="Validation"></span>
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">

                        <h5 class="widget-title">
                            Petty Cash Ledgers
                        </h5>


                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <div style="float:right;">
                                    <button class="btn btn-info btn-xs" style="margin-top:2px" type="submit" name="Buttontype">
                                        Save
                                    </button>
                                </div>
                                @*<button type="submit" onclick="return OpenAdmCofirmDialog()" class="btn btn-info btn-xs">
                                        <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                                    </button>*@
                            </div>
                        </div>

                    </div><!-- /.box-header -->

                    <div class="widget-body">

                        <div class="widget-main">


                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="widget-box">
                                        <div class="widget-header">
                                            <h5 class="widget-title">
                                                Petty Cash Heads Ledgers
                                            </h5>
                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">

                                                <div class="row">
                                                    <table id="tab1" class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                                                        <thead>

                                                            <tr>
                                                                @*<th>
                                                                        @Html.DisplayName("S.No")
                                                                    </th>*@
                                                                <th>
                                                                    @Html.DisplayName("Head Name")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Ledger Name")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Selected for Import")
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0; i < Model.lstPettyCashHead.Count(); i++)
                                                            {
                                                                var ModeLedgername = "ModeLedgername_" + nSNo;
                                                                var ModeCheck = "ModeCheck_" + nSNo;
                                                                <tr>
                                                                    @Html.Hidden("lstPettyCashHead.Index", (@i))
                                                                    @Html.Hidden("lstPettyCashHead[" + (@i) + "].PettyCashHeadId", Model.lstPettyCashHead.ElementAt(i).PettyCashHeadId)
                                                                    @*@Html.Hidden("lstPettyCashHead[" + (@i) + "].LedgerName", Model.lstPettyCashHead.ElementAt(i).LedgerName)*@
                                                                    @Html.Hidden("lstPettyCashHead[" + (@i) + "].IsMoveToTally", Model.lstPettyCashHead.ElementAt(i).IsMoveToTally)
                                                                    @*<td>
                                                                            @(nSNo++)

                                                                        </td>*@

                                                                    <td>
                                                                        @Model.lstPettyCashHead.ElementAt(i).Name
                                                                        <input type="hidden" id="Branchname" value="@Model.lstPettyCashHead.ElementAt(i).Name" />
                                                                    </td>
                                                                    <td>
                                                                        @Html.TextBox("lstPettyCashHead[" + (@i) + "].LedgerName", Model.lstPettyCashHead.ElementAt(i).LedgerName, new { @style = "width:220px;text-align:center", @id = @ModeLedgername, onkeypress = "return setCheckbox(3)", name = Model.lstPettyCashHead.ElementAt(i).LedgerName })
                                                                        @Html.Hidden("lstPettyCashHead[" + (@i) + "].LedgerName", Model.lstPettyCashHead.ElementAt(i).LedgerName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.CheckBox("lstPettyCashHead[" + (@i) + "].IsMoveToTally", Model.lstPettyCashHead.ElementAt(i).IsMoveToTally.GetValueOrDefault(), new { @id = "ModeCheck" + nSNo, @disabled = "disabled" })
                                                                    </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="widget-box">
                                        <div class="widget-header">
                                            <h5 class="widget-title">
                                                Petty Cash Sub Heads Ledgers
                                            </h5>
                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main">

                                                <div class="row">
                                                    <table id="tab2" class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                                                        <thead>

                                                            <tr>
                                                                <th>
                                                                    @Html.DisplayName("Head Name")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Sub Head Name")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Ledger Name")
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayName("Selected for Import")
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0; i < Model.lstSubHead.Count(); i++)
                                                            {
                                                            <tr>
                                                                @Html.Hidden("lstSubHead.Index", (@i))
                                                                @Html.Hidden("lstSubHead[" + (@i) + "].PettyCashSubHeadId", Model.lstSubHead.ElementAt(i).PettyCashSubHeadId)
                                                                @*@Html.Hidden("lstSubHead[" + (@i) + "].LedgerName", Model.lstSubHead.ElementAt(i).LedgerName)*@
                                                                @Html.Hidden("lstSubHead[" + (@i) + "].IsMoveToTally", Model.lstSubHead.ElementAt(i).IsMoveToTally)
                                                                @*<td>
            @(sno++)
        </td>*@
                                                                <td>
                                                                    @Model.lstSubHead.ElementAt(i).Description
                                                                </td>
                                                                <td>
                                                                    @Model.lstSubHead.ElementAt(i).SubHeadName
                                                                </td>
                                                                <td>
                                                                    @Html.TextBox("lstSubHead[" + (@i) + "].LedgerName", Model.lstSubHead.ElementAt(i).LedgerName, new { @style = "width:220px;text-align:center", @id = "FeeLedgername[]", name = Model.lstSubHead.ElementAt(i).LedgerName })
                                                                    @Html.Hidden("lstSubHead[" + (@i) + "].LedgerName", Model.lstSubHead.ElementAt(i).LedgerName)
                                                                </td>
                                                                <td>
                                                                    @Html.CheckBox("lstSubHead[" + (@i) + "].IsMoveToTally", Model.lstSubHead.ElementAt(i).IsMoveToTally.GetValueOrDefault(), new { @id = "FeeCheck[]", @disabled = "disabled" })
                                                                </td>
                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    }

</section>

<script type="text/javascript">
    $(document).ready(function () {
        //if ($("#Yes").is(":checked")) {
        //    $('#setup').css("display", "block")
        //}
        //else {
        //    $('#setup').css("display", "none")
        //}
    });

    $('#Yes').click(function () {
        $('#setup').css("display", "block")
        document.getElementById("Validation").innerHTML = ""
        $('#cntrlIndividual').val(true);


    });

    $('#No').click(function () {
        document.getElementById("Validation").innerHTML = ""
        $('#setup').css("display", "none")
        $('#cntrlIndividual').val(false);
    });

    $('#RemarksId').focusin(function () {
        $('#Validationfortestbox').hide();
    });


    function validateEP() {
        debugger
        var Status = true;
        var datetime = $('#datetime').val();
        $.ajax({

            url: '/FOperations/VerifyDaysSheet',
            data: { datetime: datetime },
            success: function (Data) {

                if (Data != "") {
                    Status = false;
                }
            },
            async: false
        });

        return Status;
    }

    function OpenAdmCofirmDialog() {
        debugger;
        var SubscriptionId = $('#SubscriptionId').val();
        var UserName = "";
        var $dialog = $('#dialogAdmission').dialog({
            resizable: true,
            draggable: false,
            width: '600',
            modal: true,
            closeOnEscape: false,
            responsive: true,
            title: 'Update',
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            },
            title_html: true,
            buttons: [
                {
                    html: "Save",
                    "class": "btn btn-success btn-minier",
                    click: function () {
                        debugger
                        if ($("#Yes").is(":checked")) {
                            UserName = "Yes";
                        }
                        else {
                            UserName = "No";
                        }
                        // do something
                        //var Remarks = document.getElementById('RemarksId').value;
                        //if (Remarks == null || Remarks == "" || Remarks == " ") {
                        //    $("#Validationfortestbox").show();
                        //    return false;
                        //}
                        //else {
                        $(this).dialog("close");
                        window.location.href = "/FTally/SaveData?SubscriptionId=" + SubscriptionId + "&UserName=" + UserName;
                        //}

                    }

                },
                {
                    html: 'Close',
                    "class": "btn btn-danger btn-minier",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }

    //    $(document).on("keyup","[id*='FeeLedgername']",function() {
    //    // code goes here...
    //        debugger
    //        var thiss = $(this);
    //        var myLength = $(this).val().length;
    //        var m = thiss.form.name;
    //        if (myLength > 0) {
    //                 $(this).prop('checked', true)
    //            } else{
    //                 $(this).prop('checked', false)
    //            }
    //});

    //     $(document).on("keyup","[id*='ModeLedgername']",function() {
    //    // code goes here...
    //         debugger
    //         var myLength = $(this).val().length();
    //         if (myLength > 0) {
    //                $("#ModeCheck").prop('checked', true)
    //            } else{
    //                $("#ModeCheck").prop('checked', false)
    //            }
    //});


    function setCheckbox(id) {
        debugger
        var text = "ModeLedgername_" + id;
        var ModeLedgername = $('#text').val();
        var ModeCheck = $('#ModeCheck_' + id).val();
        var myLength = ModeLedgername.length();
        if (myLength > 0) {
            $("#ModeCheck_" + id).prop('checked', true)
        } else {
            $("#ModeCheck").prop('checked', false)
        }
    }
    //function SubmitForm() {

    //    var valid = false;

    //    $("#tab1 tr").each(function (index) {
    //        debugger
    //        // traverse through all the rows
    //        if (index != 0) { // if the row is not the heading one

    //            var ModeLedgerName = $(this).find('#ModeLedgername').val();

    //            if (ModeLedgerName > 0) {
    //                $("#ModeCheck").prop('checked', true)
    //            } else {
    //                $("#ModeCheck").prop('checked', false)
    //            }

    //        }
    //    });

    //     $("#tab2 tr").each(function (index) {
    //        debugger
    //        // traverse through all the rows
    //        if (index != 0) { // if the row is not the heading one

    //            var FeeLedgerName = $(this).find('#FeeLedgername').val();

    //            if (FeeLedgerName > 0) {
    //                $("#FeeCheck").prop('checked', true)
    //            } else {
    //                $("#FeeCheck").prop('checked', false)
    //            }

    //        }
    //    });

    //if (bSave == false && valid == true) {
    //    document.getElementById("Validation").innerHTML = "Fields should not be empty";
    //    valid = false;
    //}
    //return valid;
    //};
</script>
