@model List<AsteriskBrowserAL.Models.ItemModel>

<div class="row">
    <div class="col-xs-12">
        <div class="hr hr-18 dotted hr-double"></div>

        @if (null != Model && Model.Count() > 0)
            {
                int sno = 1;
            <div class="row">
                <div class="col-xs-12">

                    <div class="table-header">
                        Records Found (@Model.Count())
                        <div style="float:right">
                            <button class="btn btn-info btn-xs" type="submit" id="btnExport">
                                <i class="ace-icon fa fa-share bigger-180"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="overflow:auto;height:500px;">
                <table class="table tbhover table-striped table-bordered dynamic-table">
                    <thead>
                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("SKU Code")
                            </th>
                            <th>
                                @Html.DisplayName("Item Name")
                            </th>
                            <th>
                                @Html.DisplayName("Publisher")
                            </th>
                            <th>
                                @Html.DisplayName("Opening Stock")
                            </th>
                            <th>
                                @Html.DisplayName("Purchases")
                            </th>
                            <th>
                                @Html.DisplayName("Stock Issued To Branches")
                            </th>
                            <th>
                                @Html.DisplayName("Stock Returns From Branches")
                            </th>
                            <th>
                                @Html.DisplayName("Stock Returns To Vendors")
                            </th>
                            <th>
                                @Html.DisplayName("Obsolete Stock")
                            </th>
                            <th>
                                @Html.DisplayName("Saleable Closing Stock")
                            </th>
                            <th>
                                @Html.DisplayName("CP")
                            </th>
                            <th>
                                @Html.DisplayName("Total CP Value")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(sno++)
                                </td>
                                <td>
                                    @item.SKUCode
                                </td>
                                <td>
                                    @item.ItemName
                                </td>
                                <td>
                                    @item.SubCatgeoryName
                                </td>
                                <td>
                                    @item.OpeningStock
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.ItemTransferredQty
                                </td>
                                <td>
                                    @item.ItemReturnQty
                                </td>
                                <td>
                                    @item.ReturnedStockToVendor
                                </td>
                                <td>
                                    @item.ObsoleteStock
                                </td>
                                <td>
                                    @item.BalanceStockInStore
                                </td>
                                <td>
                                    @item.ItemPrice
                                </td>
                                <td>
                                    @item.BalanceAmount
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>

        }
        else
        {

            <span style="color: red;"><b>No Records Found</b></span>
        }
    </div>
</div>
@Html.Action("DataTableScripts", "Base", new { IsPaging = false })



