@model List<AsteriskBrowserAL.Models.KittingViewModel>
@{
    ViewBag.Title = "Sales Report";
}

<div class="row">
    <div class="col-xs-12">
        <div class="hr hr-18 dotted hr-double"></div>

        @if (null != Model)
            {
                int sno = 1;

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        Records Found (@Model.Count())
                        <div style="float:right">

                            <button class="btn btn-info btn-xs P2" type="submit" id="btnExport">
                                <i class="ace-icon fa fa-share bigger-180"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div style="overflow:auto;height:500px;">
                <table class="table tbhover table-striped table-bordered dynamic-table">
                    <thead>
                        <tr>
                            <th>
                               S.No.
                            </th>
                            <th>
                                @Html.DisplayName("Kit Name")
                            </th>
                            <th>
                                @Html.DisplayName("Transferred Qty")
                            </th>
                            <th>
                                @Html.DisplayName("Sold Qty")
                            </th>
                            <th>
                                @Html.DisplayName("Return Qty")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @(sno++)
                        </td>
                        <td>
                            @item.KitName
                        </td>
                        <td>
                            @item.KitsTransferredQty
                        </td>
                        <td>
                            @item.KitsSoldQty
                        </td>
                        <td>
                            @item.KitsReturnQty
                        </td>
                    </tr>
                    }

                    </tbody>
                </table>
            </div>


        }
        else
        {

            <span style="color: red;"><b>No Records Found</b></span>
        }
    </div>
</div>
@Html.Action("DataTableScripts", "Base",new { IsPaging=false})



