@model List<AsteriskBrowserAL.Models.FeeCorrectionViewModel>

@if (Model != null && Model.Count > 0)
{
    int nsno = 1;


    <div class="table-header">
        Records Found (@Model.Count())
        <div style="float:right;margin-right:10px;">
            <button class="btncustom" type="submit">
               Download
            </button>
        </div>
    </div><!-- /.box-header -->
    <div>

        <div class="overflowscroll">

            <table class="table tbhover table-striped table-bordered dynamic-table">
                <thead>
                    <tr>
                        <th>
                            S.No.
                        </th>

                        <th>
                            @Html.DisplayName("Branch Name")
                        </th>
                        <th>
                            @Html.DisplayName("Payment Date")
                        </th>
                        <th>
                            @Html.DisplayName("Student Name")
                        </th>
                        <th>
                            @Html.DisplayName("ERP Receipt No")
                        </th>
                        <th>
                            @Html.DisplayName("Template No")
                        </th>

                        <th>
                            @Html.DisplayName("Manual Receipt No")
                        </th>

                        <th>
                            @Html.DisplayName("New Template No")
                        </th>

                        <th>
                            @Html.DisplayName("New Manual Receipt No")
                        </th>

                        <th>
                            @Html.DisplayName("Receipt Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Old Payment Mode")
                        </th>
                        <th>
                            @Html.DisplayName("New Payment Mode")
                        </th>
                        <th>
                            @Html.DisplayName("Fee Account Type")
                        </th>

                        <th>
                            @Html.DisplayName("Request Date")
                        </th>

                        <th>
                            @Html.DisplayName("Modified Date")
                        </th>

                        <th>
                            @Html.DisplayName("Request Type")
                        </th>
                        <th>
                            @Html.DisplayName("Remarks")
                        </th>

                        <th>
                            @Html.DisplayName("Requested By")
                        </th>

                        <th>
                            @Html.DisplayName("Approved By")
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @(nsno++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BranchName)
                            </td>
                            <td>
                                @item.TransactionDateDisplay
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.StudentName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ReceiptNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.OldTemplateNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayManualReceiptNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NewTemplateNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayNewManualReceiptNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.OldAmount)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayPaymentMode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewPaymentMode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FeeComponentName)
                            </td>

                            <td>
                                @item.RequestDateDisplay
                            </td>

                            <td>
                                @item.ModifyDateDisplay
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.RequestTypeDisplay)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovedBy)
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <span style="color:red;font-weight:bold">Data is not available</span>
}


@Html.Action("DataTableScripts", "Base", new { IsPage = false, allowScroll = true, strHeight = "350px" })


