@model IEnumerable<AsteriskBrowserAL.Models.FeeDueList>
@{
    int ConsolidatedType = Model.FirstOrDefault().ConsolidatedType;
}




@if (null != Model)
{
    int sno = 1;
    if (Model.Count() > 0)
    {
        <div class="table-header">
            Records Found (@Model.Count())
            <div style="float:right;margin-right:10px;">
                <button class="btncustom P2" id="btnExport"  type="submit">
                    Download
                </button>
            </div>
        </div>


        <div class="overflowscroll">

            <table class="table tbhover table-striped table-bordered dynamic-table">
                <thead>
                    <tr>
                        <th>
                            S.No.
                        </th>

                        <th>
                            @Html.DisplayName("Branch")
                        </th>
                        @if (ConsolidatedType == 2)
                    {
                            <th>
                                @Html.DisplayName("Class")
                            </th>

                            <th>
                                @Html.DisplayName("Section")
                            </th>
                        }
                        <th>
                            @Html.DisplayName("Strength")
                        </th>

                        <th>
                            @Html.DisplayName("Old Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Old Fee Concession")
                        </th>

                        <th>
                            @Html.DisplayName("Old Fee Paid")
                        </th>

                        <th>
                            @Html.DisplayName("Old Fee Due")
                        </th>
                        <th>
                            @Html.DisplayName("Admission Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Admission Fee Concession")
                        </th>

                        <th>
                            @Html.DisplayName("Admission Fee Paid")
                        </th>

                        <th>
                            @Html.DisplayName("Admission Fee Due")
                        </th>

                        <th>
                            @Html.DisplayName("Tuition Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Tuition Fee Concession")
                        </th>

                        <th>
                            @Html.DisplayName("Tuition Fee Confirm")
                        </th>

                        <th>
                            @Html.DisplayName("Tuition Fee Paid")
                        </th>

                        <th>
                            @Html.DisplayName("Tuition Fee Due")
                        </th>

                        <th>
                            @Html.DisplayName("Transport Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Transport Fee Concession")
                        </th>

                        <th>
                            @Html.DisplayName("Transport Fee Confirm")

                        </th>
                        <th>
                            @Html.DisplayName("Transport Fee Paid")
                        </th>

                        <th>
                            @Html.DisplayName("Transport Fee Due")
                        </th>

                        <th>
                            @Html.DisplayName("Total Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Concession")
                        </th>

                        <th>
                            @Html.DisplayName("Confirmed Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Paid Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Paid%")
                        </th>

                        <th>
                            @Html.DisplayName("Due Fee")
                        </th>

                        <th>
                            @Html.DisplayName("Due%")
                        </th>

                        <th>
                            @Html.DisplayName("Per Student Avg")
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(sno++)
                            </td>

                            <td>
                                @item.BranchName
                            </td>
                            @if (item.ConsolidatedType == 2)
                        {
                                <td>
                                    @item.ClassName
                                </td>

                                <td>
                                    @item.SectionName
                                </td>
                            }
                            <td>
                                @item.Noofstudents
                            </td>

                            <td>
                                @item.OldFee
                            </td>

                            <td>
                                @item.OldDiscount
                            </td>

                            <td>
                                @item.OldFeePaid
                            </td>

                            <td>
                                @item.OldFeeDue
                            </td>

                            <td>
                                @item.AdmissionFee
                            </td>

                            <td>
                                @item.AdmissionDiscount
                            </td>

                            <td>
                                @item.AdmissionFeePaid
                            </td>

                            <td>
                                @item.AdmissionFeeDue
                            </td>



                            <td>
                                @item.TotalTuitionFee
                            </td>

                            <td>
                                @item.TuitionFeeDiscount
                            </td>

                            <td>
                                @item.TuitionFeeConfirm
                            </td>

                            <td>
                                @item.TuitionFeePaid
                            </td>

                            <td>
                                @item.TuitionFeeDue
                            </td>

                            <td>
                                @item.TotalTransportFee
                            </td>

                            <td>
                                @item.TransportFeeDiscount
                            </td>

                            <td>
                                @item.TransportFeeConfirm
                            </td>

                            <td>
                                @item.TransportFeePaid
                            </td>

                            <td>
                                @item.TransportFeeDue
                            </td>

                            <td>
                                @item.TotFee
                            </td>
                            <td>
                                @item.TotConcession
                            </td>
                            <td>
                                @item.ConfirmedFee
                            </td>
                            <td>
                                @item.PaidFee
                            </td>
                            <td>
                                @item.Paidpercentage
                            </td>
                            <td>
                                @item.DueFee
                            </td>
                            <td>
                                @item.Duepercentage
                            </td>
                            <td>
                                @item.PerStudentAvg
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <div style="color:red;font-weight:bold">No syllabus to display</div>
    }
}
else
{
    <div style="color:red;font-weight:bold">No syllabus to display</div>
}

@Html.Action("DataTableScripts", "Base", new { IsPage = false, allowScroll = true, strHeight = "400px" })

<script type="text/javascript">

    //$("#btnExport").click(function (e) {
    //    ExportToExcel('tbSectionWiseDueReport');
    //});

    function PrintElem(elem) {

        Popup($(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }
    $('#btnExport').click(function () {
        window.location.href = "/FReports/ExportConsolidateDueReport"
    });
</script>

@*<script type="text/javascript">
        function PrintElem(elem) {
            Popup($(elem).html());
        }

        function Popup(data) {
            var mywindow = window.open('', 'mydiv', 'height=300,width=600');
            mywindow.document.write('<p></p>');
            mywindow.document.write(data);
            mywindow.document.write('<p></p>');

            mywindow.document.close();
            mywindow.focus();

            mywindow.print();
            mywindow.close();
            return true;
        }
    </script>*@

