@model List<AsteriskBrowserAL.Models.CoastalProgressCard>

@{
    int n = 0;
    int nCount = 0;

    if (null != Model)
    {
        var data = Model.Select(s => s.StudentMarks).ToList();
        n = data.Count();
    }
}
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Coastal Progress Card Report</li>
    </ul><!-- /.breadcrumb -->
}






<input type="hidden" id="ExamId" value="@Model.FirstOrDefault().ExamId" />
<input type="hidden" id="DivisionId" value="@Model.FirstOrDefault().DivisionId" />
<input type="hidden" id="BranchId" value="@Model.FirstOrDefault().BranchId" />
<input type="hidden" id="ClassNumber" value="@Model.FirstOrDefault().ClassNumber" />

<html>
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="mydiv" style="display:none">


        @if (null != Model)
        {
            foreach (var p in Model)
            {
                nCount++;
                @*<div class="col-xs-12" style="border:groove">
                        <img class="col-xs-11" id="avatar" width="100" height="110" style="float:left;text-decoration:none" src="@p.InstituteDet.InstituteLogo" />
                        <b style="font-weight:bold; font-size:30px; font-family:'Segoe UI'"> &nbsp; &nbsp;Gowtham Model Schools - @p.InstituteDet.InstituteName</b>
                        <br />
                        <br />
                        <br />
                        <div style="background-color:#C0C0C0">
                            <div align="center" style="font:25px; font-size:25px; font-family:'Segoe UI'"><b> @p.Exam</b></div>
                        </div>

                    </div>*@
                <div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div style="background-color:#C0C0C0">
                        <div align="center" style="font:28px;font-size:28px;font-family:'Segoe UI';"><b> @p.ExamCode.ToUpper()</b></div>
                    </div>
                    <br />
                    @*Stdent Details*@
                    <table style="width:1000px;font-family:'Segoe UI'">
                        <tr>
                            <td style="font-size:20px;width:55%">
                                <b style="font-size:22px"> Name : </b>@p.StudentName
                            </td>
                            <td style="width:50%;font-size:20px">
                                <b style="font-size:22px"> Father Name : </b>
                                @p.FatherName
                            </td>
                        </tr>
                    </table>
                    <table style="width:1000px;font-family:'Segoe UI'">
                        <tr>
                            <td style="width:55%;font-size:20px">
                                <b style="font-size:22px"> Admission No : </b>@p.AdmissionNo
                            </td>

                            <td style="width:50%;font-size:20px">
                                <b style="font-size:22px"> Class : </b>@p.Class
                            </td>
                        </tr>
                    </table>

                    <br />
                    <br />

                    <table style="font:14;font-family:'Segoe UI'">
                        <tr>
                            @*Student Marks*@
                            <td>
                                <table style="border:1px solid black;width:1000px;height:300px" rules="all">

                                    <tbody>
                                        <tr style="border:1px solid black">

                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                Subject
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0;">
                                                Reflection
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                Written
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                 Project
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                Test
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                Total
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                Grade
                                            </th>
                                        </tr>
                                        <tr style="border:1px solid black">

                                            <th style="font-size:20px;background-color:#C0C0C0">

                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                10 Marks
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                10 Marks
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                10 Marks
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                20 Marks
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">
                                                50 Marks
                                            </th>
                                            <th style="font-size:20px;background-color:#C0C0C0">

                                            </th>
                                        </tr>

                                        @{
                                            double TotalProjectMarks = Math.Round(p.StudentMarks.Sum(s => s.Project), 1);
                                            double TotalReadingMarks = Math.Round(p.StudentMarks.Sum(s => s.Reading), 1);
                                            double TotalWritingMarks = Math.Round(p.StudentMarks.Sum(s => s.Written), 1);
                                            double TotalTestMarks = Math.Round(p.StudentMarks.Sum(s => s.UnitTest), 1);
                                            double GrandTotalMarks = 0;
                                            double AvgProject = Math.Round((TotalProjectMarks / p.StudentMarks.Select(s => s.Project).Count()), 1);
                                            double AvgReading = Math.Round((TotalReadingMarks / p.StudentMarks.Select(s => s.Reading).Count()), 1);
                                            double AvgWriting = Math.Round((TotalWritingMarks / p.StudentMarks.Select(s => s.Written).Count()), 1);
                                            double AvgTest = Math.Round((TotalTestMarks / p.StudentMarks.Where(s => s.IsAbscent != true).Count()), 1);
                                        }
                                        @foreach (var m in p.StudentMarks.Where(s => s.IsScholastic == false).OrderBy(s => s.OrderId))
                                        {
                                            <tr style="text-align:center;">

                                                <td style="font-size:20px;text-align:left">

                                                    &nbsp; @m.Subject
                                                </td>
                                                <td style="font-size:20px">
                                                    @m.Reading
                                                </td>
                                                <td style="font-size:20px">
                                                    @m.Written
                                                </td>
                                                <td style="font-size:20px">
                                                    @m.Project
                                                </td>
                                                <td style="font-size:20px">
                                                    @if (m.IsAbscent == true)
                                                    {
                                                        <p> A</p>
                                                    }
                                                    else
                                                    {
                                                        @m.UnitTest
                                                    }
                                                </td>
                                                <td style="font-size:20px">
                                                    @{
                                                        double TotalMarks = Math.Round(m.Project + m.Reading + m.Written + m.UnitTest, 1);
                                                        GrandTotalMarks += TotalMarks;
                                                    }
                                                    @TotalMarks
                                                </td>
                                                @if (TotalMarks >= 46 && TotalMarks <= 50)
                                                {
                                                    <td style="font-size:20px">

                                                        A1

                                                    </td>
                                                }
                                                else if (TotalMarks >= 41 && TotalMarks <= 45.9)
                                                {
                                                    <td style="font-size:20px">

                                                        A2

                                                    </td>
                                                }
                                                else if (TotalMarks >= 36 && TotalMarks <= 40.9)
                                                {
                                                    <td style="font-size:20px">

                                                        B1

                                                    </td>
                                                }
                                                else if (TotalMarks >= 31 && TotalMarks <= 35.9)
                                                {
                                                    <td style="font-size:20px">

                                                        B2

                                                    </td>
                                                }
                                                else if (TotalMarks >= 26 && TotalMarks <= 30.9)
                                                {
                                                    <td style="font-size:20px">

                                                        C1

                                                    </td>
                                                }
                                                else if (TotalMarks >= 21 && TotalMarks <= 25.9)
                                                {
                                                    <td style="font-size:20px">

                                                        C2

                                                    </td>
                                                }
                                                else if (TotalMarks >= 18 && TotalMarks <= 20.9)
                                                {
                                                    <td style="font-size:20px">

                                                        D1

                                                    </td>
                                                }
                                                else if (TotalMarks >= 0 && TotalMarks <= 17.9)
                                                {
                                                    <td style="font-size:20px">

                                                        D2

                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="font-size:20px">

                                                    </td>
                                                }

                                            </tr>

                                                        }
                                        @{
                                            //double AvgGrand = Math.Round(GrandTotalMarks / p.StudentMarks.Where(sm => sm.IsScholastic == false).Count(), 1);

                                        }
                                        <tr style="font-size:12px; text-align:left;">

                                            <th style="font-size:20px;text-align:left">
                                                &nbsp; Total/Overall grade
                                            </th>
                                            <th style="font-size:20px;text-align:center">
                                                @TotalReadingMarks
                                            </th>
                                            <th style="font-size:20px;text-align:center">
                                                @TotalWritingMarks
                                            </th>
                                            <th style="font-size:20px;text-align:center">
                                                @TotalProjectMarks

                                            </th>
                                            <th style="font-size:20px;text-align:center">
                                                @TotalTestMarks
                                            </th>
                                            <th style="font-size:20px;text-align:center">
                                                @GrandTotalMarks
                                            </th>

                                            <th style="font-size:20px;text-align:center">

                                            </th>

                                            @*@if (AvgGrand >= 46 && AvgGrand <= 50)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        A1

                                                    </td>
                                                }
                                                else if (AvgGrand >= 41 && AvgGrand <= 45.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        A2

                                                    </td>
                                                }
                                                else if (AvgGrand >= 36 && AvgGrand <= 40.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        B1

                                                    </td>
                                                }
                                                else if (AvgGrand >= 31 && AvgGrand <= 35.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        B2

                                                    </td>
                                                }
                                                else if (AvgGrand >= 26 && AvgGrand <= 30.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        C1

                                                    </td>
                                                }
                                                else if (AvgGrand >= 21 && AvgGrand <= 25.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        C2

                                                    </td>
                                                }
                                                else if (AvgGrand >= 18 && AvgGrand <= 20.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                        D1

                                                    </td>
                                                }
                                                else if (AvgGrand >= 0 && AvgGrand <= 17.9)
                                                {
                                                    <td style="font-size:20px;text-align:center">
                                                        D2
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="font-size:20px;text-align:center">

                                                    </td>
                                                }*@
                                        </tr>


                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table style="border:1px solid black;font-family:'Segoe UI';width:1000px" rules="all">
                        <tr style="text-align:center">
                            <td style="background-color:#C0C0C0;font-weight:bold;font-size:20px" align="left">Marks</td>
                            <td style="font-size:20px">
                                46-50
                            </td>
                            <td style="font-size:20px">
                                41-45
                            </td>
                            <td style="font-size:20px">
                                36-40
                            </td>
                            <td style="font-size:20px">
                                31-35
                            </td>
                            <td style="font-size:20px">
                                26-30
                            </td>
                            <td style="font-size:20px">
                                21-25
                            </td>
                            <td style="font-size:20px">
                                18-20
                            </td>
                            <td style="font-size:20px">
                                0-17
                            </td>
                        </tr>
                        <tr style="text-align:center">
                            <td style="background-color:#C0C0C0;font-weight:bold;font-size:20px" align="left">Grades</td>

                            <td style="font-size:20px">
                                A1
                            </td>

                            <td style="font-size:20px">
                                A2
                            </td>

                            <td style="font-size:20px">
                                B1
                            </td>

                            <td style="font-size:20px">
                                B2
                            </td>

                            <td style="font-size:20px">
                                C1
                            </td>

                            <td style="font-size:20px">
                                C2
                            </td>

                            <td style="font-size:20px">
                                D1
                            </td>

                            <td style="font-size:20px">
                                D2
                            </td>
                        </tr>
                        <tr style="text-align:center">
                            <td style="background-color:#C0C0C0;font-weight:bold;font-size:20px" align="left">Grade Point</td>

                            <td style="font-size:20px">
                                10
                            </td>

                            <td style="font-size:20px">
                                9
                            </td>

                            <td style="font-size:20px">
                                8
                            </td>

                            <td style="font-size:20px">
                                7
                            </td>

                            <td style="font-size:20px">
                                6
                            </td>

                            <td style="font-size:20px">
                                5
                            </td>

                            <td style="font-size:20px">
                                4
                            </td>
                            <td style="font-size:20px">
                                -
                            </td>
                        </tr>

                    </table>

                    <br />

                    <table>
                        <tr>
                            <td>
                                <table style="border:1px solid black;font-family:'Segoe UI';width:1000px" rules="all">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:20px;background-color:#C0C0C0;">
                                                <b style="font-size:20px;">Attendance</b>
                                            </td>

                                            <td style="font-size:20px" align="center">
                                                June
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                July
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Aug
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Sep
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Oct
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Nov
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Dec
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Jan
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Feb
                                            </td>

                                            <td style="font-size:20px" align="center">
                                                Mar
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                Apr
                                            </td>




                                        </tr>
                                        <tr>
                                            <td style="background-color:#C0C0C0;">
                                                <b style="font-size:20px">Working Days</b>
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJuneWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJulyWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJAugWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJSepWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nOctWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nNovWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nDecWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJanWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nFebWorkingDays
                                            </td>

                                            <td style="font-size:20px" align="center">
                                                @p.nMarWorkingDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nAprilWorkingDays
                                            </td>

                                        </tr>
                                        <tr>

                                            <td style="background-color:#C0C0C0;">
                                                <b style="font-size:20px">Days present</b>
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJunePresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJulyPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJAugPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJSepPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nOctPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nNovPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nDecPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nJanPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nFebPresentDays
                                            </td>

                                            <td style="font-size:20px" align="center">
                                                @p.nMarPresentDays
                                            </td>
                                            <td style="font-size:20px" align="center">
                                                @p.nAprilPresentDays
                                            </td>


                                        </tr>

                                    </tbody>
                                </table>

                            </td>
                        </tr>

                        <tr>

                            <td>
                                <br />
                                <table style="border:1px solid black;width:1000px;font-family:'Segoe UI';height:150px">
                                    <tbody>
                                        <tr style="background-color:#C0C0C0">

                                            <td style="font-size:20px;height:20px;font-weight:bold">
                                                Teacher Remarks
                                            </td>
                                        </tr>
                                        <tr style="margin-top:1em">
                                            @p.TeacherAssessment
                                            <td style="font-size:30px"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <br />

                @*<table style="width:1500px">
                        <tbody>
                            <tr>

                                <td style="font-size:20px;height:50px;text-align:center">
                                    <b style="font-size:20px"> Principal</b>
                                </td>
                                <td style="font-size:20px;height:50px;text-align:center">
                                    <b style="font-size:20px"> Class Teacher</b>


                                </td>
                                <td style="font-size:20px;height:50px;text-align:center">
                                    <b style="font-size:20px"> Parent</b>

                                </td>
                            </tr>

                        </tbody>
                    </table>*@
        if (nCount != n)
        {
            <div style="page-break-after:always">
            </div>
                }
                else
                {
                    nCount = 0;
                }


            }

        }
    </div>

</body>
</html>

<script>

    function onloadData() {
        PrintElem('#mydiv');
    }
    window.onload = onloadData();

    function PrintElem(elem) {
        var BranchId = $("#BranchId").val();
        var DivisionId = $("#DivisionId").val()
        var ClassNumber = $("#ClassNumber").val();
        var ExamId = $("#ExamId").val();
        Popup($(elem).html());

        window.location.href = "/AReports/CostalProgressCardReport?Emd=" + ExamId + "&IdB=" + BranchId + "&IdDn=" + DivisionId + "&ClNb=" + ClassNumber
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=400,width=300,size=landscape');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');
        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }


</script>
