@model AsteriskBrowserAL.Models.ExamShedulesData
@using System.Linq;

@{
    List<IGrouping<string, AsteriskBrowserAL.Models.ExamShedulesData>> GroupedData = new List<IGrouping<string, AsteriskBrowserAL.Models.ExamShedulesData>>();
    
    int sno = 1;
    if (null != Model)
    {
        if (null != Model && Model.ExaminationSchedulesDetailsData.Count() > 0)
        {
            GroupedData = Model.ExaminationSchedulesDetailsData.GroupBy(p => p.BranchName).ToList();
        }
    }
}

<style>
    .red {
        color: red;
    }

    .hideScrolling {
        overflow: hidden;
        height: 450px;
    }

        .hideScrolling:hover {
            overflow: auto;
        }
</style>




@if (null != Model)
{
    if (null != Model.ExaminationSchedulesDetailsData && Model.ExaminationSchedulesDetailsData.Count() > 0)
    {
        <div class="table-header">
            Records Found (@Model.ExaminationSchedulesDetailsData.Count)
            <div style="float:right;margin-right:10px;">

                <button class="btncustom P2" >
                   Download

                </button>

            </div>
        </div>

        <div class="overflowscroll" style="overflow-x:hidden">
            <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>
                           S.No.
                        </th>
                        @if (Model.IsCentral)
                    {
                    <th>
                        @Html.DisplayName("Branch Name")
                    </th>
                    }

                        <th>
                            @Html.DisplayName("Class")
                        </th>

                        <th>
                            @Html.DisplayName("Exam Name")
                        </th>

                        <th>
                            @Html.DisplayName("Exam Code")
                        </th>

                        <th>
                            @Html.DisplayName("Start Date")
                        </th>

                        <th>
                            @Html.DisplayName("End Date")
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ExaminationSchedulesDetailsData)
                {
                <tr>
                    <td>
                        @(sno++)
                    </td>
                    @if (Model.IsCentral)
                        {
                        <td>
                            @item.BranchName
                        </td>
                        }

                    <td>
                        @item.ClassName
                    </td>

                    <td>
                        @item.ExamName
                    </td>
                    <td>
                        @item.ExamCode
                    </td>
                    <td>
                        @item.StartDate.Value.ToString("dd - MMM - yyyy")
                    </td>
                    <td>
                        @item.EndDate.Value.ToString("dd - MMM - yyyy")
                    </td>
                </tr>
                }

                </tbody>
            </table>
        </div>


    }
    else
    {
        <div style="color:red;font-weight:bold">Data not available to display</div>
    }
}
else
{
    <div style="color:red;font-weight:bold">Data not available to display</div>
}

@Html.Action("DataTableScripts", "Base", new { IsPaging = false })




@*<body>
        <div id="mydiv" style="display:none">

            @if (null != Model)
            {

                if (null != Model.MicroScheduleDetailsData && Model.MicroScheduleDetailsData.Count() > 0)
                {
                    int nsno = 1;

                    <div class="row">
                        <div class="col-xs-12">
                            <img class=" col-xs-11" id="avatar" width="50" height="43" src="@Model.InstituteDetails.InstituteLogo" style="margin-bottom:-1.5em;" />
                            <b style="font-weight:bold; margin-left:0.3em; font-size:20px; font-family:'Segoe UI'">@Model.InstituteDetails.InstituteName</b>
                        </div>
                        <div style="margin-left:3.7em; font-family:'Segoe UI'"><b>@Model.InstituteDetails.InstituteAddress</b></div>
                        <br />

                        <hr style="width:100%; margin-bottom:-0.5em" />
                        <hr style="width:100%;" />
                        <div align="center" style="font:12%; font-family:'Segoe UI'"><b>Micro-Schedule Report </b></div>
                        <hr style="width:100%;" />

                        @foreach (var g in GroupedData)
                        {
                            <hr style="width:100%; margin-top:-0.5em" />

                            <div align="left" style="font-weight:bold; margin-left:0.4em; font-family:'Segoe UI'; font-size:14px;"><b>@g.Key</b></div>
                            <hr style="width:100%;" />
                        }
                        <div class="col-xs-12 box-body table-responsive">
                            <table class="table table-hover" rules="rows" cellpadding="5" style="width:675px; font-size:12px;">

                                <tbody>
                                    <tr style="font-size:13px; font-family:'Segoe UI'; font-weight:bold; text-align:left;">
                                        <th>
                                           S.No.
                                        </th>
                                        @if (Model.IsCentral)
                                        {
                                            <th>
                                                @Html.DisplayName("Branch Name")
                                            </th>
                                        }

                                        <th>
                                            @Html.DisplayName("Topic Name")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Date")
                                        </th>

                                    </tr>


                                    @foreach (var item in Model.MicroScheduleDetailsData)
                                    {
                                        <tr>
                                            <td>
                                                @(nsno++)
                                            </td>
                                            @if (Model.IsCentral)
                                            {
                                                <td>
                                                    @item.BranchName
                                                </td>
                                            }


                                            <td>
                                                @item.Topic
                                            </td>
                                            <td>
                                                @item.SyllabusDate.Value.ToString("dd - MMM - yyyy")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>
                }

            }


        </div>
    </body>*@

<script type="text/javascript">

    function submitform() {
        $.ajax({
            url: '/AReports/ExaminationSchedules',
            data: {},
            success: function (result) {
            }
        })
    };


    $('#btnExport').click(function () {
        debugger
        window.location.href = "/AReports/ExcelExaminationSchedulesDT"
        var Data = $("#tbExamScheduleReport").html();
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode

        if (charCode == 46 || charCode == 65)
            return true;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>











