
@model List<AsteriskBrowserAL.Models.ExaminationResultsData>

@{
    ViewBag.Title = "Marks Entry Report Status";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-database"></i>
            Reports
        </li>
        <li>
            <i class=""></i>
            Academics

        </li>
        <li class="active">IC Marks Entry Report Status</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">


    <div class="page-header">
        <h1>
            <small style="float:right;">
                @Html.ActionLink("Back to details", "ICMarksEntryReport")
            </small>
        </h1>
    </div>

  

    <div class="row">
        <div class=col-xs-12>

            @using (Html.BeginForm("ICMarksEntryReportStatus", "AReports", FormMethod.Post))
            {
                if (null != Model && Model.Count() > 0)
                {
                    int nsno = 1;
                    @*<input type="hidden" id="IsCentral" value="@Model.IsCentral" name="IsCentral" />*@
                    <span style="color:red;font-weight:bold" id="Validation"></span>

                    <input type="hidden" value="@Model.FirstOrDefault().ClassNumber" />
                        <div class="table-header">
                           Marks Entry Status
                        </div>

                                    <table class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                   S.No.
                                                </th>

                                                <th>
                                                    @Html.DisplayName("Student Name")
                                                </th>

                                                <th>
                                                    @Html.DisplayName("Marks Scored")
                                                </th>


                                            </tr>

                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @(nsno++)
                                                    </td>

                                                    <td>
                                                        @item.DisplayName
                                                    </td>
                                                    <td>@item.DisplayMarksScored</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                }
            }

        </div>
    </div>
</section>

@Html.Action("DataTableScripts", "Base")