@model List<AsteriskBrowserAL.Models.ProgressCard>

@{
    List<AsteriskBrowserAL.Models.ProgressCard> lstSubjects = new List<AsteriskBrowserAL.Models.ProgressCard>();

    if (null != Model)
    {
        var data = Model.FirstOrDefault();

        if (null != data)
        {
            lstSubjects = data.LstProgressCardData.ToList();
        }
    }
}

<div class="hr hr-18 dotted hr-double"></div>

@if (lstSubjects.Count() > 0)
{
    if (null != Model && Model.Count() > 0)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    Records Found (@Model.Count())
                </div>

                <div style="overflow:auto;">
                    <table class="table tbhover table-striped table-bordered dynamic-table">
                        <thead>

                            <tr>
                                <th rowspan="2">
                                   S.No.
                                </th>
                                <th rowspan="2">
                                    @Html.DisplayName("Student Name")
                                </th>
                                @foreach (var type in lstSubjects)
                                {
                                    <th colspan="6">
                                        @type.SubjectName

                                    </th>
                                }
                            <tr>
                                @for (int i = 0; i < lstSubjects.Count(); i++)
                                {
                                    <th style="text-align:center" align="center">
                                        Test 1
                                    </th>
                                        <th style="text-align:center" align="center">
                                            Test 2
                                        </th>
                                        <th style="text-align:center" align="center">
                                            SA 1
                                        </th>
                                        <th style="text-align:center" align="center">
                                            Test 3
                                        </th>
                                        <th style="text-align:center" align="center">
                                            Test 4
                                        </th>
                                        <th style="text-align:center" align="center">
                                            SA 2
                                        </th>

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(nsno++)
                                    </td>
                                    <td>
                                        @item.StudentName
                                    </td>

                                    @foreach (var marks in item.LstProgressCardData)
                                    {
                                        <td>@marks.DisplayTest1Marks</td>
                                            <td>@marks.DisplayTest2Marks</td>
                                            <td>@marks.DisplaySA1Marks</td>
                                            <td>@marks.DisplayTest3Marks</td>
                                            <td>@marks.DisplayTest4Marks</td>
                                            <td>@marks.DisplaySA2Marks</td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>No data available to display</b></span>
    }
}
else
{
    <span style="color: red;"><b>No data available to display</b></span>
}
@Html.Action("DataTableScripts", "Base")



