@model List<AsteriskBrowserAL.Models.StudentDetailsData>
@{
    int n = 0;
}

<body>
    <div style="display:none" id="mydiv">
        @if (null != Model && Model.Count() > 0)
        {
            foreach (var StudentsData in Model)
            {
                n++;

                <div style="float:right;font-family:'Segoe UI'">@StudentsData.DisplayRecordNumber</div>

                <div style="padding-left: 0px;position: relative; left: 0; top: 0;font-family:'Segoe UI'">

                    <img src="~/Content/images/RecordSheet.png" height="730" width="1100" style="position: relative;top: 0;left: 0;" />

                    <!-- Office Copy  -->
                    <div style="position: absolute;top: 11.82%;left: 30%;font-size:11px;">
                        <p>@StudentsData.AdmissionNumber</p>
                    </div>

                    <div style="position: absolute;top: 15%;left: 30%;font-size:11px;">
                        <p>@StudentsData.Name</p>
                    </div>

                    <div style="position: absolute;top: 18.31%;left: 30%;font-size:11px;">
                        <p>@StudentsData.City</p>
                    </div>

                    <div style="position: absolute;top: 21.62%;left: 30%;font-size:11px;">
                        <p>@StudentsData.DateofBirthDisplay</p>
                    </div>

                    <div style="position: absolute;top: 24.82%;left: 30%;font-size:11px;">
                        <p>@StudentsData.FatherName</p>
                    </div>

                    <div style="position: absolute;top: 28.04%;left: 30%;font-size:11px;">
                        <p>@StudentsData.GuardianMobile</p>
                    </div>

                    <div style="position: absolute;top: 31.36%;left: 30%;right:51.5%;font-size:11px;">
                        <p style="text-align:left;">@(StudentsData.AddressLineOne + " , " + StudentsData.AddressLineTwo)</p>
                    </div>

                    <div style="position: absolute;top: 36.82%;left: 30%;font-size:11px;">
                        <p>@StudentsData.ReligionName</p>
                    </div>

                    <div style="position: absolute;top:58.1%;left: -3.2%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            <p>@StudentsData.BranchAddress</p>
                        </div>
                    </div>

                    <div style="position: absolute;top:58.1%;left: 4.2%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @if (StudentsData.AdmissionDate.HasValue)
                            {
                                @StudentsData.AdmissionDate.Value.ToString("dd-MMM-yyyy")
                            }
                        </div>
                    </div>

                    <div style="position: absolute;top:58.1%;left: 6.9%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 8.7%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IstQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 10.5%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IstQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 12.3%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 14.1%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIndQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 16.1%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIndQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 18%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 19.8%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIIrdQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 21.7%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIIrdQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 23.4%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 25.3%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IVthQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 27.3%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IVthQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 29.1%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @if (StudentsData.AdmissionDate.HasValue)
                            {
                                @StudentsData.AdmissionDate.Value.ToString("dd-MMM-yyyy")
                            }
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 30.9%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            Promoted
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 32.9%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            Good
                        </div>
                    </div>

                    <div style="position: absolute;top: 77.82%;left: 16.3%;font-size:11px;">
                        <p>@(StudentsData.Age + " Years")</p>
                    </div>
                    <div style="position: absolute;top: 80%;left: 16.3%;font-size:11px;">
                    </div>

                    <!-- Student Copy  -->
                    <div style="position: absolute;top: 11.82%;left: 80%;font-size:11px;">
                        <p>@StudentsData.AdmissionNumber</p>
                    </div>

                    <div style="position: absolute;top: 15%;left: 80%;font-size:11px;">
                        <p>@StudentsData.Name</p>
                    </div>

                    <div style="position: absolute;top: 18.31%;left: 80%;font-size:11px;">
                        <p>@StudentsData.City</p>
                    </div>

                    <div style="position: absolute;top: 21.62%;left: 80%;font-size:11px;">
                        <p>@StudentsData.DateofBirthDisplay</p>
                    </div>

                    <div style="position: absolute;top: 24.82%;left: 80%;font-size:11px;">
                        <p>@StudentsData.FatherName</p>
                    </div>

                    <div style="position: absolute;top: 28.04%;left: 80%;font-size:11px;">
                        <p>@StudentsData.GuardianName</p>
                    </div>

                    <div style="position: absolute;top: 31.36%;left: 80%;right:1.5%;font-size:11px;">
                        <p style="text-align:left;">@(StudentsData.AddressLineOne + " , " + StudentsData.AddressLineTwo)</p>
                    </div>

                    <div style="position: absolute;top: 36.82%;left: 80%;font-size:11px;">
                        <p>@StudentsData.ReligionName</p>
                    </div>

                    <div style="position: absolute;top:58.1%;left: 46.6%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            <p>@StudentsData.BranchAddress</p>
                        </div>
                    </div>

                    <div style="position: absolute;top:58.1%;left: 54.2%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @if (StudentsData.AdmissionDate.HasValue)
                            {
                                @StudentsData.AdmissionDate.Value.ToString("dd-MMM-yyyy")
                            }
                        </div>
                    </div>

                    <div style="position: absolute;top:58%;left: 56.7%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 58.5%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IstQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 60.3%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IstQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 62.2%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 63.9%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIndQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 65.9%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIndQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 67.7%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 69.5%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIIrdQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 71.5%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IIIrdQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 73.2%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.ClassName
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 75%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IVthQuarterWorkingDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 76.9%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @StudentsData.IVthQuarterPresentDays
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 78.7%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            @if (StudentsData.AdmissionDate.HasValue)
                            {
                                @StudentsData.AdmissionDate.Value.ToString("dd-MMM-yyyy")
                            }
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 80.6%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            Promoted
                        </div>
                    </div>
                    <div style="position: absolute;top:58.1%;left: 82.6%;font-size:11px;">
                        <div style="-webkit-transform: rotate(-90deg);transform: rotate(-90deg);height: 50px; width: 140px; float: left;vertical-align:top;">
                            Good
                        </div>
                    </div>

                    <div style="position: absolute;top: 77.82%;left: 66.8%;font-size:11px;">
                        <p>@(StudentsData.Age + " Years")</p>
                    </div>
                    <div style="position: absolute;top: 80%;left: 66.8%;font-size:11px;">

                    </div>

                </div>

                if (n < Model.Count())
                {
                    <div style="page-break-after: always;">
                    </div>
                }

            }



        }
        else
        {
            <span style="color:red;font-weight:bold">Students not available</span>
        }


    </div>

</body>

<script>
    function onloadData() {
        PrintElem('#mydiv');
    }

    window.onload = onloadData();

    function PrintElem(elem) {

        Popup(document.getElementById("mydiv").innerHTML)
    }

    function Popup(data) {

        var mywindow = window.open('', 'my div', 'size=landscape;width: 50%;margin=0;padding=0;');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        var is_chrome = Boolean(mywindow.chrome);

        if (is_chrome) {
            setTimeout(function () { // wait until all resources loaded
                mywindow.document.close();
                mywindow.focus();
                mywindow.print();
                mywindow.close();
                window.location.href = "/AReports/RecordSheet?IsGenereated=" + true;

            }, 2050);
        } else {
            mywindow.document.close();
            mywindow.focus();
            mywindow.print();
            mywindow.close();
            window.location.href = "/AReports/RecordSheet?IsGenereated=" + true;

        }

        return true;
    }
</script>

