@model AsteriskBrowserAL.Models.StudentOverallReportViewModel
@{

    ViewBag.Title = "StudentOverallReport_Partial";
  
    var Student = Model.StudentData;
    var FeePayments = Model.ListFeePaymentsData;
    var InstituteList = Model.InstituteDetails;
    var TransportPayments = Model.ListTransportPayments;
    var Attendance = Model.AttendanceReport;

    string dob = string.Empty;
    if (Student.DateofBirth.HasValue)
    {
        dob = Student.DateofBirth.Value.ToString("dd-MMM-yyyy");
    }

    int sNo = 1;
    int sNo1 = 1;
}



<div id="mydiv">

    <!--Stuent Details Print-->
    <div id="studentDetails" style="display:none;">
        @if (null != Student)
        {
            <div class="row">
                <div class="col-xs-12">
                    <img class=" col-xs-11" id="logo" width="50" height="43" style="margin-bottom:-1.5em;"  src="~/Content/images/CampusWhiz.jpg" />
                    <label style="font-weight:bold; margin-left:0.3em; font-size:20px;font-family:'Segoe UI'" id="instName">@InstituteList.InstituteName</label>
                </div>
                <b><label style="margin-left:3.8em; font-family:'Segoe UI'" id="instAddress">@InstituteList.InstituteAddress</label></b>
                <br />

                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <div align="center" style="font:12%; font-family:'Segoe UI'"><b>STUDENT INFORMATION</b></div>
                <hr style="width:100%;" />
                <hr style="width:100%; margin-top:-0.5em" />
                <table>
                    <tr>
                        <td style="width:500px;font-size:13px;font-family:'Segoe UI'"><b>PERSONAL DETAILS</b></td>
                    </tr>
                </table>
                <hr />
                <table cellspacing="10">
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Name of the Student :</td>

                        <td>
                            <p id="sName" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.FullName</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Admission Number :</td>

                        <td>
                            <p id="admnNo" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.AdmissionNumber</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Class :</td>

                        <td>
                            <p id="sClass" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.CourseName</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Gender :</td>

                        <td>
                            <p id="gndr" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.GenderDisplay</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Date of Birth : </td>

                        <td>
                            <p id="dob" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@dob</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Birth Place :</td>

                        <td>
                            <p id="bp" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.BirthPlace</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Mother Tongue :</td>

                        <td>
                            <p id="mt" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.DisplayMotherTongue</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Roll Number : </td>

                        <td>
                            <p id="rno" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.RollNumber</p>
                        </td>
                    </tr>
                </table>
                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <table>
                    <tr>
                        <td style="width:500px;font-size:13px;font-family:'Segoe UI'"><b>PARENT DETAILS</b></td>
                    </tr>
                </table>
                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <table cellspacing="10">
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Father Name :</td>

                        <td>
                            <p id="fthrName" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.FatherName</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Mother Name :</td>

                        <td>
                            <p id="mthrName" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.MotherName</p>
                        </td>
                    </tr>
                </table>
                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <table>
                    <tr>
                        <td style="width:500px;font-size:13px;font-family:'Segoe UI'"><b>CONTACT DETAILS</b></td>
                    </tr>
                </table>
                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />

                <table cellspacing="10">
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Mobile/Phone :</td>

                        <td>
                            <p id="mobNo" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.MobileNumber</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Email :</td>

                        <td>
                            <p id="mail" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.EMail</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px;font-size:13px;font-family:'Segoe UI'">Address :</td>

                        <td>
                            <p id="addrs" style="font-size:12px;font-weight:bold;font-family:'Segoe UI'">@Student.AddressLineOne</p>
                        </td>
                    </tr>
                </table>

            </div>

            <p style="page-break-before: always"></p>
        }
    </div>
    <!--Attendance Print-->
    @if (null != Attendance)
    {
        <div class="row" id="att">
            <div class="col-xs-12">
                <img class=" col-xs-11" id="logo" width="50" height="43" style="margin-bottom:-1.5em;" src="~/Content/images/CampusWhiz.jpg" />
                <label style="font-weight:bold; margin-left:0.3em; font-size:20px;font-family:'Segoe UI'" id="instName">@InstituteList.InstituteName</label>
            </div>
            <b><label style="margin-left:3.8em; font-family:'Segoe UI'" id="instAddress">@InstituteList.InstituteAddress</label></b>
            <br />

            <hr style="width:100%; margin-bottom:-0.5em" />
            <hr style="width:100%;" />
            <div align="center" style="font:12%; font-family:'Segoe UI'"><b>ATTENDANCE REPORT</b></div>
            <hr style="width:100%;" />
            <hr style="width:100%; margin-top:-0.5em" />
            <table class="table table-hover col-xs-12" style=" font-size:11px;font-family:'Segoe UI';" width="100%">

                <tbody>
                    <tr style="text-align:left;">

                        <td class="col-sm-4" style="width: 33%">
                            <b>StudentName : </b> <label id="stdntName">@Student.FullName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Father's Name : </b> <label id="fathrname1">@Student.FatherName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Mother's Name : </b><label id="mthrname1">@Student.MotherName</label>
                        </td>
                    </tr>
                    <tr style="text-align:left;">

                        <td class="col-sm-4" style="width: 33%">
                            <b>Admission Number : </b><label id="admtnno">@Student.AdmissionNumber</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Class : </b> <label id="crse">@Student.CourseName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b> DOB : </b><label id="dob1">@dob</label>
                        </td>
                    </tr>

                </tbody>
            </table>

            <hr />
            <br />
            <br />

            <table frame="box" style="font-family:'Segoe UI';margin:0 auto;font-size:13px;" rules="rows" cellpadding="5">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Working Days</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Days Present</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Percentage</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><p id="totalWdays">@Attendance.TotalWorkingDays</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><p id="totalDP">@Attendance.DaysPresent</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><p id="Percent">@Attendance.AttendancePercentage</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
            <p style="page-break-before: always"></p>
        </div>
    }

    <!--Transport Payments Print-->
    @if (null != TransportPayments && TransportPayments.Count() > 0)
    {
        <input type="hidden" value="1" id="IsTransportPaymentDone" />
        <div class="row" id="transPay">
            <div class="col-xs-12">
                <img class=" col-xs-11" id="logo" width="50" height="43" style="margin-bottom:-1.5em;" src="~/Content/images/CampusWhiz.jpg"/>
                <label style="font-weight:bold; margin-left:0.3em; font-size:20px;font-family:'Segoe UI'" id="instName">@InstituteList.InstituteName</label>
            </div>
            <b><label style="margin-left:3.8em; font-family:'Segoe UI'" id="instAddress">@InstituteList.InstituteAddress</label></b>
            <br />
            <hr style="width:100%; margin-bottom:-0.5em" />
            <hr style="width:100%;" />
            <div align="center" style="font:12%; font-family:'Segoe UI'"><b>TRANSPORT PAYMENT DETAILS</b></div>
            <hr style="width:100%;" />
            <hr style="width:100%; margin-top:-0.5em" />
            <table class="table table-hover col-xs-12" style="font-size:11px;font-family:'Segoe UI';" width="100%">
                <tbody>
                    <tr style="text-align:left;">

                        <td class="col-sm-4" style="width: 33%">
                            <b>StudentName : </b> <label id="stdntName">@Student.FullName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Father's Name : </b> <label id="fathrname1">@Student.FatherName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Mother's Name : </b><label id="mthrname1">@Student.MotherName</label>
                        </td>
                    </tr>
                    <tr style="text-align:left;">

                        <td class="col-sm-4" style="width: 33%">
                            <b>Admission Number : </b><label id="admtnno">@Student.AdmissionNumber</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Class : </b> <label id="crse">@Student.CourseName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b> DOB : </b><label id="dob1">@dob</label>
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr style="width:100%;" />

            <div class="col-xs-12 box-body table-responsive" style="font-family:'Segoe UI';">
                <table class="table table-hover" rules="rows" cellpadding="5" style="width:675px; font-size:12px; margin-top:-1em">
                    <thead>
                        <tr style="font-size:13px;font-weight:bold; text-align:left;">
                            <th>
                                SNo
                            </th>
                            <th>
                                @Html.DisplayName("Reciept No")
                            </th>
                            <th>
                                @Html.DisplayName("Particular")
                            </th>
                            <th>
                                @Html.DisplayName("Payment Date")
                            </th>
                            <th>
                                @Html.DisplayName("Payment Mode")
                            </th>
                            <th>
                                @Html.DisplayName("Bank Name")
                            </th>
                            <th>
                                @Html.DisplayName("Related Number")
                            </th>
                            <th>
                                @Html.DisplayName("Related Date")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>

                        </tr>
                    </thead>
                    <tbody style="font-size:12px;" id="tbodyTId">
                        @foreach (var element in TransportPayments)
                        {
                            <tr>
                                <td>@(sNo++)</td>
                                <td>@element.ReceiptNumber  </td>
                                <td>@element.ParticularName </td>
                                <td>
                                    @if (element.TransactionDate.HasValue)
                                    {
                                        @element.TransactionDate.Value.ToString("dd-MMM-yyyy")
                                    }
                                </td>
                                <td>@element.PaymentModeDisplay</td>
                                <td>@element.Bank</td>
                                <td>@element.RelatedNumber </td>
                                <td>@element.RelatedDate</td>
                                <td>@element.DebitAmount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <p style="page-break-before: always"></p>
        </div>
    }
    else
    {
        <input type="hidden" value="0" id="IsTransportPaymentDone" />
    }

    <!--Fee Payments Print-->
    @if (null != FeePayments && FeePayments.Count() > 0)
    {
        <input type="hidden" value="1" id="IsFeePaymentDone" />
        <div class="row" id="feePay">
            <div class="col-xs-12">
                <img class=" col-xs-11" id="logo" width="50" height="43" style="margin-bottom:-1.5em;" src="~/Content/images/CampusWhiz.jpg" />
                <label style="font-weight:bold; margin-left:0.3em; font-size:20px;font-family:'Segoe UI'" id="instName">@InstituteList.InstituteName</label>
            </div>
            <b><label style="margin-left:3.8em; font-family:'Segoe UI'" id="instAddress">@InstituteList.InstituteAddress</label></b>
            <br />
            <hr style="width:100%; margin-bottom:-0.5em" />
            <hr style="width:100%;" />
            <div align="center" style="font:12%; font-family:'Segoe UI'"><b>FEE PAYMENT DETAILS</b></div>
            <hr style="width:100%;" />
            <hr style="width:100%; margin-top:-0.5em" />
            <table class="table table-hover col-xs-12" style=" font-size:11px;font-family:'Segoe UI';" width="100%">
                <tbody>
                    <tr style="text-align:left;">

                        <td class="col-sm-4" style="width: 33%">
                            <b>StudentName : </b> <label id="stdntName">@Student.FullName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Father's Name : </b> <label id="fathrname1">@Student.FatherName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Mother's Name : </b><label id="mthrname1">@Student.MotherName</label>
                        </td>
                    </tr>
                    <tr style="text-align:left;">

                        <td class="col-sm-4" style="width: 33%">
                            <b>Admission Number : </b><label id="admtnno">@Student.AdmissionNumber</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b>Class : </b> <label id="crse">@Student.CourseName</label>
                        </td>
                        <td class="col-sm-4" style="width: 33%">
                            <b> DOB : </b><label id="dob1">@dob</label>
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr style="width:100%;" />

            <div class="col-xs-12 box-body table-responsive">
                <table class="table table-hover" rules="rows" style="font-family:'Segoe UI';width:675px; font-size:12px; margin-top:-1em" cellpadding="5">
                    <thead>
                        <tr style="font-size:13px;font-weight:bold; text-align:left;">
                            <th>
                                SNo
                            </th>
                            <th>
                                @Html.DisplayName("Reciept No")
                            </th>
                            <th>
                                @Html.DisplayName("Particular")
                            </th>
                            <th>
                                @Html.DisplayName("Payment Date")
                            </th>
                            <th>
                                @Html.DisplayName("Payment Mode")
                            </th>
                            <th>
                                @Html.DisplayName("Bank Name")
                            </th>
                            <th>
                                @Html.DisplayName("Related Number")
                            </th>
                            <th>
                                @Html.DisplayName("Related Date")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>

                        </tr>
                    </thead>
                    <tbody style="font-size:12px;" id="tbodyPId">
                        @foreach (var element in FeePayments)
                        {
                            <tr>
                                <td>@(sNo1++) </td>
                                <td>@element.ReceiptNo </td>
                                <td>@element.FeeParticularName</td>
                                <td>
                                    @if (element.TransactionDate.HasValue)
                                    {
                                        @element.TransactionDate.Value.ToString("dd-MMM-yyyy")
                                    }
                                </td>
                                <td>@element.PaymentModeDisplay </td>
                                <td>@element.Bank </td>
                                <td>@element.RelatedNumber </td>
                                <td>
                                    @if (element.TransactionDate.HasValue)
                                    {
                                        @element.RelatedDate.Value.ToString("dd-MMM-yyyy")
                                    }
                                </td>
                                <td>@element.DebitAmount </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    }
    else
    {
        <input type="hidden" value="0" id="IsFeePaymentDone" />
    }

    @Html.Hidden("sDetails", "", new { BatchId = "sDetails" })

</div>

<script type="text/javascript">
    $(document).ready(function () {
        var sDetails = document.getElementById("sDetails").checked;
        if (sDetails) {
            document.getElementById('studentDetails').style.display = 'inline';
        }
    })


</script>