@model List<AsteriskBrowserAL.Models.VehicleRoutePointViewModel>
@{
    ViewBag.Title = "TransportStudentsPartialView";

    int nSNo = 1;

}

@if (null != Model && Model.Count() > 0)
{
    <div class="hr hr-18 dotted hr-double"></div>

        <div class="table-header">
            Records Found (@Model.Count())
            <div style="float:right">

                <button class="btn btn-info btn-xs" id="btnExport">
                    <i class="ace-icon fa fa-share bigger-180"></i>

                </button>

            </div>
            </div>
        <!-- /.box-header -->
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <table class="table tbhover table-striped table-bordered dynamic-table" id="tbStudents">
            <thead>
                <tr>
                    <th>
                       S.No.
                    </th>
                    <th>
                        @Html.DisplayName("Student Name")
                    </th>

                    <th>
                        @Html.DisplayName("Roll Number")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nSNo++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.RollNumber)
                        </td>

                    </tr>

                }
            </tbody>

        </table>

 
}
else
{
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="col-xs-12">
        <span style="font-weight:bold;color:red">No records found</span>
    </div>
}

<script type="text/javascript">

    $("#btnExport").click(function (e) {
        ExportToExcel('tbStudents');
    });

    function PrintElem(elem) {

        Popup($(elem).html());
    }
 
</script>




