@model AsteriskBrowserAL.Models.ItemModel

@{
    ViewBag.Title = "Create Item";
}

<style>
    .field-validation-error {
        color: red;
        font-weight: bold;
    }
</style>

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Stores
        </li>
        <li>
            <i class=""></i>
            Master Data
        </li>
        <li class="active">Item</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
       <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("ItemC", "SMasterData", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <input type="hidden" name="InventorySubCategoryItemTypeId" id="InventorySubCategoryItemTypeId" value="@(Model.InventorySubCategoryItemTypeId.HasValue ? Model.InventorySubCategoryItemTypeId.Value : 0)" />
                @Html.HiddenFor(model => model.CategoryId)
                @Html.HiddenFor(model => model.SubCategoryId)
                @Html.HiddenFor(model => model.InventorySubCategoryItemTypeId)
                
                @Html.HiddenFor(model => model.SKUNumber)

                <span style="color:red;font-weight:bold;" id="Validation"></span>
                <div class="box">
                  
                    <div class="box-header">
                        <div class="page-header">
                            <br />
                            <h1>
                           Item
                            <small style="float:right;">
                             @Html.ActionLink("Back to details", "Item",new { CategoryId=@Model.CategoryId, SubCategoryId=@Model.SubCategoryId, ItemGroupId=@Model.InventorySubCategoryItemTypeId })
                          </small>
                            </h1>
                        </div>
                   
                    </div>
                 
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Code")</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.SKUCode, new { @class = "form-control textlength", @readonly = "readonly", @id = "Code", placeholder = "Code" })
                                </div>
                                <span class="col-sm-3" style="color:red;font-weight:bold;" id="CodeVal">
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Item Name")</label>

                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control textlength", @id = "ItemName", @maxlength = "40", placeholder = "Item Name" })
                                </div>

                                <span class="col-sm-3" style="color:red;font-weight:bold;" id="ItemNameVal">
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("UOM")</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.UOM, new { @class = "form-control textlength txtboxNum", @id = "UOM", @maxlength = "3", placeholder = "UOM" })
                                </div>
                                <span class="col-sm-3" style="color:red;font-weight:bold;" id="UOMVal">
                                </span>
                            </div>


                            <div class="hr hr-18 dotted hr-double"></div>
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                                    <i class="ace-icon fa fa-check bigger-50"></i>
                                    Save
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-50"></i>
                                    Reset
                                </button>
                            </div>

</form>
                </div>

            }
        </div>

    </div>
</section>

<script type="text/javascript">
    function validateItem() {

        var ItemName = document.getElementById("ItemName").value;
        var UOM = document.getElementById("UOM").value;
        validate = true;
        if (ItemName == "") {
            document.getElementById("ItemNameVal").innerHTML = "Please enter name";
            validate = false;
        }

        if (UOM == "" || UOM < 1) {
            document.getElementById("UOMVal").innerHTML = "Please enter UOM";
            validate = false;
        }

        if (validate == true) {
            validate = IsNameExists();
           
        }

        return validate;
    };
    
      
        
    function submitForm() {

        var validatestatus = validateItem();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }

        
    };
   
    $('#ItemName').focus(function () {
        document.getElementById("ItemNameVal").innerHTML = "";
    });

    $('#UOM').focus(function () {
        document.getElementById("UOMVal").innerHTML = "";
    });

    function IsNameExists() {
        var val = true;
        $.ajax({

            url: '/SMasterData/IsItemNameExists/',
            data: { Type: "New", Id: 0, ItemName: document.getElementById("ItemName").value, ItemgroupId: $('#SelGroupId').val() },
            success: function (data) {

                if (data != "") {
                    document.getElementById("Validation").innerHTML = data;
                    val = false;
                }
            },
            async: false
        });

        return val;
    }
   

</script>









