@model List<AsteriskBrowserAL.Models.ItemModel>

@if (null != Model)
{
    int nsno = 1;

    if (Model.Count() > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5 class="widget-title"></h5>

                    <div class="widget-toolbar no-border">
                        <div class="inline dropdown-hover">
                        </div>
                    </div>
                </div>
                <div class="table-header">
                    Records Found (@Model.Count())
                </div>

                <div style="overflow:auto;height:500px;">
                    <table class="table tbhover table-striped table-bordered dynamic-table">
                        <thead>
                            <tr>
                                <th>
                                   S.No.
                                </th>
                                <th>
                                    @Html.DisplayName("Item Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Quantity")
                                </th>
                                <th>
                                    @Html.DisplayName("Price/Item")
                                </th>
                                <th>
                                    @Html.DisplayName("Total Price")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @(nsno++)
                            </td>
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.ItemPrice
                            </td>
                            <td>
                                @item.TotalKitItemPrice
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    </div>
                </div>
        </div>
    }
    else
    {
        <span style="color: red;"><b>No items recieved</b></span>
    }

}




