@model AsteriskBrowserAL.Models.StockEntryViewModel

@{
    ViewBag.Title = "Stock Entry";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Stores
        </li>
        <li>
            <i class=""></i>
            Master Data
        </li>
        <li class="active">Stock Entry</li>
    </ul><!-- /.breadcrumb -->
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->

@Html.Action("DatePickerScripts", "Base")

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("StockEntry", "SMasterData", FormMethod.Post))
            {
                if (null != Model)
                {
                    <input type="hidden" id="Status" value="@Model.Status" />
                }
                else
                {
                    <input type="hidden" id="Status" value="false" />
                }
                <span style="color:red;font-weight:bold;" id="Validation"></span>
                <br />
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Stock Entry
                        </h5>

                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <a href="/SMasterData/StockEntryE" class="green P2"><i class="ace-icon fa fa-pencil-square-o  bigger-130"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">DC Number</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("LotNumber", "", new { @class = "form-control txtlength" })

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="col-xs-5 control-label no-padding-right" for="form-field-1">Date</label>
                                <div class="col-xs-6">
                                    <div id="datepicker" class="input-group date">
                                        <input class="form-control" type="text" value="@DateTime.Today.ToShortDateString()" disabled="disabled" id="StockEntryDate" name="StockEntryDate" autocomplete="off" placeholder="Stock Entry Date" />
                                        <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Sub Category</label>
                                <div class="col-sm-6">
                                    @if (null != Model)
                                    {
                                        if (null != Model.lstSubCategories)
                                        {
                                            @Html.DropDownListFor(model => model.SubCategoryId, new SelectList(Model.lstSubCategories, "InventorySubCategoryId", "SubCategoryName"), "--- Select ---", new { @class = "form-control", id = "SubCategoryId" })
                                        }
                                        else
                                        {
                                            <select id="SubCategoryId" style="width:200px;" class="form-control"></select>
                                        }
                                    }
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>

                <div id="items"></div>
            }
        </div>
    </div>
</section>

<script>
    var Content = "";

    $(document).ready(function () {
        debugger
        $('#SubCategoryId').val(null);
        $('#LotNumber').val("");

        var Status = $('#Status').val();

        if (Status == "value") {
            OpenDialog("Data Saved", "", "Stock Entry");
        }


    });

    $('#SubCategoryId').change(function () {

        document.getElementById("Validation").innerHTML = "";
        var SubCategoryId = $('#SubCategoryId').val();

        if (SubCategoryId != "" || SubCategoryId == "null" || SubCategoryId == null) {
            $.ajax({

                url: '/SMasterData/GetItemsForStockEntry',
                data: { SubCategoryId: SubCategoryId },
                beforeSend: function () {
                    $('#imagemodal').show();
                },
                success: function (data) {
                    $('#items').html(data);
                }
            }).done(function () {
                $('#imagemodal').hide();
            });
        }
        else {
            $('#items').html("");
        }
    });



    function SubmitForm() {
        var valid = true;
        var LotNumber = $('#LotNumber').val();

        if (LotNumber == "") {
            document.getElementById("Validation").innerHTML = "Please enter lot number";
            valid = false;
        }
        else {
            var Quantity = 0;

            // Get table object
            var myTable = document.getElementById("mytab1");

            // loop for each row
            for (var r = 1, n = myTable.rows.length; r < n; r++) {
                var dValue = myTable.rows[r].cells[5].children[0].value;
                Quantity += dValue;
            }

            if (Quantity == 0) {
                valid = false;
                document.getElementById('Validation').innerHTML = "Please enter quantity";
            }

            if (valid == true) {
                valid = IsLotNumberExists();
            }
        }

        return valid;
    }

    function IsLotNumberExists() {
        var val = true;
        $.ajax({

            url: '/SMasterData/IsLotNumberExists/',
            data: { LotNumber: $('#LotNumber').val() },
            success: function (data) {

                if (data != "") {
                    document.getElementById("Validation").innerHTML = data;
                    val = false;
                }
            },
            async: false
        });

        return val;
    }

    $('#LotNumber').focus(function () {
        document.getElementById("Validation").innerHTML = "";
    });

</script>




