@model List<AsteriskBrowserAL.Models.ItemModel>

@{
    int nSno = 1;
}



@if (null != Model)
{
    <div class="hr hr-18 dotted hr-double"></div>
    <div class="table-header">
        Records Found (@Model.Count())
        <div style="float:right;">
            <div class="widget-toolbar no-border">
                <div class="inline action-buttons">
                    <button type="submit" onclick="return SubmitForm()" class="btn btn-info btn-xs P2">
                        <i class="ace-icon fa fa-floppy-o bigger-180"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style="overflow:auto;height:400px;">
        <table id="mytab1" class="table tbhover table-striped table-bordered dynamic-table" style="font-size:14px;">
            <thead>
                <tr>
                    <th>@("S.No")</th>
                    <th>
                        @Html.DisplayName("Sub Category")
                    </th>
                    <th>
                        @Html.DisplayName("Item Name")
                    </th>
                    <th>
                        @Html.DisplayName("SKU Code")
                    </th>
                    <th class="centerAlign">
                        @Html.DisplayName("Existing Quantity")
                    </th>
                    <th>
                        @Html.DisplayName("Stock Entered")
                    </th>
                    <th>
                        @Html.DisplayName("Ready to Transfer")
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        @Html.Hidden("lstItem.Index", (@i))
                        @Html.Hidden("lstItem[" + @i + "].InventorySubCategoryItemId", Model.ElementAt(i).InventorySubCategoryItemId)
                        @Html.Hidden("lstItem[" + @i + "].InventoryItemQuantityId", Model.ElementAt(i).InventoryItemQuantityId)
                        @Html.Hidden("lstItem[" + @i + "].ItemName", Model.ElementAt(i).ItemName)
                        @Html.Hidden("lstItem[" + @i + "].SKUCode", Model.ElementAt(i).SKUCode)
                        @Html.Hidden("lstItem[" + @i + "].Quantity", Model.ElementAt(i).Quantity)

                        <td>
                            @(nSno++)
                        </td>
                        <td>
                            @Model.ElementAt(i).SubCatgeoryName
                        </td>
                        <td>
                            @Model.ElementAt(i).ItemName
                        </td>
                        <td>
                            @Model.ElementAt(i).SKUCode
                        </td>
                        <td class="centerAlign">
                            @Model.ElementAt(i).BalanceStockInStore
                        </td>
                        <td>
                            @Html.TextBox("lstItem[" + @i + "].StockEntered", Model.ElementAt(i).StockEntered, new { @class = "form-control textlength txtboxNum", @min = "0", @maxlength = "7", @max = "100000", @style = "width:180px" })
                        </td>

                        <td>
                            @Html.CheckBox("lstItem[" + @i + "].IsReadyToTransfer", Model.ElementAt(i).IsReadyToTransfer, new { @class = "form-control" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

}
else
{
    <div class="hr hr-18 dotted hr-double"></div>
    <div class="table-header">
        Records Found (0)
    </div>
}
@Html.Action("DataTableScripts", "Base", new { IsPaging = false })


<script>
    $('#Search').keyup(function () {
        searchTable($(this).val());
    });

    function searchTable(inputVal) {
        var i = 1;
        var table = $('#mytab1');
        tablerow = "";
        table.find('tr').each(function (index, row) {
            var allCells = $(row).find('td');

            if (allCells.length != 0) {
                var found = false;
                allCells.each(function (index, td) {
                    if (index != 0 && index != 1) {
                        var regExp = new RegExp(inputVal, 'i');
                        if (regExp.test($(td).text())) {
                            found = true;
                            return false;
                        }
                    }
                });

                if (found == true) {
                    $(row).show();
                    $(row).find("td:first").html(parseInt(i));
                    i = i + 1;

                    var rowcells = $(row).find('td');

                    tablerow += "<tr style='font-family:'''Segoe UI''';'>";

                    rowcells.each(function (index, td) {
                        tablerow += "<td>" + $(td).text() + "</td>"
                    });
                    tablerow += "</tr>"
                }
                else $(row).hide(row);
            }
        });

    }
</script>
