 @model IEnumerable<AsteriskBrowserAL.Models.ApplicationViewModel>
@{
    ViewBag.Title = "Registration Details";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Front Office
        </li>
        <li class="active">Admission</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">
    
    <br />


    @if (Model != null)
    {
        if (Model.Count() < 0)
        { 
            <span style="">Data not available</span>
        }
        else
        {
            int nsno = 1;
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Registration Details</h3>
                        </div><!-- /.box-header -->

                        <div class="box-body table-responsive no-padding">
                            <div>
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>
                                               S.No.
                                            </th>
                                            <th>
                                                @Html.DisplayName("Student")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Registration Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Registration Number")
                                            </th>
                                            
                                            <th>
                                                @Html.DisplayName("Father Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Mobile Number")
                                            </th>

                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>    
                                                <td>
                                                    @(nsno++)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FirstName)
                                                </td>
                                                <td>
                                                    @if (item.ApplicationDate.HasValue)
                                                    {
                                                        @item.ApplicationDate.Value.ToString("dd - MMM - yyyy")

                                                    }
                                                    else
                                                    {

                                                    }
                                                </td>

                                                <td>
                                                   
                                                    @Html.DisplayFor(modelItem => item.ApplicationNumber)
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FatherName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FatherMobileNumber)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Admission", "Admission", new {})  
                                                </td>
                                               

                                               
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    }
   
</section>
