@model List<AsteriskBrowserAL.Models.StudentDetailsData>
@{

    @functions{
        private void GetProperties(ref string fontSize, ref string strTop, int nLen)
        {
            if (nLen > 17)
            {
                if (nLen > 23)
                {
                    fontSize = "14px";
                    strTop = "47%";
                }
                else
                {
                    fontSize = "17px";
                    strTop = "46%";
                }
            }
            else
            {
                fontSize = "20px";
                strTop = "46%";
            }
        }
    }

    int n = 0;

    string fontSize = "0px";
    int nLength = 0;
    string strTop = "0%";
}

<body>
    <div id="Hello">

        @if (null != Model && Model.Count() > 0)
        {
            var data = Model.OrderBy(o => o.ClassNumber).ToList();

            for (int i = 0; i < data.Count; i += 4)
            {
                n++;

                var StudentsData = data.Skip(i).Take(4).ToList();

                if (i == 0 || n == 1)
                {
                    <br />
                    <br />
                    <br />
                    //if (n == 3)
                    //{

                    //}
                }

                <table style="font-family:'Segoe UI';font-weight: bold;color:white" border="0" cellspacing="0" cellpadding="0">

                    <tr>

                        <td style="padding-left: 0px;position: relative; left: 0; top: 0;">

                            @if (StudentsData.ElementAt(0).ClassNumber == 21 || StudentsData.ElementAt(0).ClassNumber == 22 || StudentsData.ElementAt(0).ClassNumber == 23)
                            {
                                <img src="~/Content/images/Kids1.png" height="466" width="344" style="position: relative;top: 0;left: 0;margin-left:-29px;margin-top:-25px;" />

                                if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(0).Photo))
                                {
                                    <img src="@StudentsData.ElementAt(0).Photo" style="position: absolute;top: 113px;left: 102px;border-radius:50%;width: 118px;height: 118px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 113px;left: 102px;border-radius:50%;width: 118px;height: 118px;" />
                                }

                                if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(0).Name))
                                {
                                    if (StudentsData.ElementAt(0).Name.Length > 24)
                                    {
                                        <div style="position: absolute;top: 57%;left: 0%;right:4%;font-size:12px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(0).Name</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(0).Name</p>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                        <p style="text-align:center">@StudentsData.ElementAt(0).Name</p>
                                    </div>
                                }

                                <div style="position: absolute;top: 62.1%;left: 42%;font-size:12px;">
                                    <p>@StudentsData.ElementAt(0).AdmissionNumber</p>
                                </div>
                                <div style="position: absolute;top: 65.5%;left: 42%;font-size:12px;">
                                    <p>@StudentsData.ElementAt(0).ClassName</p>
                                </div>
                                <div style="position: absolute;top: 68.7%;left: 42%;font-size:12px;">
                                    <p>@StudentsData.ElementAt(0).DateofBirthDisplay</p>
                                </div>

                                if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(0).FatherName))
                                {
                                    if (StudentsData.ElementAt(0).FatherName.Length > 21)
                                    {
                                        <div style="position: absolute;top: 73%;left: 42%;font-size:10px;">
                                            <p>@StudentsData.ElementAt(0).FatherName</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 72.3%;left: 42%;font-size:12px;">
                                            <p>@StudentsData.ElementAt(0).FatherName</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="position: absolute;top: 72.3%;left: 42%;font-size:12px;">
                                        <p></p>
                                    </div>
                                }

                                <div style="position: absolute;top: 75.8%;left: 42%;font-size:12px;">
                                    <p>@StudentsData.ElementAt(0).MobileNumber</p>
                                </div>

                                <div style="position: absolute;top: 81%;left: 7.8%;right:12%;bottom:2% ;font-size:10px;color:black">
                                    <p style="text-align:center;line-height:120%">@StudentsData.ElementAt(0).BranchAddress &nbsp;|&nbsp; Tel: @StudentsData.ElementAt(0).BranchTelephoneNum</p>
                                </div>
                            }
                            else
                            {
                                <img src="~/Content/images/IdCard1.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-29px;margin-top:-25px;" />

                                if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(0).Photo))
                                {
                                    <img src="@StudentsData.ElementAt(0).Photo" style="position: absolute;top: 54px;left: 74px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 54px;left: 74px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                }

                                if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(0).Name))
                                {
                                    nLength = StudentsData.ElementAt(0).Name.Length;

                                    GetProperties(ref fontSize, ref strTop, nLength);

                                    <div style="position: absolute;top:@(strTop);left: 0%;right:4%;font-size:@(fontSize);">
                                        <p style="text-align:center">@StudentsData.ElementAt(0).Name</p>
                                    </div>
                                }
                                else
                                {
                                    <div style="position: absolute;top: 46%;left: 0%;right:4%;font-size:20px;">
                                        <p style="text-align:center">@StudentsData.ElementAt(0).Name</p>
                                    </div>
                                }





                                <div style="position: absolute;top: 55%;left: 42%;font-size:16px;">
                                    <p>@StudentsData.ElementAt(0).AdmissionNumber</p>
                                </div>
                                <div style="position: absolute;top: 60%;left: 42%;font-size:16px;">
                                    <p>@StudentsData.ElementAt(0).ClassName</p>
                                </div>
                                <div style="position: absolute;top: 64.5%;left: 42%;font-size:16px;">
                                    <p>@StudentsData.ElementAt(0).DateofBirthDisplay</p>
                                </div>

                                if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(0).FatherName))
                                {
                                    if (StudentsData.ElementAt(0).FatherName.Length > 13)
                                    {
                                        <div style="position: absolute;top: 70.5%;left: 42%;font-size:12px;">
                                            <p>@StudentsData.ElementAt(0).FatherName</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 69.2%;left: 42%;font-size:16px;">
                                            <p>@StudentsData.ElementAt(0).FatherName</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="position: absolute;top: 69.2%;left: 42%;font-size:16px;">
                                        <p></p>
                                    </div>
                                }

                                <div style="position: absolute;top: 74%;left: 42%;font-size:16px;">
                                    <p>@StudentsData.ElementAt(0).MobileNumber</p>
                                </div>

                                <div style="position: absolute;top: 80%;left: 7.8%;right:12%;bottom:2% ;font-size:14px;">
                                    <p style="text-align:left;line-height:100%">@StudentsData.ElementAt(0).BranchAddress</p>
                                    <p style="text-align:center;margin-top:-12px;">Tel: @StudentsData.ElementAt(0).BranchTelephoneNum</p>
                                </div>



                            }

                        </td>




                        <td style="padding-left: 0px;position: relative; left: 0; top: 0;">
                            @if (StudentsData.ElementAtOrDefault(1) != null)
                            {
                                if (StudentsData.ElementAt(1).ClassNumber == 21 || StudentsData.ElementAt(1).ClassNumber == 22 || StudentsData.ElementAt(1).ClassNumber == 23)
                                {
                                    <img src="~/Content/images/Kids1.png" height="466" width="344" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;" />

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(1).Photo))
                                    {
                                        <img src="@StudentsData.ElementAt(1).Photo" style="position: absolute;top: 113px;left: 76.6px;border-radius:50%;width: 118px;height: 118px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 113px;left: 76.6px;border-radius:50%;width: 118px;height: 118px;" />
                                    }

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(1).Name))
                                    {
                                        if (StudentsData.ElementAt(1).Name.Length > 24)
                                        {
                                            <div style="position: absolute;top: 57%;left: -10%;right:4%;font-size:12px;">
                                                <p style="text-align:center">@StudentsData.ElementAt(1).Name</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                                <p style="text-align:center">@StudentsData.ElementAt(1).Name</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(1).Name</p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 62.1%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(1).AdmissionNumber</p>
                                    </div>
                                    <div style="position: absolute;top: 65.5%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(1).ClassName</p>
                                    </div>
                                    <div style="position: absolute;top: 68.7%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(1).DateofBirthDisplay</p>
                                    </div>

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(1).FatherName))
                                    {
                                        if (StudentsData.ElementAt(1).FatherName.Length > 21)
                                        {
                                            <div style="position: absolute;top: 73%;left: 37.3%;font-size:10px;">
                                                <p>@StudentsData.ElementAt(1).FatherName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 72.3%;left: 37.3%;font-size:12px;">
                                                <p>@StudentsData.ElementAt(1).FatherName</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 72.3%;left: 37.3%;font-size:12px;">
                                            <p></p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 75.8%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(1).MobileNumber</p>
                                    </div>

                                    <div style="position: absolute;top: 81%;left: -1%; right:40px;bottom:2% ;font-size:10px;color:black">
                                        <p style="text-align:center;line-height:120%">@StudentsData.ElementAt(1).BranchAddress &nbsp;|&nbsp; Tel: @StudentsData.ElementAt(1).BranchTelephoneNum</p>
                                    </div>
                                }
                                else
                                {
                                    <img src="~/Content/images/IdCard1.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;" />

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(1).Photo))
                                    {
                                        <img src="@StudentsData.ElementAt(1).Photo" style="position: absolute;top: 54px;left: 49px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 54px;left: 49px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                    }

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(1).Name))
                                    {
                                        nLength = StudentsData.ElementAt(1).Name.Length;

                                        GetProperties(ref fontSize, ref strTop, nLength);

                                        <div style="position: absolute;top:@(strTop);left: -10%;right:4%;font-size:@(fontSize);">
                                            <p style="text-align:center">@StudentsData.ElementAt(1).Name</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 46%;left: -10%;right:4%;font-size:20px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(1).Name</p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 55%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(1).AdmissionNumber</p>
                                    </div>
                                    <div style="position: absolute;top: 60%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(1).ClassName</p>
                                    </div>
                                    <div style="position: absolute;top: 64.5%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(1).DateofBirthDisplay</p>
                                    </div>

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(1).FatherName))
                                    {
                                        if (StudentsData.ElementAt(1).FatherName.Length > 13)
                                        {
                                            <div style="position: absolute;top: 70.5%;left: 37%;font-size:12px;">
                                                <p>@StudentsData.ElementAt(1).FatherName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 69.2%;left: 37%;font-size:16px;">
                                                <p>@StudentsData.ElementAt(1).FatherName</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 69.2%;left: 37%;font-size:16px;">
                                            <p></p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 74%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(1).MobileNumber</p>
                                    </div>

                                    <div style="position: absolute;top: 80%;left: 0%; right:40px;bottom:2% ;font-size:14px;">
                                        <p style="text-align:left;line-height:100%">@StudentsData.ElementAt(1).BranchAddress</p>
                                        <p style="text-align:center;margin-top:-12px;">Tel: @StudentsData.ElementAt(1).BranchTelephoneNum</p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div style="height:451px;width:347px;clear:both;top: 0;left: 0;margin-left:-54px;margin-top:-25px;"></div>
                            }


                        </td>


                        <td style="padding-left: 0px;position: relative;left: 0; top: 0;">
                            @if (StudentsData.ElementAtOrDefault(2) != null)
                            {
                                if (StudentsData.ElementAt(2).ClassNumber == 21 || StudentsData.ElementAt(2).ClassNumber == 22 || StudentsData.ElementAt(2).ClassNumber == 23)
                                {
                                    <img src="~/Content/images/Kids1.png" height="466" width="344" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;" />
                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(2).Photo))
                                    {
                                        <img src="@StudentsData.ElementAt(2).Photo" style="position: absolute;top: 113px;left: 76.6px;border-radius:50%;width: 118px;height: 118px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 113px;left: 76.6px;border-radius:50%;width: 118px;height: 118px;" />
                                    }

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(2).Name))
                                    {
                                        if (StudentsData.ElementAt(2).Name.Length > 24)
                                        {
                                            <div style="position: absolute;top: 57%;left: -10%;right:4%;font-size:12px;">
                                                <p style="text-align:center">@StudentsData.ElementAt(2).Name</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                                <p style="text-align:center">@StudentsData.ElementAt(2).Name</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(2).Name</p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 62.1%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(2).AdmissionNumber</p>
                                    </div>
                                    <div style="position: absolute;top: 65.5%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(2).ClassName</p>
                                    </div>
                                    <div style="position: absolute;top: 68.7%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(2).DateofBirthDisplay</p>
                                    </div>

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(2).FatherName))
                                    {
                                        if (StudentsData.ElementAt(2).FatherName.Length > 21)
                                        {
                                            <div style="position: absolute;top: 73%;left: 37.3%;font-size:10px;">
                                                <p>@StudentsData.ElementAt(2).FatherName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 72.3%;left: 37.3%;font-size:12px;">
                                                <p>@StudentsData.ElementAt(2).FatherName</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 72.3%;left: 37.3%;font-size:12px;">
                                            <p></p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 75.8%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(2).MobileNumber</p>
                                    </div>

                                    <div style="position: absolute;top: 81%;left: -1%; right:40px;bottom:2% ;font-size:10px;color:black">
                                        <p style="text-align:center;line-height:120%">@StudentsData.ElementAt(2).BranchAddress &nbsp;|&nbsp; Tel: @StudentsData.ElementAt(2).BranchTelephoneNum</p>
                                    </div>
                                }
                                else
                                {
                                    <img src="~/Content/images/IdCard1.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;" />
                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(2).Photo))
                                    {
                                        <img src="@StudentsData.ElementAt(2).Photo" style="position: absolute;top: 54px;left: 49px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 54px;left: 49px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                    }

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(2).Name))
                                    {
                                        nLength = StudentsData.ElementAt(2).Name.Length;

                                        GetProperties(ref fontSize, ref strTop, nLength);

                                        <div style="position: absolute;top:@(strTop);left: -10%;right:4%;font-size:@(fontSize);">
                                            <p style="text-align:center">@StudentsData.ElementAt(2).Name</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 46%;left: -10%;right:4%;font-size:20px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(2).Name</p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 55%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(2).AdmissionNumber</p>
                                    </div>
                                    <div style="position: absolute;top: 60%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(2).ClassName</p>
                                    </div>
                                    <div style="position: absolute;top: 64.5%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(2).DateofBirthDisplay</p>
                                    </div>
                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(2).FatherName))
                                    {
                                        if (StudentsData.ElementAt(2).FatherName.Length > 13)
                                        {
                                            <div style="position: absolute;top: 70.5%;left: 37%;font-size:12px;">
                                                <p>@StudentsData.ElementAt(2).FatherName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 69.2%;left: 37%;font-size:16px;">
                                                <p>@StudentsData.ElementAt(2).FatherName</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 69.2%;left: 37%;font-size:16px;">
                                            <p></p>
                                        </div>
                                    }
                                    <div style="position: absolute;top: 74%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(2).MobileNumber</p>
                                    </div>

                                    <div style="position: absolute;top: 80%;left: 0%; right:40px;bottom:2% ;font-size:14px;">
                                        <p style="text-align:left;line-height:100%">@StudentsData.ElementAt(2).BranchAddress</p>
                                        <p style="text-align:center;margin-top:-12px;">Tel: @StudentsData.ElementAt(2).BranchTelephoneNum</p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div style="height:451px;width:347px;clear:both;top: 0;left: 0;margin-left:-54px;margin-top:-25px;"></div>
                            }
                        </td>


                        <td style="padding-left: 0px;position: relative; left: 0; top: 0;">
                            @if (StudentsData.ElementAtOrDefault(3) != null)
                            {
                                if (StudentsData.ElementAt(3).ClassNumber == 21 || StudentsData.ElementAt(3).ClassNumber == 22 || StudentsData.ElementAt(3).ClassNumber == 23)
                                {
                                    <img src="~/Content/images/Kids1.png" height="466" width="344" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;display:block;" />
                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(3).Photo))
                                    {
                                        <img src="@StudentsData.ElementAt(3).Photo" style="position: absolute;top: 113px;left: 76.6px;border-radius:50%;width: 118px;height: 118px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 113px;left: 76.6px;border-radius:50%;width: 118px;height: 118px;" />
                                    }

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(3).Name))
                                    {
                                        if (StudentsData.ElementAt(3).Name.Length > 24)
                                        {
                                            <div style="position: absolute;top: 57%;left: -10%;right:4%;font-size:12px;">
                                                <p style="text-align:center">@StudentsData.ElementAt(3).Name</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                                <p style="text-align:center">@StudentsData.ElementAt(3).Name</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 56%;left: 0%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(3).Name</p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 62.1%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(3).AdmissionNumber</p>
                                    </div>
                                    <div style="position: absolute;top: 65.5%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(3).ClassName</p>
                                    </div>
                                    <div style="position: absolute;top: 68.7%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(3).DateofBirthDisplay</p>
                                    </div>

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(3).FatherName))
                                    {
                                        if (StudentsData.ElementAt(3).FatherName.Length > 21)
                                        {
                                            <div style="position: absolute;top: 73%;left: 37.3%;font-size:10px;">
                                                <p>@StudentsData.ElementAt(3).FatherName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 72.3%;left: 37.3%;font-size:12px;">
                                                <p>@StudentsData.ElementAt(3).FatherName</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 72.3%;left: 37.3%;font-size:12px;">
                                            <p></p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 75.8%;left: 37.3%;font-size:12px;">
                                        <p>@StudentsData.ElementAt(3).MobileNumber</p>
                                    </div>

                                    <div style="position: absolute;top: 81%;left: -1%; right:40px;bottom:2% ;font-size:10px;color:black">
                                        <p style="text-align:center;line-height:120%">@StudentsData.ElementAt(3).BranchAddress &nbsp;|&nbsp; Tel: @StudentsData.ElementAt(3).BranchTelephoneNum</p>
                                    </div>
                                }
                                else
                                {
                                    <img src="~/Content/images/IdCard1.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;display:block;" />
                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(3).Photo))
                                    {
                                        <img src="@StudentsData.ElementAt(3).Photo" style="position: absolute;top: 54px;left: 49px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 54px;left: 49px;border-radius:30px;padding: 20px;width: 118px;height: 137px;" />
                                    }

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(3).Name))
                                    {
                                        nLength = StudentsData.ElementAt(3).Name.Length;

                                        GetProperties(ref fontSize, ref strTop, nLength);

                                        <div style="position: absolute;top:@(strTop);left: -10%;right:4%;font-size:@(fontSize);">
                                            <p style="text-align:center">@StudentsData.ElementAt(3).Name</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 46%;left: -10%;right:4%;font-size:20px;">
                                            <p style="text-align:center">@StudentsData.ElementAt(3).Name</p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 55%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(3).AdmissionNumber</p>
                                    </div>
                                    <div style="position: absolute;top: 60%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(3).ClassName</p>
                                    </div>
                                    <div style="position: absolute;top: 64.5%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(3).DateofBirthDisplay</p>
                                    </div>

                                    if (!string.IsNullOrWhiteSpace(StudentsData.ElementAt(3).FatherName))
                                    {
                                        if (StudentsData.ElementAt(3).FatherName.Length > 13)
                                        {
                                            <div style="position: absolute;top: 70.5%;left: 37%;font-size:12px;">
                                                <p>@StudentsData.ElementAt(3).FatherName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="position: absolute;top: 69.2%;left: 37%;font-size:16px;">
                                                <p>@StudentsData.ElementAt(3).FatherName</p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 69.2%;left: 37%;font-size:16px;">
                                            <p></p>
                                        </div>
                                    }

                                    <div style="position: absolute;top: 74%;left: 37%;font-size:16px;">
                                        <p>@StudentsData.ElementAt(3).MobileNumber</p>
                                    </div>

                                    <div style="position: absolute;top: 80%;left: 0%; right:40px;bottom:2% ;font-size:14px;">
                                        <p style="text-align:left;line-height:100%">@StudentsData.ElementAt(3).BranchAddress</p>
                                        <p style="text-align:center;margin-top:-12px;">Tel: @StudentsData.ElementAt(3).BranchTelephoneNum</p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div style="height:451px;width:347px;clear:both;top: 0;left: 0;margin-left:-54px;margin-top:-25px;display:block;"></div>
                            }
                        </td>
                    </tr>
                </table>

                if (n == 3 && data.Count > (i + 4))
                {
                    n = 0;

                    <div style="page-break-after: always;">
                    </div>
                }

            }
        }
        else
        {
            <span style="color:red;font-weight:bold">Students not available</span>
        }


    </div>

</body>




<script>
    function onloadData() {

        PrintElem('#Hello');
    }

    window.onload = onloadData();

    function PrintElem(elem) {

        Popup(document.getElementById("Hello").innerHTML)
    }

    function Popup(data) {

        var mywindow = window.open('', 'my div', 'size=potrait');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');


        var is_chrome = Boolean(mywindow.chrome);

        if (is_chrome) {
            setTimeout(function () { // wait until all resources loaded
                mywindow.document.close();
                mywindow.focus();

                //if ($.browser.mozilla) {
                //    mywindow.printpreview();
                //}
                //else {
                mywindow.print();
                //}
                mywindow.close();
                window.location.href = "/AFrontOffice/GenerateStudentIdCards";

            }, 2050);
        } else {
            mywindow.document.close();
            mywindow.focus();
            //if ($.browser.mozilla) {
            //    mywindow.printpreview();
            //}
            //else {
            mywindow.print();
            //}
            mywindow.close();
            window.location.href = "/AFrontOffice/GenerateStudentIdCards";

        }

        return true;
    }
</script>

