@model List<AsteriskBrowserAL.Models.StaffData>
@{
    int n = 0;
}

<body>
    <div id="Hello">

        @if (null != Model && Model.Count() > 0)
        {
            var data = Model.OrderBy(o => o.ClassNumber).ToList();

            for (int i = 0; i < data.Count; i += 4)
            {
                n++;

                var StaffData = data.Skip(i).Take(4).ToList();

                if (i == 0 || n == 1)
                {
                    <br />
                    <br />
                    <br />
                }

                <table style="font-family:'Segoe UI';font-weight: bold;color:black" border="0" cellspacing="0" cellpadding="0">

                    <tr>

                        <td style="padding-left: 0px;position: relative; left: 0; top: 0;">

                            <img src="~/Content/images/StaffIdCard.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-29px;margin-top:-25px;" />

                            @if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(0).Photo))
                            {
                                <img src="@StaffData.ElementAt(0).Photo" style="position: absolute;top: 74px;left: 68px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                            }
                            else
                            {
                                <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 74px;left: 68px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                            }

                            @if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(0).StaffName))
                            {
                                if (StaffData.ElementAt(0).StaffName.Length > 17)
                                {
                                    <div style="position: absolute;top: 52%;left: -10%;right:4%;font-size:17px;">
                                        <p style="text-align:center">@StaffData.ElementAt(0).StaffName</p>
                                    </div>
                                }
                                else
                                {
                                    <div style="position: absolute;top: 51%;left: -3%;right:4%;font-size:20px;">
                                        <p style="text-align:center">@StaffData.ElementAt(0).StaffName</p>
                                    </div>
                                }

                            }
                            else
                            {
                                <div style="position: absolute;top: 51%;left: -3%;right:4%;font-size:20px;">
                                    <p style="text-align:center">@StaffData.ElementAt(0).StaffName</p>
                                </div>
                            }

                            <div style="position: absolute;top: 64.9%;left: 46%;font-size:16px;">
                                <p>@StaffData.ElementAt(0).EmployeeNumber</p>
                            </div>
                            <div style="position: absolute;top: 60%;left: 46%;font-size:16px;">
                                <p>@StaffData.ElementAt(0).DepartmentName</p>
                            </div>

                            <div style="position: absolute;top: 69.5%;left: 46%;font-size:16px;">
                                <p>@StaffData.ElementAt(0).MobileNumber</p>
                            </div>

                            <div style="color:white ;position: absolute;top: 80.6%;left: 7.8%;right:12%;bottom:2% ;font-size:14px;">
                                <p style="text-align:left;line-height:100%">@StaffData.ElementAt(0).BranchAddress</p>
                                <p style="text-align:center;margin-top:-12px;">Tel: @StaffData.ElementAt(0).BranchTelephoneNum</p>
                            </div>

                        </td>

                        <td style="padding-left: 0px;position: relative; left: 0; top: 0;">
                            @if (StaffData.ElementAtOrDefault(1) != null)
                            {

                                <img src="~/Content/images/StaffIdCard.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;" />

                                if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(1).Photo))
                                {
                                    <img src="@StaffData.ElementAt(1).Photo" style="position: absolute;top: 74px;left: 43.8px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 74px;left: 43.8px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                                }

                                if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(1).StaffName))
                                {
                                    if (StaffData.ElementAt(1).StaffName.Length > 17)
                                    {
                                        <div style="position: absolute;top: 52%;left: -10%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StaffData.ElementAt(1).StaffName</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 51%;left: -10%;right:4%;font-size:20px;">
                                            <p style="text-align:center">@StaffData.ElementAt(1).StaffName</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="position: absolute;top: 51%;left: -10%;right:4%;font-size:20px;">
                                        <p style="text-align:center">@StaffData.ElementAt(1).StaffName</p>
                                    </div>
                                }

                                <div style="position: absolute;top: 60%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(1).EmployeeNumber</p>
                                </div>
                                <div style="position: absolute;top: 64.9%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(1).DepartmentName</p>
                                </div>


                                <div style="position: absolute;top: 69.5%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(1).MobileNumber</p>
                                </div>

                                <div style="color:white ;position: absolute;top: 80.6%;left: 0%; right:40px;bottom:2% ;font-size:14px;">
                                    <p style="text-align:left;line-height:100%">@StaffData.ElementAt(1).BranchAddress</p>
                                    <p style="text-align:center;margin-top:-12px;">Tel: @StaffData.ElementAt(1).BranchTelephoneNum</p>
                                </div>
                            }
                            else
                            {
                                <div style="height:451px;width:347px;clear:both;top: 0;left: 0;margin-left:-54px;margin-top:-25px;"></div>
                            }
                        </td>

                        <td style="padding-left: 0px;position: relative;left: 0; top: 0;">
                            @if (StaffData.ElementAtOrDefault(2) != null)
                            {
                                <img src="~/Content/images/StaffIdCard.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;" />
                                if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(2).Photo))
                                {
                                    <img src="@StaffData.ElementAt(2).Photo" style="position: absolute;top: 74px;left: 43.8px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 74px;left: 43.8px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                                }

                                if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(2).StaffName))
                                {
                                    if (StaffData.ElementAt(2).StaffName.Length > 17)
                                    {
                                        <div style="position: absolute;top: 52%;left: -10%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StaffData.ElementAt(2).StaffName</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 51%;left: -10%;right:4%;font-size:20px;">
                                            <p style="text-align:center">@StaffData.ElementAt(2).StaffName</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="position: absolute;top: 51%;left: -10%;right:4%;font-size:20px;">
                                        <p style="text-align:center">@StaffData.ElementAt(2).StaffName</p>
                                    </div>
                                }

                                <div style="position: absolute;top: 60%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(2).EmployeeNumber</p>
                                </div>
                                <div style="position: absolute;top: 64.9%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(2).DepartmentName</p>
                                </div>


                                <div style="position: absolute;top: 69.5%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(2).MobileNumber</p>
                                </div>

                                <div style="color:white ;position: absolute;top: 80.6%;left: 0%; right:40px;bottom:2% ;font-size:14px;">
                                    <p style="text-align:left;line-height:100%">@StaffData.ElementAt(2).BranchAddress</p>
                                    <p style="text-align:center;margin-top:-12px;">Tel: @StaffData.ElementAt(2).BranchTelephoneNum</p>
                                </div>
                            }
                            else
                            {
                                <div style="height:451px;width:347px;clear:both;top: 0;left: 0;margin-left:-54px;margin-top:-25px;"></div>
                            }
                        </td>


                        <td style="padding-left: 0px;position: relative; left: 0; top: 0;">
                            @if (StaffData.ElementAtOrDefault(3) != null)
                            {

                                <img src="~/Content/images/StaffIdCard.png" height="451" width="347" style="position: relative;top: 0;left: 0;margin-left:-54px;margin-top:-25px;display:block;" />
                                if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(3).Photo))
                                {
                                    <img src="@StaffData.ElementAt(3).Photo" style="position: absolute;top: 74px;left: 43.8px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/NoPhoto.jpg" style="position: absolute;top: 74px;left: 43.8px;border-radius:30px;padding: 20px;width: 122px;height: 141px;" />
                                }

                                if (!string.IsNullOrWhiteSpace(StaffData.ElementAt(3).StaffName))
                                {
                                    if (StaffData.ElementAt(3).StaffName.Length > 17)
                                    {
                                        <div style="position: absolute;top: 52%;left: -10%;right:4%;font-size:17px;">
                                            <p style="text-align:center">@StaffData.ElementAt(3).StaffName</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="position: absolute;top: 51%;left: -10%;right:4%;font-size:20px;">
                                            <p style="text-align:center">@StaffData.ElementAt(3).StaffName</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="position: absolute;top: 51%;left: -10%;right:4%;font-size:20px;">
                                        <p style="text-align:center">@StaffData.ElementAt(3).StaffName</p>
                                    </div>
                                }

                                <div style="position: absolute;top: 60%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(3).EmployeeNumber</p>
                                </div>
                                <div style="position: absolute;top: 64.9%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(3).DepartmentName</p>
                                </div>

                                <div style="position: absolute;top: 69.5%;left: 42%;font-size:16px;">
                                    <p>@StaffData.ElementAt(3).MobileNumber</p>
                                </div>

                                <div style="color:white ;position: absolute;top: 80.6%;left: 0%; right:40px;bottom:2% ;font-size:14px;">
                                    <p style="text-align:left;line-height:100%">@StaffData.ElementAt(3).BranchAddress</p>
                                    <p style="text-align:center;margin-top:-12px;">Tel: @StaffData.ElementAt(3).BranchTelephoneNum</p>
                                </div>
                            }
                            else
                            {
                                <div style="height:451px;width:347px;clear:both;top: 0;left: 0;margin-left:-54px;margin-top:-25px;display:block;"></div>
                            }
                        </td>
                    </tr>
                </table>

                if (n == 3 && data.Count > (i + 4))
                {
                    n = 0;

                    <div style="page-break-after: always;">
                    </div>
                }

            }
        }
        else
        {
            <span style="color:red;font-weight:bold">Students not available</span>
        }


    </div>

</body>




<script>
    function onloadData() {

        PrintElem('#Hello');
    }

    window.onload = onloadData();

    function PrintElem(elem) {

        Popup(document.getElementById("Hello").innerHTML)
    }

    function Popup(data) {

        var mywindow = window.open('', 'my div', 'size=potrait');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');


        var is_chrome = Boolean(mywindow.chrome);

        if (is_chrome) {
            setTimeout(function () { // wait until all resources loaded
                mywindow.document.close();
                mywindow.focus();

                //if ($.browser.mozilla) {
                //    mywindow.printpreview();
                //}
                //else {
                    mywindow.print();
                //}
                mywindow.close();
                window.location.href = "/AFrontOffice/GenerateStudentIdCards";

            }, 2050);
        } else {
            mywindow.document.close();
            mywindow.focus();
            //if ($.browser.mozilla) {
            //    mywindow.printpreview();
            //}
            //else {
                mywindow.print();
            //}
            mywindow.close();
            window.location.href = "/AFrontOffice/GenerateStudentIdCards";

        }

        return true;
    }
</script>

