@model AsteriskBrowserAL.Models.SyllabusData

@{
}

<style>
    @@font-face {
        font-family: 'ANUPM___';
        src: url('../../assets/fonts/ANUPM___.TTF') format('truetype');
    }

    .AnuFont {
        font-family: ANUPM___;
        font-size: 20px;
    }

    @@font-face {
        font-family: 'NEOGANLI';
        src: url('../../assets/fonts/NEOGANLI.TTF') format('truetype');
    }

    .NEOGANLI {
        font-family: NEOGANLI;
        font-size: 20px;
    }
</style>

@if (null != Model && Model.lstSyllabus != null && Model.lstSyllabus.Count() > 0)
{
    <span id="SyllabusValidation" style="color:red;text-align:left"></span>

    <input type="hidden" id="SelStaffId" value="@Model.StaffId" />
    <input type="hidden" id="SelPeriodId" value="@Model.PeriodsId" />

    <div class="row">
        <div class="col-xs-12">
            <label class="col-xs-5">@Html.Label("Topic")</label>
            <div class="col-xs-5">

                @if (Model.SubjectName.ToUpper().Contains("TELUGU"))
                {
                    @Html.DropDownList("SyllabusId", new SelectList(Model.lstSyllabus, "SyllabusId", "Topic"), "---Select---", new { @class = "form-control AnuFont", id = "SyllabusId" })
                }
                else if (Model.SubjectName.ToUpper().Contains("HINDI"))
                {
                    @Html.DropDownList("SyllabusId", new SelectList(Model.lstSyllabus, "SyllabusId", "Topic"), "---Select---", new { @class = "form-control NEOGANLI", id = "SyllabusId" })
                }
                else
                {
                    @Html.DropDownList("SyllabusId", new SelectList(Model.lstSyllabus, "SyllabusId", "Topic"), "---Select---", new { @class = "form-control", id = "SyllabusId" })
                }
            </div>
        </div>
    </div>
}
else
{
    <span style="font-weight:bold;color:red">No topics available for this subject</span>
}

<script>

    $('#SyllabusId').change(function () {
        $('#SyllabusValidation').html("");
    })
</script>


