@model List<AsteriskBrowserAL.MissingReceipt>
@{
    int sno = 1;
}

@if (null != Model)
{
    <div class="table-header">
        Missing Templates
    </div>
    <table class="table table-bordered table-striped table-hover nowrap">
        <thead>
            <tr>
                <th style="width:50px;">
                    @Html.DisplayName("S No")
                </th>
                <th>
                    @Html.DisplayName("Template Number")
                </th>
                <th>
                    @Html.DisplayName("Comment")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.Hidden("lstMissiongReceipts.Index", (@i + 10))
                        @(sno++)
                        @Html.Hidden("lstMissiongReceipts[" + (@i + 10) + "].ReceiptNumber", Model.ElementAt(i).ReceiptNumber)

                    </td>
                    <td>
                        @Model.ElementAt(i).ReceiptNumber
                    </td>
                    <td>
                        @Html.TextBox("lstMissiongReceipts[" + (@i + 10) + "].Remarks", Model.ElementAt(i).Remarks, new { @id = "Remarks", @required = "required" })
                        @Html.Hidden("lstMissiongReceipts[" + (@i + 10) + "].Remarks", Model.ElementAt(i).Remarks)
                    </td>

                    @*<td>
                            (@sno++)
                        </td>
                        <td>
                            <input type='hidden' name='lstMissiongReceipts[" + @i + "].ReceiptNumber' value="@Model[i+10].ReceiptNumber" />
                        </td>
                        <td>
                            <input type='text' name='lstMissiongReceipts[" + @i + "].Remarks' required='required' />
                        </td>*@
                </tr>
            }

        </tbody>
    </table>

}

