@model AsteriskBrowserAL.AVCategory


<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">AV Category</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>

<section class="content">

    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AVCategoryC", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.ValidationSummary(true)
                <span style="color: red;" id="ExistValidation">@Html.ValidationMessage("AVCategory")</span>
                <div class="page-header">
                    <br />
                    <h1>
                        AV Category
                        <small style="float:right;">
                            @Html.ActionLink("Back To Details", "AVCategory")
                        </small>
                    </h1>
                </div>

                    <!-- form start -->
                <form class="form-horizontal" role="form">


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Category Name")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CategoryName, new { @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "Category Name", @id = "CategoryName" })
                        </div>
                    </div>
                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success btn-sm" onclick="return submitForm()" type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="ace-icon fa fa-undo bigger-50"></i>
                            Reset
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>

<script>
    $('#CategoryName').focus(function () {
        $('#ExistValidation').hide()
    })
</script>