@model List<string>
@using AsteriskBrowserAL.Models

<div class="row" id="myDiv">
    <div class="col-sm-12">
        <table class="table table-responsive" align="center" cellspacing="30px" border="1" style="margin-bottom:30px;width:794px;height:1122px;">
            @for (int i = 0; i < Model.Count; i++)
            {
                
               
                <tr style="margin-bottom:10px;">
                    <td style="width:263px;" align="center">
                        @*<img src="@Url.Content(IDAtomationBarCode.BarcodeImageGenerator(Model.ElementAt(i).ToString()))" alt="Alternate Text" width="263px" height="50" />*@
                        <img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                        <span>@Model.ElementAt(i)</span>

                    </td>
                   @if (true) { i++; }

                    @if (i < Model.Count)
                    {
                        <td style="width:263px;" align="center">
                            @*<img src="@Url.Content(IDAtomationBarCode.BarcodeImageGenerator(Model.ElementAt(i).ToString()))" alt="Alternate Text" width="263px" height="50" />*@
                            <img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                            <span>@Model.ElementAt(i)</span>
                        </td>
                    }
                    else
                    {
                        <td style="width:263px;border:0px" align="center">
                        </td>
                    }

                    @if (true) { i++; }
                    @if (i < Model.Count)
                    {
                        <td style="width:263px;padding-right:0px;" align="center">
                            @*<img src="@Url.Content(IDAtomationBarCode.BarcodeImageGenerator(Model.ElementAt(i).ToString()))" alt="Alternate Text" width="263px" height="50" />*@
                            <img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                            <span>@Model.ElementAt(i)</span>
                        </td>
                    }
                    else
                    {
                        <td style="width:263px;border:0px;padding-right:0px;" align="right">
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
