@model AsteriskBrowserAL.Models.BookOverallReport


<div id="mydiv" align="center">


    @if (null != Model)
    {
        int nsno = 1;
        <table style="width:100%;" align="center">
            <tr style="width:100%;">
                <td style="width:85%;">
                    <table style="width:100%;" align="center">
                        <tr align="center">
                            <td align="center">
                                <table>
                                    <tr>
                                        <td style="font-weight:bold">
                                            <div style="width:100%;text-align:left"> <img id="logo" width="200" height="100" src="~/Content/images/SchoolLogo.png" /> </div>
                                        </td>
                                        <td style="font-size:17px;font-family:'Segoe UI';">
                                            <b>@Model.InstituteDetails.InstituteName</b><br />
                                            @Model.InstituteDetails.InstituteAddress<br />Tel&nbsp;:&nbsp;@Model.InstituteDetails.InstitutePhone,&nbsp;@Model.InstituteDetails.AlternateMobile,&nbsp;Email&nbsp;:&nbsp;@Model.InstituteDetails.InstituteMail<br />
                                            Web&nbsp;:&nbsp;@Model.InstituteDetails.InstituteWebsite
                                        </td>
                                    </tr>
                                </table>
                        </tr>
                    </table>
            </tr>
        </table>

        <table style="width:100%;">
            <tr style="width:100%;">
                <td style="width:100%;">
                    <hr style="width:100%; margin-bottom:-0.5em" />
                    <hr style="width:100%;" />
                    <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>BOOK ISSUED REPORT</b></div>
                    <hr style="width:100%;" />
                    <hr style="width:100%; margin-top:-0.5em" />
                </td>
            </tr>
        </table>

        <div>
            <table border="1" style="border-collapse:collapse;width:80%;margin-top:2em;margin-bottom:2em" align="center">
                <tbody>
                    <tr>
                        <th nowrap>
                            @Html.DisplayName("SNo")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Accession Number")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Book Name")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Author")
                        </th>
                        <th>
                            @Html.DisplayName("Publication")
                        </th>
                        @*<th nowrap>
                                @Html.DisplayName("Accession Number")
                            </th>*@
                        <th nowrap>
                            @Html.DisplayName("Edition")
                        </th>
                        @*<th nowrap>
                                @Html.DisplayName("Bar Code")
                            </th>*@
                        <th nowrap>
                            @Html.DisplayName("BookIssue Date")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("User Category")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Book Issued To")
                        </th>

                    </tr>
                    @foreach (var item in Model.lstBookReport)
                {

                        <tr>
                            <td>
                                @(nsno++)
                            </td>
                            <td>
                                @item.BookCode
                            </td>
                            <td>
                                @item.BookName
                            </td>
                            <td>
                                @item.Author
                            </td>
                            <td>
                                @item.Publication
                            </td>
                            <td>
                                @item.Edition
                            </td>
                            <td>
                                @if (item.BookIssueDate.HasValue)
                                {
                                    @item.BookIssueDate.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @item.UserCategory
                            </td>
                            <td>
                                @item.BookIssuedTo
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>
<div id="table"></div>









