@model AsteriskBrowserAL.BookType

@{

}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Book Type</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>

<section class="content">

    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("BookTypeE", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.ValidationSummary(true)
                <span style="color: red;" id="valPublication">@Html.ValidationMessage("Publication")</span>
                <div class="page-header">
                    <br />
                    <h1>
                        Book Type
                        <small style="float:right;">
                            @Html.ActionLink("Back To Details", "BookType")
                        </small>
                    </h1>
                </div>
                <input type="hidden" id="BookTypeId" name="BookTypeId" value="@Model.BookTypeId" />
                    <!-- form start -->
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Wing")</label>
                        <div class="col-sm-3">
                            @Html.DropDownList("WingId", null, "--Select--", new { @required = "required", @class = "form-control col-sm-5", @id = "WingId" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Book Type Name")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.BookTypeName, new { @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "BookType Name", @id = "BookTypeName" })
                        </div>
                    </div>

                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success btn-sm" onclick="return submitForm()" type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="ace-icon fa fa-undo bigger-50"></i>
                            Reset
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>



<script>

    $('#BookTypeName').focus(function () {
        $('#valPublication').hide()
    })
</script>