@model AsteriskBrowserAL.BookLocation

@{
    ViewBag.Title = "Edit Book Location";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Book Location</li>
    </ol>
</section>
<!-- /section:basics/content.breadcrumbs -->
<style>
    .field-validation-error{
        color: red;
        font-weight: bold;
    }
</style>

<section class="content">


  @using (Html.BeginForm("BookLocationE", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
  {
        <div class="page-header">
            <br />
            <h1>
                Book Location
                <small style="float:right;">
                    @Html.ActionLink("Back to details", "BookLocation")
                </small>
            </h1>
        </div><!-- /.page-header -->

        <form class="form-horizontal" role="form">
            <div class="box">


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="box-body">
                    <span style="color: red;" id="valBookLocation">@Html.ValidationMessage("Book Location")</span>

                    @Html.HiddenFor(model => model.BookLocationId)
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Book Rack Number")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.BookRackNumber, new { @class = "form-control txtboxNum", @id = "BookRackNumber", @onchange = "removeError();", placeholder = "Book Rack Number",@maxLenght=3})
                        </div>

                        <div class="col-sm-5" style="display:none;" id="BookLocationBookRackNumber">
                            <label style="color:red;font-weight:bold;">Required</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Book Shelf Number")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.BookShelfNumber, new { @class = "form-control txtboxNum", @id = "BookShelfNumber", @onchange = "removeError();", placeholder = "Book Shelf Number",@maxLenght=3 })
                        </div>

                        <div class="col-sm-5" style="display:none;" id="BookLocationBookShelfNumber">
                            <label style="color:red;font-weight:bold;">Required</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Description")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.BookLocationDetails, new { @class = "form-control", @id = "BookLocationDetails", @onchange = "removeError();", placeholder = "Description",@maxLenght=30 })
                        </div>

                        <div class="col-sm-5" style="display:none;" id="BookLocationBookLocationDetails">
                            <label style="color:red;font-weight:bold;">Required</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success btn-sm" onclick="return submitForm();" type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset" onclick="return resetBookLocation();">
                            <i class=" ace-icon fa fa-undo bigger-50">
                            </i>
                            Reset
                        </button>
                    </div>
                </div>
            </div>

        </form>

    }
    @*<input type="hidden" id="count" name="count" value="0" />

    <input type="hidden" name="OldBookRackNumber" id="OldBookRackNumber" value="@Model.BookRackNumber" />
    <input type="hidden" name="OldBookShelfNumber" id="OldBookShelfNumber" value="@Model.BookShelfNumber" />
    <input type="hidden" name="OldBookLocationDetails" id="OldBookLocationDetails" value="@Model.BookLocationDetails" />*@
</section>

<script type="text/javascript">
    function validateBookLocation() {
        debugger
        var BookRackNumber = document.getElementById("BookRackNumber").value;
        var BookShelfNumber = document.getElementById("BookShelfNumber").value;
        var BookLocationDetails = document.getElementById("BookLocationDetails").value;
        validate = true;
        $('#BookRackNumber').focus(function () {
            $('#BookLocationBookRackNumber').hide();
            $('#valBookLocation').hide();
        });
        $('#BookShelfNumber').focus(function () {
            $('#BookLocationBookShelfNumber').hide();
            $('#valBookLocation').hide();

        });
        $('#BookLocationDetails').focus(function () {
            $('#BookLocationBookLocationDetails').hide();
            $('#valBookLocation').hide();

        });
        if (BookRackNumber == "") {
            document.getElementById("BookLocationBookRackNumber").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("BookLocationBookRackNumber").style.display = "none";
        }

        if (BookShelfNumber == "") {
            document.getElementById("BookLocationBookShelfNumber").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("BookLocationBookShelfNumber").style.display = "none";
        }

        if (BookLocationDetails == "") {
            document.getElementById("BookLocationBookLocationDetails").style.display = "inline";
            validate = false;
        } else {
            document.getElementById("BookLocationBookLocationDetails").style.display = "none";
        }

        return validate;
    };

    function submitForm() {
        var validatestatus = validateBookLocation();
        if (validatestatus == false) {
            return false;
        } else {
            return true;
        }
    };

    function resetBookLocation() {
        document.getElementById("count").value = "0";
        document.getElementById("BookLocationBookRackNumber").style.display = "none";
        document.getElementById("BookLocationBookShelfNumber").style.display = "none";
        document.getElementById("BookLocationBookLocationDetails").style.display = "none";

        document.getElementById("BookRackNumber").value = document.getElementById("OldBookRackNumber").value;
        document.getElementById("BookShelfNumber").value = document.getElementById("OldBookShelfNumber").value;
        document.getElementById("BookLocationDetails").value = document.getElementById("OldBookLocationDetails").value;

        return false;
    };

    function removeError() {

        var count = document.getElementById("count").value;

        var BookRackNumber = document.getElementById("BookRackNumber").value;
        var BookShelfNumber = document.getElementById("BookShelfNumber").value;
        var BookLocationDetails = document.getElementById("BookLocationDetails").value;

        if (count != 0) {
            if (BookRackNumber != "") {
                document.getElementById("BookLocationBookRackNumber").style.display = "none";
            } else {
                document.getElementById("BookLocationBookRackNumber").style.display = "inline";
            }

            if (BookShelfNumber != "") {
                document.getElementById("BookLocationBookShelfNumber").style.display = "none";
            } else {
                document.getElementById("BookLocationBookShelfNumber").style.display = "inline";
            }

            if (BookLocationDetails != "") {
                document.getElementById("BookLocationBookLocationDetails").style.display = "none";
            } else {
                document.getElementById("BookLocationBookLocationDetails").style.display = "inline";
            }

        }
    };






    $('#BookRackNumber').focus(function () {
        $('#BookLocationBookRackNumber').hide();
        $('#valBookLocation').hide();
    });
    $('#BookShelfNumber').focus(function () {
        $('#BookLocationBookShelfNumber').hide();
        $('#valBookLocation').hide();
    });
    $('#BookLocationDetails').focus(function () {
        $('#BookLocationBookLocationDetails').hide();
        $('#valBookLocation').hide();
    });


</script>

