@model AsteriskBrowserAL.BookCategory

@{
    ViewBag.Title = "BookCategoriesC";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">User Category</li>
    </ol>
</section>
<!-- /section:basics/content.breadcrumbs -->

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Book Category Details", "BookCategories")</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("BookCategoriesD", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("BookCategories")</span>
                    <div class="box-header">
                        <h3 class="box-title">Book Category</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class=" box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Book Category Name")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Book Category Description")
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.BookCategoryName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(model => model.BookCategoryDescription)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
