@model IEnumerable<AsteriskBrowserAL.Models.BookOverallReport>
<!-- #section:basics/content.breadcrumbs -->
<style type="text/css">
    .ui-autocomplete {
        font-size: 12px;
        cursor: pointer;
        width: 120px;
        height: 120px;
        overflow-y: scroll;
    }
</style>

<link href="~/assets/css/jquery-ui.custom.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery-ui.min.js"></script>

@section BreadCrumb{
    <section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Over All Issues</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>
}

<link rel="stylesheet" href="https//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />

<!-- CSS to make Select2 fit in with Bootstrap 3.x -->
<link rel="stylesheet" href="https//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />

<!-- Include Select2 JS -->
<script src="https//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
<!-- date-picker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                    Overall Issue Books
                </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">  
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6" id="ActionDiv">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Accession Number</label>
                                <div class="col-sm-6">
                                    <input type="text" name="BookDetailsId" id="BookDetailsId" spellcheck="false" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-6" id="PublisherDiv">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Book Title</label>
                                <div class="col-sm-6">

                                    <input type="text" name="MasterBookId" id="MasterBookId" spellcheck="false" class="form-control" />
                                    @*@Html.DropDownList("MasterBook", null, "--Select --", new { id = "MasterBookId", @class = "form-control select2" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />                                   
                    <div class="form-group" id="UserCategoryDiv">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Class</label>
                                <div class="col-sm-6">
                                    <select id="ClassId" name="ClassId" class="form-control" style="width:228px"></select>
                                </div>
                            </div>                                                                          
                            <div class="col-xs-6">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Section</label>
                                <div class="col-sm-6">
                                    <select id="SectionId" name="SectionId" class="form-control"></select>                                   
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                                       
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6" id="SearchStudent" >
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" name="Student" id="Student" placeholder="Search Student" class="form-control" palceholder="Search" title="Search student with name" />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Date</label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="datepicker" class="input-group date">
                                                <input type="text" id="Date" class="form-control" />
                                                <span class="input-group-addon "><i class="ace-icon fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<div id="Search"></div>

@*@if (Model != null)
{
    if (Model.Count() > 0)
    {
        
        <div class="hr hr-18 dotted hr-double"></div>
        int nsno = 1;
        <div class="table-header">
            Records Found (@Model.Count())
            <button id="Generate" onclick="PrintElem('#mydiv')" class="btn btn-info btn-xs" style="float:right">
                <i class="ace-icon fa fa-print bigger-180"></i>
            </button>  
        </div>

    <table id="mytab1"  class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("SNo")
                </th>
                <th>
                    @Html.DisplayName("Accession Number")
                </th>
                <th>
                    @Html.DisplayName("Book Name")
                </th>
                <th>
                    @Html.DisplayName("Author")
                </th>
                <th>
                    @Html.DisplayName("Publication")
                </th>
              
                <th>
                    @Html.DisplayName("Edition")
                </th>
              
                <th>
                    @Html.DisplayName("Book Issue Date")
                </th>
                <th>
                    @Html.DisplayName("User Category")
                </th>
                <th>
                    @Html.DisplayName("Book Issued To")
                </th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(nsno++)
                    </td>
                    <td>
                        @item.BookCode
                    </td>
                    <td>
                        @item.BookName
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.Publication
                    </td>
                   
                    <td>
                        @item.Edition
                    </td>
                   

                    @if (item.BookIssueDate.HasValue)
                    {
                        <td>
                            @item.BookIssueDate.Value.ToString("dd - MMM - yyyy")
                        </td>
                    }
                    <td>
                        @item.UserCategory
                    </td>
                    <td>
                        @item.BookIssuedTo
                    </td>
                </tr>

            }

            <input type="hidden" id="BookCategoryId" name="nBookCategoryId" value="@Model.FirstOrDefault().BookCategoryId" />
        </tbody>
    </table>

    }
    else
    {
        <span style="color: red;"><b>No records to display</b></span>
    }
}
@Html.Action("DataTableScripts", "Base")*@

<script>
    window.onload = Onloadata();
    function Onloadata() {
        debugger
        LoadCourseDropdown();
    }
    function LoadCourseDropdown() {
        debugger      
        $.ajax({
            url: '/AFrontOffice/GetClassData',
            success: function (result) {
                CourseList = $("#ClassId")
                CourseList.children().remove();
                CourseList.append($("<option>").val("").text("--select--"))
                $.each(result, function (e, record) {
                    CourseList.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay))
                })
                $("#ClassId").append(CourseList)
            },
            async: false,
        })
    }
    $("#ClassId").change(function () {
        debugger
        $('#Search').html('')
        $('#Student').val('')
        $('#SectionId').val('');      
        $('#MasterBookId').val('').trigger('change.select2');
        $('#BookDetailsId').val('').trigger('change.select2');
        $('#Date').val('');
        var Date = $('#Date').val()
        var ClassId = $("#ClassId").val();
        if (ClassId > 0) {         
            GetSectionDropDown(ClassId);
        }
        else {         
        }
    })

    function GetSectionDropDown(ClassNumber) {

        $.ajax({
            url: '/AFrontOffice/GetSectionDropDown',
            data: { nClassNumber: ClassNumber },
            success: function (Data) {
                var SectionDRP = $('#SectionId')
                SectionDRP.children().remove();
                SectionDRP.append($("<option>").val("").text("--Select--"))
                $.each(Data, function (i, record) {
                    SectionDRP.append($("<option>").val(record.SectionId).text(record.SectionCode));
                });
                $('#SectionId').append(SectionDRP);
            },
            async: false,
        })
    }

    $("#SectionId").change(function () {
        $('#Search').html('')
        $('#Student').val('')
       $('#MasterBookId').val('').trigger('change.select2');
        $('#BookDetailsId').val('').trigger('change.select2');
        $('#Date').val('');
        var sectionval = $('#SectionId').val();
        var Date = $('#Date').val();
        $.ajax({
            url: '/ALibrary/GetBookOverallReaport',
            type: 'POST',
            data: { BookDetailsId: 0, BookId: 0, Date: Date, StudentId: 0, SectionId: sectionval },
            success: function (data) {
                $('#Search').html(data);
                $('#imagemodal').hide();
            },
            error: function () {
                $('#imagemodal').hide();
            },
        }).done(function () {
            $('#imagemodal').hide();
        })
    });
</script>
@*<script>
    $('#Generate').click(function () {
        //debugger
        //var BookCategoryId = $('#BookCategoryId').val()
        //debugger
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/BookOverallReaportPrint',
                data: { UserCategory: null },
                success: function (data) {
                    $('#table').html(data);
                    PrintData(data);
                    $('#imagemodal').hide();
                }
            }).done(function (data) {
                $('#imagemodal').hide();
            });
        })
    function PrintElem(elem) {
        Popup($(elem).html());
    }
    function PrintData(data) {
        debugger
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }
</script>*@

<script type="text/javascript">
    $("#BookDetailsId").autocomplete(

       {
          
           source: function (request, response) {
               if (request.term.length < 0) {
                   return;
               }
               $('#imagemodal').show();

               $.ajax({
                   url: "/ALibrary/GetIssuedBookCode",
                   type: "POST",
                   dataType: "json",
                   data: {
                       strVal: request.term
                   },
                   success: function (json) {
                       debugger;
                       response($.map(json, function (jsondata, id) {
                           return {
                               label: jsondata.BookCode,
                               value: jsondata.BookCode,
                               id: jsondata.BookDetailsId,
                           };
                       }));
                       $('#imagemodal').hide();
                   },
               });
           },
           minLength: 1,
           select: function SelectEvent(event, ui) {
               bookcode = ui.item.id;
               $('#Search').html('')
               $('#Student').val('')
               $('#MasterBookId').val('').trigger('change.select2');           
               $('#Date').val('');
               $('#SectionId').val('');
               $('#ClassId').val('');
               GetBookDetails(bookcode,0, 0);
               // (ui.item.value, "BookCode");
           }
       });

    $("#MasterBookId").autocomplete(
     {
         source: function (request, response) {



             if (request.term.length < 0) {
                 return;
             }
             $('#imagemodal').show();

             $.ajax({
                 url: "/ALibrary/GetAllBooks",
                 type: "POST",
                 dataType: "json",
                 data: {
                     strVal: request.term
                 },
                 success: function (json) {
                     debugger;
                     response($.map(json, function (jsondata, id) {
                         return {
                             label: jsondata.BookName,
                             value: jsondata.BookName,
                             id: jsondata.MasterBookId,
                         };
                     }));
                     $('#imagemodal').hide();
                 },
             });
         },
         minLength: 1,
         select: function SelectEvent(event, ui) {
             debugger
             MasterBookId = ui.item.id;
             $('#Search').html('')
             $('#Student').val('')          
             $('#BookDetailsId').val('').trigger('change.select2');
             $('#Date').val('');
             $('#SectionId').val('');
             $('#ClassId').val('');
             GetBookDetails(0,MasterBookId, 0);
             // (ui.item.value, "BookCode");
         }
     });


    $('#Date').change(function (e) {
        debugger
        $('#Search').html('')
        $('#Student').val('')       
        $('#SectionId').val('');
        $('#ClassId').val('');
        $('#MasterBookId').val('').trigger('change.select2');      
        $('#BookDetailsId').val('').trigger('change.select2');    
        var Date = $('#Date').val()
        if(Date!=null)
        {
            GetBookDetails(0,0,0);
        }       
    });
    $("#Student").autocomplete(
    {
      
        source: function (request, response) {
            debugger
            if (request.term.length < 0) {
                return;
            }
            $('#imagemodal').show();
            $.ajax({
                url: "/ALibrary/GetStudentsForSection",
                type: "POST",
                dataType: "json",
                data: {
                    strVal: request.term,
                    Classnumber:$('#ClassId').val(),
                    SectionId: $('#SectionId').val()
                },
                success: function (json) {
                    debugger;
                    response($.map(json, function (jsondata, id) {
                        return {
                            label: jsondata.StudentName,
                            value: jsondata.StudentName,
                            id: jsondata.StudentId,
                        };
                    }));
                    $('#imagemodal').hide();
                },
            });
        },
        minLength: 1,
        select: function SelectEvent(event, ui) {
            debugger
            Studentid = ui.item.id;
            GetBookDetails(0,0, Studentid);
            // (ui.item.value, "BookCode");
        }
    
    });
    function GetBookDetails(bookcode,bookid, Studentid) {
        debugger
        $('#Search').html('')      
        $('#imagemodal').show();     
        var Date = $('#Date').val();
       // var StudentId = $('#Student').val();
        $.ajax({
            url: '/ALibrary/GetBookOverallReaport',
            type: 'POST',
            data: { BookDetailsId: bookcode, BookId: bookid, Date: Date, StudentId: Studentid, SectionId :0},
            success: function (data) {             
                $('#Search').html(data);
                $('#imagemodal').hide();
            },
            error: function () {
                $('#imagemodal').hide();
            },
        }).done(function () {
            $('#imagemodal').hide();
        })
    }
</script>
