@model AsteriskBrowserAL.BookLocation

@{
    ViewBag.Title = " Delete Book Location";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Book Location</li>
    </ol>
</section>
<!-- /section:basics/content.breadcrumbs -->

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            <h3>@Html.ActionLink("<< Book Location Details", "BookLocation")</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("BookLocationD", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <span style="color: red;">@Html.ValidationMessage("BookLocation")</span>
                    <div class="box-header">
                        <h3 class="box-title">Book Location</h3>
                        <br />
                        <br />
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class=" box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Book Rack Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Book Shelf Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Book Location Details")
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.BookRackNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.BookShelfNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.BookLocationDetails)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
