@model IEnumerable<AsteriskBrowserAL.proc_GetOverallBooksIssued_Result>
@if (Model != null)
{
    if (Model.Count() > 0)
    {

        <div class="hr hr-18 dotted hr-double"></div>
        int nsno = 1;
        <div class="table-header">
            Records Found (@Model.Count())
            <button @*onclick="PrintElem('#mydiv')"*@ onclick="location.href='@Url.Action("BookOverallExcel", "ALibrary", new { BookDetailsId = ViewBag.BookDetailsId , BookId = ViewBag.BookId , Date = ViewBag.Date , StudentId = ViewBag.StudentId , SectionId = ViewBag.SectionId })'" class="btn btn-info btn-xs" style="float:right">
                <i class="ace-icon fa fa-share bigger-180"></i>
            </button>
        </div>

        <table id="mytab1" class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("S No")
                    </th>
                    <th>
                        @Html.DisplayName("Accession Number")
                    </th>
                    <th>
                        @Html.DisplayName("Book Name")
                    </th>
                    <th>
                        @Html.DisplayName("Author")
                    </th>
                    <th>
                        @Html.DisplayName("Publication")
                    </th>
                    @*<th>
                            @Html.DisplayName("Accession Number")
                        </th>*@
                    <th>
                        @Html.DisplayName("Edition")
                    </th>
                    @*<th>
                            @Html.DisplayName("Bar Code")
                        </th>*@
                    <th>
                        @Html.DisplayName("Book Issue Date")
                    </th>
                    <th>
                        @Html.DisplayName("User Category")
                    </th>
                    <th>
                        @Html.DisplayName("Book Issued To")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(nsno++)
                        </td>
                        <td>
                            @item.BookCode
                        </td>
                        <td>
                            @item.BookName
                        </td>
                        <td>
                            @item.AuthorName
                        </td>
                        <td>
                            @item.PublicationName
                        </td>
                        @*<td>
                                @item.BarCode
                            </td>*@
                        <td>
                            @item.Edition
                        </td>
                        @*<td>
                                @item.BarCode
                            </td>*@

                       
                            <td>
                                @item.IssueDate
                            </td>
                      
                            @if (item.IsStudent.HasValue && item.IsStudent.Value == true)
                            {
                                <td>
                                    Student
                                </td>
                            }
                            else if (item.IsStudent.HasValue && item.IsStudent.Value == false)
                            {
                                <td>
                                    Student
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }


                        <td>
                            @item.IssuedToName
                        </td>
                    </tr>

                }

            </tbody>
        </table>

    }
    else
    {
        <span style="color: red;"><b>No records to display</b></span>
    }
}
@Html.Action("DataTableScripts", "Base")

<script>
    $('#Generate').click(function () {
        //debugger
        //var BookCategoryId = $('#BookCategoryId').val()
        //debugger
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/BookOverallReaportPrint',
                data: { UserCategory: null },
                success: function (data) {
                    $('#table').html(data);
                    PrintData(data);
                    $('#imagemodal').hide();
                }
            }).done(function (data) {
                $('#imagemodal').hide();
            });
        })
    function PrintElem(elem) {
        Popup($(elem).html());
    }
    function PrintData(data) {
        debugger
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();
        return true;
    }


</script>


