@model List<string>
@using AsteriskBrowserAL.Models
@using AsteriskBrowserAL.Core
@{
    int Iteration = 0;
    ViewBag.Title = "GenerateBarCodes";
}

<html>
<head>
    <title></title>
    <style>
        /*table.table td {

                margin: 12px 12px 12px 12px;
                padding: 12px 12px 12px 12px;
            }
            table.table {
                border-collapse: separate;
                border-spacing: 10px;
                *border-collapse: expression('separate', cellSpacing = '10px');

            }*/
    </style>
    <script>
        function printDiv() {

            var divToPrint = document.getElementById('tabledata');

            var newWin = window.open('', "_blank", "width=700,height=800");

            newWin.document.open("", "_blank", "width=700,height=800");

            newWin.document.write('<html><body onload="window.print()" >' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            newWin.focus();

            newWin.print();

            newWin.document.close();

            //setTimeout(function () { newWin.close(); }, 10);

        }
    </script>
    <style type="text/css">
        .mypg {
            width: 672px;
            height: 972px;
            margin: 2px auto 2px auto;
            padding: 24px;
        }
    </style>
    <script>
        //function PrintElem() {
        //    debugger
        //    Popup($('#tabledata').html());
        //    //window.location.href = "/ALibrary/ManageBooks"
        //}

        function PrintElem() {
            debugger
            //var divContents = document.getElementById("tabledata").innerHTML;
            //var mywindow = window.open('', '', 'height=800,width=700');
            //alert(mywindow);
            //mywindow.document.write('<p></p>');
            //mywindow.document.write(divContents);
            //mywindow.document.write('<p></p>');

            //mywindow.document.write('<html><head><title>Barcode Details</title>');
            //mywindow.document.write('</head><body >');
            //mywindow.document.write(divContents);
            //mywindow.document.write('</body></html>');

            //mywindow.document.close();
            //mywindow.focus();

            //mywindow.print();
            //mywindow.close();



            //Get the HTML of div
            var divElements = document.getElementById('tabledata').innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;
            window.location.href = "/ALibrary/IsBarCodeGenerated" ///ManageBooksP

            return true;
        }
    </script>
</head>
<body onload="PrintElem()">
    <div id="tabledata">
        <table class="table" align="center" cellspacing="30" border="1" style="margin-bottom:30px;width:794px;height:1122px;">

            @for (int i = 0; i < Model.Count; i++)
            {
                // Iteration = i;

                <tr>
                    <td style="width:263px; clear:both" align="center">
                        @*<img src="@Url.Content(IDAtomationBarCode.BarcodeImageGenerator(Model.ElementAt(i).ToString()))" alt="Alternate Text" width="263" height="50" />*@
                        @*<img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode" />*@

                        <img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                        <img id="img" src="/Core/BarCode_New.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                        <span>@Model.ElementAt(i)</span>
                    </td>
                    @if (true) { i++; }

                    @if (i < Model.Count)
                    {
                        // i++;


                        <td style="width:263px;clear:both" align="center">
                            @*<img src="@Url.Content(IDAtomationBarCode.BarcodeImageGenerator(Model.ElementAt(i).ToString()))" alt="Alternate Text" width="263px" height="50" />*@
                            @*<img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode" />*@

                            <img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                            <img id="img" src="/Core/BarCode_New.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                            <span>@Model.ElementAt(i)</span>
                        </td>

                    }
                    @if (true) { i++; }
                    @if (i < Model.Count)
                    {
                        //i++;

                        <td style="width:263px; clear:both" align="center">
                            @*<img src="@Url.Content(IDAtomationBarCode.BarcodeImageGenerator(Model.ElementAt(i).ToString()))" alt="Alternate Text" width="263px" height="50" />*@
                            @*<img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode" />*@

                            <img id="img" src="/Barcode.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                            <img id="img" src="/Core/BarCode_New.ashx?m=0&h=60&vCode=@Model.ElementAt(i)" />
                            <span>@Model.ElementAt(i)</span>
                        </td>
                        //@i++;
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>
