<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active"> Magazine Issued Report</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>
<!-- Include Select2 CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />

<!-- CSS to make Select2 fit in with Bootstrap 3.x -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" />

<!-- Include Select2 JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

<section class="content">
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5 class="widget-title">
                        Magazine Issued Report
                    </h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6" id="ActionDiv">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Accession Number</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("MagazineDetailsId", null, "--Select--", new
                                   {
                                       @class = "form-control select2"@*, onchange = "this.form.submit();"*@,
                                       @id = "MagazineDetailsId"
                                   })
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Periodicity</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("PeriodicityId", null, "--Select--", new
                                   {
                                       @class = "form-control select2",
                                       @id = "PeriodicityId"
                                   })
                                    </div>
                                </div>

                                @*<div class="col-xs-6" id="PublisherDiv">
                                    <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Publisher</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("PublicationId", null, "--Select--", new
                                   {
                                       @class = "form-control select2", @*onchange = "this.form.submit();", @id = "PublicationId"
                                   })
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <br />
                        <div class="form-group" id="UserCategoryDiv">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">User Category</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("UserCategoryId", null, "--Select--", new { @class = "form-control select2", @id = "UserCategoryId" })
                                    </div>
                                </div>
                                
                                <div class="col-xs-6" id="StudentSearch" style="display:none">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Name</label>
                                    <div class="col-sm-6" style="padding-right:220px">
                                        <input type="text" name="Student" id="Student" placeholder="Search student" class="form-control" palceholder="Search" title="Search student with name" autocomplete="off" style="width:210px"/>
                                    </div>
                                </div>
                                <div class="col-xs-6" id="Searchteacher" style="display:none">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Name</label>
                                    <div class="col-sm-6" >
                                        
                                        <input type="text" name="Teacher" id="Teacher" placeholder="Search Teacher" class="form-control" palceholder="Search" title="Search student with name" autocomplete="off" style="width:210px" />
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="row" id="AuthorDiv">
                                <div class="col-xs-6">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Periodicity</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("PeriodicityId", null, "--Select--", new
                                   {
                                       @class = "form-control select2",
                                       @id = "PeriodicityId"
                                   })
                                    </div>
                                </div>
                               
                                
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Date</label>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="datepicker" class="input-group date">
                                                    <input type="text" id="Date" class="form-control" />
                                                    <span class="input-group-addon "><i class="ace-icon fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="hr hr-18 dotted hr-double"></div>
</section>

<div id="SearchViewDiv">
</div>
<script>

    $('#MagazineDetailsId').change(function () {
        debugger
        $('#Search').hide()
        $('#Student').val('')
        $('#Searchteacher').hide()
        $('#Teacher').val('')
        //$('#PublicationId').val('');
        //document.getElementById("PublicationId").disabled = true;
        //$('#PeriodicityId').val('');
        //document.getElementById("PeriodicityId").disabled = true;
        $('#PublicationId').val('').trigger('change.select2');
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#DeptId').val('');
        $('#SectionId').val('');
        $('#UserCategoryId').val('').trigger('change.select2');
        $('#StaffUser').hide();
        $('#StudentUser').hide();
        $('#Date').val('');
        var MagazineDetailsId = $('#MagazineDetailsId').val();
        if (MagazineDetailsId == null || MagazineDetailsId == "" || MagazineDetailsId == undefined) {
        }
        else {
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                data: { MagazineDetailsId: MagazineDetailsId, PublicationId: 0, PeriodicityId: 0, UserCategoryId: -1, SectionId: 0, DeptId: 0 },
                success: function (data) {
                    debugger
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    })


    $('#Student').keyup(function (e) {
        debugger
         $('#Date').val('');
        $("#SearchViewDiv").html("")
        var SectionVal = $('#SectionId').val()
        var userCategory = $('#UserCategoryId').val()
        var Student = $('#Student').val()
        if (Student.length > 2) {
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                type: 'POST',
                data: { name: Student, BookDetailsId: 0, PublicationId: 0, UserCategoryId: userCategory, SectionId: SectionVal, DeptId: 0, AuthorId: 0 },
                success: function (data) {
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    });

    $('#Teacher').keyup(function (e) {
        debugger
        $('#Date').val('');
        $("#SearchViewDiv").html("")
        var DeptId = $('#DeptId').val()
        var userCategory = $('#UserCategoryId').val()
        var Teacher = $('#Teacher').val()

        if (Teacher.length > 2) {
            $('#imagemodal').show();
            debugger
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                type: 'POST',
                data: { name: Teacher, BookDetailsId: 0, PublicationId: 0, UserCategoryId: userCategory, SectionId: 0, DeptId: DeptId, AuthorId: 0 },
                success: function (data) {
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    });


    $('#Date').change(function (e) {
        debugger
        $('#Search').hide()
        $('#Student').val('')
        $('#Searchteacher').hide()
        $('#Teacher').val('')
        $('#SearchViewDiv').hide()
        $('#StaffUser').hide();
        $('#StudentUser').hide();
        $('#DeptId').val('');
        $('#SectionId').val('');
        $('#UserCategoryId').val('').trigger('change.select2');
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#MagazineDetailsId').val('').trigger('change.select2');
        $('#PublicationId').val('').trigger('change.select2');
        $("#SearchViewDiv").html("")
        var Date = $('#Date').val()
        $('#imagemodal').show();
        $.ajax({
            url: '/ALibrary/GetIssueMagazineDateWise',
            type: 'POST',
            data: { date: Date },
            success: function (data) {
                $('#SearchViewDiv').show()
                $('#SearchViewDiv').html(data);
                $('#imagemodal').hide();
            },
            error: function () {
                $('#imagemodal').hide();
            },
        }).done(function () {
            $('#imagemodal').hide();
        })
    });


    $('#PeriodicityId').change(function () {
        debugger
        $('#Search').hide()
        $('#Student').val('')
        $('#Searchteacher').hide()
        $('#Teacher').val('')
         $('#Date').val('');
        //$('#PublicationId').val('');
        //document.getElementById("PublicationId").disabled = true;
        //$('#MagazineDetailsId').val('');
        //document.getElementById("MagazineDetailsId").disabled = true;
        $('#PublicationId').val('').trigger('change.select2');
        $('#MagazineDetailsId').val('').trigger('change.select2');
        var PeriodicityId = $('#PeriodicityId').val();
        $('#DeptId').val('');
        $('#SectionId').val('');
        $('#UserCategoryId').val('').trigger('change.select2');
        $('#StaffUser').hide();
        $('#StudentUser').hide();
        if (PeriodicityId == null || PeriodicityId == "" || PeriodicityId == undefined) {
        }
        else {
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                data: { MagazineDetailsId: 0, PublicationId: 0, PeriodicityId: PeriodicityId, UserCategoryId: -1, SectionId: 0, DeptId: 0 },
                success: function (data) {
                    debugger
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    })

    $('#PublicationId').change(function () {
        debugger
        $('#Search').hide()
        $('#Student').val('')
        $('#Searchteacher').hide()
        $('#Teacher').val('')
        $('#Date').val('');
        //$('#PeriodicityId').val('');
        //document.getElementById("PeriodicityId").disabled = true;
        //$('#MagazineDetailsId').val('');
        //document.getElementById("MagazineDetailsId").disabled = true;
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#MagazineDetailsId').val('').trigger('change.select2');

        $('#DeptId').val('');
        $('#SectionId').val('');
        $('#UserCategoryId').val('').trigger('change.select2');
        $('#StaffUser').hide();
        $('#StudentUser').hide();

        var PublicationId = $('#PublicationId').val();
        if (PublicationId == null || PublicationId == "" || PublicationId == undefined) {
        }
        else {
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                data: { MagazineDetailsId: 0, PublicationId: PublicationId, PeriodicityId: 0, UserCategoryId: -1, SectionId: 0, DeptId: 0 },
                success: function (data) {
                    debugger
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    })
    $('#DeptId').change(function () {
        debugger
        $('#Search').hide()
        $('#Student').val('')
        $('#Searchteacher').show()
        $('#Teacher').val('')
        $('#Date').val('');
        $('#SearchViewDiv').hide()
        $('#MagazineDetailsId').val('').trigger('change.select2');
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#PublicationId').val('').trigger('change.select2');
        $('#MagazineDetailsId').val('').trigger('change.select2');
        var UserCategoryId = $('#UserCategoryId').val();
        var DeptId = $('#DeptId').val();
        if (DeptId == null || DeptId == "" || DeptId == undefined) {
        }
        else {
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                type: 'POST',
                data: { MagazineDetailsId: 0, PublicationId: 0, PeriodicityId: 0, UserCategoryId: UserCategoryId, SectionId: 0, DeptId: DeptId },
                success: function (data) {
                    debugger
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    })
    $('#SectionId').change(function () {
        debugger
        $('#Searchteacher').hide()
        $('#Teacher').val('')
        $('#Search').show()
        $('#Date').val('');
        $('#SearchViewDiv').hide()
        $('#MagazineDetailsId').val('').trigger('change.select2');
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#MagazineDetailsId').val('').trigger('change.select2');
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#PublicationId').val('').trigger('change.select2');
        var UserCategoryId = $('#UserCategoryId').val();
        var SectionId = $('#SectionId').val();
        if (SectionId == null || SectionId == "" || SectionId == undefined) {
        }
        else {
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                type: 'POST',
                data: { MagazineDetailsId: 0, PublicationId: 0, PeriodicityId: 0, UserCategoryId: UserCategoryId, SectionId: SectionId, DeptId: 0 },
                success: function (data) {
                    debugger
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    })
    $('#UserCategoryId').change(function () {
        debugger
        $('#Search').hide()
        $('#Searchteacher').hide()
        $('#Teacher').val('')
        $('#Student').val('')
        $('#Date').val('');
        $('#SearchViewDiv').hide()
        $('#MagazineDetailsId').val('').trigger('change.select2');
        $('#PublicationId').val('').trigger('change.select2');
        $('#AuthorId').val('').trigger('change.select2');
        $('#BookDetailsId').val('').trigger('change.select2');
        $('#PeriodicityId').val('').trigger('change.select2');
        $('#DeptId').val('');
        $('#SectionId').val('');
        var UserCategoryVal = $('#UserCategoryId').val();
        if (UserCategoryVal == 1) {
            $('#StaffUser').show();
            $('#StudentUser').hide();
            $('#Searchteacher').show();
            $('#StudentSearch').hide();
        }
        else if (UserCategoryVal == 2) {
            $('#StudentUser').show();
            $('#StaffUser').hide();
            $('#Searchteacher').hide();
            $('#StudentSearch').show();
        }
        else if (UserCategoryVal == 0) {
            $('#StaffUser').val('');
            $('#StudentUser').val('');
            $('#StaffUser').hide();
            $('#StudentUser').hide();
            var userCategory = $('#UserCategoryId').val();
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                type: 'POST',
                data: { BookDetailsId: 0, PublicationId: 0, UserCategoryId: userCategory, SectionId: 0, DeptId: 0, AuthorId: 0 },
                success: function (data) {
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    })
    window.onload = GetData()
    function GetData() {
        debugger
        $('#SearchViewDiv').hide()
        var MagazineDetailsId = $('#MagazineDetailsId').val()
        var PublicationId = $('#PublicationId').val()
        var PeriodicityId = $('#PeriodicityId').val()
        if (MagazineDetailsId != "" || PublicationId != "" || PeriodicityId != "") {
            $.ajax({
                url: '/ALibrary/IssuedMagazinePartial',
                data: { MagazineDetailsId: MagazineDetailsId, PublicationId: PublicationId, PeriodicityId: PeriodicityId },
                success: function (data) {
                    $('#SearchViewDiv').show()
                    $('#SearchViewDiv').html(data);
                    $('#imagemodal').hide();
                },
                error: function () {
                    $('#imagemodal').hide();
                },
            }).done(function () {
                $('#imagemodal').hide();
            })
        }
    }

    function getDepartment() {
        debugger
        $.ajax({
            url: '/ALibrary/GetDeptName',
            success: function (Data) {
                debugger
                var DeptDRP = $('#DeptId')
                DeptDRP.children().remove();
                DeptDRP.append($("<option>").val("").text("--Select--"))
                $.each(Data, function (i, record) {
                    DeptDRP.append($("<option>").val(record.DepartmentId).text(record.DepartmentName));
                });
                $('#DeptId').append(DeptDRP);
            },
            async: false,
        })
    }

    function getSection() {
        $.ajax({
            url: '/ALibrary/GetSectionName',
            success: function (Data) {
                var SectionDRP = $('#SectionId')
                SectionDRP.children().remove();
                SectionDRP.append($("<option>").val("").text("--Select--"))
                $.each(Data, function (i, record) {
                    SectionDRP.append($("<option>").val(record.SectionId).text(record.SectionCode));
                });
                $('#SectionId').append(SectionDRP);
            },
            async: false,
        })
    }
</script>
