@model IEnumerable<AsteriskBrowserAL.Models.ReturnMagazine>

<div class="row">
    <div class="col-xs-12">
        @if (null != Model)
            {
                int Sno = 1;
            <div class="table-header">
                Magazine Issued Report
                <div style="float:right;">
                    <button class="btn btn-info btn-xs" type="submit" onclick="location.href='@Url.Action("IssuedMagazineExcel", "Alibrary")'">
                        <i class="ace-icon fa fa-share bigger-180"></i>
                    </button>
                </div>
            </div>
            <div style="overflow:auto">
                <table class="table table-hover table-bordered table-striped nowrap" style="font-size:14px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("SNo")
                            </th>
                            <th>
                                @Html.DisplayName("Accession Number")
                            </th>
                            <th>
                                @Html.DisplayName("Magazine Name")
                            </th>
                            <th>
                                @Html.DisplayName("Student/Staff Name")
                            </th>
                            <th>
                                @Html.DisplayName("Issue Date")
                            </th>
                            <th>
                                @Html.DisplayName("Return Date")
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            int SNo = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @SNo
                                    </td>
                                    <td>
                                        @item.MagazineCode
                                    </td>
                                    <td>
                                        @item.MagazineName
                                    </td>
                                    <td>
                                        @item.MagazineIssuedTo
                                    </td>
                                    <td>
                                        @if (@item.MagazineIssuedDate.Value.ToShortDateString() != "01/01/0001")
                                        {
                                            @item.MagazineIssuedDate.Value.ToString("dd-MMM-yyyy")
                                        }
                                    </td>
                                    <td>
                                        @if (@item.MagazineReturnDate.Value.ToShortDateString() != "01/01/0001")
                                        {
                                           @item.MagazineReturnDate.Value.ToString("dd-MMM-yyyy")
                                           
                                        }
                                    </td>
                                    <td>
                                        @item.BookStatus
                                    </td>
                                </tr>
                                SNo++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    <span style="color: red;"><b>Data is not available</b></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
