@model List<AsteriskBrowserAL.BookCategory>
@{
    ViewBag.Title = " Magazine Category";

}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Magazine Category</li>
    </ol>
</section>

@*<div>
    @if (null != TempData["msg"])
    {
        <span style="color:red">@TempData["msg"]</span>
    }
</div>*@

<section class="content">
    <br />
    @if (null != Model)
    {

        if (Model.Count() > 0)
        {
            int Sno = 1;
            <div class="table-header">
                Magazine Category
                <a class="view-header-btn  btn btn-info btn-xs" href="@Url.Action("MagazineCategoriesC", "ALibrary")" role="button" id="New" name="New" style="float:right"><i class="fa fa-plus-circle bigger-180"></i></a>
            </div>
            <div class="box-body table-responsive no-padding">
                <table id="dynamic-table" class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("SNO")</th>
                            <th>@Html.DisplayName("Magazine Category Name")</th>
                            <th>@Html.DisplayName("Description")</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Sno</td>
                                <td>@Html.DisplayFor(modelItem => item.BookCategoryName)</td>
                                <td>@Html.DisplayFor(modelItem => item.BookCategoryDescription)</td>

                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a class="green" href="@Url.Action("MagazineCategoriesC", "ALibrary", new { id = item.BookCategoryId })">
                                            <i class="ace-icon fa fa-pencil  bigger-130"></i>

                                        </a>
                                        <a class="red" onclick="btnConfirm(@item.BookCategoryId)">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>

                                        </a>
                                    </div>
                                </td>
                            </tr>
                            Sno++;
                        }
                    </tbody>
                </table>
            </div>
        }

        else
        {
            <div class="table-header">
                Magazine Category
                <a class="view-header-btn  btn btn-info btn-xs" href="@Url.Action("MagazineCategoriesC", "ALibrary")" role="button" id="New" name="New" style="float:right"><i class="fa fa-plus-circle bigger-180"></i></a>
            </div>
            <span style="color: red;"><b>No records found </b></span>
        }
    }
    <div id="dialog-confirm" class="hide">
        <div class="space-6"></div>
        <p id="dValidation" class="bigger-120 bolder center grey">
        </p>
    </div><!-- #dialog-confirm -->
    <script>
        function btnConfirm(Value) {
            debugger
            if (Value > 0) {
                $.ajax({
                    url: '/ALibrary/ValidationForCategoriesD',
                    data: { id: Value },
                    success: function (data) {
                        var url = '/ALibrary/MagazinCategoriesD?id=' + Value;
                        var title = "Magazine Category";

                        OpenDialog(data, url, title);
                    },
                    async: false
                });
            }
        }
    </script>

</section>
@Html.Action("DataTableScripts", "Base")
