@model IEnumerable<AsteriskBrowserAL.Models.MagazineDetailsData>
@{
}
@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;
    <div class="hr hr-18 dotted hr-double"></div>
    <div class="table-header">
        Issue Magazine
    </div>
    <table id="dynamic-table" class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px;">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayName("SNo")
                </th>
                <th>
                    @Html.DisplayName("Accession Number")
                </th>
                <th>
                    @Html.DisplayName("Magazine Category")
                </th>
                <th>
                    @Html.DisplayName("Magazine Name")
                </th>
                <th>
                    @Html.DisplayName("Periodicity")
                </th>
                @*<th>
                    @Html.DisplayName("No Of Pages")
                </th>*@
                <th>
                    @Html.DisplayName("Price")
                </th>
                @*<th>
                    @Html.DisplayName("Edition")
                </th>*@
                <th>
                    @Html.DisplayName("Publisher")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(nsno++)
                    </td>
                    <td>
                        @item.MagazineCode
                    </td>
                    <td>
                        @item.MagazineCategory
                    </td>
                    <td>
                        @item.MagazineName
                    </td>
                    <td>
                        @item.PeriodicityName
                    </td>
                    @*<td>
                        @item.NumberOfPages
                    </td>*@
                    <td>
                        @item.Price
                    </td>
                    @*<td>
                        @item.Edition
                    </td>*@
                    <td>
                        @item.PublicationName
                    </td>
                    <td>
                        @Html.ActionLink("Issue Magazine", "IssueMagazine", new { @id = item.MagazineDetailsId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span style="color: red;"><b>Records Not Found To Display</b></span>
}
@Html.Action("DataTableScripts", "Base")






