@model AsteriskBrowserAL.Models.MagazineDetailsData
@{
    ViewBag.Title = "MagazineOverallReaportPrint";
}
<div id="mydiv" align="center">
    @if (null != Model)
    {
        int nsno = 1;
        <table style="width:100%;border-collapse:collapse" align="center">
            <tr style="width:100%;">
                <td style="width:85%;">
                    <table style="width:100%;" align="center">
                        <tr align="center">
                            <td align="center">
                                <table>
                                    <tr>
                                        <td style="font-weight:bold">
                                            <div style="width:100%; text-align:left"> <img id="logo" width="200" height="100" src="~/Content/images/SchoolLogo.png" /> </div>
                                        </td>
                                        <td style="font-size:17px">
                                            <b>@Model.InstituteDetails.InstituteName</b><br />
                                            @Model.InstituteDetails.InstituteAddress<br />Tel&nbsp;:&nbsp;@Model.InstituteDetails.InstitutePhone,&nbsp;@Model.InstituteDetails.AlternateMobile,&nbsp;Email&nbsp;:&nbsp;@Model.InstituteDetails.InstituteMail<br />
                                            Web&nbsp;:&nbsp;@Model.InstituteDetails.InstituteWebsite
                                        </td>
                                    </tr>
                                </table>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr style="width:100%; margin-bottom:-0.5em" />
                    <hr style="width:100%;" />
                    <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>MAGAZINE ISSUED REPORT</b></div>
                    <hr style="width:100%;" />
                    <hr style="width:100%; margin-top:-0.5em" />

                </td>

            </tr>

            <tr style="width:100%;">
                <td style="width:100%;">
                    <table border="1" style="border-collapse:collapse;width:80%;margin-top:2em;margin-bottom:2em" align="center">
                        <tbody>
                            <tr>
                                <th nowrap>
                                    @Html.DisplayName("SNo")
                                </th>
                                <th nowrap>
                                    @Html.DisplayName("Accession Number")
                                </th>
                                <th nowrap>
                                    @Html.DisplayName("Magazine Name")
                                </th>
                                <th nowrap>
                                    @Html.DisplayName("Publication")
                                </th>
                                <th nowrap>
                                    @Html.DisplayName("Periodicity Name")
                                </th>
                                @*<th nowrap>
                                    @Html.DisplayName("Edition")
                                </th>*@
                                <th nowrap>
                                    @Html.DisplayName("MagazineIssue Date")
                                </th>
                                <th nowrap>
                                    @Html.DisplayName("User Category")
                                </th>
                                <th nowrap>
                                    @Html.DisplayName("Magazine Issued To")
                                </th>

                            </tr>
                            @foreach (var item in Model.lstMagazineReport)
                            {

                                <tr>
                                    <td>
                                        @(nsno++)
                                    </td>
                                    <td>
                                        @item.MagazineCode
                                    </td>
                                    <td>
                                        @item.MagazineName
                                    </td>
                                    <td>
                                        @item.Publisher
                                    </td>
                                    <td>
                                        @item.PeriodicityName
                                    </td>
                                    @*<td>
                                        @item.Edition
                                    </td>*@
                                    <td>
                                        @if (item.IssueDate.HasValue)
                                        {
                                            @item.IssueDate.Value.ToString("dd - MMM - yyyy")
                                        }
                                    </td>
                                    <td>
                                        @item.UserCategory
                                    </td>
                                    <td>
                                        @item.magazineIssuedTo
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </td>
            </tr>

        </table>
    }
</div>

<div id="table"></div>










