@model AsteriskBrowserAL.Models.BookDetailsData

@{
    ViewBag.Title = "MagazineDet";
    int nsno = 1;
}

<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Manage Magazines</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class=col-xs-12>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("ManageBooksDet", "ALibrary", FormMethod.Post))
    {
        <div class="page-header">
            <h1>
                <small style="float:right;">
                    @Html.ActionLink("Back To Details", "ManageMagazine", new {MagazineCategoryId = @ViewBag.Id })
                </small>
            </h1>
        </div><!-- /.page-header -->
        @Html.ValidationMessage("Manage Books")

        <div class="row">
            <div class="col-xs-12">

                @Html.ValidationMessage("Book Details")
                <div class="table-header">
                    Magazine Details
                </div>
                <div style="overflow:auto">
                    <table class="table table-bordered table-striped table-hover nowrap">
                        <tbody>
                            <tr>
                                <th>
                                    @Html.DisplayName("SNo")
                                </th>
                                <th>
                                    @Html.DisplayName("Magazine Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Accession Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Availability")
                                </th>
                            </tr>
                            
                            @foreach (var item in Model.magazineDetails)
                            {
                                <tr>
                                    <td>
                                        @(nsno++)
                                        @Html.HiddenFor(model=>model.Id)
                                    </td>
                                    <td>
                                       @item.BookName
                                    </td>
                                    <td>
                                        @item.MagazineCode
                                    </td>
                                    <td>
                                       @item.BookStatus
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</section>