@model AsteriskBrowserAL.Models.MagazineDetailsData

@{
    ViewBag.Title = "MAgazine Status";
}


<!-- #section:basics/content.breadcrumbs -->
<!-- /section:basics/content.breadcrumbs -->

<section class="content">
    <br />
    @if (null != Model)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- form start -->

                    @using (Html.BeginForm("MagazineStatus", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
                {

                        <div class="page-header">
                            <h1>
                                Magazine Status
                             
                            </h1>

                        </div><!-- /.page-header -->
                        @*<form class="form-horizontal" role="form">*@
                        <input type="hidden" id="Magazinecodeinfo" value="@Model.MagazineCode">
                        <input type="hidden" id="StatusDate" value="@Model.StatusDate">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Magazine Category Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(m => m.MagazineCategoryName, new { @class = "form-control col-sm-5", id = "BookName", @maxLength = "20", placeholder = "InvoiceNumber", disabled = "disabled" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="vMagazineCategoryName">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Magazine Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(m => m.MagazineName, new { @class = "form-control col-sm-5", id = "AuthorName", @maxLength = "20", placeholder = "InvoiceNumber", disabled = "disabled" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="vMagazineName">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Publication Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(m => m.PublicationName, new { @class = "form-control col-sm-5", id = "PublicationName", @maxLength = "20", placeholder = "InvoiceNumber", disabled = "disabled" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="vPublicationName">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Rack Number")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(m => m.RackId, new { @class = "form-control col-sm-5", id = "VendorName", @maxLength = "20", placeholder = "InvoiceNumber", disabled = "disabled" })

                            </div>

                            <div class="col-sm-3" style="display:none;" id="vRackId">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>*@
                        <br>
                        @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Edition")</label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(model => model.Edition, new { @class = "form-control col-sm-5", @maxLength = "4", placeholder = "Year Of Publication", onkeypress = "return isNumberKey(event)", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vEdition">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Price")</label>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control col-sm-5", id = "NumberOfPages", @maxLength = "5", placeholder = "Number Of Pages", onkeypress = "return isNumberKey(event)", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="display:none;" id="vPrice">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Periodicity Name")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.PeriodicityName, new { @class = "form-control col-sm-5", id = "Edition", @maxLength = "20", placeholder = "Edition", disabled = "disabled" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="vPeriodicityName">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>


                      
                        <br>
                        @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Number Of Pages")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.NumberOfPages, new { @class = "form-control col-sm-5", id = "InvoiceNo", min = "1", placeholder = "Total Copies", onblur = " return TotalPriceAmount(this)", onkeypress = "return isNumberKey(event)", disabled = "disabled" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="vNumberOfPages">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>*@


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Remarks")</label>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control col-sm-5", placeholder = "Remarks", @maxLength = "20", disabled = "disabled" })
                            </div>

                            <div class="col-sm-3" style="display:none;" id="vRemarks">
                                <label style="color:red;font-weight:bold;"> Required </label>
                            </div>
                        </div>

                        <br>
                        <br>
                    }

                </div>
            </div>
        </div>
        <div class="hr hr-18 dotted hr-double"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Magazine status</label>
                    <div class="col-sm-6">
                        @Html.DropDownList("Magazinestatus", null, "--Select --", new { id = "Magazinestatus", @class = "form-control select2" })
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div id="Magazineinformation" class="row" style="display:none">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <label id="Replaced" style="display:none" class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label(" Replace Date") &nbsp;&nbsp;</label>
                    <label id="Lostd" style="display:none" class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label(" Lost Date") &nbsp;&nbsp;</label>
                    <label id="Discardd" style="display:none" class="col-sm-4 control-label no-padding-right" for="form-field-1">@Html.Label(" Discard Date") &nbsp;&nbsp;</label>
                    <div class="col-sm-6">
                        <div id="datepicker" class="input-group date">
                            @if (Model.StatusDate.HasValue)
                            {
                                <input value="@Model.StatusDate.Value.ToShortDateString()" name="StatusDate" class = "form-control col-sm-6" id="Date" readonly="readonly"/>
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.StatusDate, new { @class = "form-control col-sm-6", @id = "Date", @readonly = "true" })
                            }
                            @*@Html.TextBoxFor(model => model.StatusDate, new { @class = "form-control col-sm-6", @id = "Date", @readonly = "true", @value = "@Model.StatusDate.Value.ToShortDateString()" })*@
                            <span class="input-group-addon "><i class="ace-icon fa fa-calendar"></i></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <span style="color:red;font-weight:bold;display:none" id="DateValidation">
                        *Required
                    </span>
                </div>
                <div class="col-sm-3" style="float:right;">
                    <button type="button" style="display:none" id="Save" class="btn btn-info btn-md-8">
                        Save
                    </button>
                    &nbsp;&nbsp;
                </div>
            </div>

            <div>
                <span id="VDate" style="font-weight:bold;color:red;display:none">* Required</span>
            </div>
        </div>
        <input type="hidden" id="count" name="count" value="0" />
    }
    else
    {
        <span style="color: red;"><b>Data is not available</b></span>
    }
</section>
<script>
    $('#Magazinestatus').change(function () {
        debugger
        var Magazineinformation = $('#Magazinestatus').val();
        if (Magazineinformation == 1)
        {
            $('#Magazineinformation').hide();
        }else
        {
            $('#Magazineinformation').show();
            if (Magazineinformation == 2)
            {
                $('#Replaced').show();
                $('#Lostd').hide();
                $('#Discardd').hide();
                $('#Save').show();
            } else if (Magazineinformation == 3)
            {
                $('#Lostd').show();
                $('#Replaced').hide();
                $('#Discardd').hide();
                $('#Save').show();
            }
            else if (Magazineinformation == 4) {
                $('#Discardd').show();
                $('#Replaced').hide();
                $('#Lostd').hide();
                $('#Save').show();
            }
        }

    })
</script>
<script>
    $('#Date').focus(function () {
        $('#DateValidation').hide()
    })
    $('#Save').click(function () {
        debugger
       
        var Magazinestatus = $('#Magazinestatus').val();
        var Date = $('#Date').val();
        var MagazineCode = $('#Magazinecodeinfo').val();
       
        if (Date == "" || Date == null) {
                $('#DateValidation').show()
         }
         else
        {
            window.location.href = "/ALibrary/SaveMagazineStatus?Magazinestatus=" + Magazinestatus + "&Date=" + Date + "&MagazineCode=" + MagazineCode;
        }
        })
    $(document).ready(function () {
        var Magazineinformation = $('#Magazinestatus').val();
        if (Magazineinformation == 2 || Magazineinformation == 3 || Magazineinformation == 4) {
            $('#Magazineinformation').show();
        }
    });
    $(document).ready(function () {
        debugger
        var Magazineinformation = $('#Magazinestatus').val();
        if (Magazineinformation == 2 || Magazineinformation == 3 || Magazineinformation == 4) {
            $('#Magazineinformation').show();
            if (Magazineinformation == 2) {
                $('#Replaced').show();
                $('#Lostd').hide();
                $('#Discardd').hide();
                $('#Save').show();
            } else if (Magazineinformation == 3) {
                $('#Lostd').show();
                $('#Replaced').hide();
                $('#Discardd').hide();
                $('#Save').show();
            }
            else if (Magazineinformation == 4) {
                $('#Discardd').show();
                $('#Replaced').hide();
                $('#Lostd').hide();
                $('#Save').show();
            }
        }
       var  Date = $('#Discardd').val();
    });
</script>


<script>
    $('#Date').click(function () {
        $('#DateValidation').hide();
    })
</script>