@model IEnumerable<AsteriskBrowserAL.Models.MagazineDetailsData>



@if (null != Model && Model.Count() > 0)
{
    int nsno = 1;
    <div class="hr hr-18 dotted hr-double"></div>
    <div class="table-header">
        Magazine Details
        <div class="widget-toolbar no-border">
            <button class="btn btn-info btn-xs" type="submit" onclick="location.href='@Url.Action("MagazineDetailsExport", "Alibrary")'">
                <i class="ace-icon fa fa-share bigger-180"></i>
            </button>
        </div>
    </div>
    <table id="dynamic-table" class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px; float:right">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayName("SNo")
                </th>
                <th>
                    @Html.DisplayName("Accession Number")
                </th>
                <th>
                    @Html.DisplayName("Magazine Category Name")
                </th>
                <th>
                    @Html.DisplayName("Magazine Name")
                </th>
                <th>
                    @Html.DisplayName("Periodicity")
                </th>
                @*<th>
                    @Html.DisplayName("Number Of Pages")
                </th>*@
                <th>
                    @Html.DisplayName("Renewal Date")
                </th>
                <th>
                    @Html.DisplayName("Issue Start Date")
                </th>
                <th>
                    @Html.DisplayName("Issue End Date")
                </th>
                <th>
                    @Html.DisplayName("Publisher Name")
                </th>
                @*<th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("Withdrawal Date")
                </th>*@

            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @(nsno++)
                    </td>
                    <td>
                        @item.MagazineCode
                    </td>
                    <td>
                        @item.MagazineCategoryName
                    </td>
                    <td>
                        @item.MagazineName
                    </td>
                    <td>
                        @item.PeriodicityName
                    </td>
                    @*<td>
                        @item.NumberOfPages
                    </td>*@
                    <td>
                        @Convert.ToDateTime(item.RenewalDate).ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.IssueStartDate).ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.IssueEndDate).ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @item.PublicationName
                    </td>
                    @*<td>
                        @item.Status
                    </td>
                    <td>
                        @item.StatusDates
                    </td>*@
                    </tr>
            }
        </tbody>
    </table>
}
else
{
    <span style="color: red;"><b>Records Not Found To Display</b></span>
}
@Html.Action("DataTableScripts", "Base")






