@model AsteriskBrowserAL.Models.ManageBooksViewData


<div id="mydiv" align="center">


    @if (null != Model)
    {
        int nsno = 1;
        <div class="box-body table-responsive">
            <div class="col-xs-12">
                <table style="width:100%;" align="center">
                    <tr style="width:100%;">
                        <td style="width:85%;">
                            <table style="width:100%;" align="center">
                                <tr align="center">
                                    <td align="center">
                                        <table>
                                            <tr>
                                                <td style="font-weight:bold;" align="left">
                                                    <div style="width:100%;"> <img id="logo" width="190" height="90" src="~/Content/images/SchoolLogo.png" /> </div>
                                                </td>
                                                <td style="font-size:15px">
                                                    <b>@Model.InstituteDetails.InstituteName</b><br />
                                                    @Model.InstituteDetails.InstituteAddress<br />Tel&nbsp;:&nbsp;@Model.InstituteDetails.InstitutePhone,&nbsp;@Model.InstituteDetails.AlternateMobile,&nbsp;Email&nbsp;:&nbsp;@Model.InstituteDetails.InstituteMail<br />
                                                    Web&nbsp;:&nbsp;@Model.InstituteDetails.InstituteWebsite
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                            </table>
                    </tr>
                </table>
            </div>
        </div>

        <table style="width:100%;">
            <tr style="width:100%;">
                <td style="width:100%;">
                    <hr style="width:100%; margin-bottom:-0.5em" />
                    <hr style="width:100%;" />
                    <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>BOOK ISSUED REPORT</b></div>
                    <hr style="width:100%;" />
                    <hr style="width:100%; margin-top:-0.5em" />
                </td>
            </tr>
        </table>

        <div>
            <table border="1" style="border-collapse:collapse;width:100%;margin-top:2em;margin-bottom:2em" align="center">
                <tbody>
                    <tr>
                        <th nowrap>
                            @Html.DisplayName("SNo")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Master Book Name")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Accession Number")
                        </th>
                        @*<th nowrap>
                            @Html.DisplayName("BarCode NO ")
                        </th>*@
                        <th nowrap>
                            @Html.DisplayName("Availability")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Remarks")
                        </th>


                    </tr>
                    @foreach (var item in Model.BookNameList)
                    {

                        <tr>
                            <td align="center">
                                @(nsno++)
                            </td>
                            <td align="center">
                                @item.MasterBookName
                            </td>
                            <td align="center">
                                @item.BookCode
                            </td>
                            @*<td>
                                @item.AccessionNumber
                            </td>*@
                            <td align="center">
                                @item.Bookstatus
                            </td>
                            <td align="center">
                                @item.Remark
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>

