@model AsteriskBrowserAL.MasterBookDetails
@{
    ViewBag.Title = "ManageBooksD";
}


<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Manage Books</li>
    </ol>
</section>
<!-- /section:basics/content.breadcrumbs -->

<section class="content">
    <div class="row">
        <div class=col-xs-12>
            @*<h3>@Html.ActionLink("<< Manage Book Details", "ManageBooks", new { BookCategoryId = ViewBag.SelectedCategoryId })</h3>*@
        </div>
    </div>
    <br />
    <br />

    <div class="page-header">
        <br />
        <h1>
            Manage Books
            <small style="float:right;">
                @Html.ActionLink("Back to  Manage Book Details", "ManageBooks", new { BookCategoryId = ViewBag.SelectedCategoryId })
            </small>
        </h1>
    </div>
    <div class="row">
        <div>
            <span style="color: red;">
                &nbsp;  <b>Are you sure you want to delete this?</b>
            </span>
        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("ManageBooksD", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="box-header">
                        <h3 class="box-title">Manage Books</h3>
                <br/>
                <br/>
                        <button class="btn btn-primary" type="submit" style="width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Book Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Author")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Publication")
                                    </th>
                                    <th>
                                        @Html.DisplayName("ISBN")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Edition")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Num Of Copies")
                                    </th>

                                    <th></th>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.MasterBookName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Publication)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ISBN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Edition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.NumOfCopies)
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
