@model AsteriskBrowserAL.Models.ManageBooksViewData


<div id="mydiv" align="center">


    @if (null != Model)
    {
        int nsno = 1;
        <table style="width:100%;" align="center">
            <tr style="width:100%;">
                <td style="width:85%;">
                    <table style="width:100%;" align="center">
                        <tr align="center">
                            <td align="center">
                                <table>
                                    <tr>
                                        <td style="font-weight:bold">
                                            <div style="width:100%;text-align:left"> <img id="logo" width="200" height="100" src="~/Content/images/SchoolLogo.png" /> </div>
                                        </td>
                                        <td style="font-size:17px;font-family:'Segoe UI';">
                                            <b>@Model.InstituteDetails.InstituteName</b><br />
                                            @Model.InstituteDetails.InstituteAddress<br />Tel&nbsp;:&nbsp;@Model.InstituteDetails.InstitutePhone,&nbsp;@Model.InstituteDetails.AlternateMobile,&nbsp;Email&nbsp;:&nbsp;@Model.InstituteDetails.InstituteMail<br />
                                            Web&nbsp;:&nbsp;@Model.InstituteDetails.InstituteWebsite
                                        </td>
                                    </tr>
                                </table>
                        </tr>
                    </table>
            </tr>
        </table>

        <table style="width:100%;">
            <tr style="width:100%;">
                <td style="width:100%;">
                    <hr style="width:100%; margin-bottom:-0.5em" />
                    <hr style="width:100%;" />
                    <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>BOOKS REPORT</b></div>
                    <hr style="width:100%;" />
                    <hr style="width:100%; margin-top:-0.5em" />
                </td>
            </tr>
        </table>

        <div>
            <table border="1" class="table-striped table-hover" style="border-collapse:collapse;width:80%;margin-top:2em;margin-bottom:2em;font-family:'Segoe UI';" align="center">
                <tbody>
                    <tr>
                        <th nowrap>
                            @Html.DisplayName("SNo")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Book Category")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Book Name")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Author")
                        </th>
                        <th>
                            @Html.DisplayName("Publication")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Remarks")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("ISBN")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Edition")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("No of Copies")
                        </th>
                        <th nowrap>
                            @Html.DisplayName("Book Location")
                        </th>


                    </tr>
                    @foreach (var item in Model.BookList)
                    {

                        <tr>
                            <td>
                                @(nsno++)
                            </td>
                            <td>
                                @item.BookCategoryName
                            </td>
                            <td>
                                @item.MasterBookName
                            </td>
                            <td>
                                @item.Author
                            </td>
                            <td>
                                @item.Publication
                            </td>
                            <td>
                                @item.Remark
                            </td>
                            <td>
                                @item.ISBN
                            </td>
                            <td>
                                @item.Edition
                            </td>
                            <td>
                                @item.NumOfCopies
                            </td>
                            <td>
                                @item.BookLocationName
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>
<div id="table"></div>
