@model AsteriskBrowserAL.Models.BookDetailsViewModel
@{
    int nsno = 1;
}



<div id="mydiv">

    <table style="width:100%;border-collapse:collapse;margin-top:2em;font-family:'Segoe UI'">
        <tr style="width:100%">
            <td style="width:100%">
                <div class="box-body table-responsive">
                    <div class="col-xs-12">
                        <table style="width:100%;" align="center">
                            <tr style="width:100%;">
                                <td style="width:100%;">
                                    <table style="width:100%;">
                                        <tr align="center">
                                            <td align="center">
                                                <table align="center">
                                                    <tr>
                                                        <td style="font-weight:bold;width:30%">
                                                            @if (null != Model.InstituteDetails.LogoImagePath)
                                                            {

                                                                <div> <img id="image1" width="180" height="50" style="float:left" class="editable img-responsive" src="@Model.InstituteDetails.LogoImagePath" /></div>

                                                            }
                                                        </td>
                                                        &nbsp;
                                                        <td style="font-size:15px;width:60%" nowrap>
                                                            <b> @Model.InstituteDetails.InstituteAddress</b><br />  &nbsp;Tel&nbsp;:&nbsp;@Model.InstituteDetails.InstitutePhone,&nbsp;@Model.InstituteDetails.AlternateMobile,&nbsp;<br />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr style="width:100%; margin-bottom:-0.5em" />
                <hr style="width:100%;" />
                <div align="center" style="font-weight:bold; font-family:'Segoe UI'"><b>Book Details</b></div>
                <hr style="width:100%;" />
                <hr style="width:100%; margin-top:-0.5em" />
                <div class="col-xs-12">


                    <table id="tblData" border="1" class="tableb table-bordered" style="border-collapse:collapse;width:100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("SNo")</th>
                                <th>
                                    @Html.DisplayName("Book Title")
                                </th>
                                <th>
                                    @Html.DisplayName("Accession Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Availability")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.BookDetails.Count(); i++)
                            {
                                <tr>

                                    <td style="text-align:center">
                                        @(nsno++)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => Model.BookDetails.ElementAt(i).MasterBookName)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => Model.BookDetails.ElementAt(i).BookCode)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => Model.BookDetails.ElementAt(i).Status)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>

    </table>
</div>



