

@model IEnumerable<AsteriskBrowserAL.Models.ReturnMagazine>


<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">AV Details</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>

<section class="content">
    <br />
    <br />
    @if (null != Model)
    {
        int nsno = 1;
        <div class="page-header">
            <br />
            <h1>
                <small style="float:right">
                    <span> @Html.ActionLink("Back To Details", "ManageAV", new { avCategoryId = @ViewBag.CategoryId })</span>
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    AV Category
                </div>
                <div style="overflow-y:auto">
                    <table id="dynamic-table" class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("SNo")
                                </th>
                                <th>
                                    @Html.DisplayName("AV Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Accession Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Price")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @(nsno++)
                                    </td>
                                    <td>
                                        @item.AVName
                                    </td>
                                    <td>
                                        @item.AccessionCode
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</section>


@Html.Action("DataTableScripts", "Base")
