@model IEnumerable<AsteriskBrowserAL.Models.ReturnMagazine>

<section class="content">
    <br />
    <br />
    @if (null != Model)
    {
        int nsno = 1;
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    AV Details
                </div>
                <div style="overflow-y:auto">
                    <table id="dynamic-table" class="table table-hover table-bordered table-striped nowrap dynamic-table" style="font-size:14px;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("SNo")
                                </th>
                                <th>
                                    @Html.DisplayName("Inward Date")
                                </th>
                                <th>
                                    @Html.DisplayName("DVD Or CD Source")
                                </th>
                                <th>
                                    @Html.DisplayName("Price")
                                </th>
                                <th>
                                    @Html.DisplayName("Payment Details")
                                </th>
                                <th>
                                    @Html.DisplayName("No Of copies")
                                </th>
                                <th>
                                    @Html.DisplayName("Remarks")
                                </th>
                                <td> </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @(nsno++)
                                    </td>
                                    <td>
                                        @item.InwardDate
                                    </td>
                                    <td>
                                        @item.DVDOrCDSource
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.PaymentDetails
                                    </td>
                                    <td>
                                        @item.NumberOfCopies
                                    </td>
                                    <td>
                                        @item.Remarks
                                    </td>
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="green" href="@Url.Action("ManageAVE", "ALibrary", new { manageAVId = item.ManageAVId })">
                                                <i class="ace-icon fa fa-pencil  bigger-130"></i>
                                            </a>
                                            @*<a class="red" onclick="btnConfirm(@item.ManageAVId)">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>*@
                                            <a class="blue" href="@Url.Action("ManageAVDet", "ALibrary", new { manageAVId = item.ManageAVId})">
                                                <i class="ace-icon fa fa-info-circle bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="table-header">
            AV Details
        </div>
        <br />
        <span style="color: red;"><b>There are no Categories to Display</b></span>
    }
</section>