@model List<AsteriskBrowserAL.MasterBook>
@{
    ViewBag.Title = "ManageBooks";
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<style type="text/css">
    .ui-autocomplete {
        font-size: 12px;
        cursor: pointer;
        width: 120px;
        height: 120px;
        overflow-y: scroll;
    }
</style>


@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Master Book</li>
    </ul><!-- /.breadcrumb -->
}






<div id="dialog-confirm" class="hide">

    <div class="space-6"></div>

    <p id="dValidation" class="bigger-120 bolder center grey">
    </p>
</div><!-- #dialog-confirm -->



<section class="content">
    <div class="row">
        <div class=col-xs-3>
            @*<h3>@Html.ActionLink("New", "ManageBooksC")</h3>*@

        </div>
    </div>

    @using (Html.BeginForm("MasterBook", "ALibrary", FormMethod.Post))
    {
        if (null != TempData["ManageBooks"])
        {
            <span style="color:red">
                @TempData["ManageBooks"]
            </span>

        }
        <span id="bookCatValidation" style="color:red;font-weight:bold;display:none">Select Book Category</span>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <span style="color: red;">@Html.ValidationMessage("Master Books")</span>
        <input type="hidden" id="CategoryName" name="CategoryName" value="@ViewBag.SelectedText" />
        <input type="hidden" id="CategoryId" name="CategoryId" value="@ViewBag.SelectedId" />
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    <span style="font-family:calibri;">Master Book</span>
                    <div style="float:right">
                        <a class="view-header-btn btn btn-info btn-xs" role="button" id="BookCatId" value="@ViewBag.BookCategoryId" name="New">
                            <i class="fa fa-plus"> | Add</i>
                        </a>
                    </div>



                </div>
                <div class="widget-box">

              
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">  Book category</label>
                                    <div class="col-sm-3">
                                        @*@@Html.DropDownList("BookCategoryId", null, "--- Select Book Category ---", new { @class = "form-control", onchange = "GetData()" })*@
                                        <input type="text" name="BookCategoryId" id="BookCategoryId" class="form-control"value="@ViewBag.SelectedText"  />
                                        <input type="hidden" id="SelectedBookCategoryId"  name="SelectedBookCategoryId"/>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                        
                    </div>
                 
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <div id="display_box" style="display:none;">
                    <div class="table-header">
                        Master Book
                    </div>
                    <div style="overflow:auto">
                        <table class="table table-bordered table-striped table-hover nowrap">
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
                <div id="display_error" style="display:none;">
                    <span style="color:red;font-weight:bold">No data to display. Please click on 'New' to create</span>
                </div>
            </div>
        </div>

        <div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
            <p style="position:absolute; top: 50%; left:50%;">
                <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
            </p>
        </div>
        <div id="MangeBook"></div>
    }
</section>


<script>

    $('#BookCatId').click(function () {
        debugger
        var value = $('#SelectedBookCategoryId').val();
        if (value != "")
            window.location.href = "/ALibrary/MasterBookC?id=0&BookCategoryId=" + value;
        else
            $('#bookCatValidation').show()
    })



    //function GetData() {
    //    var BookCategoryId = $('#BookCategoryId').val();
    //    if (BookCategoryId > 0) {
    //        $('#imagemodal').show();
    //        $.ajax({
    //            url: '/ALibrary/MasterBookPartialView',
    //            data: { BookCategoryId: BookCategoryId },
    //            success: function (Data) {
    //                GetMangeBooks();
    //            },
    //        }).done(function () {
    //            $('#imagemodal').hide();
    //        });
    //    }
    //    else {
    //        document.getElementById("display_box").style.display = "none";

    //    }
    //};



    window.onload = GetData();
     
    function GetData() {
        debugger
        var BookCategoryName = $("#CategoryName").val();
        var BookCategoryId = $("#CategoryId").val();
        
       
        if (BookCategoryId < 0 )
        {
            return false;
        }
        else {
            $("#SelectedBookCategoryId").val(BookCategoryId);
            GetMangeBooks(BookCategoryId);
            
        }
            
        }
    
    function GetMangeBooks(BookCategoryId) {
        debugger
        $("#MangeBook").hide()
       // var BookCategoryId = $('#BookCategoryId').val()
        if (BookCategoryId != "") {
            $('#imagemodal').show();
            $.ajax({
                url: '/ALibrary/MasterBookPartialView',
                data: { BookCategoryId: BookCategoryId },
                success: function (Data) {
                    $("#MangeBook").show()
                    $("#MangeBook").html(Data)
                }
            }).done(function () {
                $('#imagemodal').hide();
            });
        }
    }
</script>
<script type="text/javascript">
    $("#BookCategoryId").autocomplete(
       {
           source: function (request, response) {



               if (request.term.length < 0) {
                   return;
               }
               $('#imagemodal').show();

               $.ajax({
                   url: "/ALibrary/GetBookCategory",
                   type: "POST",
                   dataType: "json",
                   data: {
                       strVal: request.term
                   },
                   success: function (json) {
                       debugger;
                       response($.map(json, function (jsondata, id) {
                           return {
                               label: jsondata.BookCategoryName,
                               value: jsondata.BookCategoryName,
                               id: jsondata.BookCategoryId,
                           };
                       }));
                       $('#imagemodal').hide();
                   },
               });
           },
           minLength: 1,
           select: function SelectEvent(event, ui) {
            //   BookCategoryId = ui.item.value;
               GetMangeBooks(ui.item.id);
               $("#SelectedBookCategoryId").val(ui.item.id)
               // (ui.item.value, "BookCode");
           }
       });
</script>









