@model IEnumerable<AsteriskBrowserAL.Models.ReturnBookViewModel>
@{
    ViewBag.Title = "Return Book";
}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Return Book</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>


<section class="content">
    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("ReturnBook", "ALibrary", FormMethod.Post))
                {
         
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-small">
                    <h5 class="widget-title">
                        Return Book
                    </h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Barcode</label>
                                    <div class="col-sm-7">
                                        @*@Html.TextBox("BarCode", null, "--Select Category--", new { @class = "form-control", onchange = "this.form.submit();" })*@
                                        <input type="text" id="BarCode" name="BarCode" placeholder="Enter/Read BarCode" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-success btn-sm" name="IssueBook" id="IssueBook" onclick="return false" type="submit">
                                            <i class="ace-icon fa fa-search bigger-50"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="hr hr-18 dotted hr-double"></div>
        </div>
      
        <div id="NoRecordsDiv" style="display:none;">
            <span style="color:red;font-weight:bold">No Records Found To Display</span>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
        <form class="form-horizontal">
            <div id="Records" style="display:none;">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <h5 class="widget-title">
                                Book User Details
                            </h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">

                                <div class="row">
                                    <div class="col-xs-12">
                                        @*<div class="table-header" >
                                </div>*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Book Code")</label>

                                            <div class="col-sm-3">
                                                <input id="BookCode" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("User Name")</label>

                                            <div class="col-sm-3">
                                                <input id="UserName" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Book Name")</label>

                                            <div class="col-sm-3">
                                                <input id="MasterBookName" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("ISBN")</label>

                                            <div class="col-sm-3">
                                                <input id="ISBN" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Author")</label>

                                            <div class="col-sm-3">
                                                <input id="Author" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Publication")</label>

                                            <div class="col-sm-3">
                                                <input id="Publication" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Issue Date")</label>

                                            <div class="col-sm-3">
                                                <input id="IssueDate" type="text" Enabled="true" class="form-control" disabled />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Return Date")</label>

                                            <div class="col-sm-3">
                                                <input id="ReturnDate" type="text" Enabled="true" class="form-control" disabled />
                                                <hidden id="BookIssueDetailsId" name="BookIssueDetailsId"></hidden>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-offset-3 col-md-9">
                                        <input class="btn btn-success btn-sm" name="ReturnBook" id="ReturnBook" value="Return Book" type="submit" onclick="javascript: returnbook(1);" />
                          
                                    &nbsp; &nbsp; &nbsp;
                                    
                                            <input class="btn btn-success btn-sm" name="Lost" id="Lost" style="width:101px" value="Lost" type="submit" onclick="javascript: returnbook(0);" />
                                        </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         
        </form>
      
    </div>
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#IssueBook").click(function () {
                GetbarCode();
            });
        });
        function GetbarCode() {
            debugger
            var BarCod = $('#BarCode').val();
            $.ajax({
                url: '/ALibrary/GetBarCodeBooksdata',
                data: { BarCode: BarCod },
                success: function (data) {
                    if (data == "") {
                        $("#Records").hide();
                        $("#NoRecordsDiv").show();
                    }
                    else {
                        $("#Records").show();
                        $("#NoRecordsDiv").hide();
                        $.each(data, function (i, data) {

                            $("#BookCode").val(data.BookCode);
                            $("#UserName").val(data.UserName);
                            $("#MasterBookName").val(data.MasterBookName);
                            $("#ISBN").val(data.ISBN);
                            $("#Author").val(data.Author);
                            $("#Publication").val(data.Publication);
                            $("#IssueDate").val(data.DisplayIssueDate);
                            $("#ReturnDate").val(data.DisplayReturnDate);
                            $("#BookIssueDetailsId").val(data.BookIssueDetailsId);

                        });
                    }

                }
            })
        }
        function returnbook(id) {
            debugger

            var BookIssueDetailsId = $("#BookIssueDetailsId").val();
            
            $.ajax({
                url: '/ALibrary/ReturnBookReturn',
                data: { BookIssueDetailsId: BookIssueDetailsId ,Status : id},
                success: function (data) {
                    if (data == "true") {
                        window.location.href = "/ALibrary/SearchBooks";

                    }
                    else {
                        alert('Error In Updation');
                    }

                }
            })
        }
    </script>





</section>



