@model AsteriskBrowserAL.Models.LostBookViewModel

@{
    ViewBag.Title = "Lost Book";
}

<section class="content">
    <div class="row">
        <div class=col-xs-3>
            <h3>@Html.ActionLink("<< Return Book Details", "ReturnBook")</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("ReturnBookL", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
            {
               

                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary(true)
                <span style="color: red;">@Html.ValidationMessage("ReturnBookL")</span>
                @Html.HiddenFor(model => model.BookIssueDetailsId)

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title col-xs-11">Lost Book</h3>
                        <button class="btn btn-primary col-xs-1" type="submit">
                            Save
                        </button>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Book Info</label>

                            <div class="col-sm-6">
                                <table>
                                    <tr>
                                        <td><b>Book Issued To : </b></td>
                                        <td>@ViewBag.BookIssuedTo</td>
                                    </tr>
                                    <tr>
                                        <td><b>Book Name : </b></td>
                                        <td>@ViewBag.MasterBookName</td>
                                    </tr>
                                    <tr>
                                        <td><b>Book Code : </b></td>
                                        <td>@ViewBag.BookCode</td>
                                    </tr>
                                    <tr>
                                        <td><b>Issue Date : </b></td>
                                        <td>@ViewBag.IssueDate.ToString("dd - MMM - yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Return Date : </b></td>
                                        <td>@ViewBag.ReturnDate.ToString("dd - MMM - yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Book Price</b></td>
                                        <td>@ViewBag.BookPrice</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Penalty Amount")</label>

                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.PenaltyAmount)
                            </div>

                            <div class="col-sm-3">
                                @Html.ValidationMessage("PenaltyAmount")
                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>

    </div>
</section>
