@model AsteriskBrowserAL.Models.ReturnMagazine

@if (null != Model)
{
    using (Html.BeginForm("ReturnMagazine", "ALibrary", FormMethod.Post))
    {
        <form class="form-horizontal">
            <div class="hr hr-18 dotted hr-double"></div>
            <div style="float:right">
                <h4>
                    @Html.ActionLink("Back to Details", "ReturnMagazine", new{ MagazineDetailsId = @ViewBag.MagazineDetailsId, PublicationId = @ViewBag.PublicationId, PeriodicityId = @ViewBag.PeriodicityId })
                </h4>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat widget-header-small">
                            <h5 class="widget-title">
                                Magazine User Details
                            </h5>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Magazine Code")</label>
                                            <div class="col-sm-3">
                                                <input id="MagazineCode" value="@Model.MagazineCode" name="MagazineCode" type="text" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        @*<div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("User Name")</label>
                                            <div class="col-sm-3">
                                                <input id="UserName" value="@Model.UserName" name="UserName" type="text" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Magazine Name")</label>

                                            <div class="col-sm-3">
                                                <input id="MagazineName" value="@Model.MagazineName" type="text" name="MagazineName" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        @*<div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Edition")</label>

                                            <div class="col-sm-3">
                                                <input id="Edition" value="@Model.Edition" name="Edition" type="text" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>*@
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Publication")</label>

                                            <div class="col-sm-3">
                                                <input id="Publication" value="@Model.Publication" type="text" name="Publication" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Issue Date")</label>

                                            <div class="col-sm-3">
                                                <input id="MagazineIssuedDate" value="@Model.MagazineIssuedDate.Value.ToString("dd-MM-yyyy")" type="text" name="MagazineIssuedDate" class="form-control" disabled />
                                                <input type="hidden" value="@Model.MagazineIssuedDate" id="MagazineIssueDetailsId" name="MagazineIssuedDate">
                                                <input type="hidden" value="@Model.MagazineReturnDate" id="MagazineDetailsId" name="MagazineReturnDate">
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Return Date")</label>

                                            <div class="col-sm-3">
                                                <input id="MagazineReturnDate" value="@Model.MagazineReturnDate.Value.ToString("dd-MM-yyyy")" type="text" name="MagazineReturnDate" class="form-control" disabled />
                                                <input type="hidden" value="@Model.MagazineIssueDetailsId" id="MagazineIssueDetailsId" name="MagazineIssueDetailsId">
                                                <input type="hidden" value="@Model.MagazineDetailsId" id="MagazineDetailsId" name="MagazineDetailsId">
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Returned Date")</label>

                                            <div class="col-sm-3">
                                                <input id="MagazineReturnedDate" value="@Model.MagazineReturnedDate.ToShortDateString()" type="text" name="MagazineReturnedDate" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />

                                        <div class="col-md-offset-3 col-md-9">
                                            <input class="btn btn-success btn-sm" name="ReturnBook" id="ReturnBook" value="Return Magazine" type="submit" onclick="Validate()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    }
}
else
{
    <span style="color: red;"><b>No records to display</b></span>
}



<script>
    function Validate() {
        var bValidation = true;
        return true;
    }
</script>