@model AsteriskBrowserAL.Vendor
@{

}

<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Library
        </li>
        <li class="active">Vendor</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>

<section class="content">

    <br />
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("VendorE", "ALibrary", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.ValidationSummary(true)
                <span style="color: red;" id="valVendor">@Html.ValidationMessage("Vendor")</span>
                <div class="page-header">
                    <br />
                    <h1>
                        Vendor
                        <small style="float:right;">
                            @Html.ActionLink("Back To Details", "Vendor")
                        </small>
                    </h1>
                </div>

                    <!-- form start -->
                <form class="form-horizontal" role="form">

                    <input type="hidden" name="VendorId" value="@Model.VendorId" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Vendor Name")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.VendorName, new { @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "Vendor Name", @id = "VendorName" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Short Description")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.ShortName, new { @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "Short Name", @id = "ShortName" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Email")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.EmailId, new { type = "email", @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "Email", @id = "EmailId" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Address")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.Address, new { @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", placeholder = "Address", @id = "Address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right " for="form-field-1">@Html.Label("Contact Number")</label>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.ContactNumber, new { @required = "required", autocomplete = "off", @class = "form-control col-sm-5 textlength", @maxlength = 10, placeholder = "Contact Number", @id = "ContactNumber", @onkeypress = "return isNumberKey(event)" })
                        </div>
                    </div>
                    
                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success btn-sm" onclick="return submitForm()" type="submit">
                            <i class="ace-icon fa fa-check bigger-50"></i>
                            Save
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="ace-icon fa fa-undo bigger-50"></i>
                            Reset
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
    <input type="hidden" id="count" name="count" value="0" />
</section>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $('#VendorName').focus(function () {
        $('#valVendor').hide()
    })
    $('#ShortName').focus(function () {
        $('#valVendor').hide()
    })
</script>